Schema/FlowsUseOfForceCP/unpacked/Workflows/CheckifIncidentexistsAND-ORCreate-71AB4FD1-7959-EB11-A812-000D3A654F72.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "cp_sharedcommondataserviceforapps_ce4a8"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {
            
          },
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {
            
          },
          "type": "SecureObject"
        }
      },
      "triggers": {
        "manual": {
          "metadata": {
            "operationMetadataId": "f899cbe8-b81a-4cab-99d5-449b074f8bc1"
          },
          "type": "Request",
          "kind": "Button",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {
                "text": {
                  "title": "Incident Number",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "Please enter your input",
                  "x-ms-content-hint": "TEXT"
                },
                "text_1": {
                  "title": "Incident Suffix",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "Please enter your input",
                  "x-ms-content-hint": "TEXT"
                },
                "text_2": {
                  "title": "Incident Type",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "Please enter your input",
                  "x-ms-content-hint": "TEXT"
                },
                "text_3": {
                  "title": "Additional Officer Id",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "Please enter your input",
                  "x-ms-content-hint": "TEXT"
                },
                "text_4": {
                  "title": "Entered By",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "Please enter your input",
                  "x-ms-content-hint": "TEXT"
                },
                "text_5": {
                  "title": "Incident Date",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "Please enter your input",
                  "x-ms-content-hint": "TEXT"
                },
                "text_6": {
                  "title": "Single Officer Event",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "Please enter your input",
                  "x-ms-content-hint": "TEXT"
                },
                "text_7": {
                  "title": "Reporting Officer",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "Please enter your input",
                  "x-ms-content-hint": "TEXT"
                }
              },
              "required": [
                "text",
                "text_2",
                "text_4"
              ]
            }
          }
        }
      },
      "actions": {
        "Filter_Incidents_with_Incident_Number_": {
          "runAfter": {
            "Compose_Incident_Date": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "fc8d9675-96b0-4367-9f78-d20ba894bb03"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "ListRecords",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "cp_incidents",
            "$filter": "(cp_incidentnumber eq \u0027@{triggerBody()[\u0027text\u0027]}\u0027 and _cp_incidenttype_value eq @{triggerBody()[\u0027text_2\u0027]})",
              "$top": 1
            },
            "authentication": "@parameters(\u0027$authentication\u0027)"
          }
        },
        "According_to_Retrieved_Results": {
          "actions": {
            "Set_variable_Incident_Id": {
              "runAfter": {
                "Create_a_new_Incident": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "70f07ceb-1fee-45a5-af32-9debeea401d0"
              },
              "type": "SetVariable",
              "inputs": {
                "name": "IncidentId",
              "value": "@outputs(\u0027Create_a_new_Incident\u0027)?[\u0027body/cp_incidentid\u0027]"
              }
            },
            "Create_a_new_Incident": {
              "runAfter": {
                "Run_a_Child_Flow_(Get_Single_Officer_Event_Choice_Id)": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "bb57a232-05dd-4d04-bc7f-c9fe08acfdcc"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "CreateRecord",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "cp_incidents",
                "item/cp_incidentnumber": "@triggerBody()[\u0027text\u0027]",
                "item/cp_IncidentType@odata.bind": "/cp_incidenttypes(@{triggerBody()[\u0027text_2\u0027]})",
                "item/cp_AdditionalOfficer@odata.bind": "@if(empty(triggerBody()?[\u0027text_3\u0027]),\u0027\u0027,concat(\u0027/systemusers(\u0027,triggerBody()?[\u0027text_3\u0027],\u0027)\u0027))",
                "item/cp_EnteredBy@odata.bind": "/systemusers(@{triggerBody()[\u0027text_4\u0027]})",
                  "item/cp_incidentdate": "@outputs(\u0027Compose_Incident_Date\u0027)",
                "item/cp_incidentsuffix": "@triggerBody()[\u0027text_1\u0027]",
                "item/ownerid@odata.bind": "/systemusers(@{triggerBody()[\u0027text_4\u0027]})",
                "item/cp_reportingofficer": "@outputs(\u0027Run_a_Child_Flow_(Get_Reporting_Officer_Choice_Id)\u0027)?[\u0027Body\u0027]?[\u0027choice_id\u0027]",
                "item/cp_singleofficerevent": "@outputs(\u0027Run_a_Child_Flow_(Get_Single_Officer_Event_Choice_Id)\u0027)?[\u0027Body\u0027]?[\u0027choice_id\u0027]"
                },
                "authentication": "@parameters(\u0027$authentication\u0027)"
              }
            },
            "Run_a_Child_Flow_(Get_Reporting_Officer_Choice_Id)": {
              "runAfter": {
                
              },
              "metadata": {
                "operationMetadataId": "5b59d487-e990-4c33-ae0e-ff0b4b5546f2"
              },
              "type": "Workflow",
              "inputs": {
                "host": {
                  "workflowReferenceName": "79674c64-ee92-eb11-b1ac-000d3adb2fd2"
                },
                "body": {
                "text": "@triggerBody()?[\u0027text_7\u0027]"
                }
              }
            },
            "Run_a_Child_Flow_(Get_Single_Officer_Event_Choice_Id)": {
              "runAfter": {
                "Run_a_Child_Flow_(Get_Reporting_Officer_Choice_Id)": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "aefad633-c62f-444e-adc2-550e37c0c05e"
              },
              "type": "Workflow",
              "inputs": {
                "host": {
                  "workflowReferenceName": "79674c64-ee92-eb11-b1ac-000d3adb2fd2"
                },
                "body": {
                "text": "@triggerBody()?[\u0027text_6\u0027]"
                }
              }
            }
          },
          "runAfter": {
            "Initialize_Incident_Id_variable": [
              "Succeeded"
            ]
          },
          "else": {
            "actions": {
              "Store_Incident_Id": {
                "runAfter": {
                  
                },
                "metadata": {
                  "operationMetadataId": "f1962726-fecd-48ca-9c55-2414361a4759"
                },
                "type": "SetVariable",
                "inputs": {
                  "name": "IncidentId",
                "value": "@{first(body(\u0027Filter_Incidents_with_Incident_Number_\u0027)?[\u0027value\u0027])?[\u0027cp_incidentid\u0027]}"
                }
              }
            }
          },
          "expression": {
            "equals": [
            "@empty(outputs(\u0027Filter_Incidents_with_Incident_Number_\u0027)?[\u0027body/value\u0027])",
              "@true"
            ]
          },
          "metadata": {
            "operationMetadataId": "16ec6aa7-9340-433d-9945-208d30cbfa3b"
          },
          "type": "If"
        },
        "Initialize_Incident_Id_variable": {
          "runAfter": {
            "Filter_Incidents_with_Incident_Number_": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "d7a67259-74d7-4378-8242-0800b43f794c"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "IncidentId",
                "type": "string",
              "value": "@{null}"
              }
            ]
          }
        },
        "Respond_to_a_PowerApp_or_flow_Incident_Id": {
          "runAfter": {
            "According_to_Retrieved_Results": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "01abf887-41d2-4300-9f2e-fb149a738559"
          },
          "type": "Response",
          "kind": "PowerApp",
          "inputs": {
            "statusCode": 200,
            "body": {
              "incidentid": "@variables(\u0027IncidentId\u0027)"
            },
            "schema": {
              "type": "object",
              "properties": {
                "incidentid": {
                  "title": "IncidentId",
                  "x-ms-dynamically-added": true,
                  "type": "string"
                }
              }
            }
          }
        },
        "Compose_Incident_Date": {
          "runAfter": {
            
          },
          "metadata": {
            "operationMetadataId": "83ecc16a-6c27-490e-be33-ba867a651d48"
          },
          "type": "Compose",
        "inputs": "@if(empty(triggerBody()?[\u0027text_5\u0027]),null,triggerBody()?[\u0027text_5\u0027])"
        }
      },
      "outputs": {
        
      }
    }
  },
  "schemaVersion": "1.0.0.0"
}
