Schema/FlowsUseOfForceCP/unpacked/Workflows/GenerateUoFPDF-BDAE81A8-29EE-EB11-BACB-0022489C5E28.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "cp_sharedcommondataserviceforapps_ef737"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      },
      "shared_wordonlinebusiness_1": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "cp_sharedwordonlinebusiness_7a2a4"
        },
        "api": {
          "name": "shared_wordonlinebusiness"
        }
      },
      "shared_onedriveforbusiness_1": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "cp_sharedonedriveforbusiness_fc480"
        },
        "api": {
          "name": "shared_onedriveforbusiness"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {
            
          },
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {
            
          },
          "type": "SecureObject"
        }
      },
      "triggers": {
        "manual": {
          "type": "Request",
          "kind": "Button",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {
                "text": {
                  "title": "UoF ID",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "Please enter your input",
                  "x-ms-content-hint": "TEXT"
                }
              },
              "required": [
                "text"
              ]
            }
          }
        }
      },
      "actions": {
        "Get_a_row_by_ID_Incident_Details": {
          "runAfter": {
            "Get_UoF_record_": [
              "Succeeded"
            ]
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "GetItem",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "cp_incidents",
            "recordId": "@outputs(\u0027Get_UoF_record_\u0027)?[\u0027body/_cp_incident_value\u0027]",
              "$expand": "cp_EnteredBy($select=fullname,cp_badgenumber),cp_IncidentLocation"
            },
            "authentication": {
              "type": "Raw",
            "value": "@json(decodeBase64(triggerOutputs().headers[\u0027X-MS-APIM-Tokens\u0027]))[\u0027$ConnectionKey\u0027]"
            }
          }
        },
        "List_Photos": {
          "runAfter": {
            "Get_a_row_by_ID_(officer_from_user)": [
              "Succeeded"
            ]
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "ListRecords",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "cp_photos",
            "$filter": "(_cp_useofforce_value eq @{triggerBody()[\u0027text\u0027]})"
            },
            "authentication": {
              "type": "Raw",
            "value": "@json(decodeBase64(triggerOutputs().headers[\u0027X-MS-APIM-Tokens\u0027]))[\u0027$ConnectionKey\u0027]"
            }
          }
        },
        "If_photos_exists": {
          "actions": {
            "Set_variable_10": {
              "runAfter": {
                
              },
              "type": "SetVariable",
              "inputs": {
                "name": "Photo1",
                "value": {
                  "$content-type": "image/jpeg",
                  "$content": "iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVQYV2NgYAAAAAMAAWgmWQ0AAAAASUVORK5CYII="
                }
              }
            },
            "Set_variable_11": {
              "runAfter": {
                "Set_variable_10": [
                  "Succeeded"
                ]
              },
              "type": "SetVariable",
              "inputs": {
                "name": "Photo5",
                "value": {
                  "$content-type": "image/jpeg",
                  "$content": "iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVQYV2NgYAAAAAMAAWgmWQ0AAAAASUVORK5CYII="
                }
              }
            },
            "Set_variable_12": {
              "runAfter": {
                "Set_variable_11": [
                  "Succeeded"
                ]
              },
              "type": "SetVariable",
              "inputs": {
                "name": "Photo4",
                "value": {
                  "$content-type": "image/jpeg",
                  "$content": "iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVQYV2NgYAAAAAMAAWgmWQ0AAAAASUVORK5CYII="
                }
              }
            },
            "Set_variable_13": {
              "runAfter": {
                "Set_variable_12": [
                  "Succeeded"
                ]
              },
              "type": "SetVariable",
              "inputs": {
                "name": "Photo3",
                "value": {
                  "$content-type": "image/jpeg",
                  "$content": "iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVQYV2NgYAAAAAMAAWgmWQ0AAAAASUVORK5CYII="
                }
              }
            },
            "Set_variable_14": {
              "runAfter": {
                "Set_variable_13": [
                  "Succeeded"
                ]
              },
              "type": "SetVariable",
              "inputs": {
                "name": "Photo2",
                "value": {
                  "$content-type": "image/jpeg",
                  "$content": "iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVQYV2NgYAAAAAMAAWgmWQ0AAAAASUVORK5CYII="
                }
              }
            }
          },
          "runAfter": {
            "UOF_Tactics_RT_": [
              "Succeeded"
            ]
          },
          "else": {
            "actions": {
              "Apply_to_each_Photo": {
              "foreach": "@outputs(\u0027List_Photos\u0027)?[\u0027body/value\u0027]",
                "actions": {
                  "DownloadPhoto": {
                    "runAfter": {
                      
                    },
                    "type": "OpenApiConnection",
                    "inputs": {
                      "host": {
                        "connectionName": "shared_commondataserviceforapps",
                        "operationId": "GetEntityFileImageFieldContent",
                        "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                      },
                      "parameters": {
                        "entityName": "cp_photos",
                      "recordId": "@items(\u0027Apply_to_each_Photo\u0027)?[\u0027cp_photoid\u0027]",
                        "fileImageFieldName": "cp_image",
                        "size": "full"
                      },
                      "authentication": {
                        "type": "Raw",
                      "value": "@json(decodeBase64(triggerOutputs().headers[\u0027X-MS-APIM-Tokens\u0027]))[\u0027$ConnectionKey\u0027]"
                      }
                    }
                  },
                  "Compose_Photo": {
                    "runAfter": {
                      "DownloadPhoto": [
                        "Succeeded"
                      ]
                    },
                    "type": "Compose",
                    "inputs": {
                      "$content-type": "image/jpeg",
                    "$content": "@base64(outputs(\u0027DownloadPhoto\u0027)?[\u0027body\u0027])"
                    }
                  },
                  "Append_to_array_variable": {
                    "runAfter": {
                      "Compose_Photo": [
                        "Succeeded"
                      ]
                    },
                    "type": "AppendToArrayVariable",
                    "inputs": {
                      "name": "Photos",
                      "value": {
                        "Photo": "@outputs(\u0027Compose_Photo\u0027)"
                      }
                    }
                  }
                },
                "runAfter": {
                  
                },
                "type": "Foreach"
              },
              "Condition_Photo_1": {
                "actions": {
                  "Set_variable_2": {
                    "runAfter": {
                      
                    },
                    "type": "SetVariable",
                    "inputs": {
                      "name": "Photo1",
                      "value": {
                        "$content-type": "image/jpeg",
                        "$content": "iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVQYV2NgYAAAAAMAAWgmWQ0AAAAASUVORK5CYII="
                      }
                    }
                  }
                },
                "runAfter": {
                  "Apply_to_each_Photo": [
                    "Succeeded"
                  ]
                },
                "else": {
                  "actions": {
                    "Download_Photo_1": {
                      "runAfter": {
                        
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": {
                          "connectionName": "shared_commondataserviceforapps",
                          "operationId": "GetEntityFileImageFieldContent",
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                        },
                        "parameters": {
                          "entityName": "cp_photos",
                        "recordId": "@body(\u0027List_photos\u0027)?[\u0027value\u0027]?[0]?.cp_photoid",
                          "fileImageFieldName": "cp_image",
                          "size": "full"
                        },
                        "authentication": {
                          "type": "Raw",
                        "value": "@json(decodeBase64(triggerOutputs().headers[\u0027X-MS-APIM-Tokens\u0027]))[\u0027$ConnectionKey\u0027]"
                        }
                      }
                    },
                    "Compose_Photo_1": {
                      "runAfter": {
                        "Condition_to_check_if_photo_1_has_a_caption": [
                          "Succeeded"
                        ]
                      },
                      "type": "Compose",
                      "inputs": {
                        "$content-type": "image/jpeg",
                      "$content": "@{base64(outputs(\u0027Download_Photo_1\u0027)?[\u0027body\u0027])}"
                      }
                    },
                    "Set_variable_3": {
                      "runAfter": {
                        "Compose_Photo_1": [
                          "Succeeded"
                        ]
                      },
                      "type": "SetVariable",
                      "inputs": {
                        "name": "Photo1",
                        "value": "@outputs(\u0027Compose_Photo_1\u0027)"
                      }
                    },
                    "Get_a_row_by_ID_Caption_for_photo_1": {
                      "runAfter": {
                        "Download_Photo_1": [
                          "Succeeded"
                        ]
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": {
                          "connectionName": "shared_commondataserviceforapps",
                          "operationId": "GetItem",
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                        },
                        "parameters": {
                          "entityName": "cp_photos",
                        "recordId": "@body(\u0027List_Photos\u0027)?[\u0027value\u0027]?[0]?.cp_photoid"
                        },
                        "authentication": {
                          "type": "Raw",
                        "value": "@json(decodeBase64(triggerOutputs().headers[\u0027X-MS-APIM-Tokens\u0027]))[\u0027$ConnectionKey\u0027]"
                        }
                      }
                    },
                    "Condition_to_check_if_photo_1_has_a_caption": {
                      "actions": {
                        "Set_variable_15": {
                          "runAfter": {
                            
                          },
                          "type": "SetVariable",
                          "inputs": {
                            "name": "PhotoCaption1",
                            "value": "\u0027Vehicle Ticket Photo 1\u0027"
                          }
                        }
                      },
                      "runAfter": {
                        "Get_a_row_by_ID_Caption_for_photo_1": [
                          "Succeeded"
                        ]
                      },
                      "else": {
                        "actions": {
                          "Set_variable_caption_1": {
                            "runAfter": {
                              
                            },
                            "type": "SetVariable",
                            "inputs": {
                              "name": "PhotoCaption1",
                            "value": "@outputs(\u0027Get_a_row_by_ID_Caption_for_photo_1\u0027)?[\u0027body/cp_phototitle\u0027]"
                            }
                          }
                        }
                      },
                      "expression": {
                        "equals": [
                        "@empty(outputs(\u0027Get_a_row_by_ID_Caption_for_photo_1\u0027)?[\u0027body/cp_phototitle\u0027])",
                          "@true"
                        ]
                      },
                      "type": "If"
                    }
                  }
                },
                "expression": {
                  "equals": [
                  "@empty(body(\u0027List_photos\u0027)?[\u0027value\u0027]?[0]?.cp_imageid)",
                    "@true"
                  ]
                },
                "type": "If"
              },
              "Condition_Photo_2": {
                "actions": {
                  "Set_variable_4": {
                    "runAfter": {
                      
                    },
                    "type": "SetVariable",
                    "inputs": {
                      "name": "Photo2",
                      "value": {
                        "$content-type": "image/jpeg",
                        "$content": "iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVQYV2NgYAAAAAMAAWgmWQ0AAAAASUVORK5CYII="
                      }
                    }
                  }
                },
                "runAfter": {
                  "Condition_Photo_1": [
                    "Succeeded"
                  ]
                },
                "else": {
                  "actions": {
                    "Download_Photo": {
                      "runAfter": {
                        
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": {
                          "connectionName": "shared_commondataserviceforapps",
                          "operationId": "GetEntityFileImageFieldContent",
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                        },
                        "parameters": {
                          "entityName": "cp_photos",
                        "recordId": "@body(\u0027List_photos\u0027)?[\u0027value\u0027]?[1]?.cp_photoid",
                          "fileImageFieldName": "cp_image",
                          "size": "full"
                        },
                        "authentication": {
                          "type": "Raw",
                        "value": "@json(decodeBase64(triggerOutputs().headers[\u0027X-MS-APIM-Tokens\u0027]))[\u0027$ConnectionKey\u0027]"
                        }
                      }
                    },
                    "Compose_Photo_2": {
                      "runAfter": {
                        "Condition_to_check_if_photo_2_has_a_caption_": [
                          "Succeeded"
                        ]
                      },
                      "type": "Compose",
                      "inputs": {
                        "$content-type": "image/jpeg",
                      "$content": "@{base64(outputs(\u0027Download_Photo\u0027)?[\u0027body\u0027])}"
                      }
                    },
                    "Set_variable_5": {
                      "runAfter": {
                        "Compose_Photo_2": [
                          "Succeeded"
                        ]
                      },
                      "type": "SetVariable",
                      "inputs": {
                        "name": "Photo2",
                        "value": "@outputs(\u0027Compose_Photo_2\u0027)"
                      }
                    },
                    "Condition_to_check_if_photo_2_has_a_caption_": {
                      "actions": {
                        "Set_variable_16": {
                          "runAfter": {
                            
                          },
                          "type": "SetVariable",
                          "inputs": {
                            "name": "PhotoCaption2",
                            "value": "\u0027Vehicle Ticket Photo 2\u0027"
                          }
                        }
                      },
                      "runAfter": {
                        "Get_a_row_by_ID_Caption_for_photo_2": [
                          "Succeeded"
                        ]
                      },
                      "else": {
                        "actions": {
                          "Set_variable_caption": {
                            "runAfter": {
                              
                            },
                            "type": "SetVariable",
                            "inputs": {
                              "name": "PhotoCaption2",
                            "value": "@outputs(\u0027Get_a_row_by_ID_Caption_for_photo_2\u0027)?[\u0027body/cp_phototitle\u0027]"
                            }
                          }
                        }
                      },
                      "expression": {
                        "equals": [
                        "@empty(outputs(\u0027Get_a_row_by_ID_Caption_for_photo_2\u0027)?[\u0027body/cp_phototitle\u0027])",
                          "@true"
                        ]
                      },
                      "type": "If"
                    },
                    "Get_a_row_by_ID_Caption_for_photo_2": {
                      "runAfter": {
                        "Download_Photo": [
                          "Succeeded"
                        ]
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": {
                          "connectionName": "shared_commondataserviceforapps",
                          "operationId": "GetItem",
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                        },
                        "parameters": {
                          "entityName": "cp_photos",
                        "recordId": "@body(\u0027List_Photos\u0027)?[\u0027value\u0027]?[1]?.cp_photoid"
                        },
                        "authentication": {
                          "type": "Raw",
                        "value": "@json(decodeBase64(triggerOutputs().headers[\u0027X-MS-APIM-Tokens\u0027]))[\u0027$ConnectionKey\u0027]"
                        }
                      }
                    }
                  }
                },
                "expression": {
                  "equals": [
                  "@empty(body(\u0027List_photos\u0027)?[\u0027value\u0027]?[1]?.cp_imageid)",
                    "@true"
                  ]
                },
                "type": "If"
              },
              "Condition_Photo_3": {
                "actions": {
                  "Set_variable_6": {
                    "runAfter": {
                      
                    },
                    "type": "SetVariable",
                    "inputs": {
                      "name": "Photo3",
                      "value": {
                        "$content-type": "image/jpeg",
                        "$content": "iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVQYV2NgYAAAAAMAAWgmWQ0AAAAASUVORK5CYII="
                      }
                    }
                  }
                },
                "runAfter": {
                  "Condition_Photo_2": [
                    "Succeeded"
                  ]
                },
                "else": {
                  "actions": {
                    "Download_Photo_2": {
                      "runAfter": {
                        
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": {
                          "connectionName": "shared_commondataserviceforapps",
                          "operationId": "GetEntityFileImageFieldContent",
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                        },
                        "parameters": {
                          "entityName": "cp_photos",
                        "recordId": "@body(\u0027List_Photos\u0027)?[\u0027value\u0027]?[2]?.cp_photoid",
                          "fileImageFieldName": "cp_image",
                          "size": "full"
                        },
                        "authentication": {
                          "type": "Raw",
                        "value": "@json(decodeBase64(triggerOutputs().headers[\u0027X-MS-APIM-Tokens\u0027]))[\u0027$ConnectionKey\u0027]"
                        }
                      }
                    },
                    "Compose_Photo_3": {
                      "runAfter": {
                        "Condition_to_check_if_photo_3_has_a_caption__": [
                          "Succeeded"
                        ]
                      },
                      "type": "Compose",
                      "inputs": {
                        "$content-type": "image/jpeg",
                      "$content": "@{base64(outputs(\u0027Download_Photo_2\u0027)?[\u0027body\u0027])}"
                      }
                    },
                    "Set_variable_7": {
                      "runAfter": {
                        "Compose_Photo_3": [
                          "Succeeded"
                        ]
                      },
                      "type": "SetVariable",
                      "inputs": {
                        "name": "Photo3",
                        "value": "@outputs(\u0027Compose_Photo_3\u0027)"
                      }
                    },
                    "Get_a_row_by_ID_Caption_for_photo_3": {
                      "runAfter": {
                        "Download_Photo_2": [
                          "Succeeded"
                        ]
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": {
                          "connectionName": "shared_commondataserviceforapps",
                          "operationId": "GetItem",
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                        },
                        "parameters": {
                          "entityName": "cp_photos",
                        "recordId": "@body(\u0027List_Photos\u0027)?[\u0027value\u0027]?[2]?.cp_photoid"
                        },
                        "authentication": {
                          "type": "Raw",
                        "value": "@json(decodeBase64(triggerOutputs().headers[\u0027X-MS-APIM-Tokens\u0027]))[\u0027$ConnectionKey\u0027]"
                        }
                      }
                    },
                    "Condition_to_check_if_photo_3_has_a_caption__": {
                      "actions": {
                        "Set_variable_17": {
                          "runAfter": {
                            
                          },
                          "type": "SetVariable",
                          "inputs": {
                            "name": "PhotoCaption3",
                            "value": "\u0027Vehicle Ticket Photo 3\u0027"
                          }
                        }
                      },
                      "runAfter": {
                        "Get_a_row_by_ID_Caption_for_photo_3": [
                          "Succeeded"
                        ]
                      },
                      "else": {
                        "actions": {
                          "Set_variable_caption_2": {
                            "runAfter": {
                              
                            },
                            "type": "SetVariable",
                            "inputs": {
                              "name": "PhotoCaption3",
                            "value": "@outputs(\u0027Get_a_row_by_ID_Caption_for_photo_3\u0027)?[\u0027body/cp_phototitle\u0027]"
                            }
                          }
                        }
                      },
                      "expression": {
                        "equals": [
                        "@empty(outputs(\u0027Get_a_row_by_ID_Caption_for_photo_3\u0027)?[\u0027body/cp_phototitle\u0027])",
                          "@true"
                        ]
                      },
                      "type": "If"
                    }
                  }
                },
                "expression": {
                  "equals": [
                  "@empty(body(\u0027List_photos\u0027)?[\u0027value\u0027]?[2]?.cp_imageid)",
                    "@true"
                  ]
                },
                "type": "If"
              },
              "Condition_Photo_4": {
                "actions": {
                  "Set_variable_8": {
                    "runAfter": {
                      
                    },
                    "type": "SetVariable",
                    "inputs": {
                      "name": "Photo4",
                      "value": {
                        "$content-type": "image/jpeg",
                        "$content": "iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVQYV2NgYAAAAAMAAWgmWQ0AAAAASUVORK5CYII="
                      }
                    }
                  }
                },
                "runAfter": {
                  "Condition_Photo_3": [
                    "Succeeded"
                  ]
                },
                "else": {
                  "actions": {
                    "Download_Photo_3": {
                      "runAfter": {
                        
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": {
                          "connectionName": "shared_commondataserviceforapps",
                          "operationId": "GetEntityFileImageFieldContent",
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                        },
                        "parameters": {
                          "entityName": "cp_photos",
                        "recordId": "@body(\u0027List_photos\u0027)?[\u0027value\u0027]?[3]?.cp_photoid",
                          "fileImageFieldName": "cp_image",
                          "size": "full"
                        },
                        "authentication": {
                          "type": "Raw",
                        "value": "@json(decodeBase64(triggerOutputs().headers[\u0027X-MS-APIM-Tokens\u0027]))[\u0027$ConnectionKey\u0027]"
                        }
                      }
                    },
                    "Compose_Photo_4": {
                      "runAfter": {
                        "Condition_to_check_if_photo_4_has_a_caption_": [
                          "Succeeded"
                        ]
                      },
                      "type": "Compose",
                      "inputs": {
                        "$content-type": "image/jpeg",
                      "$content": "@{base64(outputs(\u0027Download_Photo_3\u0027)?[\u0027body\u0027])}"
                      }
                    },
                    "Set_Photo4": {
                      "runAfter": {
                        "Compose_Photo_4": [
                          "Succeeded"
                        ]
                      },
                      "type": "SetVariable",
                      "inputs": {
                        "name": "Photo4",
                        "value": "@outputs(\u0027Compose_Photo_4\u0027)"
                      }
                    },
                    "Condition_to_check_if_photo_4_has_a_caption_": {
                      "actions": {
                        "Set_variable_18": {
                          "runAfter": {
                            
                          },
                          "type": "SetVariable",
                          "inputs": {
                            "name": "PhotoCaption4",
                            "value": "\u0027Vehicle Ticket Photo 4\u0027"
                          }
                        }
                      },
                      "runAfter": {
                        "Get_a_row_by_ID_Caption_for_photo_4": [
                          "Succeeded"
                        ]
                      },
                      "else": {
                        "actions": {
                          "Set_variable_caption_6": {
                            "runAfter": {
                              
                            },
                            "type": "SetVariable",
                            "inputs": {
                              "name": "PhotoCaption4",
                            "value": "@outputs(\u0027Get_a_row_by_ID_Caption_for_photo_4\u0027)?[\u0027body/cp_phototitle\u0027]"
                            }
                          }
                        }
                      },
                      "expression": {
                        "equals": [
                        "@empty(outputs(\u0027Get_a_row_by_ID_Caption_for_photo_4\u0027)?[\u0027body/cp_phototitle\u0027])",
                          "@true"
                        ]
                      },
                      "type": "If"
                    },
                    "Get_a_row_by_ID_Caption_for_photo_4": {
                      "runAfter": {
                        "Download_Photo_3": [
                          "Succeeded"
                        ]
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": {
                          "connectionName": "shared_commondataserviceforapps",
                          "operationId": "GetItem",
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                        },
                        "parameters": {
                          "entityName": "cp_photos",
                        "recordId": "@body(\u0027List_Photos\u0027)?[\u0027value\u0027]?[3]?.cp_photoid"
                        },
                        "authentication": {
                          "type": "Raw",
                        "value": "@json(decodeBase64(triggerOutputs().headers[\u0027X-MS-APIM-Tokens\u0027]))[\u0027$ConnectionKey\u0027]"
                        }
                      }
                    }
                  }
                },
                "expression": {
                  "equals": [
                  "@empty(body(\u0027List_photos\u0027)?[\u0027value\u0027]?[3]?.cp_imageid)",
                    "@true"
                  ]
                },
                "type": "If"
              },
              "Condition5_Photo": {
                "actions": {
                  "Set_variable_9": {
                    "runAfter": {
                      
                    },
                    "type": "SetVariable",
                    "inputs": {
                      "name": "Photo5",
                      "value": {
                        "$content-type": "image/jpeg",
                        "$content": "iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVQYV2NgYAAAAAMAAWgmWQ0AAAAASUVORK5CYII="
                      }
                    }
                  }
                },
                "runAfter": {
                  "Condition_Photo_4": [
                    "Succeeded"
                  ]
                },
                "else": {
                  "actions": {
                    "Download_Photo_4": {
                      "runAfter": {
                        
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": {
                          "connectionName": "shared_commondataserviceforapps",
                          "operationId": "GetEntityFileImageFieldContent",
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                        },
                        "parameters": {
                          "entityName": "cp_photos",
                        "recordId": "@body(\u0027List_photos\u0027)?[\u0027value\u0027]?[4]?.cp_photoid",
                          "fileImageFieldName": "cp_image",
                          "size": "full"
                        },
                        "authentication": {
                          "type": "Raw",
                        "value": "@json(decodeBase64(triggerOutputs().headers[\u0027X-MS-APIM-Tokens\u0027]))[\u0027$ConnectionKey\u0027]"
                        }
                      }
                    },
                    "Compose_Photo_5": {
                      "runAfter": {
                        "Condition_to_check_if_photo_5_has_a_caption": [
                          "Succeeded"
                        ]
                      },
                      "type": "Compose",
                      "inputs": {
                        "$content-type": "image/jpeg",
                      "$content": "@{base64(outputs(\u0027Download_Photo_4\u0027)?[\u0027body\u0027])}"
                      }
                    },
                    "Set_Photo4_2": {
                      "runAfter": {
                        "Compose_Photo_5": [
                          "Succeeded"
                        ]
                      },
                      "type": "SetVariable",
                      "inputs": {
                        "name": "Photo5",
                        "value": "@outputs(\u0027Compose_Photo_5\u0027)"
                      }
                    },
                    "Get_a_row_by_ID_Caption_for_photo_5": {
                      "runAfter": {
                        "Download_Photo_4": [
                          "Succeeded"
                        ]
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": {
                          "connectionName": "shared_commondataserviceforapps",
                          "operationId": "GetItem",
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                        },
                        "parameters": {
                          "entityName": "cp_photos",
                        "recordId": "@body(\u0027List_Photos\u0027)?[\u0027value\u0027]?[4]?.cp_photoid"
                        },
                        "authentication": {
                          "type": "Raw",
                        "value": "@json(decodeBase64(triggerOutputs().headers[\u0027X-MS-APIM-Tokens\u0027]))[\u0027$ConnectionKey\u0027]"
                        }
                      }
                    },
                    "Condition_to_check_if_photo_5_has_a_caption": {
                      "actions": {
                        "Set_variable_19": {
                          "runAfter": {
                            
                          },
                          "type": "SetVariable",
                          "inputs": {
                            "name": "Photocaption 5",
                            "value": "\u0027Vehicle Ticket Photo 5\u0027"
                          }
                        }
                      },
                      "runAfter": {
                        "Get_a_row_by_ID_Caption_for_photo_5": [
                          "Succeeded"
                        ]
                      },
                      "else": {
                        "actions": {
                          "Set_variable_caption_4": {
                            "runAfter": {
                              
                            },
                            "type": "SetVariable",
                            "inputs": {
                              "name": "Photocaption 5",
                            "value": "@outputs(\u0027Get_a_row_by_ID_Caption_for_photo_5\u0027)?[\u0027body/cp_phototitle\u0027]"
                            }
                          }
                        }
                      },
                      "expression": {
                        "equals": [
                        "@empty(outputs(\u0027Get_a_row_by_ID_Caption_for_photo_5\u0027)?[\u0027body/cp_phototitle\u0027])",
                          "@true"
                        ]
                      },
                      "type": "If"
                    }
                  }
                },
                "expression": {
                  "equals": [
                  "@empty(body(\u0027List_photos\u0027)?[\u0027value\u0027]?[4]?.cp_imageid)",
                    "@true"
                  ]
                },
                "type": "If"
              }
            }
          },
          "expression": {
            "equals": [
            "@empty(outputs(\u0027List_photos\u0027)?[\u0027body/value\u0027])",
              "@true"
            ]
          },
          "type": "If"
        },
        "Initialize_Photo_1_Object": {
          "runAfter": {
            "Initialize_Photos_Array": [
              "Succeeded"
            ]
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Photo1",
                "type": "object",
                "value": {
                  "$content-type": "image/jpeg",
                  "$content": "iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVQYV2NgYAAAAAMAAWgmWQ0AAAAASUVORK5CYII="
                }
              }
            ]
          }
        },
        "Initialize_Photo_2_Object": {
          "runAfter": {
            "Initialize_Photo_1_Object": [
              "Succeeded"
            ]
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Photo2",
                "type": "object",
                "value": {
                  "$content-type": "image/jpeg",
                  "$content": "iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVQYV2NgYAAAAAMAAWgmWQ0AAAAASUVORK5CYII="
                }
              }
            ]
          }
        },
        "Initialize_Photo_3_Object": {
          "runAfter": {
            "Initialize_Photo_2_Object": [
              "Succeeded"
            ]
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Photo3",
                "type": "object",
                "value": {
                  "$content-type": "image/jpeg",
                  "$content": "iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVQYV2NgYAAAAAMAAWgmWQ0AAAAASUVORK5CYII="
                }
              }
            ]
          }
        },
        "Initialize_Photo_4_Object": {
          "runAfter": {
            "Initialize_Photo_3_Object": [
              "Succeeded"
            ]
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Photo4",
                "type": "object",
                "value": {
                  "$content-type": "image/jpeg",
                  "$content": "iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVQYV2NgYAAAAAMAAWgmWQ0AAAAASUVORK5CYII="
                }
              }
            ]
          }
        },
        "Initialize_Photo_5_Object": {
          "runAfter": {
            "Initialize_Photo_4_Object": [
              "Succeeded"
            ]
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Photo5",
                "type": "object",
                "value": {
                  "$content-type": "image/jpeg",
                  "$content": "iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVQYV2NgYAAAAAMAAWgmWQ0AAAAASUVORK5CYII="
                }
              }
            ]
          }
        },
        "List_rows_Use_of_Force_Reasons_": {
          "runAfter": {
            "If_photos_exists": [
              "Succeeded"
            ]
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "ListRecords",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "cp_useofforce_cp_useforcereasonset",
            "$filter": "cp_useofforceid eq @{triggerBody()[\u0027text\u0027]}"
            },
            "authentication": {
              "type": "Raw",
            "value": "@json(decodeBase64(triggerOutputs().headers[\u0027X-MS-APIM-Tokens\u0027]))[\u0027$ConnectionKey\u0027]"
            }
          }
        },
        "Initialize_Photos_Array": {
          "runAfter": {
            "Initialize_Photo_5_variable": [
              "Succeeded"
            ]
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Photos",
                "type": "array",
                "value": "@null"
              }
            ]
          }
        },
        "Initialize_Photo_1_variable": {
          "runAfter": {
            "If_there_is_an_birthdate_calculate_the_age": [
              "Succeeded"
            ]
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "PhotoCaption1",
                "type": "string",
              "value": "@{null}"
              }
            ]
          }
        },
        "Initialize_Photo_2_variable": {
          "runAfter": {
            "Initialize_Photo_1_variable": [
              "Succeeded"
            ]
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "PhotoCaption2",
                "type": "string",
              "value": "@{null}"
              }
            ]
          }
        },
        "Initialize_Photo_3_variable_": {
          "runAfter": {
            "Initialize_Photo_2_variable": [
              "Succeeded"
            ]
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "PhotoCaption3",
                "type": "string",
              "value": "@{null}"
              }
            ]
          }
        },
        "Initialize_Photo_4_variable": {
          "runAfter": {
            "Initialize_Photo_3_variable_": [
              "Succeeded"
            ]
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "PhotoCaption4",
                "type": "string",
              "value": "@{null}"
              }
            ]
          }
        },
        "Initialize_Photo_5_variable": {
          "runAfter": {
            "Initialize_Photo_4_variable": [
              "Succeeded"
            ]
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Photocaption 5",
                "type": "string",
              "value": "@{null}"
              }
            ]
          }
        },
        "Check_if_there_are_any_reasons_for_UoF_Record": {
          "actions": {
            
          },
          "runAfter": {
            "List_rows_Use_of_Force_Reasons_": [
              "Succeeded"
            ]
          },
          "else": {
            "actions": {
              "Apply_to_each_Reasons": {
              "foreach": "@outputs(\u0027List_rows_Use_of_Force_Reasons_\u0027)?[\u0027body/value\u0027]",
                "actions": {
                  "Get_a_row_by_ID_for_UoF_reasons_": {
                    "runAfter": {
                      
                    },
                    "type": "OpenApiConnection",
                    "inputs": {
                      "host": {
                        "connectionName": "shared_commondataserviceforapps",
                        "operationId": "GetItem",
                        "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                      },
                      "parameters": {
                        "entityName": "cp_useforcereasons",
                      "recordId": "@items(\u0027Apply_to_each_Reasons\u0027)?[\u0027cp_useforcereasonid\u0027]"
                      },
                      "authentication": {
                        "type": "Raw",
                      "value": "@json(decodeBase64(triggerOutputs().headers[\u0027X-MS-APIM-Tokens\u0027]))[\u0027$ConnectionKey\u0027]"
                      }
                    }
                  },
                  "Append_to_array_UoF_Reasons": {
                    "runAfter": {
                      "Get_a_row_by_ID_for_UoF_reasons_": [
                        "Succeeded"
                      ]
                    },
                    "type": "AppendToArrayVariable",
                    "inputs": {
                      "name": "UoF Reasons",
                      "value": {
                      "Incident Level Reason for using force": "@{outputs(\u0027Get_a_row_by_ID_for_UoF_reasons_\u0027)?[\u0027body/cp_name\u0027]}"
                      }
                    }
                  }
                },
                "runAfter": {
                  
                },
                "type": "Foreach"
              }
            }
          },
          "expression": {
            "equals": [
            "@empty(outputs(\u0027List_rows_Use_of_Force_Reasons_\u0027)?[\u0027body/value\u0027])\r\n",
              "@true"
            ]
          },
          "type": "If"
        },
        "UOF_Reasons_RT": {
          "runAfter": {
            "Initialize_Photo_5_Object": [
              "Succeeded"
            ]
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "UoF Reasons",
                "type": "array"
              }
            ]
          }
        },
        "List_rows_Use_of_Force_Outcomes": {
          "runAfter": {
            "Check_if_there_are_any_reasons_for_UoF_Record": [
              "Succeeded"
            ]
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "ListRecords",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "cp_useforceoutcome_cp_useofforceset",
            "$filter": "cp_useofforceid eq @{triggerBody()[\u0027text\u0027]}"
            },
            "authentication": {
              "type": "Raw",
            "value": "@json(decodeBase64(triggerOutputs().headers[\u0027X-MS-APIM-Tokens\u0027]))[\u0027$ConnectionKey\u0027]"
            }
          }
        },
        "UOF_Outcome_RT_": {
          "runAfter": {
            "UOF_Reasons_RT": [
              "Succeeded"
            ]
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "UoF Outcomes",
                "type": "array"
              }
            ]
          }
        },
        "Check_if_there_are_any_outcomes_for_UoF_Record_": {
          "actions": {
            
          },
          "runAfter": {
            "List_rows_Use_of_Force_Outcomes": [
              "Succeeded"
            ]
          },
          "else": {
            "actions": {
              "Apply_to_each_Outcomes": {
              "foreach": "@outputs(\u0027List_rows_Use_of_Force_Outcomes\u0027)?[\u0027body/value\u0027]",
                "actions": {
                  "Get_a_row_by_ID_for_UoF_Outcomes": {
                    "runAfter": {
                      
                    },
                    "type": "OpenApiConnection",
                    "inputs": {
                      "host": {
                        "connectionName": "shared_commondataserviceforapps",
                        "operationId": "GetItem",
                        "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                      },
                      "parameters": {
                        "entityName": "cp_useforceoutcomes",
                      "recordId": "@items(\u0027Apply_to_each_Outcomes\u0027)?[\u0027cp_useforceoutcomeid\u0027]"
                      },
                      "authentication": {
                        "type": "Raw",
                      "value": "@json(decodeBase64(triggerOutputs().headers[\u0027X-MS-APIM-Tokens\u0027]))[\u0027$ConnectionKey\u0027]"
                      }
                    }
                  },
                  "Append_to_array_UoF_Outcomes": {
                    "runAfter": {
                      "Get_a_row_by_ID_for_UoF_Outcomes": [
                        "Succeeded"
                      ]
                    },
                    "type": "AppendToArrayVariable",
                    "inputs": {
                      "name": "UoF Outcomes",
                      "value": {
                      "Outcome What subsequently happened": "@{outputs(\u0027Get_a_row_by_ID_for_UoF_Outcomes\u0027)?[\u0027body/cp_name\u0027]}"
                      }
                    }
                  }
                },
                "runAfter": {
                  
                },
                "type": "Foreach"
              }
            }
          },
          "expression": {
            "equals": [
            "@empty(outputs(\u0027List_rows_Use_of_Force_Outcomes\u0027)?[\u0027body/value\u0027])",
              "@true"
            ]
          },
          "type": "If"
        },
        "List_rows_Use_of_Force_Impact_Factors": {
          "runAfter": {
            "Check_if_there_are_any_outcomes_for_UoF_Record_": [
              "Succeeded"
            ]
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "ListRecords",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "cp_useofforce_uof_impactfactorset",
            "$filter": "cp_useofforceid eq @{triggerBody()[\u0027text\u0027]}"
            },
            "authentication": {
              "type": "Raw",
            "value": "@json(decodeBase64(triggerOutputs().headers[\u0027X-MS-APIM-Tokens\u0027]))[\u0027$ConnectionKey\u0027]"
            }
          }
        },
        "Check_if_there_are_any_impact_factors_for_UoF_Record__": {
          "actions": {
            
          },
          "runAfter": {
            "List_rows_Use_of_Force_Impact_Factors": [
              "Succeeded"
            ]
          },
          "else": {
            "actions": {
              "Apply_to_each_impact_factor": {
              "foreach": "@outputs(\u0027List_rows_Use_of_Force_Impact_Factors\u0027)?[\u0027body/value\u0027]",
                "actions": {
                  "Get_a_row_by_ID_Impact_Factors": {
                    "runAfter": {
                      
                    },
                    "type": "OpenApiConnection",
                    "inputs": {
                      "host": {
                        "connectionName": "shared_commondataserviceforapps",
                        "operationId": "GetItem",
                        "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                      },
                      "parameters": {
                        "entityName": "cp_useofforceimpactfactors",
                      "recordId": "@items(\u0027Apply_to_each_impact_factor\u0027)?[\u0027cp_useofforceimpactfactorid\u0027]"
                      },
                      "authentication": {
                        "type": "Raw",
                      "value": "@json(decodeBase64(triggerOutputs().headers[\u0027X-MS-APIM-Tokens\u0027]))[\u0027$ConnectionKey\u0027]"
                      }
                    }
                  },
                  "Append_to_array_UoF_Impact_Factors": {
                    "runAfter": {
                      "Get_a_row_by_ID_Impact_Factors": [
                        "Succeeded"
                      ]
                    },
                    "type": "AppendToArrayVariable",
                    "inputs": {
                      "name": "UoF Impact Factors",
                      "value": {
                      "Impact Factors": "@{outputs(\u0027Get_a_row_by_ID_Impact_Factors\u0027)?[\u0027body/cp_name\u0027]}"
                      }
                    }
                  }
                },
                "runAfter": {
                  
                },
                "type": "Foreach"
              }
            }
          },
          "expression": {
            "equals": [
            "@empty(outputs(\u0027List_rows_Use_of_Force_Impact_Factors\u0027)?[\u0027body/value\u0027])",
              "@true"
            ]
          },
          "type": "If"
        },
        "UOF_Impact_Factors_RT_": {
          "runAfter": {
            "UOF_Outcome_RT_": [
              "Succeeded"
            ]
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "UoF Impact Factors",
                "type": "array"
              }
            ]
          }
        },
        "List_rows_Use_of_Force_Tactics": {
          "runAfter": {
            "Check_if_there_are_any_impact_factors_for_UoF_Record__": [
              "Succeeded"
            ]
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "ListRecords",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "cp_tactics",
            "$filter": "_cp_useofforce_value eq @{triggerBody()[\u0027text\u0027]}"
            },
            "authentication": {
              "type": "Raw",
            "value": "@json(decodeBase64(triggerOutputs().headers[\u0027X-MS-APIM-Tokens\u0027]))[\u0027$ConnectionKey\u0027]"
            }
          }
        },
        "UOF_Tactics_RT_": {
          "runAfter": {
            "UOF_Impact_Factors_RT_": [
              "Succeeded"
            ]
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "UoF Tactics",
                "type": "array"
              }
            ]
          }
        },
        "Check_if_there_are_any_Tactics_for_UoF_Record_": {
          "actions": {
            
          },
          "runAfter": {
            "List_rows_Use_of_Force_Tactics": [
              "Succeeded"
            ]
          },
          "else": {
            "actions": {
              "Apply_to_each_Tactics": {
              "foreach": "@outputs(\u0027List_rows_Use_of_Force_Tactics\u0027)?[\u0027body/value\u0027]",
                "actions": {
                  "Get_a_row_by_ID_Tactics": {
                    "runAfter": {
                      
                    },
                    "type": "OpenApiConnection",
                    "inputs": {
                      "host": {
                        "connectionName": "shared_commondataserviceforapps",
                        "operationId": "GetItem",
                        "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                      },
                      "parameters": {
                        "entityName": "cp_tactics",
                      "recordId": "@items(\u0027Apply_to_each_Tactics\u0027)?[\u0027cp_tacticid\u0027]",
                        "$expand": "cp_TacticType($select=cp_name)"
                      },
                      "authentication": {
                        "type": "Raw",
                      "value": "@json(decodeBase64(triggerOutputs().headers[\u0027X-MS-APIM-Tokens\u0027]))[\u0027$ConnectionKey\u0027]"
                      }
                    }
                  },
                  "Append_to_array_Tactics": {
                    "runAfter": {
                      "Get_a_row_by_ID_Tactics": [
                        "Succeeded"
                      ]
                    },
                    "type": "AppendToArrayVariable",
                    "inputs": {
                      "name": "UoF Tactics",
                      "value": {
                      "Tactics tactic used": "@{outputs(\u0027Get_a_row_by_ID_Tactics\u0027)?[\u0027body/cp_tactictype/cp_name\u0027]}",
                      "Tactics Was the tactic used effective": "@{outputs(\u0027Get_a_row_by_ID_Tactics\u0027)?[\u0027body/cp_effective@OData.Community.Display.V1.FormattedValue\u0027]}"
                      }
                    }
                  }
                },
                "runAfter": {
                  
                },
                "type": "Foreach"
              }
            }
          },
          "expression": {
            "equals": [
            "@empty(outputs(\u0027List_rows_Use_of_Force_Tactics\u0027)?[\u0027body/value\u0027])",
              "@true"
            ]
          },
          "type": "If"
        },
        "Initialize_GeneratedDocumentId": {
          "runAfter": {
            "Check_if_there_are_any_Tactics_for_UoF_Record_": [
              "Succeeded"
            ]
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "GeneratedDocumentId",
                "type": "string",
              "value": "@{guid()}"
              }
            ]
          }
        },
        "Populate_a_Microsoft_Word_template": {
          "runAfter": {
            "Initialize_GeneratedDocumentId": [
              "Succeeded"
            ]
          },
          "metadata": {
            "014YZTY7ZL2WGYKYNIEVCJFKMDJS7PKGKH": "/Templates/Use of Force/Use of Force.docx",
            "014YZTY756N6TFNDD3XRH3PHGI7PMQBYZR": "/Templates/Use of Force/Use of Force PDF Template.docx"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_wordonlinebusiness_1",
              "operationId": "CreateFileItem",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_wordonlinebusiness"
            },
            "parameters": {
              "source": "groups/0557c153-0304-4b39-b877-06bd78eefbab",
              "drive": "b!WeKRWBhLV06HKnanQyuwtpFCkA54k_FPsYNscja9GU-_YgpLYOi6T49L6ZbolPrM",
              "file": "014YZTY756N6TFNDD3XRH3PHGI7PMQBYZR",
              "dynamicFileSchema/17669945": "@variables(\u0027PhotoCaption3\u0027)",
            "dynamicFileSchema/247697550": "@outputs(\u0027Get_a_row_by_ID_Subject\u0027)?[\u0027body/lastname\u0027]",
            "dynamicFileSchema/248779682": "@outputs(\u0027Get_UoF_record_\u0027)?[\u0027body/cp_subjectinjurylevel/cp_name\u0027]",
            "dynamicFileSchema/299049179": "@outputs(\u0027Get_UoF_record_\u0027)?[\u0027body/cp_subjectunknownofficerdefinedethnicity/cp_name\u0027]",
            "dynamicFileSchema/318009628": "@outputs(\u0027Get_UoF_record_\u0027)?[\u0027body/cp_injuryondutyformsubmitted@OData.Community.Display.V1.FormattedValue\u0027]",
            "dynamicFileSchema/331262738": "@outputs(\u0027Get_a_row_by_ID_Officer_staff_details\u0027)?[\u0027body/cp_safetytraining/cp_name\u0027]",
            "dynamicFileSchema/331412494": "@outputs(\u0027Get_a_row_by_ID_(officer_from_user)\u0027)?[\u0027body/lastname\u0027]",
              "dynamicFileSchema/341983245": "@variables(\u0027UoF Reasons\u0027)",
            "dynamicFileSchema/393243949": "@outputs(\u0027Get_UoF_record_\u0027)?[\u0027body/cp_injuredasaresultofthesubjectassaultingyou\u0027]",
            "dynamicFileSchema/408893927": "@outputs(\u0027Get_UoF_record_\u0027)?[\u0027body/cp_subjectmedicalassistanceprovided@OData.Community.Display.V1.FormattedValue\u0027]",
            "dynamicFileSchema/507576653": "@outputs(\u0027Get_a_row_by_ID_Subject\u0027)?[\u0027body/cp_gender/cp_name\u0027]",
            "dynamicFileSchema/545648224": "@outputs(\u0027Get_UoF_record_\u0027)?[\u0027body/cp_subjectunknownmentalimpairement@OData.Community.Display.V1.FormattedValue\u0027]",
            "dynamicFileSchema/576320829": "@outputs(\u0027Get_a_row_by_ID_(officer_from_user)\u0027)?[\u0027body/firstname\u0027]",
            "dynamicFileSchema/586508949": "@outputs(\u0027Get_a_row_by_ID_(officer_from_user)\u0027)?[\u0027body/positionid/name\u0027]",
            "dynamicFileSchema/597376353": "@outputs(\u0027Get_UoF_record_\u0027)?[\u0027body/cp_singlecrew@OData.Community.Display.V1.FormattedValue\u0027]",
            "dynamicFileSchema/634222197": "@if(empty(outputs(\u0027Get_a_row_by_ID_Subject\u0027)?[\u0027body/birthdate\u0027]),\u0027\u0027,formatDateTime(convertTimeZone(outputs(\u0027Get_a_row_by_ID_Subject\u0027)?[\u0027body/birthdate\u0027],\u0027UTC\u0027,\u0027GMT Standard Time\u0027),\u0027dd/MM/yyyy\u0027))",
            "dynamicFileSchema/667292796": "@outputs(\u0027Get_UoF_record_\u0027)?[\u0027body/cp_spat@OData.Community.Display.V1.FormattedValue\u0027]",
              "dynamicFileSchema/803503350": "@variables(\u0027Photo3\u0027)",
            "dynamicFileSchema/892470545": "@outputs(\u0027Get_UoF_record_\u0027)?[\u0027body/cp_officer/cp_badgenumber\u0027]",
            "dynamicFileSchema/963776201": "@outputs(\u0027Get_UoF_record_\u0027)?[\u0027body/cp_officerassaulted@OData.Community.Display.V1.FormattedValue\u0027]",
              "dynamicFileSchema/1079797796": "@variables(\u0027PhotoCaption4\u0027)",
            "dynamicFileSchema/1113479839": "@outputs(\u0027Get_a_row_by_ID_Officer_staff_details\u0027)?[\u0027body/cp_badgenumber\u0027]",
            "dynamicFileSchema/1163895767": "@outputs(\u0027Get_UoF_record_\u0027)?[\u0027body/cp_subjectunknownphysicalimpairement@OData.Community.Display.V1.FormattedValue\u0027]",
            "dynamicFileSchema/1260567544": "@outputs(\u0027Get_a_row_by_ID_Incident_Details\u0027)?[\u0027body/cp_incidentsuffix\u0027]",
              "dynamicFileSchema/1295483235": "@variables(\u0027Photo4\u0027)",
              "dynamicFileSchema/1384527551": "@variables(\u0027PhotoCaption1\u0027)",
            "dynamicFileSchema/1425450076": "@outputs(\u0027Get_UoF_record_\u0027)?[\u0027body/cp_bodycam@OData.Community.Display.V1.FormattedValue\u0027]",
            "dynamicFileSchema/1574617305": "@outputs(\u0027Get_UoF_record_\u0027)?[\u0027body/cp_place/cp_name\u0027]",
              "dynamicFileSchema/1631062419": "@variables(\u0027UoF Tactics\u0027)",
              "dynamicFileSchema/1717780233": "@variables(\u0027Photo1\u0027)",
            "dynamicFileSchema/1774894200": "@outputs(\u0027Get_UoF_record_\u0027)?[\u0027body/cp_officerspresent/cp_name\u0027]",
            "dynamicFileSchema/1800344995": "@outputs(\u0027Get_UoF_record_\u0027)?[\u0027body/cp_subjectinjury@OData.Community.Display.V1.FormattedValue\u0027]",
              "dynamicFileSchema/2009632383": "@variables(\u0027PhotoCaption2\u0027)",
            "dynamicFileSchema/2133893849": "@outputs(\u0027Get_a_row_by_ID_Officer_staff_details\u0027)?[\u0027body/firstname\u0027]",
            "dynamicFileSchema/-516385571": "@outputs(\u0027Get_a_row_by_ID_Incident_Details\u0027)?[\u0027body/cp_incidentnumber\u0027]",
            "dynamicFileSchema/-1890800649": "@if(empty(outputs(\u0027Get_a_row_by_ID_Incident_Details\u0027)?[\u0027body/cp_incidentdate\u0027]),\u0027\u0027,formatDateTime(convertTimeZone(outputs(\u0027Get_a_row_by_ID_Incident_Details\u0027)?[\u0027body/cp_incidentdate\u0027],\u0027UTC\u0027,\u0027GMT Standard Time\u0027),\u0027dd/MM/yyyy HH:mm:ss\u0027))",
            "dynamicFileSchema/-242724974": "@if(empty(outputs(\u0027Get_a_row_by_ID_Incident_Details\u0027)?[\u0027body/cp_incidentdate\u0027]),\u0027\u0027,formatDateTime(convertTimeZone(outputs(\u0027Get_a_row_by_ID_Incident_Details\u0027)?[\u0027body/cp_incidentdate\u0027],\u0027UTC\u0027,\u0027GMT Standard Time\u0027),\u0027HH:mm:ss\u0027))",
            "dynamicFileSchema/-1303077361": "@outputs(\u0027Get_UoF_record_\u0027)?[\u0027body/cp_tpa/cp_name\u0027]",
            "dynamicFileSchema/-684358319": "@outputs(\u0027Get_a_row_by_ID_Officer_staff_details\u0027)?[\u0027body/title\u0027]",
            "dynamicFileSchema/-146126988": "@outputs(\u0027Get_a_row_by_ID_Officer_staff_details\u0027)?[\u0027body/lastname\u0027]",
            "dynamicFileSchema/-147054355": "@outputs(\u0027Get_a_row_by_ID_Officer_staff_details\u0027)?[\u0027body/positionid/name\u0027]",
            "dynamicFileSchema/-203946044": "@outputs(\u0027Get_UoF_record_\u0027)?[\u0027body/cp_officer/cp_detective@OData.Community.Display.V1.FormattedValue\u0027]",
            "dynamicFileSchema/-1376304258": "@outputs(\u0027Get_a_row_by_ID_Officer_staff_details\u0027)?[\u0027body/cp_servicelength/cp_name\u0027]",
            "dynamicFileSchema/-1709562234": "@outputs(\u0027Get_a_row_by_ID_Officer_staff_details\u0027)?[\u0027body/cp_psutraining/cp_name\u0027]",
            "dynamicFileSchema/-904526711": "@outputs(\u0027Get_a_row_by_ID_Officer_staff_details\u0027)?[\u0027body/cp_territory/cp_name\u0027]",
            "dynamicFileSchema/-1402210148": "@outputs(\u0027Get_UoF_record_\u0027)?[\u0027body/cp_subjectrole/cp_name\u0027]",
            "dynamicFileSchema/-362591863": "@outputs(\u0027Get_a_row_by_ID_Subject\u0027)?[\u0027body/firstname\u0027]",
            "dynamicFileSchema/-1298995852": "@outputs(\u0027Get_a_row_by_ID_Subject\u0027)?[\u0027body/cp_perceivedethnicity/cp_name\u0027]",
            "dynamicFileSchema/-1901118625": "@outputs(\u0027Get_UoF_record_\u0027)?[\u0027body/cp_subjectunknowngender/cp_name\u0027]",
            "dynamicFileSchema/-1444988411": "@outputs(\u0027Get_UoF_record_\u0027)?[\u0027body/cp_subjectunknownperceivedage/cp_name\u0027]",
            "dynamicFileSchema/-1995864579": "@outputs(\u0027Get_UoF_record_\u0027)?[\u0027body/cp_tpa/cp_name\u0027]",
            "dynamicFileSchema/-1012301626": "@outputs(\u0027Get_UoF_record_\u0027)?[\u0027body/cp_subjectbehaviour/cp_name\u0027]",
            "dynamicFileSchema/-1743014235": "@outputs(\u0027Get_UoF_record_\u0027)?[\u0027body/cp_officerthreatdetails/cp_name\u0027]",
            "dynamicFileSchema/-765157215": "@outputs(\u0027Get_UoF_record_\u0027)?[\u0027body/cp_assaultdetails/cp_name\u0027]",
            "dynamicFileSchema/-1470054956": "@outputs(\u0027Get_UoF_record_\u0027)?[\u0027body/cp_officermainduty/cp_name\u0027]",
            "dynamicFileSchema/-262845057": "@outputs(\u0027Get_UoF_record_\u0027)?[\u0027body/cp_trainedconductedenergydeviceced@OData.Community.Display.V1.FormattedValue\u0027]",
            "dynamicFileSchema/-1727591644": "@outputs(\u0027Get_UoF_record_\u0027)?[\u0027body/cp_carrytaser@OData.Community.Display.V1.FormattedValue\u0027]",
            "dynamicFileSchema/-99423767": "@outputs(\u0027Get_UoF_record_\u0027)?[\u0027body/cp_howmanysubjectinvolved\u0027]",
            "dynamicFileSchema/-1453475260": "@outputs(\u0027Get_UoF_record_\u0027)?[\u0027body/cp_officerphysicallyinjured/cp_name\u0027]",
            "dynamicFileSchema/-1749881940": "@outputs(\u0027Get_UoF_record_\u0027)?[\u0027body/cp_officerphysicallyinjured/cp_name\u0027]",
            "dynamicFileSchema/-1807611260": "@outputs(\u0027Get_UoF_record_\u0027)?[\u0027body/cp_officermedicalassistance@OData.Community.Display.V1.FormattedValue\u0027]",
            "dynamicFileSchema/-7520229": "@outputs(\u0027Get_UoF_record_\u0027)?[\u0027body/cp_subjectmedicalassistanceoffered@OData.Community.Display.V1.FormattedValue\u0027]",
              "dynamicFileSchema/-794758952": "@variables(\u0027UoF Outcomes\u0027)",
            "dynamicFileSchema/-932114568": "@outputs(\u0027Get_UoF_record_\u0027)?[\u0027body/cp_crimereportsubmitted@OData.Community.Display.V1.FormattedValue\u0027]",
              "dynamicFileSchema/-1897354720": "@variables(\u0027UoF Impact Factors\u0027)",
              "dynamicFileSchema/-2108188279": "@variables(\u0027Photo2\u0027)",
              "dynamicFileSchema/-281339158": "@variables(\u0027Photocaption 5\u0027)",
              "dynamicFileSchema/-15462028": "@variables(\u0027Photo5\u0027)"
            },
            "authentication": {
              "type": "Raw",
            "value": "@json(decodeBase64(triggerOutputs().headers[\u0027X-MS-APIM-Tokens\u0027]))[\u0027$ConnectionKey\u0027]"
            }
          }
        },
        "Create_file_as_word_doc": {
          "runAfter": {
            "Populate_a_Microsoft_Word_template": [
              "Succeeded"
            ]
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_onedriveforbusiness_1",
              "operationId": "CreateFile",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_onedriveforbusiness"
            },
            "parameters": {
              "folderPath": "/",
            "name": "@{variables(\u0027GeneratedDocumentId\u0027)}.docx",
            "body": "@outputs(\u0027Populate_a_Microsoft_Word_template\u0027)?[\u0027body\u0027]"
            },
            "authentication": {
              "type": "Raw",
            "value": "@json(decodeBase64(triggerOutputs().headers[\u0027X-MS-APIM-Tokens\u0027]))[\u0027$ConnectionKey\u0027]"
            }
          },
          "runtimeConfiguration": {
            "contentTransfer": {
              "transferMode": "Chunked"
            }
          }
        },
        "Convert_file": {
          "runAfter": {
            "Create_file_as_word_doc": [
              "Succeeded"
            ]
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_onedriveforbusiness_1",
              "operationId": "ConvertFile",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_onedriveforbusiness"
            },
            "parameters": {
            "id": "@outputs(\u0027Create_file_as_word_doc\u0027)?[\u0027body/Id\u0027]",
              "type": "PDF"
            },
            "authentication": {
              "type": "Raw",
            "value": "@json(decodeBase64(triggerOutputs().headers[\u0027X-MS-APIM-Tokens\u0027]))[\u0027$ConnectionKey\u0027]"
            }
          }
        },
        "Create_file__as_PDF": {
          "runAfter": {
            "Convert_file": [
              "Succeeded"
            ]
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_onedriveforbusiness_1",
              "operationId": "CreateFile",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_onedriveforbusiness"
            },
            "parameters": {
              "folderPath": "/",
            "name": "Use of Force for Incident @{outputs(\u0027Get_a_row_by_ID_Incident_Details\u0027)?[\u0027body/cp_incidentnumber\u0027]}.pdf",
            "body": "@outputs(\u0027Convert_file\u0027)?[\u0027body\u0027]"
            },
            "authentication": {
              "type": "Raw",
            "value": "@json(decodeBase64(triggerOutputs().headers[\u0027X-MS-APIM-Tokens\u0027]))[\u0027$ConnectionKey\u0027]"
            }
          },
          "runtimeConfiguration": {
            "contentTransfer": {
              "transferMode": "Chunked"
            }
          }
        },
        "Delete_file": {
          "runAfter": {
            "Create_file__as_PDF": [
              "Succeeded"
            ]
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_onedriveforbusiness_1",
              "operationId": "DeleteFile",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_onedriveforbusiness"
            },
            "parameters": {
            "id": "@outputs(\u0027Create_file_as_word_doc\u0027)?[\u0027body/Id\u0027]"
            },
            "authentication": {
              "type": "Raw",
            "value": "@json(decodeBase64(triggerOutputs().headers[\u0027X-MS-APIM-Tokens\u0027]))[\u0027$ConnectionKey\u0027]"
            }
          }
        },
        "Respond_to_a_PowerApp_or_flow": {
          "runAfter": {
            "Delete_file": [
              "Succeeded"
            ]
          },
          "type": "Response",
          "kind": "PowerApp",
          "inputs": {
            "statusCode": 200,
            "body": {
            "generatedpdf": "@outputs(\u0027Create_file__as_PDF\u0027)?[\u0027body/Id\u0027]"
            },
            "schema": {
              "type": "object",
              "properties": {
                "generatedpdf": {
                  "title": "GeneratedPDF",
                  "x-ms-dynamically-added": true,
                  "type": "string",
                  "format": "byte"
                }
              }
            }
          }
        },
        "Get_a_row_by_ID_(officer_from_user)": {
          "runAfter": {
            "Get_a_row_by_ID_Incident_Details": [
              "Succeeded"
            ]
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "GetItem",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "systemusers",
            "recordId": "@outputs(\u0027Get_UoF_record_\u0027)?[\u0027body/_ownerid_value\u0027]",
              "$expand": "positionid($select=name)"
            },
            "authentication": {
              "type": "Raw",
            "value": "@json(decodeBase64(triggerOutputs().headers[\u0027X-MS-APIM-Tokens\u0027]))[\u0027$ConnectionKey\u0027]"
            }
          }
        },
        "Get_UoF_record_": {
          "runAfter": {
            
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "GetItem",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "cp_useofforces",
            "recordId": "@triggerBody()[\u0027text\u0027]",
              "$expand": "cp_SubjectUnknownOfficerDefinedEthnicity($select=cp_name),cp_OfficerPhysicallyInjured($select=cp_name),cp_AssaultDetails($select=cp_name),cp_Place($select=cp_name),cp_OfficerMainDuty($select=cp_name),cp_SubjectInjuryLevel($select=cp_name),cp_TPA($select=cp_name),cp_SubjectUnknownGender($select=cp_name),cp_OfficersPresent($select=cp_name),cp_SubjectUnknownPerceivedAge($select=cp_name),cp_Officer,cp_SubjectRole($select=cp_name),cp_OfficerThreatDetails($select=cp_name),cp_SubjectBehaviour($select=cp_name),cp_Subject"
            },
            "authentication": {
              "type": "Raw",
            "value": "@json(decodeBase64(triggerOutputs().headers[\u0027X-MS-APIM-Tokens\u0027]))[\u0027$ConnectionKey\u0027]"
            }
          }
        },
        "Get_a_row_by_ID_Officer_staff_details": {
          "runAfter": {
            "List_Photos": [
              "Succeeded"
            ]
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "GetItem",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "systemusers",
            "recordId": "@outputs(\u0027Get_UoF_record_\u0027)?[\u0027body/_cp_officer_value\u0027]",
              "$expand": "cp_SafetyTraining($select=cp_name),cp_PSUTraining($select=cp_name),positionid($select=name),cp_Territory($select=cp_name),cp_Gender($select=cp_name),cp_ServiceLength($select=cp_name),cp_StaffTitle($select=cp_name)"
            },
            "authentication": {
              "type": "Raw",
            "value": "@json(decodeBase64(triggerOutputs().headers[\u0027X-MS-APIM-Tokens\u0027]))[\u0027$ConnectionKey\u0027]"
            }
          }
        },
        "Initialize_variable_Age_of_Officer": {
          "runAfter": {
            "Is_Subject_Known": [
              "Succeeded"
            ]
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "AgeofOfficer",
                "type": "float",
                "value": 0
              }
            ]
          }
        },
        "If_there_is_an_birthdate_calculate_the_age": {
          "actions": {
            "Set_variable": {
              "runAfter": {
                
              },
              "type": "SetVariable",
              "inputs": {
                "name": "AgeofOfficer",
              "value": "@div(div(sub(ticks(utcNow(\u0027yyyy-MM-dd\u0027)),ticks(outputs(\u0027Get_UoF_record_\u0027)?[\u0027body/cp_officer/cp_birthdate\u0027]\r\n)),864000000000),365.25)"
              }
            }
          },
          "runAfter": {
            "Initialize_variable": [
              "Succeeded"
            ]
          },
          "expression": {
            "not": {
              "equals": [
              "@outputs(\u0027Get_UoF_record_\u0027)?[\u0027body/cp_officer/cp_birthdate\u0027]",
                "@null"
              ]
            }
          },
          "type": "If"
        },
        "Initialize_variable": {
          "runAfter": {
            "Initialize_variable_Age_of_Officer": [
              "Succeeded"
            ]
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "SubjectAge",
                "type": "boolean"
              }
            ]
          }
        },
        "Is_Subject_Known": {
          "actions": {
            "Get_a_row_by_ID_Subject": {
              "runAfter": {
                
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "GetItem",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "contacts",
                "recordId": "@outputs(\u0027Get_UoF_record_\u0027)?[\u0027body/cp_subject/contactid\u0027]",
                  "$expand": "cp_Gender($select=cp_name),cp_LastOccupation($select=cp_name),cp_ContactTitle($select=cp_name),cp_ContactCountry($select=cp_name),cp_PerceivedAge($select=cp_name),cp_SelfDefinedEthnicity($select=cp_name),cp_ContactPreferredMethodofContact($select=cp_name),cp_OfficerDefinedEthnicity($select=cp_name),cp_PerceivedEthnicity($select=cp_name)"
                },
                "authentication": {
                  "type": "Raw",
                "value": "@json(decodeBase64(triggerOutputs().headers[\u0027X-MS-APIM-Tokens\u0027]))[\u0027$ConnectionKey\u0027]"
                }
              }
            }
          },
          "runAfter": {
            "Get_a_row_by_ID_Officer_staff_details": [
              "Succeeded"
            ]
          },
          "expression": {
            "equals": [
            "@outputs(\u0027Get_UoF_record_\u0027)?[\u0027body/_cp_subjectrole_value\u0027]",
              "5cb5308b-a258-eb11-a812-0022489ba6ad"
            ]
          },
          "type": "If"
        }
      },
      "outputs": {
        
      }
    }
  },
  "schemaVersion": "1.0.0.0"
}
