Schema/FlowsPDFCP/unpacked/Workflows/CovidEmailFlowwithPDFattached-C699214C-D196-EB11-B1AC-000D3ADE994B.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "runtimeSource": "embedded",
        "connection": {
          
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      },
      "shared_wordonlinebusiness": {
        "runtimeSource": "embedded",
        "connection": {
          
        },
        "api": {
          "name": "shared_wordonlinebusiness"
        }
      },
      "shared_onedriveforbusiness": {
        "runtimeSource": "embedded",
        "connection": {
          
        },
        "api": {
          "name": "shared_onedriveforbusiness"
        }
      },
      "shared_commondataserviceforapps_1": {
        "runtimeSource": "embedded",
        "connection": {
          
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      },
      "shared_office365": {
        "runtimeSource": "embedded",
        "connection": {
          
        },
        "api": {
          "name": "shared_office365"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {
            
          },
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {
            
          },
          "type": "SecureObject"
        }
      },
      "triggers": {
        "When_a_row_is_added,_modified_or_deleted": {
          "metadata": {
            "operationMetadataId": "10626441-3214-4e35-8521-ca3a1c72b4e2"
          },
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "SubscribeWebhookTrigger",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "subscriptionRequest/message": 4,
              "subscriptionRequest/entityname": "cp_covid",
              "subscriptionRequest/scope": 4
            },
            "authentication": "@parameters(\u0027$authentication\u0027)"
          },
          "conditions": [
            {
            "expression": "@equals(triggerOutputs()?[\u0027body/statuscode\u0027], 778230000)"
            }
          ]
        }
      },
      "actions": {
        "Fetch_Owner": {
          "runAfter": {
            "Apply_to_each": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "ea70242d-e7bf-43fe-ac37-0dcddd287ae9"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "GetItem",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "systemusers",
            "recordId": "@triggerOutputs()?[\u0027body/_ownerid_value\u0027]"
            },
            "authentication": "@parameters(\u0027$authentication\u0027)"
          }
        },
        "FetchOffender": {
          "runAfter": {
            "Fetch_Owner": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "5265b1c7-b95a-4ad4-b8d9-1c72587d59e3"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "GetItem",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "contacts",
            "recordId": "@triggerOutputs()?[\u0027body/_cp_contact_value\u0027]",
              "$expand": "cp_ContactTitle($select=cp_name),cp_Gender($select=cp_name),cp_OfficerDefinedEthnicity($select=cp_name),cp_SelfDefinedEthnicity($select=cp_name)"
            },
            "authentication": "@parameters(\u0027$authentication\u0027)"
          }
        },
        "Check_Incident_Number": {
          "actions": {
            "Get_Incident_No": {
              "runAfter": {
                
              },
              "metadata": {
                "operationMetadataId": "55465677-c957-4a41-9ead-f657f16e7b14"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "GetItem",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "cp_incidents",
                "recordId": "@triggerOutputs()?[\u0027body/_cp_incident_value\u0027]",
                  "$expand": "cp_IncidentLocation($select=cp_name,cp_description,cp_street,cp_latitude,cp_longitude,cp_city,cp_county)"
                },
                "authentication": "@parameters(\u0027$authentication\u0027)"
              }
            }
          },
          "runAfter": {
            "FetchOffender": [
              "Succeeded"
            ]
          },
          "expression": {
            "not": {
              "equals": [
              "@triggerOutputs()?[\u0027body/_cp_incident_value\u0027]",
                "@null"
              ]
            }
          },
          "metadata": {
            "operationMetadataId": "3e99e33d-0c64-4815-af20-c13d009d7792"
          },
          "type": "If"
        },
        "Initialize_Age_variable": {
          "runAfter": {
            "Initialize_variable": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "61958bed-1f39-472a-98b1-50ad73804c5b"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Age",
                "type": "float",
                "value": 0
              }
            ]
          }
        },
        "Initialize_environmentID_": {
          "runAfter": {
            "Initialize_Age_variable": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "60db4ef6-bbf5-4f21-bce2-21ba695207a9"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "WorkflowEnvironmentId",
                "type": "string",
              "value": "@{workflow()[\u0027tags\u0027][\u0027environmentName\u0027]}"
              }
            ]
          }
        },
        "Check_Contact_BirthDate": {
          "actions": {
            
          },
          "runAfter": {
            "Initialize_environmentID_": [
              "Succeeded"
            ]
          },
          "else": {
            "actions": {
              "Set_Age_variable": {
                "runAfter": {
                  
                },
                "metadata": {
                  "operationMetadataId": "789661f4-2bcb-4960-934f-7cdb28595562"
                },
                "type": "SetVariable",
                "inputs": {
                  "name": "Age",
                "value": "@div(div(sub(ticks(utcNow(\u0027yyyy-MM-dd\u0027)),ticks(outputs(\u0027FetchOffender\u0027)?[\u0027body/birthdate\u0027])),864000000000),365.25)"
                }
              }
            }
          },
          "expression": {
            "equals": [
            "@empty(outputs(\u0027FetchOffender\u0027)?[\u0027body/birthdate\u0027])",
              "@true"
            ]
          },
          "metadata": {
            "operationMetadataId": "bb3e7ec8-19d0-4882-9cc0-ffee0de59b9d"
          },
          "type": "If"
        },
        "List_rows_Environment": {
          "runAfter": {
            "Check_Contact_BirthDate": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "11c2d11d-d80c-4703-88bf-ee9eab41d897"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "ListRecords",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "cp_environments",
            "$filter": "cp_workflowenvironmentid eq \u0027@{variables(\u0027WorkflowEnvironmentId\u0027)}\u0027"
            },
            "authentication": "@parameters(\u0027$authentication\u0027)"
          }
        },
        "List_photos": {
          "runAfter": {
            "Initialize_Covid_Record_URL_variable": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "a41f8e59-932a-4ba3-8884-f77350481c34"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "ListRecords",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "cp_photos",
            "$filter": "(_cp_covid_value eq  @{outputs(\u0027Get_Covid_Row\u0027)?[\u0027body/cp_covidid\u0027]})"
            },
            "authentication": "@parameters(\u0027$authentication\u0027)"
          }
        },
        "Initialize_Photo_1_variable": {
          "runAfter": {
            "Initialize_Photos_Array": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "ff4a1622-5556-436b-b61a-de8b5530155c"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "PhotoCaption1",
                "type": "string",
              "value": "@{null}"
              }
            ]
          }
        },
        "Initialize_Photo_2_variable": {
          "runAfter": {
            "Initialize_Photo_1_variable": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "7d8a6ebc-73fc-40f8-bbe7-fe93fc53cc81"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "PhotoCaption2",
                "type": "string",
              "value": "@{null}"
              }
            ]
          }
        },
        "Initialize_Photo_3_variable_": {
          "runAfter": {
            "Initialize_Photo_2_variable": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "3fc7b76a-0ea9-4d78-a77f-b50147792823"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "PhotoCaption3",
                "type": "string",
              "value": "@{null}"
              }
            ]
          }
        },
        "Initialize_Photos_Array": {
          "runAfter": {
            "List_photos": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "0ea498a9-deeb-4bbd-9374-a0949e3bb055"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Photos",
                "type": "array",
                "value": "@null"
              }
            ]
          }
        },
        "Initialize_Photo_4_variable": {
          "runAfter": {
            "Initialize_Photo_3_variable_": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "841458a2-58a9-4bf3-8616-90028d8bb51e"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "PhotoCaption4",
                "type": "string",
              "value": "@{null}"
              }
            ]
          }
        },
        "Initialize_Photo_5_variable": {
          "runAfter": {
            "Initialize_Photo_4_variable": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "4817aaeb-6909-4159-88ba-39af6b56c921"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Photocaption 5",
                "type": "string",
              "value": "@{null}"
              }
            ]
          }
        },
        "Initialize_Photo_1_Object": {
          "runAfter": {
            "Initialize_Photo_5_variable": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "1da25eb3-9b38-4308-9908-7f344c432e32"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Photo1",
                "type": "object",
                "value": {
                  "$content-type": "image/jpeg",
                  "$content": "iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVQYV2NgYAAAAAMAAWgmWQ0AAAAASUVORK5CYII="
                }
              }
            ]
          }
        },
        "Initialize_Photo_2_Object": {
          "runAfter": {
            "Initialize_Photo_1_Object": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "9ca1e023-fc3a-459d-8af8-d8a891bf9517"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Photo2",
                "type": "object",
                "value": {
                  "$content-type": "image/jpeg",
                  "$content": "iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVQYV2NgYAAAAAMAAWgmWQ0AAAAASUVORK5CYII="
                }
              }
            ]
          }
        },
        "Initialize_Photo_3_Object": {
          "runAfter": {
            "Initialize_Photo_2_Object": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "edf65448-362f-4519-94ac-b301a01dbf0a"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Photo3",
                "type": "object",
                "value": {
                  "$content-type": "image/jpeg",
                  "$content": "iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVQYV2NgYAAAAAMAAWgmWQ0AAAAASUVORK5CYII="
                }
              }
            ]
          }
        },
        "Initialize_Photo_4_Object": {
          "runAfter": {
            "Initialize_Photo_3_Object": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "02789b13-d699-4fbd-9f87-4a967ef887a1"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Photo4",
                "type": "object",
                "value": {
                  "$content-type": "image/jpeg",
                  "$content": "iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVQYV2NgYAAAAAMAAWgmWQ0AAAAASUVORK5CYII="
                }
              }
            ]
          }
        },
        "Initialize_Photo_5_Object": {
          "runAfter": {
            "Initialize_Photo_4_Object": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "726657d7-09ef-4087-b6e2-4923c93020fc"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Photo5",
                "type": "object",
                "value": {
                  "$content-type": "image/jpeg",
                  "$content": "iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVQYV2NgYAAAAAMAAWgmWQ0AAAAASUVORK5CYII="
                }
              }
            ]
          }
        },
        "If_photo_exists": {
          "actions": {
            
          },
          "runAfter": {
            "Initialize_Photo_5_Object": [
              "Succeeded"
            ]
          },
          "else": {
            "actions": {
              "Apply_to_each_Photo": {
              "foreach": "@outputs(\u0027List_photos\u0027)?[\u0027body/value\u0027]",
                "actions": {
                  "DownloadPhoto": {
                    "runAfter": {
                      
                    },
                    "metadata": {
                      "operationMetadataId": "307909fa-66c9-4067-ac69-41235c84e6d6"
                    },
                    "type": "OpenApiConnection",
                    "inputs": {
                      "host": {
                        "connectionName": "shared_commondataserviceforapps",
                        "operationId": "GetEntityFileImageFieldContent",
                        "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                      },
                      "parameters": {
                        "entityName": "cp_photos",
                      "recordId": "@items(\u0027Apply_to_each_Photo\u0027)?[\u0027cp_photoid\u0027]",
                        "fileImageFieldName": "cp_image"
                      },
                      "authentication": "@parameters(\u0027$authentication\u0027)"
                    }
                  },
                  "Compose_Photo": {
                    "runAfter": {
                      "DownloadPhoto": [
                        "Succeeded"
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "46141473-78f0-4994-b5f5-7f7feb629d02"
                    },
                    "type": "Compose",
                    "inputs": {
                      "$content-type": "image/jpeg",
                    "$content": "@base64(outputs(\u0027DownloadPhoto\u0027)?[\u0027body\u0027])"
                    }
                  },
                  "Append_to_array_variable": {
                    "runAfter": {
                      "Compose_Photo": [
                        "Succeeded"
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "8e276130-9045-4b1a-a2d7-ee12c6dc61ce"
                    },
                    "type": "AppendToArrayVariable",
                    "inputs": {
                      "name": "Photos",
                      "value": {
                      "PhotoCaption": "@items(\u0027Apply_to_each_Photo\u0027)?[\u0027cp_phototitle\u0027]",
                        "Photo": "@outputs(\u0027Compose_Photo\u0027)"
                      }
                    }
                  }
                },
                "runAfter": {
                  
                },
                "metadata": {
                  "operationMetadataId": "3c63e34a-0282-4e93-85a7-2b9eee4ce7ff"
                },
                "type": "Foreach"
              },
              "Condition_Photo_1": {
                "actions": {
                  
                },
                "runAfter": {
                  "Apply_to_each_Photo": [
                    "Succeeded"
                  ]
                },
                "else": {
                  "actions": {
                    "Set_variable": {
                      "runAfter": {
                        
                      },
                      "metadata": {
                        "operationMetadataId": "abae21c0-6728-4087-9b51-fdd16d2d6163"
                      },
                      "type": "SetVariable",
                      "inputs": {
                        "name": "PhotoCaption1",
                      "value": "@{body(\u0027List_photos\u0027)?[\u0027value\u0027]?[0]?.cp_phototitle}"
                      }
                    },
                    "Download_Photo_1": {
                      "runAfter": {
                        "Set_variable": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "40e475bf-a4bb-4e46-87b6-683cf1ce34d6"
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": {
                          "connectionName": "shared_commondataserviceforapps",
                          "operationId": "GetEntityFileImageFieldContent",
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                        },
                        "parameters": {
                          "entityName": "cp_photos",
                        "recordId": "@body(\u0027List_photos\u0027)?[\u0027value\u0027]?[0]?.cp_photoid",
                          "fileImageFieldName": "cp_image"
                        },
                        "authentication": "@parameters(\u0027$authentication\u0027)"
                      }
                    },
                    "Compose": {
                      "runAfter": {
                        "Download_Photo_1": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "b1a6d3a3-6326-4706-8a9a-db8c6cd4d263"
                      },
                      "type": "Compose",
                      "inputs": {
                        "$content-type": "image/jpeg",
                      "$content": "@{base64(outputs(\u0027Download_Photo_1\u0027)?[\u0027body\u0027])}"
                      }
                    },
                    "Set_variable_2": {
                      "runAfter": {
                        "Compose": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "2b3ec50b-fc3e-4b88-925a-61519b2f8b14"
                      },
                      "type": "SetVariable",
                      "inputs": {
                        "name": "Photo1",
                        "value": "@outputs(\u0027Compose\u0027)"
                      }
                    }
                  }
                },
                "expression": {
                  "equals": [
                  "@empty(body(\u0027List_photos\u0027)?[\u0027value\u0027]?[0]?.cp_imageid)",
                    "@true"
                  ]
                },
                "metadata": {
                  "operationMetadataId": "aecd92e2-ab14-4b07-9a34-136df83302e0"
                },
                "type": "If"
              },
              "Condition_Photo_2": {
                "actions": {
                  
                },
                "runAfter": {
                  "Condition_Photo_1": [
                    "Succeeded"
                  ]
                },
                "else": {
                  "actions": {
                    "Set_variable_3": {
                      "runAfter": {
                        
                      },
                      "metadata": {
                        "operationMetadataId": "a6b0d7ec-8ebb-4785-8f49-5f62ec6ce87e"
                      },
                      "type": "SetVariable",
                      "inputs": {
                        "name": "PhotoCaption2",
                      "value": "@{body(\u0027List_photos\u0027)?[\u0027value\u0027]?[1]?.cp_phototitle}"
                      }
                    },
                    "Download_Photo": {
                      "runAfter": {
                        "Set_variable_3": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "4ee89d39-3d6b-4a40-801a-eaab2840ce4e"
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": {
                          "connectionName": "shared_commondataserviceforapps",
                          "operationId": "GetEntityFileImageFieldContent",
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                        },
                        "parameters": {
                          "entityName": "cp_photos",
                        "recordId": "@body(\u0027List_photos\u0027)?[\u0027value\u0027]?[1]?.cp_photoid",
                          "fileImageFieldName": "cp_image"
                        },
                        "authentication": "@parameters(\u0027$authentication\u0027)"
                      }
                    },
                    "Compose_2": {
                      "runAfter": {
                        "Download_Photo": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "32c6aa30-b36f-40e0-a3bf-270eba6a4646"
                      },
                      "type": "Compose",
                      "inputs": {
                        "$content-type": "image/jpeg",
                      "$content": "@{base64(outputs(\u0027Download_Photo\u0027)?[\u0027body\u0027])}"
                      }
                    },
                    "Set_variable_4": {
                      "runAfter": {
                        "Compose_2": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "df4d1203-9b3a-4aec-93cf-9d425bc74b39"
                      },
                      "type": "SetVariable",
                      "inputs": {
                        "name": "Photo2",
                        "value": "@outputs(\u0027Compose_2\u0027)"
                      }
                    }
                  }
                },
                "expression": {
                  "equals": [
                  "@empty(body(\u0027List_photos\u0027)?[\u0027value\u0027]?[1]?.cp_imageid)",
                    "@true"
                  ]
                },
                "metadata": {
                  "operationMetadataId": "6a70355b-f4be-40e1-a74a-9e2f69cf1d2e"
                },
                "type": "If"
              },
              "Condition_Photo_3": {
                "actions": {
                  
                },
                "runAfter": {
                  "Condition_Photo_2": [
                    "Succeeded"
                  ]
                },
                "else": {
                  "actions": {
                    "Set_variable_5": {
                      "runAfter": {
                        
                      },
                      "metadata": {
                        "operationMetadataId": "bfaec316-03e5-4b33-adbe-3110c2b50eca"
                      },
                      "type": "SetVariable",
                      "inputs": {
                        "name": "PhotoCaption3",
                      "value": "@{body(\u0027List_photos\u0027)?[\u0027value\u0027]?[2]?.cp_phototitle}"
                      }
                    },
                    "Download_Photo_2": {
                      "runAfter": {
                        "Set_variable_5": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "c33c007f-fa4d-4dbf-addf-1222ea373157"
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": {
                          "connectionName": "shared_commondataserviceforapps",
                          "operationId": "GetEntityFileImageFieldContent",
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                        },
                        "parameters": {
                          "entityName": "cp_photos",
                        "recordId": "@body(\u0027List_Photos\u0027)?[\u0027value\u0027]?[2]?.cp_photoid",
                          "fileImageFieldName": "cp_image"
                        },
                        "authentication": "@parameters(\u0027$authentication\u0027)"
                      }
                    },
                    "Compose_3": {
                      "runAfter": {
                        "Download_Photo_2": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "84e19cfc-d2ab-4b4c-bebe-a068bebaf02a"
                      },
                      "type": "Compose",
                      "inputs": {
                        "$content-type": "image/jpeg",
                      "$content": "@{base64(outputs(\u0027Download_Photo_2\u0027)?[\u0027body\u0027])}"
                      }
                    },
                    "Set_variable_6": {
                      "runAfter": {
                        "Compose_3": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "f6d6802a-f392-40c0-9e18-05a660907622"
                      },
                      "type": "SetVariable",
                      "inputs": {
                        "name": "Photo3",
                        "value": "@outputs(\u0027Compose_3\u0027)"
                      }
                    }
                  }
                },
                "expression": {
                  "equals": [
                  "@empty(body(\u0027List_photos\u0027)?[\u0027value\u0027]?[2]?.cp_imageid)",
                    "@true"
                  ]
                },
                "metadata": {
                  "operationMetadataId": "21fa8ca9-e722-4106-8785-8c3fa978d1fc"
                },
                "type": "If"
              },
              "Condition_Photo_4": {
                "actions": {
                  
                },
                "runAfter": {
                  "Condition_Photo_3": [
                    "Succeeded"
                  ]
                },
                "else": {
                  "actions": {
                    "Set_variable_7": {
                      "runAfter": {
                        
                      },
                      "metadata": {
                        "operationMetadataId": "88d8bd9e-3cd1-4b8f-afa0-db1c03e6b5d1"
                      },
                      "type": "SetVariable",
                      "inputs": {
                        "name": "PhotoCaption4",
                      "value": "@{body(\u0027List_photos\u0027)?[\u0027value\u0027]?[3]?.cp_phototitle}"
                      }
                    },
                    "Download_Photo_3": {
                      "runAfter": {
                        "Set_variable_7": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "097dc595-5948-44fd-bea3-5eaa375d6618"
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": {
                          "connectionName": "shared_commondataserviceforapps",
                          "operationId": "GetEntityFileImageFieldContent",
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                        },
                        "parameters": {
                          "entityName": "cp_photos",
                        "recordId": "@body(\u0027List_photos\u0027)?[\u0027value\u0027]?[3]?.cp_photoid",
                          "fileImageFieldName": "cp_image"
                        },
                        "authentication": "@parameters(\u0027$authentication\u0027)"
                      }
                    },
                    "Compose_4": {
                      "runAfter": {
                        "Download_Photo_3": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "eabe1ffe-b921-4b6d-a46e-06e3d0e12ce9"
                      },
                      "type": "Compose",
                      "inputs": {
                        "$content-type": "image/jpeg",
                      "$content": "@{base64(outputs(\u0027Download_Photo_3\u0027)?[\u0027body\u0027])}"
                      }
                    },
                    "Set_variable_8": {
                      "runAfter": {
                        "Compose_4": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "e5872b82-7c65-48c3-a8f8-b027e1c3c2e7"
                      },
                      "type": "SetVariable",
                      "inputs": {
                        "name": "Photo4",
                        "value": "@outputs(\u0027Compose_4\u0027)"
                      }
                    }
                  }
                },
                "expression": {
                  "equals": [
                  "@empty(body(\u0027List_photos\u0027)?[\u0027value\u0027]?[3]?.cp_imageid)",
                    "@true"
                  ]
                },
                "metadata": {
                  "operationMetadataId": "463c9099-b247-409e-a9c1-236daa41dc74"
                },
                "type": "If"
              }
            }
          },
          "expression": {
            "equals": [
            "@empty(outputs(\u0027List_photos\u0027)?[\u0027body/value\u0027])",
              "@true"
            ]
          },
          "metadata": {
            "operationMetadataId": "c4480416-934e-401d-8f8b-440c32a8339e"
          },
          "type": "If"
        },
        "Populate_a_Microsoft_Word_template": {
          "runAfter": {
            "If_photo_exists": [
              "Succeeded"
            ]
          },
          "metadata": {
            "014YZTY75MJFSXQ625GJG37UFQV2W7GLLQ": "/Templates/Covid/Covid Template.docx",
            "operationMetadataId": "ecaf85f2-5006-421c-aae2-e2ebe446af88"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_wordonlinebusiness",
              "operationId": "CreateFileItem",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_wordonlinebusiness"
            },
            "parameters": {
              "source": "sites/tisskilimited.sharepoint.com,5891e259-4b18-4e57-872a-76a7432bb0b6,0e904291-9378-4ff1-b183-6c7236bd194f",
              "drive": "b!WeKRWBhLV06HKnanQyuwtpFCkA54k_FPsYNscja9GU-_YgpLYOi6T49L6ZbolPrM",
              "file": "014YZTY75MJFSXQ625GJG37UFQV2W7GLLQ",
              "dynamicFileSchema/127604699": "@variables(\u0027PhotoCaption1\u0027)",
              "dynamicFileSchema/257723314": "@variables(\u0027Photo3\u0027)",
            "dynamicFileSchema/276536389": "@if (empty(outputs(\u0027FetchOffender\u0027)?[\u0027body/birthdate\u0027]),\u0027\u0027, formatDateTime(convertTimeZone(outputs(\u0027FetchOffender\u0027)?[\u0027body/birthdate\u0027],\u0027UTC\u0027,\u0027GMT Standard Time\u0027),\u0027dd/MM/yyyy\u0027))",
            "dynamicFileSchema/291556923": "@outputs(\u0027FetchOffender\u0027)?[\u0027body/address1_line1\u0027]",
            "dynamicFileSchema/304592549": "@outputs(\u0027Fetch_Owner\u0027)?[\u0027body/fullname\u0027]",
            "dynamicFileSchema/410128124": "@outputs(\u0027FetchOffender\u0027)?[\u0027body/cp_housename\u0027]",
            "dynamicFileSchema/449908334": "@outputs(\u0027FetchOffender\u0027)?[\u0027body/cp_housenumber\u0027]",
            "dynamicFileSchema/466008600": "@outputs(\u0027Fetch_Owner\u0027)?[\u0027body/cp_badgenumber\u0027]",
            "dynamicFileSchema/703524036": "@outputs(\u0027Get_Covid_Row\u0027)?[\u0027body/cp_circumstances\u0027]",
            "dynamicFileSchema/742921448": "@outputs(\u0027Get_Covid_Row\u0027)?[\u0027body/cp_offence/cp_offencedescription\u0027]",
            "dynamicFileSchema/753864431": "@outputs(\u0027Get_Incident_No\u0027)?[\u0027body/cp_incidentlocation/cp_city\u0027]",
              "dynamicFileSchema/985822218": "@variables(\u0027Photo4\u0027)",
              "dynamicFileSchema/1036783496": "@variables(\u0027PhotoCaption2\u0027)",
            "dynamicFileSchema/1102146827": "@if (empty(outputs(\u0027Get_Incident_No\u0027)?[\u0027body/cp_incidentdate\u0027]),\u0027\u0027,formatDateTime(convertTimeZone(outputs(\u0027Get_Incident_No\u0027)?[\u0027body/cp_incidentdate\u0027],\u0027UTC\u0027,\u0027GMT Standard Time\u0027),\u0027dd/MM/yyyy\u0027))",
            "dynamicFileSchema/1126046464": "@outputs(\u0027Get_Incident_No\u0027)?[\u0027body/cp_incidentlocation/cp_name\u0027]",
            "dynamicFileSchema/1160573482": "@formatDateTime(convertTimeZone(outputs(\u0027Get_Covid_Row\u0027)?[\u0027body/createdon\u0027], \u0027UTC\u0027,\u0027GMT Standard Time\u0027),\u0027dd/MM/yyyy HH:mm:ss\u0027)",
            "dynamicFileSchema/1162044679": "@outputs(\u0027Get_Incident_No\u0027)?[\u0027body/cp_incidentlocation/cp_street\u0027]",
            "dynamicFileSchema/1301266794": "@outputs(\u0027Get_Incident_No\u0027)?[\u0027body/cp_incidentnumber\u0027]",
            "dynamicFileSchema/1308359921": "@outputs(\u0027FetchOffender\u0027)?[\u0027body/address1_postalcode\u0027]",
            "dynamicFileSchema/1327089767": "@outputs(\u0027FetchOffender\u0027)?[\u0027body/cp_contacttitle/cp_name\u0027]",
            "dynamicFileSchema/1349527709": "@if(empty(outputs(\u0027Get_Covid_Row\u0027)?[\u0027body/cp_offencedatetime\u0027]),\u0027\u0027,\r\nformatDateTime(convertTimeZone(outputs(\u0027Get_Covid_Row\u0027)?[\u0027body/cp_offencedatetime\u0027],\u0027UTC\u0027,\u0027GMT Standard Time\u0027),\u0027dd/MM/yyyy HH:mm:ss\u0027))",
            "dynamicFileSchema/1363482192": "@outputs(\u0027FetchOffender\u0027)?[\u0027body/cp_officerdefinedethnicity/cp_name\u0027]",
            "dynamicFileSchema/1471559203": "@outputs(\u0027FetchOffender\u0027)?[\u0027body/cp_district\u0027]",
            "dynamicFileSchema/1610850380": "@outputs(\u0027Get_Incident_No\u0027)?[\u0027body/cp_incidentlocation/cp_county\u0027]",
            "dynamicFileSchema/1736201185": "@outputs(\u0027FetchOffender\u0027)?[\u0027body/cp_selfdefinedethnicity/cp_name\u0027]",
            "dynamicFileSchema/1754701982": "@outputs(\u0027Get_Covid_Row\u0027)?[\u0027body/cp_tpa/cp_name\u0027]",
            "dynamicFileSchema/1839271706": "@outputs(\u0027FetchOffender\u0027)?[\u0027body/address1_city\u0027]",
            "dynamicFileSchema/1894613885": "@outputs(\u0027FetchOffender\u0027)?[\u0027body/address1_telephone1\u0027]",
            "dynamicFileSchema/1930696208": "@{outputs(\u0027Get_Incident_No\u0027)?[\u0027body/cp_incidentlocation/cp_latitude\u0027]} @{outputs(\u0027Get_Incident_No\u0027)?[\u0027body/cp_incidentlocation/cp_longitude\u0027]}",
            "dynamicFileSchema/2014409161": "@outputs(\u0027Get_Covid_Row\u0027)?[\u0027body/cp_documentid\u0027]",
            "dynamicFileSchema/2037151868": "@outputs(\u0027FetchOffender\u0027)?[\u0027body/firstname\u0027]",
              "dynamicFileSchema/2064434336": "@int(first(split(string(variables(\u0027Age\u0027)), \u0027.\u0027)))",
            "dynamicFileSchema/-649131477": "@outputs(\u0027Get_Incident_No\u0027)?[\u0027body/cp_incidentsuffix\u0027]",
              "dynamicFileSchema/-1095637561": "Cumbria",
            "dynamicFileSchema/-1592933551": "@outputs(\u0027FetchOffender\u0027)?[\u0027body/lastname\u0027]",
            "dynamicFileSchema/-1451312232": "@outputs(\u0027FetchOffender\u0027)?[\u0027body/cp_gender/cp_name\u0027]",
            "dynamicFileSchema/-1755582337": "@triggerOutputs()?[\u0027body/_cp_documentcheck_value\u0027]",
            "dynamicFileSchema/-1523320051": "@outputs(\u0027Get_Covid_Row\u0027)?[\u0027body/cp_pnccheck\u0027]",
            "dynamicFileSchema/-593934662": "@outputs(\u0027FetchOffender\u0027)?[\u0027body/emailaddress1\u0027]",
            "dynamicFileSchema/-925501610": "@outputs(\u0027Get_Covid_Row\u0027)?[\u0027body/cp_offence/cp_offencecode\u0027]",
            "dynamicFileSchema/-337857921": "@outputs(\u0027Get_Covid_Row\u0027)?[\u0027body/cp_offence/cp_offenceact\u0027]",
            "dynamicFileSchema/-1616047833": "@outputs(\u0027Get_Covid_Row\u0027)?[\u0027body/cp_replytocaution\u0027]",
            "dynamicFileSchema/-2048215017": "@outputs(\u0027Get_Covid_Row\u0027)?[\u0027body/cp_bmv\u0027]",
            "dynamicFileSchema/-638344857": "@outputs(\u0027Get_Covid_Row\u0027)?[\u0027body/cp_hasforcebeenused\u0027]",
              "dynamicFileSchema/-2009200231": "@variables(\u0027OffenceVerificationVar\u0027)",
              "dynamicFileSchema/-2142946657": "@variables(\u0027Photo1\u0027)",
              "dynamicFileSchema/-1585071427": "@variables(\u0027Photo2\u0027)",
              "dynamicFileSchema/-2066876374": "@variables(\u0027PhotoCaption3\u0027)",
              "dynamicFileSchema/-210344956": "@variables(\u0027PhotoCaption4\u0027)",
              "dynamicFileSchema/-750423932": "@variables(\u0027Photocaption 5\u0027)",
              "dynamicFileSchema/-491407965": "@variables(\u0027Photo5\u0027)"
            },
            "authentication": "@parameters(\u0027$authentication\u0027)"
          }
        },
        "Get_Covid_Row": {
          "runAfter": {
            
          },
          "metadata": {
            "operationMetadataId": "f13fa134-8edb-432f-8f5b-d4e1d208f7f1"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "GetItem",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "cp_covids",
            "recordId": "@triggerOutputs()?[\u0027body/cp_covidid\u0027]",
              "$expand": "cp_TPA($select=cp_name),cp_documentcheck($select=cp_name),cp_offence($select=cp_offencecode,cp_offenceact,cp_offencedescription),cp_recordofpowerorissueFine($select=cp_name)\n"
            },
            "authentication": "@parameters(\u0027$authentication\u0027)"
          }
        },
        "Initialize_variable_TempFile_Name": {
          "runAfter": {
            "Populate_a_Microsoft_Word_template": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "b37321f9-4e7e-4c09-b0fa-f2c8900a234e"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "TempFileName",
                "type": "string",
              "value": "Covid Incident @{outputs(\u0027Get_Incident_No\u0027)?[\u0027body/cp_incidentnumber\u0027]}.docx"
              }
            ]
          }
        },
        "Create_file_of_Word_Document_in_Temp_Folder": {
          "runAfter": {
            "Initialize_variable_TempFile_Name": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "bbd9701c-71a0-4621-ab59-e834d9d5a897"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_onedriveforbusiness",
              "operationId": "CreateFile",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_onedriveforbusiness"
            },
            "parameters": {
              "folderPath": "/Covid PDF",
              "name": "@variables(\u0027TempFileName\u0027)",
            "body": "@outputs(\u0027Populate_a_Microsoft_Word_template\u0027)?[\u0027body\u0027]"
            },
            "authentication": "@parameters(\u0027$authentication\u0027)"
          },
          "runtimeConfiguration": {
            "contentTransfer": {
              "transferMode": "Chunked"
            }
          }
        },
        "Convert_file": {
          "runAfter": {
            "Create_file_of_Word_Document_in_Temp_Folder": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "bdbd5ee0-86da-448b-bb84-29bcfa09d99b"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_onedriveforbusiness",
              "operationId": "ConvertFile",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_onedriveforbusiness"
            },
            "parameters": {
            "id": "@outputs(\u0027Create_file_of_Word_Document_in_Temp_Folder\u0027)?[\u0027body/Id\u0027]",
              "type": "PDF"
            },
            "authentication": "@parameters(\u0027$authentication\u0027)"
          }
        },
        "Initialize_variable": {
          "runAfter": {
            "Check_Incident_Number": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "61c484f6-4d51-4101-8043-518fcc55422c"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Files",
                "type": "array"
              }
            ]
          }
        },
        "Initialize_variable_-_EnvironmentConfigId": {
          "runAfter": {
            "List_rows_Environment": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "9f843e92-015c-4f7f-9bd4-31a5e6eb26cd"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "EnvironmentConfigId",
                "type": "string",
              "value": "@{first(body(\u0027List_rows_Environment\u0027)?[\u0027value\u0027])?[\u0027cp_environmentid\u0027]}"
              }
            ]
          }
        },
        "List_Covid_Setup_rows": {
          "runAfter": {
            "Initialize_variable_-_EnvironmentConfigId": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "c5c57b9e-94f3-447c-9fa8-cba05017281c"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "ListRecords",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "cp_covidsetups",
            "$filter": "_cp_environment_value eq @{variables(\u0027EnvironmentConfigId\u0027)}",
              "$top": 1
            },
            "authentication": "@parameters(\u0027$authentication\u0027)"
          }
        },
        "Initialize_variable_-_RecipientEmail": {
          "runAfter": {
            "List_Covid_Setup_rows": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "99e63594-7e20-4511-88c5-0ef847eee34d"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "RecipientEmail",
                "type": "string",
              "value": "@{first(body(\u0027List_Covid_Setup_rows\u0027)?[\u0027value\u0027])?[\u0027cp_covidpdfrecipient\u0027]}"
              }
            ]
          }
        },
        "Initialize_Covid_Record_URL_variable": {
          "runAfter": {
            "Initialize_variable_-_RecipientEmail": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "c1d80eb0-ca3e-41b3-b366-41c4c8e0c7c1"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "CovidURL",
                "type": "string",
              "value": "https://@{uriHost(body(\u0027Get_Covid_Row\u0027)?[\u0027@odata.id\u0027])}/main.aspx?newWindow=true\u0026pagetype=entityrecord\u0026etn=cp_covid\u0026id=@{outputs(\u0027Get_Covid_Row\u0027)?[\u0027body/cp_covidid\u0027]}"
              }
            ]
          }
        },
        "Initialize_variable_2": {
          "runAfter": {
            "Get_Covid_Row": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "5897ccca-87eb-44f4-88b2-595d5ae2f421"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "OffenceVerificationVar",
                "type": "array"
              }
            ]
          }
        },
        "Get_Covid_Offence_Verification_Rows": {
          "runAfter": {
            "Initialize_variable_2": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "f3e9dbe0-3b99-46ab-9d1b-0eb143b7a799"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps_1",
              "operationId": "ListRecords",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "cp_covidoffenceverifications",
              "$select": "cp_verified",
            "$filter": "(_cp_covid_value eq @{outputs(\u0027Get_Covid_Row\u0027)?[\u0027body/cp_covidid\u0027]})",
              "$expand": "cp_LabelText($select=cp_labeltext)"
            },
            "authentication": "@parameters(\u0027$authentication\u0027)"
          }
        },
        "Apply_to_each": {
        "foreach": "@outputs(\u0027Get_Covid_Offence_Verification_Rows\u0027)?[\u0027body/value\u0027]",
          "actions": {
            "Append_to_array_variable_3": {
              "runAfter": {
                
              },
              "metadata": {
                "operationMetadataId": "77682f10-efec-42d5-9b8a-84a7cd9adeb1"
              },
              "type": "AppendToArrayVariable",
              "inputs": {
                "name": "OffenceVerificationVar",
                "value": {
                "VerifiedText": "@items(\u0027Apply_to_each\u0027)?[\u0027cp_labeltext/cp_labeltext\u0027]",
                "Verified": "@items(\u0027Apply_to_each\u0027)?[\u0027cp_verified\u0027]"
                }
              }
            }
          },
          "runAfter": {
            "Get_Covid_Offence_Verification_Rows": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "5c9e360e-a6fb-4330-9c7b-cdfa234048e3"
          },
          "type": "Foreach"
        },
        "Send_an_email_(V2)": {
          "runAfter": {
            "Delete_file": [
              "Skipped"
            ]
          },
          "metadata": {
            "operationMetadataId": "7e1d18c3-a7cd-490d-9bba-428e66f93619"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_office365",
              "operationId": "SendEmailV2",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365"
            },
            "parameters": {
              "emailMessage/To": "scott.platts@tisski.com",
            "emailMessage/Subject": "PDF for Covid Incident: @{outputs(\u0027Get_Incident_No\u0027)?[\u0027body/cp_incidentnumber\u0027]}",
            "emailMessage/Body": "\u003cp\u003ePlease find attached a COVID fine to be processed for Cumbria Constabulary.\u003cbr\u003e\n\u003cbr\u003e\nGenerated PDF for Covid Incident: @{variables(\u0027CovidURL\u0027)}\"\u0026gt;@{outputs(\u0027Get_Incident_No\u0027)?[\u0027body/cp_incidentnumber\u0027]}\u003c/p\u003e",
              "emailMessage/Attachments": [
                {
                "Name": "@{variables(\u0027TempFileName\u0027)}.pdf",
                "ContentBytes": "@outputs(\u0027Convert_file\u0027)?[\u0027body\u0027]"
                }
              ]
            },
            "authentication": "@parameters(\u0027$authentication\u0027)"
          }
        },
        "Send_an_email_with_Attachment": {
          "runAfter": {
            "Convert_file": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "d1c2542d-8fc9-47f5-ab89-b1b793b7de87"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_office365",
              "operationId": "SendEmailV2",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365"
            },
            "parameters": {
              "emailMessage/To": "@variables(\u0027RecipientEmail\u0027)",
            "emailMessage/Subject": "PDF for Covid Incident: @{outputs(\u0027Get_Incident_No\u0027)?[\u0027body/cp_incidentnumber\u0027]}",
            "emailMessage/Body": "\u003cp\u003ePlease find attached a COVID fine to be processed for Cumbria Constabulary.\u003cbr\u003e\n\u003cbr\u003e\nGenerated PDF for Covid Incident: \u003ca href=\"\u0026lt;object custom=\"\u003e@{variables(\u0027CovidURL\u0027)}\"\u0026gt;\u003c/a\u003e@{outputs(\u0027Get_Incident_No\u0027)?[\u0027body/cp_incidentnumber\u0027]}\u003ca href=\"\u0026lt;object custom=\"\u003e\u003c/a\u003e\u003c/p\u003e",
              "emailMessage/Attachments": [
                {
                "Name": "@{variables(\u0027TempFileName\u0027)}.pdf",
                "ContentBytes": "@outputs(\u0027Convert_file\u0027)?[\u0027body\u0027]"
                }
              ]
            },
            "authentication": "@parameters(\u0027$authentication\u0027)"
          }
        },
        "Delete_file": {
          "runAfter": {
            "Send_an_email_with_Attachment": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "2612f0d5-7483-4d3c-939c-b549d3e9d977"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_onedriveforbusiness",
              "operationId": "DeleteFile",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_onedriveforbusiness"
            },
            "parameters": {
            "id": "@outputs(\u0027Create_file_of_Word_Document_in_Temp_Folder\u0027)?[\u0027body/Id\u0027]"
            },
            "authentication": "@parameters(\u0027$authentication\u0027)"
          }
        }
      },
      "outputs": {
        
      }
    }
  },
  "schemaVersion": "1.0.0.0"
}
