PipelineTools/FlowRewriter/RewrittenFlows/Cumbria/UAT/Schema/FlowsPDFCP/unpacked/Workflows/GenerateUoFPDF-BDAE81A8-29EE-EB11-BACB-0022489C5E28.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "cp_sharedcommondataserviceforapps_ef737"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      },
      "shared_wordonlinebusiness_1": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "cp_sharedwordonlinebusiness_7a2a4"
        },
        "api": {
          "name": "shared_wordonlinebusiness"
        }
      },
      "shared_onedriveforbusiness_1": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "cp_sharedonedriveforbusiness_fc480"
        },
        "api": {
          "name": "shared_onedriveforbusiness"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "manual": {
          "metadata": {
            "operationMetadataId": "d6664c92-98bb-4a3e-ba2f-7eb2fa21f114"
          },
          "type": "Request",
          "kind": "Button",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {
                "text": {
                  "title": "UoF ID",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "Please enter your input",
                  "x-ms-content-hint": "TEXT"
                }
              },
              "required": [
                "text"
              ]
            }
          }
        }
      },
      "actions": {
        "Get_a_row_by_ID_Incident_Details": {
          "runAfter": {
            "Get_UoF_record_": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "5230ab2c-61ef-41e2-a626-44ec83e62a69"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "GetItem",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "cp_incidents",
              "recordId": "@outputs(\u0027Get_UoF_record_\u0027)?[\u0027body/_cp_incident_value\u0027]",
              "$expand": "cp_EnteredBy($select=fullname,cp_badgenumber),cp_IncidentLocation"
            },
            "authentication": {
              "type": "Raw",
              "value": "@json(decodeBase64(triggerOutputs().headers[\u0027X-MS-APIM-Tokens\u0027]))[\u0027$ConnectionKey\u0027]"
            }
          }
        },
        "List_Photos": {
          "runAfter": {
            "Get_a_row_by_ID_(officer_from_user)": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "0763250a-c9a4-428b-a22e-7fc95a7cb453"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "ListRecords",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "cp_photos",
              "$filter": "(_cp_useofforce_value eq @{triggerBody()[\u0027text\u0027]})"
            },
            "authentication": {
              "type": "Raw",
              "value": "@json(decodeBase64(triggerOutputs().headers[\u0027X-MS-APIM-Tokens\u0027]))[\u0027$ConnectionKey\u0027]"
            }
          }
        },
        "If_photos_exists": {
          "actions": {
            "Set_variable_10": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "3202d437-1120-4556-9d96-491ffa2ef8de"
              },
              "type": "SetVariable",
              "inputs": {
                "name": "Photo1",
                "value": {
                  "$content-type": "image/jpeg",
                  "$content": "iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVQYV2NgYAAAAAMAAWgmWQ0AAAAASUVORK5CYII="
                }
              }
            },
            "Set_variable_11": {
              "runAfter": {
                "Set_variable_10": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "7c30d8af-d6ff-42c2-900e-5b49e411c382"
              },
              "type": "SetVariable",
              "inputs": {
                "name": "Photo5",
                "value": {
                  "$content-type": "image/jpeg",
                  "$content": "iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVQYV2NgYAAAAAMAAWgmWQ0AAAAASUVORK5CYII="
                }
              }
            },
            "Set_variable_12": {
              "runAfter": {
                "Set_variable_11": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "0144a72f-527f-45e6-8b07-2eefb05fe5fb"
              },
              "type": "SetVariable",
              "inputs": {
                "name": "Photo4",
                "value": {
                  "$content-type": "image/jpeg",
                  "$content": "iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVQYV2NgYAAAAAMAAWgmWQ0AAAAASUVORK5CYII="
                }
              }
            },
            "Set_variable_13": {
              "runAfter": {
                "Set_variable_12": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "ca96b5e8-bd12-422d-8629-b09b145be4d1"
              },
              "type": "SetVariable",
              "inputs": {
                "name": "Photo3",
                "value": {
                  "$content-type": "image/jpeg",
                  "$content": "iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVQYV2NgYAAAAAMAAWgmWQ0AAAAASUVORK5CYII="
                }
              }
            },
            "Set_variable_14": {
              "runAfter": {
                "Set_variable_13": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "c5c5fc72-e7c3-4d7a-ba89-1db630ed9c0e"
              },
              "type": "SetVariable",
              "inputs": {
                "name": "Photo2",
                "value": {
                  "$content-type": "image/jpeg",
                  "$content": "iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVQYV2NgYAAAAAMAAWgmWQ0AAAAASUVORK5CYII="
                }
              }
            }
          },
          "runAfter": {
            "UOF_Tactics_RT_": [
              "Succeeded"
            ]
          },
          "else": {
            "actions": {
              "Apply_to_each_Photo": {
                "foreach": "@outputs(\u0027List_Photos\u0027)?[\u0027body/value\u0027]",
                "actions": {
                  "DownloadPhoto": {
                    "runAfter": {},
                    "metadata": {
                      "operationMetadataId": "2da4d825-936a-43e7-a5a0-807c057477aa"
                    },
                    "type": "OpenApiConnection",
                    "inputs": {
                      "host": {
                        "connectionName": "shared_commondataserviceforapps",
                        "operationId": "GetEntityFileImageFieldContent",
                        "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                      },
                      "parameters": {
                        "entityName": "cp_photos",
                        "recordId": "@items(\u0027Apply_to_each_Photo\u0027)?[\u0027cp_photoid\u0027]",
                        "fileImageFieldName": "cp_image",
                        "size": "full"
                      },
                      "authentication": {
                        "type": "Raw",
                        "value": "@json(decodeBase64(triggerOutputs().headers[\u0027X-MS-APIM-Tokens\u0027]))[\u0027$ConnectionKey\u0027]"
                      }
                    }
                  },
                  "Compose_Photo": {
                    "runAfter": {
                      "DownloadPhoto": [
                        "Succeeded"
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "b74d064b-8f44-4411-8d7a-e0e5d5a145e9"
                    },
                    "type": "Compose",
                    "inputs": {
                      "$content-type": "image/jpeg",
                      "$content": "@base64(outputs(\u0027DownloadPhoto\u0027)?[\u0027body\u0027])"
                    }
                  },
                  "Append_to_array_variable": {
                    "runAfter": {
                      "Compose_Photo": [
                        "Succeeded"
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "6259f1e3-dad3-4f23-9a4c-3b6a82226bb9"
                    },
                    "type": "AppendToArrayVariable",
                    "inputs": {
                      "name": "Photos",
                      "value": {
                        "Photo": "@outputs(\u0027Compose_Photo\u0027)"
                      }
                    }
                  }
                },
                "runAfter": {},
                "metadata": {
                  "operationMetadataId": "4f91d6b5-15e9-48d8-aed4-bb63c6d9d4bc"
                },
                "type": "Foreach"
              },
              "Condition_Photo_1": {
                "actions": {
                  "Set_variable_2": {
                    "runAfter": {},
                    "metadata": {
                      "operationMetadataId": "24ef6742-ac3a-4b34-828f-806889eb8458"
                    },
                    "type": "SetVariable",
                    "inputs": {
                      "name": "Photo1",
                      "value": {
                        "$content-type": "image/jpeg",
                        "$content": "iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVQYV2NgYAAAAAMAAWgmWQ0AAAAASUVORK5CYII="
                      }
                    }
                  }
                },
                "runAfter": {
                  "Apply_to_each_Photo": [
                    "Succeeded"
                  ]
                },
                "else": {
                  "actions": {
                    "Download_Photo_1": {
                      "runAfter": {},
                      "metadata": {
                        "operationMetadataId": "d66d690a-c74c-4a79-99c9-bfd8ba8ca87e"
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": {
                          "connectionName": "shared_commondataserviceforapps",
                          "operationId": "GetEntityFileImageFieldContent",
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                        },
                        "parameters": {
                          "entityName": "cp_photos",
                          "recordId": "@body(\u0027List_photos\u0027)?[\u0027value\u0027]?[0]?.cp_photoid",
                          "fileImageFieldName": "cp_image",
                          "size": "full"
                        },
                        "authentication": {
                          "type": "Raw",
                          "value": "@json(decodeBase64(triggerOutputs().headers[\u0027X-MS-APIM-Tokens\u0027]))[\u0027$ConnectionKey\u0027]"
                        }
                      }
                    },
                    "Compose_Photo_1": {
                      "runAfter": {
                        "Condition_to_check_if_photo_1_has_a_caption": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "6f943381-a2e7-428f-9e61-89ee486bb2b6"
                      },
                      "type": "Compose",
                      "inputs": {
                        "$content-type": "image/jpeg",
                        "$content": "@{base64(outputs(\u0027Download_Photo_1\u0027)?[\u0027body\u0027])}"
                      }
                    },
                    "Set_variable_3": {
                      "runAfter": {
                        "Compose_Photo_1": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "94cf72ee-9dcb-4ac9-af7e-e4e52deb0fc4"
                      },
                      "type": "SetVariable",
                      "inputs": {
                        "name": "Photo1",
                        "value": "@outputs(\u0027Compose_Photo_1\u0027)"
                      }
                    },
                    "Get_a_row_by_ID_Caption_for_photo_1": {
                      "runAfter": {
                        "Download_Photo_1": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "ed4eb4a2-5ddd-480a-813a-062071b2b5f9"
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": {
                          "connectionName": "shared_commondataserviceforapps",
                          "operationId": "GetItem",
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                        },
                        "parameters": {
                          "entityName": "cp_photos",
                          "recordId": "@body(\u0027List_Photos\u0027)?[\u0027value\u0027]?[0]?.cp_photoid"
                        },
                        "authentication": {
                          "type": "Raw",
                          "value": "@json(decodeBase64(triggerOutputs().headers[\u0027X-MS-APIM-Tokens\u0027]))[\u0027$ConnectionKey\u0027]"
                        }
                      }
                    },
                    "Condition_to_check_if_photo_1_has_a_caption": {
                      "actions": {
                        "Set_variable_15": {
                          "runAfter": {},
                          "metadata": {
                            "operationMetadataId": "52cb9c68-199d-40b7-8ae2-af5c2adcb8ec"
                          },
                          "type": "SetVariable",
                          "inputs": {
                            "name": "PhotoCaption1",
                            "value": "\u0027Vehicle Ticket Photo 1\u0027"
                          }
                        }
                      },
                      "runAfter": {
                        "Get_a_row_by_ID_Caption_for_photo_1": [
                          "Succeeded"
                        ]
                      },
                      "else": {
                        "actions": {
                          "Set_variable_caption_1": {
                            "runAfter": {},
                            "metadata": {
                              "operationMetadataId": "89df3d1f-a412-4cc1-9d4f-2b7499ff3675"
                            },
                            "type": "SetVariable",
                            "inputs": {
                              "name": "PhotoCaption1",
                              "value": "@outputs(\u0027Get_a_row_by_ID_Caption_for_photo_1\u0027)?[\u0027body/cp_phototitle\u0027]"
                            }
                          }
                        }
                      },
                      "expression": {
                        "equals": [
                          "@empty(outputs(\u0027Get_a_row_by_ID_Caption_for_photo_1\u0027)?[\u0027body/cp_phototitle\u0027])",
                          "@true"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "905ef8ee-2526-416f-bf0e-102fe2afe325"
                      },
                      "type": "If"
                    }
                  }
                },
                "expression": {
                  "equals": [
                    "@empty(body(\u0027List_photos\u0027)?[\u0027value\u0027]?[0]?.cp_imageid)",
                    "@true"
                  ]
                },
                "metadata": {
                  "operationMetadataId": "4cca6300-40aa-4cd0-9ce6-ff3777b96d63"
                },
                "type": "If"
              },
              "Condition_Photo_2": {
                "actions": {
                  "Set_variable_4": {
                    "runAfter": {},
                    "metadata": {
                      "operationMetadataId": "ef705057-9d5b-4c12-b99d-7512d2ded287"
                    },
                    "type": "SetVariable",
                    "inputs": {
                      "name": "Photo2",
                      "value": {
                        "$content-type": "image/jpeg",
                        "$content": "iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVQYV2NgYAAAAAMAAWgmWQ0AAAAASUVORK5CYII="
                      }
                    }
                  }
                },
                "runAfter": {
                  "Condition_Photo_1": [
                    "Succeeded"
                  ]
                },
                "else": {
                  "actions": {
                    "Download_Photo": {
                      "runAfter": {},
                      "metadata": {
                        "operationMetadataId": "73a1f564-4061-4d85-a3be-36c3a4ae02ce"
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": {
                          "connectionName": "shared_commondataserviceforapps",
                          "operationId": "GetEntityFileImageFieldContent",
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                        },
                        "parameters": {
                          "entityName": "cp_photos",
                          "recordId": "@body(\u0027List_photos\u0027)?[\u0027value\u0027]?[1]?.cp_photoid",
                          "fileImageFieldName": "cp_image",
                          "size": "full"
                        },
                        "authentication": {
                          "type": "Raw",
                          "value": "@json(decodeBase64(triggerOutputs().headers[\u0027X-MS-APIM-Tokens\u0027]))[\u0027$ConnectionKey\u0027]"
                        }
                      }
                    },
                    "Compose_Photo_2": {
                      "runAfter": {
                        "Condition_to_check_if_photo_2_has_a_caption_": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "15467477-a154-490e-87ba-4468eb70832c"
                      },
                      "type": "Compose",
                      "inputs": {
                        "$content-type": "image/jpeg",
                        "$content": "@{base64(outputs(\u0027Download_Photo\u0027)?[\u0027body\u0027])}"
                      }
                    },
                    "Set_variable_5": {
                      "runAfter": {
                        "Compose_Photo_2": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "df7881d7-8ac3-4c48-8f3b-aee7e9b7a391"
                      },
                      "type": "SetVariable",
                      "inputs": {
                        "name": "Photo2",
                        "value": "@outputs(\u0027Compose_Photo_2\u0027)"
                      }
                    },
                    "Condition_to_check_if_photo_2_has_a_caption_": {
                      "actions": {
                        "Set_variable_16": {
                          "runAfter": {},
                          "metadata": {
                            "operationMetadataId": "33424f0c-1b9e-4728-8c9e-85cb045f6e20"
                          },
                          "type": "SetVariable",
                          "inputs": {
                            "name": "PhotoCaption2",
                            "value": "\u0027Vehicle Ticket Photo 2\u0027"
                          }
                        }
                      },
                      "runAfter": {
                        "Get_a_row_by_ID_Caption_for_photo_2": [
                          "Succeeded"
                        ]
                      },
                      "else": {
                        "actions": {
                          "Set_variable_caption": {
                            "runAfter": {},
                            "metadata": {
                              "operationMetadataId": "798e0d41-0efa-4100-91f0-71829fcc2f84"
                            },
                            "type": "SetVariable",
                            "inputs": {
                              "name": "PhotoCaption2",
                              "value": "@outputs(\u0027Get_a_row_by_ID_Caption_for_photo_2\u0027)?[\u0027body/cp_phototitle\u0027]"
                            }
                          }
                        }
                      },
                      "expression": {
                        "equals": [
                          "@empty(outputs(\u0027Get_a_row_by_ID_Caption_for_photo_2\u0027)?[\u0027body/cp_phototitle\u0027])",
                          "@true"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "85ac2b18-6f41-456f-b41d-f144e3c5abba"
                      },
                      "type": "If"
                    },
                    "Get_a_row_by_ID_Caption_for_photo_2": {
                      "runAfter": {
                        "Download_Photo": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "f4e67a7d-3bc6-4278-9a67-aa1949242dfb"
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": {
                          "connectionName": "shared_commondataserviceforapps",
                          "operationId": "GetItem",
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                        },
                        "parameters": {
                          "entityName": "cp_photos",
                          "recordId": "@body(\u0027List_Photos\u0027)?[\u0027value\u0027]?[1]?.cp_photoid"
                        },
                        "authentication": {
                          "type": "Raw",
                          "value": "@json(decodeBase64(triggerOutputs().headers[\u0027X-MS-APIM-Tokens\u0027]))[\u0027$ConnectionKey\u0027]"
                        }
                      }
                    }
                  }
                },
                "expression": {
                  "equals": [
                    "@empty(body(\u0027List_photos\u0027)?[\u0027value\u0027]?[1]?.cp_imageid)",
                    "@true"
                  ]
                },
                "metadata": {
                  "operationMetadataId": "fde2db0d-934b-4d95-b18a-a1df718f05c3"
                },
                "type": "If"
              },
              "Condition_Photo_3": {
                "actions": {
                  "Set_variable_6": {
                    "runAfter": {},
                    "metadata": {
                      "operationMetadataId": "70a19205-3e57-4bf4-b078-bf9c60d79406"
                    },
                    "type": "SetVariable",
                    "inputs": {
                      "name": "Photo3",
                      "value": {
                        "$content-type": "image/jpeg",
                        "$content": "iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVQYV2NgYAAAAAMAAWgmWQ0AAAAASUVORK5CYII="
                      }
                    }
                  }
                },
                "runAfter": {
                  "Condition_Photo_2": [
                    "Succeeded"
                  ]
                },
                "else": {
                  "actions": {
                    "Download_Photo_2": {
                      "runAfter": {},
                      "metadata": {
                        "operationMetadataId": "9eeeef49-7189-445c-9468-8d4ba4981f9d"
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": {
                          "connectionName": "shared_commondataserviceforapps",
                          "operationId": "GetEntityFileImageFieldContent",
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                        },
                        "parameters": {
                          "entityName": "cp_photos",
                          "recordId": "@body(\u0027List_Photos\u0027)?[\u0027value\u0027]?[2]?.cp_photoid",
                          "fileImageFieldName": "cp_image",
                          "size": "full"
                        },
                        "authentication": {
                          "type": "Raw",
                          "value": "@json(decodeBase64(triggerOutputs().headers[\u0027X-MS-APIM-Tokens\u0027]))[\u0027$ConnectionKey\u0027]"
                        }
                      }
                    },
                    "Compose_Photo_3": {
                      "runAfter": {
                        "Condition_to_check_if_photo_3_has_a_caption__": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "fe11d1f0-9f52-4aca-a44b-6f497da5cf1a"
                      },
                      "type": "Compose",
                      "inputs": {
                        "$content-type": "image/jpeg",
                        "$content": "@{base64(outputs(\u0027Download_Photo_2\u0027)?[\u0027body\u0027])}"
                      }
                    },
                    "Set_variable_7": {
                      "runAfter": {
                        "Compose_Photo_3": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "4cfea521-110c-4d41-a372-c3798ff65147"
                      },
                      "type": "SetVariable",
                      "inputs": {
                        "name": "Photo3",
                        "value": "@outputs(\u0027Compose_Photo_3\u0027)"
                      }
                    },
                    "Get_a_row_by_ID_Caption_for_photo_3": {
                      "runAfter": {
                        "Download_Photo_2": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "56aee8f7-5885-4e9a-b350-37cfef9b43d9"
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": {
                          "connectionName": "shared_commondataserviceforapps",
                          "operationId": "GetItem",
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                        },
                        "parameters": {
                          "entityName": "cp_photos",
                          "recordId": "@body(\u0027List_Photos\u0027)?[\u0027value\u0027]?[2]?.cp_photoid"
                        },
                        "authentication": {
                          "type": "Raw",
                          "value": "@json(decodeBase64(triggerOutputs().headers[\u0027X-MS-APIM-Tokens\u0027]))[\u0027$ConnectionKey\u0027]"
                        }
                      }
                    },
                    "Condition_to_check_if_photo_3_has_a_caption__": {
                      "actions": {
                        "Set_variable_17": {
                          "runAfter": {},
                          "metadata": {
                            "operationMetadataId": "66ab8a4a-dcc3-45b9-9715-4bb3d0de70f7"
                          },
                          "type": "SetVariable",
                          "inputs": {
                            "name": "PhotoCaption3",
                            "value": "\u0027Vehicle Ticket Photo 3\u0027"
                          }
                        }
                      },
                      "runAfter": {
                        "Get_a_row_by_ID_Caption_for_photo_3": [
                          "Succeeded"
                        ]
                      },
                      "else": {
                        "actions": {
                          "Set_variable_caption_2": {
                            "runAfter": {},
                            "metadata": {
                              "operationMetadataId": "44cf36e4-c335-43bc-836f-22287d5d432f"
                            },
                            "type": "SetVariable",
                            "inputs": {
                              "name": "PhotoCaption3",
                              "value": "@outputs(\u0027Get_a_row_by_ID_Caption_for_photo_3\u0027)?[\u0027body/cp_phototitle\u0027]"
                            }
                          }
                        }
                      },
                      "expression": {
                        "equals": [
                          "@empty(outputs(\u0027Get_a_row_by_ID_Caption_for_photo_3\u0027)?[\u0027body/cp_phototitle\u0027])",
                          "@true"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "80675a77-4821-47d2-9545-26b66cfcd8c1"
                      },
                      "type": "If"
                    }
                  }
                },
                "expression": {
                  "equals": [
                    "@empty(body(\u0027List_photos\u0027)?[\u0027value\u0027]?[2]?.cp_imageid)",
                    "@true"
                  ]
                },
                "metadata": {
                  "operationMetadataId": "e86fed34-bf34-466f-8405-ebaf16cf5767"
                },
                "type": "If"
              },
              "Condition_Photo_4": {
                "actions": {
                  "Set_variable_8": {
                    "runAfter": {},
                    "metadata": {
                      "operationMetadataId": "07c15c95-0d6e-4dde-a78d-a451023d9da7"
                    },
                    "type": "SetVariable",
                    "inputs": {
                      "name": "Photo4",
                      "value": {
                        "$content-type": "image/jpeg",
                        "$content": "iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVQYV2NgYAAAAAMAAWgmWQ0AAAAASUVORK5CYII="
                      }
                    }
                  }
                },
                "runAfter": {
                  "Condition_Photo_3": [
                    "Succeeded"
                  ]
                },
                "else": {
                  "actions": {
                    "Download_Photo_3": {
                      "runAfter": {},
                      "metadata": {
                        "operationMetadataId": "29010318-ad78-4f68-bb2d-f190e78f18b0"
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": {
                          "connectionName": "shared_commondataserviceforapps",
                          "operationId": "GetEntityFileImageFieldContent",
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                        },
                        "parameters": {
                          "entityName": "cp_photos",
                          "recordId": "@body(\u0027List_photos\u0027)?[\u0027value\u0027]?[3]?.cp_photoid",
                          "fileImageFieldName": "cp_image",
                          "size": "full"
                        },
                        "authentication": {
                          "type": "Raw",
                          "value": "@json(decodeBase64(triggerOutputs().headers[\u0027X-MS-APIM-Tokens\u0027]))[\u0027$ConnectionKey\u0027]"
                        }
                      }
                    },
                    "Compose_Photo_4": {
                      "runAfter": {
                        "Condition_to_check_if_photo_4_has_a_caption_": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "7fa5e866-1d46-4406-8496-6dc64d6508aa"
                      },
                      "type": "Compose",
                      "inputs": {
                        "$content-type": "image/jpeg",
                        "$content": "@{base64(outputs(\u0027Download_Photo_3\u0027)?[\u0027body\u0027])}"
                      }
                    },
                    "Set_Photo4": {
                      "runAfter": {
                        "Compose_Photo_4": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "439a6ac9-0d40-4481-b4f6-513ced3a8658"
                      },
                      "type": "SetVariable",
                      "inputs": {
                        "name": "Photo4",
                        "value": "@outputs(\u0027Compose_Photo_4\u0027)"
                      }
                    },
                    "Condition_to_check_if_photo_4_has_a_caption_": {
                      "actions": {
                        "Set_variable_18": {
                          "runAfter": {},
                          "metadata": {
                            "operationMetadataId": "e1ea5803-e0d3-40b6-b3ef-27c0f8229b44"
                          },
                          "type": "SetVariable",
                          "inputs": {
                            "name": "PhotoCaption4",
                            "value": "\u0027Vehicle Ticket Photo 4\u0027"
                          }
                        }
                      },
                      "runAfter": {
                        "Get_a_row_by_ID_Caption_for_photo_4": [
                          "Succeeded"
                        ]
                      },
                      "else": {
                        "actions": {
                          "Set_variable_caption_6": {
                            "runAfter": {},
                            "metadata": {
                              "operationMetadataId": "70c0a934-818f-4045-90ff-e3f6b20992d0"
                            },
                            "type": "SetVariable",
                            "inputs": {
                              "name": "PhotoCaption4",
                              "value": "@outputs(\u0027Get_a_row_by_ID_Caption_for_photo_4\u0027)?[\u0027body/cp_phototitle\u0027]"
                            }
                          }
                        }
                      },
                      "expression": {
                        "equals": [
                          "@empty(outputs(\u0027Get_a_row_by_ID_Caption_for_photo_4\u0027)?[\u0027body/cp_phototitle\u0027])",
                          "@true"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "7358868a-0ae8-4485-ab03-5511aae5814b"
                      },
                      "type": "If"
                    },
                    "Get_a_row_by_ID_Caption_for_photo_4": {
                      "runAfter": {
                        "Download_Photo_3": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "aa7c0cf8-c05f-4946-b029-c21718bf4a18"
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": {
                          "connectionName": "shared_commondataserviceforapps",
                          "operationId": "GetItem",
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                        },
                        "parameters": {
                          "entityName": "cp_photos",
                          "recordId": "@body(\u0027List_Photos\u0027)?[\u0027value\u0027]?[3]?.cp_photoid"
                        },
                        "authentication": {
                          "type": "Raw",
                          "value": "@json(decodeBase64(triggerOutputs().headers[\u0027X-MS-APIM-Tokens\u0027]))[\u0027$ConnectionKey\u0027]"
                        }
                      }
                    }
                  }
                },
                "expression": {
                  "equals": [
                    "@empty(body(\u0027List_photos\u0027)?[\u0027value\u0027]?[3]?.cp_imageid)",
                    "@true"
                  ]
                },
                "metadata": {
                  "operationMetadataId": "28cc6f5d-f2dd-4090-8837-37f3923d1add"
                },
                "type": "If"
              },
              "Condition5_Photo": {
                "actions": {
                  "Set_variable_9": {
                    "runAfter": {},
                    "metadata": {
                      "operationMetadataId": "708179de-1f28-41f3-9e7c-5cce4f5cae79"
                    },
                    "type": "SetVariable",
                    "inputs": {
                      "name": "Photo5",
                      "value": {
                        "$content-type": "image/jpeg",
                        "$content": "iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVQYV2NgYAAAAAMAAWgmWQ0AAAAASUVORK5CYII="
                      }
                    }
                  }
                },
                "runAfter": {
                  "Condition_Photo_4": [
                    "Succeeded"
                  ]
                },
                "else": {
                  "actions": {
                    "Download_Photo_4": {
                      "runAfter": {},
                      "metadata": {
                        "operationMetadataId": "4047b4f7-24c8-4be4-a5dd-9b4d38d4e71c"
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": {
                          "connectionName": "shared_commondataserviceforapps",
                          "operationId": "GetEntityFileImageFieldContent",
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                        },
                        "parameters": {
                          "entityName": "cp_photos",
                          "recordId": "@body(\u0027List_photos\u0027)?[\u0027value\u0027]?[4]?.cp_photoid",
                          "fileImageFieldName": "cp_image",
                          "size": "full"
                        },
                        "authentication": {
                          "type": "Raw",
                          "value": "@json(decodeBase64(triggerOutputs().headers[\u0027X-MS-APIM-Tokens\u0027]))[\u0027$ConnectionKey\u0027]"
                        }
                      }
                    },
                    "Compose_Photo_5": {
                      "runAfter": {
                        "Condition_to_check_if_photo_5_has_a_caption": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "e3251a85-5f21-45a4-93f1-fc05ca5b2284"
                      },
                      "type": "Compose",
                      "inputs": {
                        "$content-type": "image/jpeg",
                        "$content": "@{base64(outputs(\u0027Download_Photo_4\u0027)?[\u0027body\u0027])}"
                      }
                    },
                    "Set_Photo4_2": {
                      "runAfter": {
                        "Compose_Photo_5": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "0339fc8c-74dc-4717-8da2-fc1d44670642"
                      },
                      "type": "SetVariable",
                      "inputs": {
                        "name": "Photo5",
                        "value": "@outputs(\u0027Compose_Photo_5\u0027)"
                      }
                    },
                    "Get_a_row_by_ID_Caption_for_photo_5": {
                      "runAfter": {
                        "Download_Photo_4": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "a4abadfd-d686-4c82-9ceb-14cff631ff20"
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": {
                          "connectionName": "shared_commondataserviceforapps",
                          "operationId": "GetItem",
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                        },
                        "parameters": {
                          "entityName": "cp_photos",
                          "recordId": "@body(\u0027List_Photos\u0027)?[\u0027value\u0027]?[4]?.cp_photoid"
                        },
                        "authentication": {
                          "type": "Raw",
                          "value": "@json(decodeBase64(triggerOutputs().headers[\u0027X-MS-APIM-Tokens\u0027]))[\u0027$ConnectionKey\u0027]"
                        }
                      }
                    },
                    "Condition_to_check_if_photo_5_has_a_caption": {
                      "actions": {
                        "Set_variable_19": {
                          "runAfter": {},
                          "metadata": {
                            "operationMetadataId": "8a263c7b-d45b-4f01-a26c-3fa4fb16fa68"
                          },
                          "type": "SetVariable",
                          "inputs": {
                            "name": "Photocaption 5",
                            "value": "\u0027Vehicle Ticket Photo 5\u0027"
                          }
                        }
                      },
                      "runAfter": {
                        "Get_a_row_by_ID_Caption_for_photo_5": [
                          "Succeeded"
                        ]
                      },
                      "else": {
                        "actions": {
                          "Set_variable_caption_4": {
                            "runAfter": {},
                            "metadata": {
                              "operationMetadataId": "426b3e01-aa11-4b36-bf8a-8e491e8b6673"
                            },
                            "type": "SetVariable",
                            "inputs": {
                              "name": "Photocaption 5",
                              "value": "@outputs(\u0027Get_a_row_by_ID_Caption_for_photo_5\u0027)?[\u0027body/cp_phototitle\u0027]"
                            }
                          }
                        }
                      },
                      "expression": {
                        "equals": [
                          "@empty(outputs(\u0027Get_a_row_by_ID_Caption_for_photo_5\u0027)?[\u0027body/cp_phototitle\u0027])",
                          "@true"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "2e5775eb-d3a1-48f3-a4aa-9789500d7cc1"
                      },
                      "type": "If"
                    }
                  }
                },
                "expression": {
                  "equals": [
                    "@empty(body(\u0027List_photos\u0027)?[\u0027value\u0027]?[4]?.cp_imageid)",
                    "@true"
                  ]
                },
                "metadata": {
                  "operationMetadataId": "9a8ebb81-8ae3-4ec1-bcb3-1452e9ee8c97"
                },
                "type": "If"
              }
            }
          },
          "expression": {
            "equals": [
              "@empty(outputs(\u0027List_photos\u0027)?[\u0027body/value\u0027])",
              "@true"
            ]
          },
          "metadata": {
            "operationMetadataId": "87168b23-4787-404f-a2bf-3a9910c5f329"
          },
          "type": "If"
        },
        "Initialize_Photo_1_Object": {
          "runAfter": {
            "Initialize_Photos_Array": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "1ac6cc89-0dd4-48e3-9d10-6f377f913320"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Photo1",
                "type": "object",
                "value": {
                  "$content-type": "image/jpeg",
                  "$content": "iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVQYV2NgYAAAAAMAAWgmWQ0AAAAASUVORK5CYII="
                }
              }
            ]
          }
        },
        "Initialize_Photo_2_Object": {
          "runAfter": {
            "Initialize_Photo_1_Object": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "c118b862-3d8d-4f98-8a92-12fb55a95d65"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Photo2",
                "type": "object",
                "value": {
                  "$content-type": "image/jpeg",
                  "$content": "iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVQYV2NgYAAAAAMAAWgmWQ0AAAAASUVORK5CYII="
                }
              }
            ]
          }
        },
        "Initialize_Photo_3_Object": {
          "runAfter": {
            "Initialize_Photo_2_Object": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "c24b527b-2acd-4a6f-a200-e1d81bd10165"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Photo3",
                "type": "object",
                "value": {
                  "$content-type": "image/jpeg",
                  "$content": "iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVQYV2NgYAAAAAMAAWgmWQ0AAAAASUVORK5CYII="
                }
              }
            ]
          }
        },
        "Initialize_Photo_4_Object": {
          "runAfter": {
            "Initialize_Photo_3_Object": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "636e174a-20e7-440c-bb9d-ee53d48c1b5c"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Photo4",
                "type": "object",
                "value": {
                  "$content-type": "image/jpeg",
                  "$content": "iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVQYV2NgYAAAAAMAAWgmWQ0AAAAASUVORK5CYII="
                }
              }
            ]
          }
        },
        "Initialize_Photo_5_Object": {
          "runAfter": {
            "Initialize_Photo_4_Object": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "f83f8e03-f1da-4b4d-8406-148bb1b3370a"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Photo5",
                "type": "object",
                "value": {
                  "$content-type": "image/jpeg",
                  "$content": "iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVQYV2NgYAAAAAMAAWgmWQ0AAAAASUVORK5CYII="
                }
              }
            ]
          }
        },
        "List_rows_Use_of_Force_Reasons_": {
          "runAfter": {
            "If_photos_exists": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "5ccb017f-d6ea-4bb4-ae8d-d2cfb8275bbb"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "ListRecords",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "cp_useofforce_cp_useforcereasonset",
              "$filter": "cp_useofforceid eq @{triggerBody()[\u0027text\u0027]}"
            },
            "authentication": {
              "type": "Raw",
              "value": "@json(decodeBase64(triggerOutputs().headers[\u0027X-MS-APIM-Tokens\u0027]))[\u0027$ConnectionKey\u0027]"
            }
          }
        },
        "Initialize_Photos_Array": {
          "runAfter": {
            "Initialize_Photo_5_variable": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "de2cc3ad-7dea-45da-a252-3e7ad1c815de"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Photos",
                "type": "array",
                "value": "@null"
              }
            ]
          }
        },
        "Initialize_Photo_1_variable": {
          "runAfter": {
            "If_there_is_an_birthdate_calculate_the_age": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "83624e01-0214-4e16-8e14-b84d6b8c8e90"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "PhotoCaption1",
                "type": "string",
                "value": "@{null}"
              }
            ]
          }
        },
        "Initialize_Photo_2_variable": {
          "runAfter": {
            "Initialize_Photo_1_variable": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "32d63be6-a812-4871-8468-4c1bfc5b6e20"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "PhotoCaption2",
                "type": "string",
                "value": "@{null}"
              }
            ]
          }
        },
        "Initialize_Photo_3_variable_": {
          "runAfter": {
            "Initialize_Photo_2_variable": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "a2828065-fff4-439d-a2da-849cf5baf658"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "PhotoCaption3",
                "type": "string",
                "value": "@{null}"
              }
            ]
          }
        },
        "Initialize_Photo_4_variable": {
          "runAfter": {
            "Initialize_Photo_3_variable_": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "0681bd32-b341-4f84-827e-9010b673270b"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "PhotoCaption4",
                "type": "string",
                "value": "@{null}"
              }
            ]
          }
        },
        "Initialize_Photo_5_variable": {
          "runAfter": {
            "Initialize_Photo_4_variable": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "c7c694b6-6e9c-4033-ac6c-42ed0dace7bd"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Photocaption 5",
                "type": "string",
                "value": "@{null}"
              }
            ]
          }
        },
        "Check_if_there_are_any_reasons_for_UoF_Record": {
          "actions": {},
          "runAfter": {
            "List_rows_Use_of_Force_Reasons_": [
              "Succeeded"
            ]
          },
          "else": {
            "actions": {
              "Apply_to_each_Reasons": {
                "foreach": "@outputs(\u0027List_rows_Use_of_Force_Reasons_\u0027)?[\u0027body/value\u0027]",
                "actions": {
                  "Get_a_row_by_ID_for_UoF_reasons_": {
                    "runAfter": {},
                    "metadata": {
                      "operationMetadataId": "6dd82b75-f1ce-45d1-a57b-c1b12fdcf1fa"
                    },
                    "type": "OpenApiConnection",
                    "inputs": {
                      "host": {
                        "connectionName": "shared_commondataserviceforapps",
                        "operationId": "GetItem",
                        "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                      },
                      "parameters": {
                        "entityName": "cp_useforcereasons",
                        "recordId": "@items(\u0027Apply_to_each_Reasons\u0027)?[\u0027cp_useforcereasonid\u0027]"
                      },
                      "authentication": {
                        "type": "Raw",
                        "value": "@json(decodeBase64(triggerOutputs().headers[\u0027X-MS-APIM-Tokens\u0027]))[\u0027$ConnectionKey\u0027]"
                      }
                    }
                  },
                  "Append_to_array_UoF_Reasons": {
                    "runAfter": {
                      "Get_a_row_by_ID_for_UoF_reasons_": [
                        "Succeeded"
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "4e866628-398c-4b1c-9bcc-13b3b12f8610"
                    },
                    "type": "AppendToArrayVariable",
                    "inputs": {
                      "name": "UoF Reasons",
                      "value": {
                        "Incident Level Reason for using force": "@{outputs(\u0027Get_a_row_by_ID_for_UoF_reasons_\u0027)?[\u0027body/cp_name\u0027]}"
                      }
                    }
                  }
                },
                "runAfter": {},
                "metadata": {
                  "operationMetadataId": "24e0c90c-b481-4139-af53-782c1666edea"
                },
                "type": "Foreach"
              }
            }
          },
          "expression": {
            "equals": [
              "@empty(outputs(\u0027List_rows_Use_of_Force_Reasons_\u0027)?[\u0027body/value\u0027])\r\n",
              "@true"
            ]
          },
          "metadata": {
            "operationMetadataId": "eec9dad8-9bf9-41ee-966c-88bcd0ba151b"
          },
          "type": "If"
        },
        "UOF_Reasons_RT": {
          "runAfter": {
            "Initialize_Photo_5_Object": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "b8250ec7-ece9-40ff-95ad-a9bfc460d0f9"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "UoF Reasons",
                "type": "array"
              }
            ]
          }
        },
        "List_rows_Use_of_Force_Outcomes": {
          "runAfter": {
            "Check_if_there_are_any_reasons_for_UoF_Record": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "374e4fc8-bada-46f5-87cf-d0b9364c337e"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "ListRecords",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "cp_useforceoutcome_cp_useofforceset",
              "$filter": "cp_useofforceid eq @{triggerBody()[\u0027text\u0027]}"
            },
            "authentication": {
              "type": "Raw",
              "value": "@json(decodeBase64(triggerOutputs().headers[\u0027X-MS-APIM-Tokens\u0027]))[\u0027$ConnectionKey\u0027]"
            }
          }
        },
        "UOF_Outcome_RT_": {
          "runAfter": {
            "UOF_Reasons_RT": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "d96baa7e-40a4-4e59-bb45-16a3b1d6b68a"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "UoF Outcomes",
                "type": "array"
              }
            ]
          }
        },
        "Check_if_there_are_any_outcomes_for_UoF_Record_": {
          "actions": {},
          "runAfter": {
            "List_rows_Use_of_Force_Outcomes": [
              "Succeeded"
            ]
          },
          "else": {
            "actions": {
              "Apply_to_each_Outcomes": {
                "foreach": "@outputs(\u0027List_rows_Use_of_Force_Outcomes\u0027)?[\u0027body/value\u0027]",
                "actions": {
                  "Get_a_row_by_ID_for_UoF_Outcomes": {
                    "runAfter": {},
                    "metadata": {
                      "operationMetadataId": "df5024b6-d046-4d17-8cdb-6f7ff2627459"
                    },
                    "type": "OpenApiConnection",
                    "inputs": {
                      "host": {
                        "connectionName": "shared_commondataserviceforapps",
                        "operationId": "GetItem",
                        "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                      },
                      "parameters": {
                        "entityName": "cp_useforceoutcomes",
                        "recordId": "@items(\u0027Apply_to_each_Outcomes\u0027)?[\u0027cp_useforceoutcomeid\u0027]"
                      },
                      "authentication": {
                        "type": "Raw",
                        "value": "@json(decodeBase64(triggerOutputs().headers[\u0027X-MS-APIM-Tokens\u0027]))[\u0027$ConnectionKey\u0027]"
                      }
                    }
                  },
                  "Append_to_array_UoF_Outcomes": {
                    "runAfter": {
                      "Get_a_row_by_ID_for_UoF_Outcomes": [
                        "Succeeded"
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "ec186d28-b34a-412b-a09a-1bf96bd5c7c5"
                    },
                    "type": "AppendToArrayVariable",
                    "inputs": {
                      "name": "UoF Outcomes",
                      "value": {
                        "Outcome What subsequently happened": "@{outputs(\u0027Get_a_row_by_ID_for_UoF_Outcomes\u0027)?[\u0027body/cp_name\u0027]}"
                      }
                    }
                  }
                },
                "runAfter": {},
                "metadata": {
                  "operationMetadataId": "e7036612-4c20-4f4b-8718-86fa7c699b52"
                },
                "type": "Foreach"
              }
            }
          },
          "expression": {
            "equals": [
              "@empty(outputs(\u0027List_rows_Use_of_Force_Outcomes\u0027)?[\u0027body/value\u0027])",
              "@true"
            ]
          },
          "metadata": {
            "operationMetadataId": "3d357866-80e2-4981-bb8a-c11d8d18bf90"
          },
          "type": "If"
        },
        "List_rows_Use_of_Force_Impact_Factors": {
          "runAfter": {
            "Check_if_there_are_any_outcomes_for_UoF_Record_": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "e047a67e-afb7-4ce4-9da2-78b8a67df90c"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "ListRecords",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "cp_useofforce_uof_impactfactorset",
              "$filter": "cp_useofforceid eq @{triggerBody()[\u0027text\u0027]}"
            },
            "authentication": {
              "type": "Raw",
              "value": "@json(decodeBase64(triggerOutputs().headers[\u0027X-MS-APIM-Tokens\u0027]))[\u0027$ConnectionKey\u0027]"
            }
          }
        },
        "Check_if_there_are_any_impact_factors_for_UoF_Record__": {
          "actions": {},
          "runAfter": {
            "List_rows_Use_of_Force_Impact_Factors": [
              "Succeeded"
            ]
          },
          "else": {
            "actions": {
              "Apply_to_each_impact_factor": {
                "foreach": "@outputs(\u0027List_rows_Use_of_Force_Impact_Factors\u0027)?[\u0027body/value\u0027]",
                "actions": {
                  "Get_a_row_by_ID_Impact_Factors": {
                    "runAfter": {},
                    "metadata": {
                      "operationMetadataId": "08c1a353-6cd1-42bf-89af-57f3a55f75e9"
                    },
                    "type": "OpenApiConnection",
                    "inputs": {
                      "host": {
                        "connectionName": "shared_commondataserviceforapps",
                        "operationId": "GetItem",
                        "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                      },
                      "parameters": {
                        "entityName": "cp_useofforceimpactfactors",
                        "recordId": "@items(\u0027Apply_to_each_impact_factor\u0027)?[\u0027cp_useofforceimpactfactorid\u0027]"
                      },
                      "authentication": {
                        "type": "Raw",
                        "value": "@json(decodeBase64(triggerOutputs().headers[\u0027X-MS-APIM-Tokens\u0027]))[\u0027$ConnectionKey\u0027]"
                      }
                    }
                  },
                  "Append_to_array_UoF_Impact_Factors": {
                    "runAfter": {
                      "Get_a_row_by_ID_Impact_Factors": [
                        "Succeeded"
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "6814e6a6-8bff-4c34-8841-49f49eee1360"
                    },
                    "type": "AppendToArrayVariable",
                    "inputs": {
                      "name": "UoF Impact Factors",
                      "value": {
                        "Impact Factors": "@{outputs(\u0027Get_a_row_by_ID_Impact_Factors\u0027)?[\u0027body/cp_name\u0027]}"
                      }
                    }
                  }
                },
                "runAfter": {},
                "metadata": {
                  "operationMetadataId": "b19b678d-d270-4991-b4b4-1681969632a4"
                },
                "type": "Foreach"
              }
            }
          },
          "expression": {
            "equals": [
              "@empty(outputs(\u0027List_rows_Use_of_Force_Impact_Factors\u0027)?[\u0027body/value\u0027])",
              "@true"
            ]
          },
          "metadata": {
            "operationMetadataId": "7ac9bd5a-2275-4b51-92f4-18afc7a51f8f"
          },
          "type": "If"
        },
        "UOF_Impact_Factors_RT_": {
          "runAfter": {
            "UOF_Outcome_RT_": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "3640adaa-1dfe-449e-955d-85e99fdf0af9"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "UoF Impact Factors",
                "type": "array"
              }
            ]
          }
        },
        "List_rows_Use_of_Force_Tactics": {
          "runAfter": {
            "Check_if_there_are_any_impact_factors_for_UoF_Record__": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "a29da480-5ef1-4114-b24b-421312791839"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "ListRecords",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "cp_tactics",
              "$filter": "_cp_useofforce_value eq @{triggerBody()[\u0027text\u0027]}"
            },
            "authentication": {
              "type": "Raw",
              "value": "@json(decodeBase64(triggerOutputs().headers[\u0027X-MS-APIM-Tokens\u0027]))[\u0027$ConnectionKey\u0027]"
            }
          }
        },
        "UOF_Tactics_RT_": {
          "runAfter": {
            "UOF_Impact_Factors_RT_": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "d010b498-3639-4916-8a73-067a2e471679"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "UoF Tactics",
                "type": "array"
              }
            ]
          }
        },
        "Check_if_there_are_any_Tactics_for_UoF_Record_": {
          "actions": {},
          "runAfter": {
            "List_rows_Use_of_Force_Tactics": [
              "Succeeded"
            ]
          },
          "else": {
            "actions": {
              "Apply_to_each_Tactics": {
                "foreach": "@outputs(\u0027List_rows_Use_of_Force_Tactics\u0027)?[\u0027body/value\u0027]",
                "actions": {
                  "Get_a_row_by_ID_Tactics": {
                    "runAfter": {},
                    "metadata": {
                      "operationMetadataId": "9dd0d1dd-544f-40e7-b5d6-b214d1842242"
                    },
                    "type": "OpenApiConnection",
                    "inputs": {
                      "host": {
                        "connectionName": "shared_commondataserviceforapps",
                        "operationId": "GetItem",
                        "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                      },
                      "parameters": {
                        "entityName": "cp_tactics",
                        "recordId": "@items(\u0027Apply_to_each_Tactics\u0027)?[\u0027cp_tacticid\u0027]",
                        "$expand": "cp_TacticType($select=cp_name)"
                      },
                      "authentication": {
                        "type": "Raw",
                        "value": "@json(decodeBase64(triggerOutputs().headers[\u0027X-MS-APIM-Tokens\u0027]))[\u0027$ConnectionKey\u0027]"
                      }
                    }
                  },
                  "Append_to_array_Tactics": {
                    "runAfter": {
                      "Get_a_row_by_ID_Tactics": [
                        "Succeeded"
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "9691e16b-270c-4bf1-9130-19d646600e62"
                    },
                    "type": "AppendToArrayVariable",
                    "inputs": {
                      "name": "UoF Tactics",
                      "value": {
                        "Tactics tactic used": "@{outputs(\u0027Get_a_row_by_ID_Tactics\u0027)?[\u0027body/cp_tactictype/cp_name\u0027]}",
                        "Tactics Was the tactic used effective": "@{outputs(\u0027Get_a_row_by_ID_Tactics\u0027)?[\u0027body/cp_effective@OData.Community.Display.V1.FormattedValue\u0027]}"
                      }
                    }
                  }
                },
                "runAfter": {},
                "metadata": {
                  "operationMetadataId": "79d2a18a-39a2-470a-9f5e-c06c8fe31389"
                },
                "type": "Foreach"
              }
            }
          },
          "expression": {
            "equals": [
              "@empty(outputs(\u0027List_rows_Use_of_Force_Tactics\u0027)?[\u0027body/value\u0027])",
              "@true"
            ]
          },
          "metadata": {
            "operationMetadataId": "4d48f35c-e1c4-4a53-8e3f-540d608dac02"
          },
          "type": "If"
        },
        "Initialize_GeneratedDocumentId": {
          "runAfter": {
            "Check_if_there_are_any_Tactics_for_UoF_Record_": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "2bfb5f89-9098-46c0-876c-f0f9759b4406"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "GeneratedDocumentId",
                "type": "string",
                "value": "@{guid()}"
              }
            ]
          }
        },
        "Populate_a_Microsoft_Word_template": {
          "runAfter": {
            "Initialize_GeneratedDocumentId": [
              "Succeeded"
            ]
          },
          "metadata": {
            "014YZTY7ZL2WGYKYNIEVCJFKMDJS7PKGKH": "/Templates/Use of Force/Use of Force.docx",
            "014YZTY756N6TFNDD3XRH3PHGI7PMQBYZR": "/Templates/Use of Force/Use of Force PDF Template.docx",
            "operationMetadataId": "d4048f38-25a5-4277-85e0-711bc43ea2c8",
            "01JPJUSCPQL76JG7BTPVG2OGRLZTRSDHLU": "/Templates/UoF/Use of Force PDF Template.docx"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_wordonlinebusiness_1",
              "operationId": "CreateFileItem",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_wordonlinebusiness"
            },
            "parameters": {
              "source": "me",
              "drive": "b!k32VxZOE5U-HwWt6Ey23yGSuL7xVALpHlDcSd7uGMIo67u-9iOaWRrln1WJDTm3I",
              "file": "01JPJUSCPQL76JG7BTPVG2OGRLZTRSDHLU",
              "dynamicFileSchema/17669945": "@variables(\u0027PhotoCaption3\u0027)",
              "dynamicFileSchema/247697550": "@outputs(\u0027Get_a_row_by_ID_Subject\u0027)?[\u0027body/lastname\u0027]",
              "dynamicFileSchema/248779682": "@outputs(\u0027Get_UoF_record_\u0027)?[\u0027body/cp_subjectinjurylevel/cp_name\u0027]",
              "dynamicFileSchema/299049179": "@outputs(\u0027Get_UoF_record_\u0027)?[\u0027body/cp_subjectunknownofficerdefinedethnicity/cp_name\u0027]",
              "dynamicFileSchema/318009628": "@outputs(\u0027Get_UoF_record_\u0027)?[\u0027body/cp_injuryondutyformsubmitted@OData.Community.Display.V1.FormattedValue\u0027]",
              "dynamicFileSchema/331262738": "@outputs(\u0027Get_a_row_by_ID_Officer_staff_details\u0027)?[\u0027body/cp_safetytraining/cp_name\u0027]",
              "dynamicFileSchema/331412494": "@outputs(\u0027Get_a_row_by_ID_(officer_from_user)\u0027)?[\u0027body/lastname\u0027]",
              "dynamicFileSchema/341983245": "@variables(\u0027UoF Reasons\u0027)",
              "dynamicFileSchema/393243949": "@outputs(\u0027Get_UoF_record_\u0027)?[\u0027body/cp_injuredasaresultofthesubjectassaultingyou\u0027]",
              "dynamicFileSchema/408893927": "@outputs(\u0027Get_UoF_record_\u0027)?[\u0027body/cp_subjectmedicalassistanceprovided@OData.Community.Display.V1.FormattedValue\u0027]",
              "dynamicFileSchema/507576653": "@outputs(\u0027Get_a_row_by_ID_Subject\u0027)?[\u0027body/cp_gender/cp_name\u0027]",
              "dynamicFileSchema/545648224": "@outputs(\u0027Get_UoF_record_\u0027)?[\u0027body/cp_subjectunknownmentalimpairement@OData.Community.Display.V1.FormattedValue\u0027]",
              "dynamicFileSchema/576320829": "@outputs(\u0027Get_a_row_by_ID_(officer_from_user)\u0027)?[\u0027body/firstname\u0027]",
              "dynamicFileSchema/586508949": "@outputs(\u0027Get_a_row_by_ID_(officer_from_user)\u0027)?[\u0027body/positionid/name\u0027]",
              "dynamicFileSchema/597376353": "@outputs(\u0027Get_UoF_record_\u0027)?[\u0027body/cp_singlecrew@OData.Community.Display.V1.FormattedValue\u0027]",
              "dynamicFileSchema/634222197": "@if(empty(outputs(\u0027Get_a_row_by_ID_Subject\u0027)?[\u0027body/birthdate\u0027]),\u0027\u0027,formatDateTime(convertTimeZone(outputs(\u0027Get_a_row_by_ID_Subject\u0027)?[\u0027body/birthdate\u0027],\u0027UTC\u0027,\u0027GMT Standard Time\u0027),\u0027dd/MM/yyyy\u0027))",
              "dynamicFileSchema/667292796": "@outputs(\u0027Get_UoF_record_\u0027)?[\u0027body/cp_spat@OData.Community.Display.V1.FormattedValue\u0027]",
              "dynamicFileSchema/803503350": "@variables(\u0027Photo3\u0027)",
              "dynamicFileSchema/892470545": "@outputs(\u0027Get_UoF_record_\u0027)?[\u0027body/cp_officer/cp_badgenumber\u0027]",
              "dynamicFileSchema/963776201": "@outputs(\u0027Get_UoF_record_\u0027)?[\u0027body/cp_officerassaulted@OData.Community.Display.V1.FormattedValue\u0027]",
              "dynamicFileSchema/1079797796": "@variables(\u0027PhotoCaption4\u0027)",
              "dynamicFileSchema/1113479839": "@outputs(\u0027Get_a_row_by_ID_Officer_staff_details\u0027)?[\u0027body/cp_badgenumber\u0027]",
              "dynamicFileSchema/1163895767": "@outputs(\u0027Get_UoF_record_\u0027)?[\u0027body/cp_subjectunknownphysicalimpairement@OData.Community.Display.V1.FormattedValue\u0027]",
              "dynamicFileSchema/1260567544": "@outputs(\u0027Get_a_row_by_ID_Incident_Details\u0027)?[\u0027body/cp_incidentsuffix\u0027]",
              "dynamicFileSchema/1295483235": "@variables(\u0027Photo4\u0027)",
              "dynamicFileSchema/1384527551": "@variables(\u0027PhotoCaption1\u0027)",
              "dynamicFileSchema/1425450076": "@outputs(\u0027Get_UoF_record_\u0027)?[\u0027body/cp_bodycam@OData.Community.Display.V1.FormattedValue\u0027]",
              "dynamicFileSchema/1574617305": "@outputs(\u0027Get_UoF_record_\u0027)?[\u0027body/cp_place/cp_name\u0027]",
              "dynamicFileSchema/1631062419": "@variables(\u0027UoF Tactics\u0027)",
              "dynamicFileSchema/1717780233": "@variables(\u0027Photo1\u0027)",
              "dynamicFileSchema/1774894200": "@outputs(\u0027Get_UoF_record_\u0027)?[\u0027body/cp_officerspresent/cp_name\u0027]",
              "dynamicFileSchema/1800344995": "@outputs(\u0027Get_UoF_record_\u0027)?[\u0027body/cp_subjectinjury@OData.Community.Display.V1.FormattedValue\u0027]",
              "dynamicFileSchema/2009632383": "@variables(\u0027PhotoCaption2\u0027)",
              "dynamicFileSchema/2133893849": "@outputs(\u0027Get_a_row_by_ID_Officer_staff_details\u0027)?[\u0027body/firstname\u0027]",
              "dynamicFileSchema/-516385571": "@outputs(\u0027Get_a_row_by_ID_Incident_Details\u0027)?[\u0027body/cp_incidentnumber\u0027]",
              "dynamicFileSchema/-1890800649": "@if(empty(outputs(\u0027Get_a_row_by_ID_Incident_Details\u0027)?[\u0027body/cp_incidentdate\u0027]),\u0027\u0027,formatDateTime(convertTimeZone(outputs(\u0027Get_a_row_by_ID_Incident_Details\u0027)?[\u0027body/cp_incidentdate\u0027],\u0027UTC\u0027,\u0027GMT Standard Time\u0027),\u0027dd/MM/yyyy HH:mm:ss\u0027))",
              "dynamicFileSchema/-242724974": "@if(empty(outputs(\u0027Get_a_row_by_ID_Incident_Details\u0027)?[\u0027body/cp_incidentdate\u0027]),\u0027\u0027,formatDateTime(convertTimeZone(outputs(\u0027Get_a_row_by_ID_Incident_Details\u0027)?[\u0027body/cp_incidentdate\u0027],\u0027UTC\u0027,\u0027GMT Standard Time\u0027),\u0027HH:mm:ss\u0027))",
              "dynamicFileSchema/-1303077361": "@outputs(\u0027Get_UoF_record_\u0027)?[\u0027body/cp_tpa/cp_name\u0027]",
              "dynamicFileSchema/-684358319": "@outputs(\u0027Get_a_row_by_ID_Officer_staff_details\u0027)?[\u0027body/title\u0027]",
              "dynamicFileSchema/-146126988": "@outputs(\u0027Get_a_row_by_ID_Officer_staff_details\u0027)?[\u0027body/lastname\u0027]",
              "dynamicFileSchema/-147054355": "@outputs(\u0027Get_a_row_by_ID_Officer_staff_details\u0027)?[\u0027body/positionid/name\u0027]",
              "dynamicFileSchema/-203946044": "@outputs(\u0027Get_UoF_record_\u0027)?[\u0027body/cp_officer/cp_detective@OData.Community.Display.V1.FormattedValue\u0027]",
              "dynamicFileSchema/-1376304258": "@outputs(\u0027Get_a_row_by_ID_Officer_staff_details\u0027)?[\u0027body/cp_servicelength/cp_name\u0027]",
              "dynamicFileSchema/-1709562234": "@outputs(\u0027Get_a_row_by_ID_Officer_staff_details\u0027)?[\u0027body/cp_psutraining/cp_name\u0027]",
              "dynamicFileSchema/-904526711": "@outputs(\u0027Get_a_row_by_ID_Officer_staff_details\u0027)?[\u0027body/cp_territory/cp_name\u0027]",
              "dynamicFileSchema/-1402210148": "@outputs(\u0027Get_UoF_record_\u0027)?[\u0027body/cp_subjectrole/cp_name\u0027]",
              "dynamicFileSchema/-362591863": "@outputs(\u0027Get_a_row_by_ID_Subject\u0027)?[\u0027body/firstname\u0027]",
              "dynamicFileSchema/-1298995852": "@outputs(\u0027Get_a_row_by_ID_Subject\u0027)?[\u0027body/cp_perceivedethnicity/cp_name\u0027]",
              "dynamicFileSchema/-1901118625": "@outputs(\u0027Get_UoF_record_\u0027)?[\u0027body/cp_subjectunknowngender/cp_name\u0027]",
              "dynamicFileSchema/-1444988411": "@outputs(\u0027Get_UoF_record_\u0027)?[\u0027body/cp_subjectunknownperceivedage/cp_name\u0027]",
              "dynamicFileSchema/-1995864579": "@outputs(\u0027Get_UoF_record_\u0027)?[\u0027body/cp_tpa/cp_name\u0027]",
              "dynamicFileSchema/-1012301626": "@outputs(\u0027Get_UoF_record_\u0027)?[\u0027body/cp_subjectbehaviour/cp_name\u0027]",
              "dynamicFileSchema/-1743014235": "@outputs(\u0027Get_UoF_record_\u0027)?[\u0027body/cp_officerthreatdetails/cp_name\u0027]",
              "dynamicFileSchema/-765157215": "@outputs(\u0027Get_UoF_record_\u0027)?[\u0027body/cp_assaultdetails/cp_name\u0027]",
              "dynamicFileSchema/-1470054956": "@outputs(\u0027Get_UoF_record_\u0027)?[\u0027body/cp_officermainduty/cp_name\u0027]",
              "dynamicFileSchema/-262845057": "@outputs(\u0027Get_UoF_record_\u0027)?[\u0027body/cp_trainedconductedenergydeviceced@OData.Community.Display.V1.FormattedValue\u0027]",
              "dynamicFileSchema/-1727591644": "@outputs(\u0027Get_UoF_record_\u0027)?[\u0027body/cp_carrytaser@OData.Community.Display.V1.FormattedValue\u0027]",
              "dynamicFileSchema/-99423767": "@outputs(\u0027Get_UoF_record_\u0027)?[\u0027body/cp_howmanysubjectinvolved\u0027]",
              "dynamicFileSchema/-1453475260": "@outputs(\u0027Get_UoF_record_\u0027)?[\u0027body/cp_officerphysicallyinjured/cp_name\u0027]",
              "dynamicFileSchema/-1749881940": "@outputs(\u0027Get_UoF_record_\u0027)?[\u0027body/cp_officerphysicallyinjured/cp_name\u0027]",
              "dynamicFileSchema/-1807611260": "@outputs(\u0027Get_UoF_record_\u0027)?[\u0027body/cp_officermedicalassistance@OData.Community.Display.V1.FormattedValue\u0027]",
              "dynamicFileSchema/-7520229": "@outputs(\u0027Get_UoF_record_\u0027)?[\u0027body/cp_subjectmedicalassistanceoffered@OData.Community.Display.V1.FormattedValue\u0027]",
              "dynamicFileSchema/-794758952": "@variables(\u0027UoF Outcomes\u0027)",
              "dynamicFileSchema/-932114568": "@outputs(\u0027Get_UoF_record_\u0027)?[\u0027body/cp_crimereportsubmitted@OData.Community.Display.V1.FormattedValue\u0027]",
              "dynamicFileSchema/-1897354720": "@variables(\u0027UoF Impact Factors\u0027)",
              "dynamicFileSchema/-2108188279": "@variables(\u0027Photo2\u0027)",
              "dynamicFileSchema/-281339158": "@variables(\u0027Photocaption 5\u0027)",
              "dynamicFileSchema/-15462028": "@variables(\u0027Photo5\u0027)"
            },
            "authentication": {
              "type": "Raw",
              "value": "@json(decodeBase64(triggerOutputs().headers[\u0027X-MS-APIM-Tokens\u0027]))[\u0027$ConnectionKey\u0027]"
            }
          }
        },
        "Create_file_as_word_doc": {
          "runAfter": {
            "Populate_a_Microsoft_Word_template": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "48d729c3-12b1-4098-afd9-cb1778ac9992"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_onedriveforbusiness_1",
              "operationId": "CreateFile",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_onedriveforbusiness"
            },
            "parameters": {
              "folderPath": "/",
              "name": "@{variables(\u0027GeneratedDocumentId\u0027)}.docx",
              "body": "@outputs(\u0027Populate_a_Microsoft_Word_template\u0027)?[\u0027body\u0027]"
            },
            "authentication": {
              "type": "Raw",
              "value": "@json(decodeBase64(triggerOutputs().headers[\u0027X-MS-APIM-Tokens\u0027]))[\u0027$ConnectionKey\u0027]"
            }
          },
          "runtimeConfiguration": {
            "contentTransfer": {
              "transferMode": "Chunked"
            }
          }
        },
        "Convert_file": {
          "runAfter": {
            "Create_file_as_word_doc": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "eeb1f41e-e262-4b24-bf41-7af5650878c9"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_onedriveforbusiness_1",
              "operationId": "ConvertFile",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_onedriveforbusiness"
            },
            "parameters": {
              "id": "@outputs(\u0027Create_file_as_word_doc\u0027)?[\u0027body/Id\u0027]",
              "type": "PDF"
            },
            "authentication": {
              "type": "Raw",
              "value": "@json(decodeBase64(triggerOutputs().headers[\u0027X-MS-APIM-Tokens\u0027]))[\u0027$ConnectionKey\u0027]"
            }
          }
        },
        "Create_file__as_PDF": {
          "runAfter": {
            "Convert_file": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "3072f8b4-751c-49aa-88f5-e10a063490bb"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_onedriveforbusiness_1",
              "operationId": "CreateFile",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_onedriveforbusiness"
            },
            "parameters": {
              "folderPath": "/",
              "name": "Use of Force for Incident @{outputs(\u0027Get_a_row_by_ID_Incident_Details\u0027)?[\u0027body/cp_incidentnumber\u0027]}.pdf",
              "body": "@outputs(\u0027Convert_file\u0027)?[\u0027body\u0027]"
            },
            "authentication": {
              "type": "Raw",
              "value": "@json(decodeBase64(triggerOutputs().headers[\u0027X-MS-APIM-Tokens\u0027]))[\u0027$ConnectionKey\u0027]"
            }
          },
          "runtimeConfiguration": {
            "contentTransfer": {
              "transferMode": "Chunked"
            }
          }
        },
        "Delete_file": {
          "runAfter": {
            "Create_file__as_PDF": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "5ddd20a2-67c8-4cef-a870-c9b28e3d50c7"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_onedriveforbusiness_1",
              "operationId": "DeleteFile",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_onedriveforbusiness"
            },
            "parameters": {
              "id": "@outputs(\u0027Create_file_as_word_doc\u0027)?[\u0027body/Id\u0027]"
            },
            "authentication": {
              "type": "Raw",
              "value": "@json(decodeBase64(triggerOutputs().headers[\u0027X-MS-APIM-Tokens\u0027]))[\u0027$ConnectionKey\u0027]"
            }
          }
        },
        "Respond_to_a_PowerApp_or_flow": {
          "runAfter": {
            "Delete_file": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "93c8a725-31bc-4f05-bf77-439ae526ed96"
          },
          "type": "Response",
          "kind": "PowerApp",
          "inputs": {
            "statusCode": 200,
            "body": {
              "generatedpdf": "@outputs(\u0027Create_file__as_PDF\u0027)?[\u0027body/Id\u0027]"
            },
            "schema": {
              "type": "object",
              "properties": {
                "generatedpdf": {
                  "title": "GeneratedPDF",
                  "x-ms-dynamically-added": true,
                  "type": "string",
                  "format": "byte"
                }
              }
            }
          }
        },
        "Get_a_row_by_ID_(officer_from_user)": {
          "runAfter": {
            "Get_a_row_by_ID_Incident_Details": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "b4151a9a-09f1-4912-8567-41d39ac86301"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "GetItem",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "systemusers",
              "recordId": "@outputs(\u0027Get_UoF_record_\u0027)?[\u0027body/_ownerid_value\u0027]",
              "$expand": "positionid($select=name)"
            },
            "authentication": {
              "type": "Raw",
              "value": "@json(decodeBase64(triggerOutputs().headers[\u0027X-MS-APIM-Tokens\u0027]))[\u0027$ConnectionKey\u0027]"
            }
          }
        },
        "Get_UoF_record_": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "9543cb19-3ba4-4622-b0f9-f80ba8dbd288"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "GetItem",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "cp_useofforces",
              "recordId": "@triggerBody()[\u0027text\u0027]",
              "$expand": "cp_SubjectUnknownOfficerDefinedEthnicity($select=cp_name),cp_OfficerPhysicallyInjured($select=cp_name),cp_AssaultDetails($select=cp_name),cp_Place($select=cp_name),cp_OfficerMainDuty($select=cp_name),cp_SubjectInjuryLevel($select=cp_name),cp_TPA($select=cp_name),cp_SubjectUnknownGender($select=cp_name),cp_OfficersPresent($select=cp_name),cp_SubjectUnknownPerceivedAge($select=cp_name),cp_Officer,cp_SubjectRole($select=cp_name),cp_OfficerThreatDetails($select=cp_name),cp_SubjectBehaviour($select=cp_name),cp_Subject"
            },
            "authentication": {
              "type": "Raw",
              "value": "@json(decodeBase64(triggerOutputs().headers[\u0027X-MS-APIM-Tokens\u0027]))[\u0027$ConnectionKey\u0027]"
            }
          }
        },
        "Get_a_row_by_ID_Officer_staff_details": {
          "runAfter": {
            "List_Photos": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "98a74dd5-1ed2-4b1e-837f-2b439ecfea3b"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "GetItem",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "systemusers",
              "recordId": "@outputs(\u0027Get_UoF_record_\u0027)?[\u0027body/_cp_officer_value\u0027]",
              "$expand": "cp_SafetyTraining($select=cp_name),cp_PSUTraining($select=cp_name),positionid($select=name),cp_Territory($select=cp_name),cp_Gender($select=cp_name),cp_ServiceLength($select=cp_name),cp_StaffTitle($select=cp_name)"
            },
            "authentication": {
              "type": "Raw",
              "value": "@json(decodeBase64(triggerOutputs().headers[\u0027X-MS-APIM-Tokens\u0027]))[\u0027$ConnectionKey\u0027]"
            }
          }
        },
        "Initialize_variable_Age_of_Officer": {
          "runAfter": {
            "Is_Subject_Known": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "ceb76482-0da9-48c6-84f9-2be862d610c8"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "AgeofOfficer",
                "type": "float",
                "value": 0
              }
            ]
          }
        },
        "If_there_is_an_birthdate_calculate_the_age": {
          "actions": {
            "Set_variable": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "ad1c8fc9-570b-4a08-8e3d-1c66bb8480e8"
              },
              "type": "SetVariable",
              "inputs": {
                "name": "AgeofOfficer",
                "value": "@div(div(sub(ticks(utcNow(\u0027yyyy-MM-dd\u0027)),ticks(outputs(\u0027Get_UoF_record_\u0027)?[\u0027body/cp_officer/cp_birthdate\u0027]\r\n)),864000000000),365.25)"
              }
            }
          },
          "runAfter": {
            "Initialize_variable": [
              "Succeeded"
            ]
          },
          "expression": {
            "not": {
              "equals": [
                "@outputs(\u0027Get_UoF_record_\u0027)?[\u0027body/cp_officer/cp_birthdate\u0027]",
                "@null"
              ]
            }
          },
          "metadata": {
            "operationMetadataId": "cf94d499-0898-4a32-ad25-d37f131808d1"
          },
          "type": "If"
        },
        "Initialize_variable": {
          "runAfter": {
            "Initialize_variable_Age_of_Officer": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "6b4a2f47-cdf9-4a51-9c90-c54ef5d4b9ba"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "SubjectAge",
                "type": "boolean"
              }
            ]
          }
        },
        "Is_Subject_Known": {
          "actions": {
            "Get_a_row_by_ID_Subject": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "c1ffdc0b-754c-4202-a2ff-ae168721feed"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "GetItem",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "contacts",
                  "recordId": "@outputs(\u0027Get_UoF_record_\u0027)?[\u0027body/cp_subject/contactid\u0027]",
                  "$expand": "cp_Gender($select=cp_name),cp_LastOccupation($select=cp_name),cp_ContactTitle($select=cp_name),cp_ContactCountry($select=cp_name),cp_PerceivedAge($select=cp_name),cp_SelfDefinedEthnicity($select=cp_name),cp_ContactPreferredMethodofContact($select=cp_name),cp_OfficerDefinedEthnicity($select=cp_name),cp_PerceivedEthnicity($select=cp_name)"
                },
                "authentication": {
                  "type": "Raw",
                  "value": "@json(decodeBase64(triggerOutputs().headers[\u0027X-MS-APIM-Tokens\u0027]))[\u0027$ConnectionKey\u0027]"
                }
              }
            }
          },
          "runAfter": {
            "Get_a_row_by_ID_Officer_staff_details": [
              "Succeeded"
            ]
          },
          "expression": {
            "equals": [
              "@outputs(\u0027Get_UoF_record_\u0027)?[\u0027body/_cp_subjectrole_value\u0027]",
              "5cb5308b-a258-eb11-a812-0022489ba6ad"
            ]
          },
          "metadata": {
            "operationMetadataId": "18890361-8602-47b6-bdc1-7f5bf4246790"
          },
          "type": "If"
        }
      },
      "outputs": {}
    }
  },
  "schemaVersion": "1.0.0.0"
}