Schema/ProcessesRP/unpacked/Workflows/RPRP-NotifyReviewer-B4D2EDBA-F437-EC11-8C64-000D3A871FD0.json
{"properties":{"connectionReferences":{"shared_commondataserviceforapps":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_commondataserviceforapps"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"RPRP_Notify_Reviewer_Changed":{"type":"OpenApiConnectionWebhook","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"SubscribeWebhookTrigger","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"subscriptionRequest/message":3,"subscriptionRequest/entityname":"cp_rprp","subscriptionRequest/scope":4,"subscriptionRequest/filteringattributes":"cp_notifyreviewer"},"authentication":"@parameters('$authentication')"}}},"actions":{"IF_Notify_Reviewer":{"actions":{"Send_Email":{"runAfter":{"Set_Notify_Reviewer_to_0":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"PerformBoundAction","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"emails","actionName":"Microsoft.Dynamics.CRM.SendEmail","recordId":"@outputs('Create_Email')?['body/activityid']","item/IssueSend":true},"authentication":"@parameters('$authentication')"}},"Get_RPRP_Type":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"cp_rprptypes","recordId":"@triggerOutputs()?['body/_cp_type_value']"},"authentication":"@parameters('$authentication')"}},"Create_Email":{"runAfter":{"Get_Reviewer":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"CreateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"emails","item/activitypointer_activity_parties":[{"participationtypemask":2,"partyid@odata.bind":"/systemusers/@{triggerOutputs()?['body/_cp_reviewer_value']}"},{"participationtypemask":1,"partyid@odata.bind":"/queues/@{outputs('Get_RPRP_Type')?['body/_cp_emailfromqueue_value']}"}],"item/description":"<html>\n<body lang=\"EN-GB\" link=\"#0563C1\" vlink=\"#954F72\" style=\"word-wrap:break-word\">\n<div>\n<p>Dear @{outputs('Get_Reviewer')?['body/fullname']},</p>\n<p></p>\n<p>You have been allocated as the reviewer on a Reflective Practice Review Process (RPRP) for @{outputs('Get_Participant')?['body/fullname']}.</p>\n<p></p>\n<p>Please access the RPRP record <a href=\"@{variables('RecordUrl')}\">\nusing this link</a> and progress accordingly.</p>\n<p></p>\n@{variables('GuidanceHtml')}\n<p><b>Do not reply to this email as this mailbox is not monitored</b>.</p>\n<p></p>\n<p>Sincerely,</p>\n<p></p>\n<p>RPRP Administration</p>\n<p></p>\n</div>\n</body>\n</html>","item/regardingobjectid_cp_rprp_email@odata.bind":"/cp_rprps/@{triggerOutputs()?['body/cp_rprpid']}","item/subject":"Reflective Practice Review Process Guidance"},"authentication":"@parameters('$authentication')"}},"Get_Participant":{"runAfter":{"Got_Reviewer_Guidance_URL":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"systemusers","recordId":"@triggerOutputs()?['body/_cp_participant_value']"},"authentication":"@parameters('$authentication')"}},"Get_Reviewer":{"runAfter":{"Get_Participant":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"systemusers","recordId":"@triggerOutputs()?['body/_cp_reviewer_value']"},"authentication":"@parameters('$authentication')"}},"Set_Notify_Reviewer_to_0":{"runAfter":{"Create_Email":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"cp_rprps","recordId":"@triggerOutputs()?['body/cp_rprpid']","item/cp_notifyreviewer":0},"authentication":"@parameters('$authentication')"}},"Got_Reviewer_Guidance_URL":{"actions":{"Set_variable":{"runAfter":{},"type":"SetVariable","inputs":{"name":"GuidanceHtml","value":"<p>Guidance documentation for this process can be found <a href=\"@{outputs('Get_RPRP_Type')?['body/cp_reviewerguidanceurl']}\">\nat this link</a>.</p>\n<p></p>"}}},"runAfter":{"Get_RPRP_Type":["Succeeded"]},"expression":{"not":{"equals":["@coalesce(outputs('Get_RPRP_Type')?['body/cp_reviewerguidanceurl'],'')",""]}},"type":"If"}},"runAfter":{"Initialize_GuidanceHtml":["Succeeded"]},"expression":{"greater":["@triggerOutputs()?['body/cp_notifyreviewer']",0]},"type":"If"},"Initialize_RecordUrl":{"runAfter":{"Get_record":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"RecordUrl","type":"string","value":"https://@{uriHost(outputs('Get_record')?['body/@odata.id'])}/main.aspx?pagetype=entityrecord&etn=cp_rprp&id=@{triggerOutputs()?['body/cp_rprpid']}"}]}},"Get_record":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"cp_rprps","recordId":"@triggerOutputs()?['body/cp_rprpid']"},"authentication":"@parameters('$authentication')"}},"Initialize_GuidanceHtml":{"runAfter":{"Initialize_RecordUrl":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"GuidanceHtml","type":"string"}]}}}}},"schemaVersion":"1.0.0.0"}