Schema/ProcessesRP/unpacked/Workflows/RPRP-NotifyParticipant-01B8CBE4-4037-EC11-8C64-000D3A871D8B.json
{"properties":{"connectionReferences":{"shared_commondataserviceforapps":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"cp_sharedcommondataserviceforapps_525b9"},"api":{"name":"shared_commondataserviceforapps"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"RPRP_Notify_Participant_Changed":{"type":"OpenApiConnectionWebhook","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"SubscribeWebhookTrigger","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"subscriptionRequest/message":3,"subscriptionRequest/entityname":"cp_rprp","subscriptionRequest/scope":4,"subscriptionRequest/filteringattributes":"cp_notifyparticipant"},"authentication":"@parameters('$authentication')"}}},"actions":{"IF_Notify_Participant":{"actions":{"Send_Email":{"runAfter":{"Set_Participant_Notified_On_and_Notify_Participant_to_0":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"PerformBoundAction","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"emails","actionName":"Microsoft.Dynamics.CRM.SendEmail","recordId":"@outputs('Create_Email')?['body/activityid']","item/IssueSend":true},"authentication":"@parameters('$authentication')"}},"Get_RPRP_Type":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"cp_rprptypes","recordId":"@triggerOutputs()?['body/_cp_type_value']"},"authentication":"@parameters('$authentication')"}},"Create_Email":{"runAfter":{"Get_Reviewer":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"CreateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"emails","item/activitypointer_activity_parties":[{"participationtypemask":2,"partyid@odata.bind":"/systemusers/@{triggerOutputs()?['body/_cp_participant_value']}"},{"participationtypemask":1,"partyid@odata.bind":"/queues/@{outputs('Get_RPRP_Type')?['body/_cp_emailfromqueue_value']}"}],"item/description":"<html>\n<body lang=\"EN-GB\" link=\"#0563C1\" vlink=\"#954F72\" style=\"word-wrap:break-word\">\n<div>\n<p>Dear @{outputs('Get_Participant')?['body/fullname']},</p>\n<p></p>\n<p>A Reflective Practice Review Process has been initiated in which you are participant.</p>\n<p>Your nominated reviewer is @{outputs('Get_Reviewer')?['body/fullname']} who will contact you to arrange a reflective review.</p>\n<p></p>\n@{variables('GuidanceHtml')}\n<p>If you have any queries please contact your reviewer directly -\n<b>do not reply to this email as this mailbox is not monitored</b>.</p>\n<p></p>\n<p>Sincerely,</p>\n<p></p>\n<p>RPRP Administration</p>\n<p></p>\n</div>\n</body>\n</html>","item/regardingobjectid_cp_rprp_email@odata.bind":"/cp_rprps/@{triggerOutputs()?['body/cp_rprpid']}","item/subject":"Reflective Practice Review Process Guidance"},"authentication":"@parameters('$authentication')"}},"Get_Participant":{"runAfter":{"Got_Participant_Guidance_URL":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"systemusers","recordId":"@triggerOutputs()?['body/_cp_participant_value']"},"authentication":"@parameters('$authentication')"}},"Get_Reviewer":{"runAfter":{"Get_Participant":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"systemusers","recordId":"@triggerOutputs()?['body/_cp_reviewer_value']"},"authentication":"@parameters('$authentication')"}},"Set_Participant_Notified_On_and_Notify_Participant_to_0":{"runAfter":{"Create_Email":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"cp_rprps","recordId":"@triggerOutputs()?['body/cp_rprpid']","item/cp_notifyparticipant":0,"item/cp_participantnotifiedon":"@outputs('Create_Email')?['body/createdon']"},"authentication":"@parameters('$authentication')"}},"Got_Participant_Guidance_URL":{"actions":{"Set_variable":{"runAfter":{},"type":"SetVariable","inputs":{"name":"GuidanceHtml","value":"<p>Guidance documentation for this process can be found <a href=\"@{outputs('Get_RPRP_Type')?['body/cp_participantguidanceurl']}\">\nat this link</a>.</p>\n<p></p>"}}},"runAfter":{"Get_RPRP_Type":["Succeeded"]},"expression":{"not":{"equals":["@coalesce(outputs('Get_RPRP_Type')?['body/cp_participantguidanceurl'],'')",""]}},"type":"If"}},"runAfter":{"Initialize_GuidanceHtml":["Succeeded"]},"expression":{"greater":["@triggerOutputs()?['body/cp_notifyparticipant']",0]},"type":"If"},"Initialize_GuidanceHtml":{"runAfter":{},"type":"InitializeVariable","inputs":{"variables":[{"name":"GuidanceHtml","type":"string"}]}}}}},"schemaVersion":"1.0.0.0"}