Schema/ProcessesRP/unpacked/Workflows/RPRP-RemindParticipant-31B56932-1638-EC11-8C64-000D3A871FD0.json
{"properties":{"connectionReferences":{"shared_commondataserviceforapps":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_commondataserviceforapps"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"RPRP_Status_Reason_Changed":{"type":"OpenApiConnectionWebhook","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"SubscribeWebhookTrigger","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"subscriptionRequest/message":3,"subscriptionRequest/entityname":"cp_rprp","subscriptionRequest/scope":4,"subscriptionRequest/filteringattributes":"statuscode"},"authentication":"@parameters('$authentication')"}}},"actions":{"IF_Awaiting_Participant_Acceptance_And_Reminder_Hours_Set":{"actions":{"Delay":{"runAfter":{},"type":"Wait","inputs":{"interval":{"count":"@outputs('Get_RPRP_Type')?['body/cp_participantacceptancereminderhours']","unit":"Hour"}}},"If_Still_Awaiting_Participant_Acceptance_Status":{"actions":{"Create_Email":{"runAfter":{"Set_RecordUrl":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"CreateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"emails","item/activitypointer_activity_parties":[{"participationtypemask":2,"partyid@odata.bind":"/systemusers/@{triggerOutputs()?['body/_cp_participant_value']}"},{"participationtypemask":1,"partyid@odata.bind":"/queues/@{outputs('Get_RPRP_Type')?['body/_cp_emailfromqueue_value']}"}],"item/description":"<html>\n<body lang=\"EN-GB\" link=\"#0563C1\" vlink=\"#954F72\" style=\"word-wrap:break-word\">\n<div>\n<p>Dear @{outputs('Get_Participant')?['body/fullname']},</p>\n<p></p>\n<p>This is a reminder that you still need to accept or reject the record of your recent RPRP review meeting.</p>\n<p></p>\n<p>Use <a href=\"@{variables('RecordUrl')}\">this link</a> to access the record and select Accept or Reject.</p>\n<p></p>\n<p>Guidance documentation for this process can be found <a href=\"@{outputs('Get_RPRP_Type')?['body/cp_participantguidanceurl']}\">\nat this link</a>.</p>\n<p></p>\n<p>If you have any queries please contact your reviewer @{outputs('Get_Reviewer')?['body/fullname']} directly.</p>\n<p><b>Do not reply to this email as this mailbox is not monitored</b>.</p>\n<p></p>\n<p>Sincerely,</p>\n<p></p>\n<p>RPRP Administration</p>\n<p></p>\n</div>\n</body>\n</html>","item/regardingobjectid_cp_rprp_email@odata.bind":"/cp_rprps/@{triggerOutputs()?['body/cp_rprpid']}","item/subject":"RPRP Review Record Acceptance Reminder"},"authentication":"@parameters('$authentication')"}},"Send_Email":{"runAfter":{"Create_Email":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"PerformBoundAction","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"emails","actionName":"Microsoft.Dynamics.CRM.SendEmail","recordId":"@outputs('Create_Email')?['body/activityid']","item/IssueSend":true},"authentication":"@parameters('$authentication')"}},"Get_Participant":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"systemusers","recordId":"@triggerOutputs()?['body/_cp_participant_value']"},"authentication":"@parameters('$authentication')"}},"Get_Reviewer":{"runAfter":{"Get_Participant":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"systemusers","recordId":"@triggerOutputs()?['body/_cp_reviewer_value']"},"authentication":"@parameters('$authentication')"}},"Set_RecordUrl":{"runAfter":{"Get_Reviewer":["Succeeded"]},"type":"SetVariable","inputs":{"name":"RecordUrl","value":"https://@{uriHost(outputs('Get_RPRP')?['body/@odata.id'])}/main.aspx?pagetype=entityrecord&etn=cp_rprp&id=@{triggerOutputs()?['body/cp_rprpid']}"}}},"runAfter":{"Get_RPRP":["Succeeded"]},"expression":{"equals":["@outputs('Get_RPRP')?['body/statuscode']",778230002]},"type":"If"},"Get_RPRP":{"runAfter":{"Delay":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"cp_rprps","recordId":"@triggerOutputs()?['body/cp_rprpid']","$select":"statuscode"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Get_RPRP_Type":["Succeeded"]},"expression":{"and":[{"equals":["@triggerOutputs()?['body/statuscode']",778230002]},{"greater":["@coalesce(outputs('Get_RPRP_Type')?['body/cp_participantacceptancereminderhours'],0)",0]}]},"type":"If"},"Get_RPRP_Type":{"runAfter":{"Initialize_RecordUrl":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"cp_rprptypes","recordId":"@triggerOutputs()?['body/_cp_type_value']"},"authentication":"@parameters('$authentication')"}},"Initialize_RecordUrl":{"runAfter":{},"type":"InitializeVariable","inputs":{"variables":[{"name":"RecordUrl","type":"string","value":"URL"}]}}}}},"schemaVersion":"1.0.0.0"}