Schema/ProcessesRP/unpacked/Workflows/RPRP-NotifyOtherPartiesOnCreateOrDeactivate-9C4E1D04-0238-EC11-8C64-000D3A871D8B.json
{"properties":{"connectionReferences":{"shared_commondataserviceforapps":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_commondataserviceforapps"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"RPRP_Status_Changed":{"type":"OpenApiConnectionWebhook","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"SubscribeWebhookTrigger","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"subscriptionRequest/message":4,"subscriptionRequest/entityname":"cp_rprp","subscriptionRequest/scope":4,"subscriptionRequest/filteringattributes":"statecode"},"authentication":"@parameters('$authentication')"}}},"actions":{"IF_Draft_OR_Deactivated_AND_Recipients_Specified":{"actions":{"Create_Email":{"runAfter":{"Get_Participant":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"CreateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"emails","item/activitypointer_activity_parties":[{"participationtypemask":1,"partyid@odata.bind":"/queues/@{outputs('Get_RPRP_Type')?['body/_cp_emailfromqueue_value']}"}],"item/description":"<html>\n<body lang=\"EN-GB\" link=\"#0563C1\" vlink=\"#954F72\" style=\"word-wrap:break-word\">\n<div>\n<p>FYI <a href=\"@{variables('RecordUrl')}\">RPRP with reference  @{triggerOutputs()?['body/cp_name']}</a> has been @{toLower(variables('EventName'))}.</p>\n<p></p>\n<p></p>\n<p><b>Do not reply to this email as this mailbox is not monitored</b>.</p>\n<p></p>\n<p>Sincerely,</p>\n<p></p>\n<p>RPRP Administration</p>\n<p></p>\n</div>\n</body>\n</html>","item/regardingobjectid_cp_rprp_email@odata.bind":"/cp_rprps/@{triggerOutputs()?['body/cp_rprpid']}","item/subject":"RPRP @{variables('EventName')} (@{triggerOutputs()?['body/cp_name']})"},"authentication":"@parameters('$authentication')"}},"Get_Participant":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"systemusers","recordId":"@triggerOutputs()?['body/_cp_participant_value']"},"authentication":"@parameters('$authentication')"}},"Send_Email_(Custom)":{"runAfter":{"Create_Email":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"PerformBoundAction","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"emails","actionName":"Microsoft.Dynamics.CRM.cp_EmailSend","recordId":"@outputs('Create_Email')?['body/activityid']","item/ToAddressesCsv":"@outputs('Get_RPRP_Type')?['body/cp_notificationemailaddresses']","item/CreateContacts":true,"item/TemporaryContacts":false},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Get_RPRP_Type":["Succeeded"]},"expression":{"and":[{"contains":["@coalesce(outputs('Get_RPRP_Type')?['body/cp_notificationemailaddresses'],'')","."]},{"or":[{"not":{"equals":["@triggerOutputs()?['body/statecode']",0]}},{"equals":["@triggerOutputs()?['body/statuscode']",1]}]}]},"type":"If"},"Initialize_RecordUrl":{"runAfter":{"Get_record":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"RecordUrl","type":"string","value":"https://@{uriHost(outputs('Get_record')?['body/@odata.id'])}/main.aspx?pagetype=entityrecord&etn=cp_rprp&id=@{triggerOutputs()?['body/cp_rprpid']}"}]}},"Get_record":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"cp_rprps","recordId":"@triggerOutputs()?['body/cp_rprpid']"},"authentication":"@parameters('$authentication')"}},"Get_RPRP_Type":{"runAfter":{"If_Deactivated":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"cp_rprptypes","recordId":"@triggerOutputs()?['body/_cp_type_value']"},"authentication":"@parameters('$authentication')"}},"If_Deactivated":{"actions":{"Set_EventName_Deactivated":{"runAfter":{},"type":"SetVariable","inputs":{"name":"EventName","value":"Deactivated"}}},"runAfter":{"Initialize_EventName":["Succeeded"]},"else":{"actions":{"Set_EventName_Created":{"runAfter":{},"type":"SetVariable","inputs":{"name":"EventName","value":"Created"}}}},"expression":{"not":{"equals":["@triggerOutputs()?['body/statecode']",0]}},"type":"If"},"Initialize_EventName":{"runAfter":{"Initialize_RecordUrl":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"EventName","type":"string","value":"Event"}]}}}}},"schemaVersion":"1.0.0.0"}