Schema/ProcessesRP/unpacked/Workflows/RPRP-SetInterventionRequired-8A095F35-8A32-EC11-B6E6-000D3A86D6EC.json
{"properties":{"connectionReferences":{"shared_commondataserviceforapps":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"cp_sharedcommondataserviceforapps_525b9"},"api":{"name":"shared_commondataserviceforapps"}},"shared_commondataserviceforapps_1":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"cp_sharedcommondataserviceforapps_525b9"},"api":{"name":"shared_commondataserviceforapps"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"RPRP_Status_Reason_Changed":{"type":"OpenApiConnectionWebhook","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"SubscribeWebhookTrigger","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"subscriptionRequest/message":4,"subscriptionRequest/entityname":"cp_rprp","subscriptionRequest/scope":4,"subscriptionRequest/filteringattributes":"statuscode"},"authentication":"@parameters('$authentication')"}}},"actions":{"Get_Applicable_Timeout_Days":{"runAfter":{"Get_RPRP_Type":["Succeeded"]},"cases":{"Draft":{"case":1,"actions":{"Set_Draft_Timeout_Days":{"runAfter":{},"type":"SetVariable","inputs":{"name":"Applicable Timeout Days","value":"@coalesce(outputs('Get_RPRP_Type')?['body/cp_timeoutdaysdraft'],0)"}}}},"Notified_Participant":{"case":778230000,"actions":{"Set_Schedule_Meeting_Timeout_Days_(Notified_Participant)":{"runAfter":{},"type":"SetVariable","inputs":{"name":"Applicable Timeout Days","value":"@coalesce(outputs('Get_RPRP_Type')?['body/cp_timeoutdaysschedulemeeting'],0)"}}}},"Review_Required":{"case":778230005,"actions":{"Set_Schedule_Meeting_Timeout_(Review_Required)":{"runAfter":{},"type":"SetVariable","inputs":{"name":"Applicable Timeout Days","value":"@coalesce(outputs('Get_RPRP_Type')?['body/cp_timeoutdaysschedulemeeting'],0)"}}}},"Meeting_Scheduled":{"case":778230001,"actions":{"Applicable_Timeout_Days_(Meeting_Scheduled)":{"actions":{"Wait_Until_Scheduled_Review":{"runAfter":{},"type":"Wait","inputs":{"until":{"timestamp":"@triggerOutputs()?['body/cp_reflectivereviewscheduledstart']"}}}},"runAfter":{"Set_Meeting_Lapsed_Timeout":["Succeeded"]},"expression":{"greater":["@variables('Applicable Timeout Days')",0]},"type":"If"},"Set_Meeting_Lapsed_Timeout":{"runAfter":{},"type":"SetVariable","inputs":{"name":"Applicable Timeout Days","value":"@coalesce(outputs('Get_RPRP_Type')?['body/cp_timeoutdaysmeetinglapsed'],0)"}}}},"Awaiting_Participant_Acceptance":{"case":778230002,"actions":{"Set_Participant_Response_Timeout":{"runAfter":{},"type":"SetVariable","inputs":{"name":"Applicable Timeout Days","value":"@coalesce(outputs('Get_RPRP_Type')?['body/cp_timeoutdaysparticipantresponse'],0)"}}}},"Awaiting_Follow_Up":{"case":778230003,"actions":{"Set_Follow_Up_Timeout":{"runAfter":{},"type":"SetVariable","inputs":{"name":"Applicable Timeout Days","value":"@coalesce(outputs('Get_RPRP_Type')?['body/cp_timeoutdaysfollowuplapsed'],0)"}},"Applicable_Timeout_Days_(Follow_Up)":{"actions":{"Wait_Until_Follow_Up_Date":{"runAfter":{},"type":"Wait","inputs":{"until":{"timestamp":"@triggerOutputs()?['body/cp_nextstepsfollowupdate']"}}}},"runAfter":{"Set_Follow_Up_Timeout":["Succeeded"]},"expression":{"greater":["@variables('Applicable Timeout Days')",0]},"type":"If"}}}},"default":{"actions":{}},"expression":"@variables('Triggering Status')","type":"Switch"},"Get_RPRP_Type":{"runAfter":{"Set_Applicable_Timeout_Days_=_0":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"cp_rprptypes","recordId":"@triggerOutputs()?['body/_cp_type_value']"},"authentication":"@parameters('$authentication')"}},"Record_Triggering_Status":{"runAfter":{},"type":"InitializeVariable","inputs":{"variables":[{"name":"Triggering Status","type":"integer","value":"@triggerOutputs()?['body/statuscode']"}]}},"Set_Applicable_Timeout_Days_=_0":{"runAfter":{"Record_Triggering_Status":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"Applicable Timeout Days","type":"integer","value":0}]}},"Applicable_Timeout_Days":{"actions":{"Delay":{"runAfter":{},"type":"Wait","inputs":{"interval":{"count":"@outputs('Get_RPRP_Type')?['body/cp_timeoutdaysdraft']","unit":"Day"}}},"Get_RPRP":{"runAfter":{"Delay":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"cp_rprps","recordId":"@triggerOutputs()?['body/cp_rprpid']"},"authentication":"@parameters('$authentication')"}},"If_Same_Status_Reason":{"actions":{"Set_Intervention_Required_=_Yes":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"cp_rprps","recordId":"@triggerOutputs()?['body/cp_rprpid']","item/cp_interventionrequired":true},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Get_RPRP":["Succeeded"]},"expression":{"equals":["@outputs('Get_RPRP')?['body/statuscode']","@variables('Triggering Status')"]},"type":"If"}},"runAfter":{"Get_Applicable_Timeout_Days":["Succeeded"]},"expression":{"greater":["@variables('Applicable Timeout Days')",0]},"type":"If"}}}},"schemaVersion":"1.0.0.0"}