Schema/FlowsVehicleCP/unpacked/Workflows/CheckIncidentPrerequisitesVehicle-48B03529-1766-EB11-A812-000D3AB40F79.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "cp_sharedcommondataserviceforapps_ce4a8"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {
            
          },
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {
            
          },
          "type": "SecureObject"
        }
      },
      "triggers": {
        "manual": {
          "metadata": {
            "operationMetadataId": "86d11b22-d351-44b2-8a8f-7ade483ca913"
          },
          "type": "Request",
          "kind": "Button",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {
                "text": {
                  "title": "Staging Table Id.",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "Please enter your input",
                  "x-ms-content-hint": "TEXT"
                }
              },
              "required": [
                "text"
              ]
            }
          }
        }
      },
      "actions": {
        "Initialize_Error_Variable": {
          "runAfter": {
            
          },
          "metadata": {
            "operationMetadataId": "e0c6428c-c6c1-4b7c-b27f-fe8232a3569e"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Error Message",
                "type": "string",
              "value": "@{null}"
              }
            ]
          }
        },
        "Respond_to_a_PowerApp_or_flow": {
          "runAfter": {
            "Get_Vehicle_Ticket_STG_record": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "a9f15d5d-6ae5-4bd7-8b8c-02cffd7aa886"
          },
          "type": "Response",
          "kind": "PowerApp",
          "inputs": {
            "statusCode": 200,
            "body": {
              "incidentcheckerrors": "@variables(\u0027Error Message\u0027)"
            },
            "schema": {
              "type": "object",
              "properties": {
                "incidentcheckerrors": {
                  "title": "IncidentCheckErrors",
                  "x-ms-dynamically-added": true,
                  "type": "string"
                }
              }
            }
          }
        },
        "Get_Vehicle_Ticket_STG_record": {
          "runAfter": {
            "Initialize_Error_Variable": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "12a822c4-e64f-4121-86b8-5adeaf1220cc"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "GetItem",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "cp_vehicleticketstgs",
            "recordId": "@triggerBody()[\u0027text\u0027]"
            },
            "authentication": "@parameters(\u0027$authentication\u0027)"
          }
        }
      },
      "outputs": {
        
      }
    }
  },
  "schemaVersion": "1.0.0.0"
}
