Schema/FlowsVehicleCP/unpacked/Workflows/GenerateVehicleTicketPDF-FE26A830-AEC3-EB11-BACC-000D3AB9F7B1.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "cp_sharedcommondataserviceforapps_ef737"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      },
      "shared_wordonlinebusiness": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "cp_sharedwordonlinebusiness_d8ad7"
        },
        "api": {
          "name": "shared_wordonlinebusiness"
        }
      },
      "shared_onedriveforbusiness": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "cp_sharedonedriveforbusiness_fc4ed"
        },
        "api": {
          "name": "shared_onedriveforbusiness"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {
            
          },
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {
            
          },
          "type": "SecureObject"
        }
      },
      "triggers": {
        "manual": {
          "type": "Request",
          "kind": "Button",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {
                "text": {
                  "title": "VehicleTicketID",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "Please enter your input",
                  "x-ms-content-hint": "TEXT"
                }
              },
              "required": [
                "text"
              ]
            }
          }
        }
      },
      "actions": {
        "Get_Vehicle_Ticket_Record": {
          "runAfter": {
            
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "GetItem",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "cp_vehicletickets",
            "recordId": "@triggerBody()[\u0027text\u0027]",
              "$expand": "cp_vehicledetails($select=cp_name),cp_speeddetectionmethod($select=cp_name),cp_driverobserver($select=cp_name),cp_vehicleuse($select=cp_name),cp_daylight($select=cp_name),cp_vehiclewasseen($select=cp_name),cp_reasonforstopping($select=cp_name),cp_speedlimit($select=cp_name),cp_informationfrom($select=cp_name),cp_visibility($select=cp_name),cp_markedunmarked($select=cp_name),cp_weather($select=cp_name),cp_streetlighting($select=cp_name),cp_issuedto($select=cp_name),cp_tpa($select=cp_name)\n"
            },
            "authentication": {
              "type": "Raw",
            "value": "@json(decodeBase64(triggerOutputs().headers[\u0027X-MS-APIM-Tokens\u0027]))[\u0027$ConnectionKey\u0027]"
            }
          }
        },
        "Get_a_row_by_ID_(TPA)": {
          "runAfter": {
            "If_there_is_an_Evidence_officer": [
              "Succeeded"
            ]
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "GetItem",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "cp_territorialpolicingareas",
            "recordId": "@outputs(\u0027Get_Vehicle_Ticket_Record\u0027)?[\u0027body/_cp_tpa_value\u0027]"
            },
            "authentication": {
              "type": "Raw",
            "value": "@json(decodeBase64(triggerOutputs().headers[\u0027X-MS-APIM-Tokens\u0027]))[\u0027$ConnectionKey\u0027]"
            }
          }
        },
        "Get_a_row_by_ID_(officer_from_user)": {
          "runAfter": {
            "IS_there_an_offender": [
              "Succeeded"
            ]
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "GetItem",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "systemusers",
            "recordId": "@outputs(\u0027Get_Vehicle_Ticket_Record\u0027)?[\u0027body/_ownerid_value\u0027]",
              "$expand": "positionid($select=name)"
            },
            "authentication": {
              "type": "Raw",
            "value": "@json(decodeBase64(triggerOutputs().headers[\u0027X-MS-APIM-Tokens\u0027]))[\u0027$ConnectionKey\u0027]"
            }
          }
        },
        "List_rows(Traffic_Offences)": {
          "runAfter": {
            "Initialize_variable_Repeating_table_VDRS_Offences": [
              "Succeeded"
            ]
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "ListRecords",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "cp_tickettypetrafficoffences",
            "$filter": "_cp_vehicleticket_value eq  \u0027@{triggerBody()[\u0027text\u0027]}\u0027"
            },
            "authentication": {
              "type": "Raw",
            "value": "@json(decodeBase64(triggerOutputs().headers[\u0027X-MS-APIM-Tokens\u0027]))[\u0027$ConnectionKey\u0027]"
            }
          }
        },
        "List_rows_(HORT1)": {
          "runAfter": {
            "IF_TRAFFIC_OFFENCE_EXISTS": [
              "Succeeded"
            ]
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "ListRecords",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "cp_tickettypehort1s",
            "$filter": "_cp_vehicleticket_value eq  \u0027@{triggerBody()[\u0027text\u0027]}\u0027"
            },
            "authentication": {
              "type": "Raw",
            "value": "@json(decodeBase64(triggerOutputs().headers[\u0027X-MS-APIM-Tokens\u0027]))[\u0027$ConnectionKey\u0027]"
            }
          }
        },
        "List_rows(VDRS)": {
          "runAfter": {
            "IF_HORT1_EXISTS_": [
              "Succeeded"
            ]
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "ListRecords",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "cp_tickettypevdrses",
            "$filter": "_cp_vehicleticket_value eq  \u0027@{triggerBody()[\u0027text\u0027]}\u0027"
            },
            "authentication": {
              "type": "Raw",
            "value": "@json(decodeBase64(triggerOutputs().headers[\u0027X-MS-APIM-Tokens\u0027]))[\u0027$ConnectionKey\u0027]"
            }
          }
        },
        "List_rows(S163)": {
          "runAfter": {
            "IF_VDRS_EXISTS__": [
              "Succeeded"
            ]
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "ListRecords",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "cp_tickettypesection163s",
            "$filter": "_cp_vehicleticket_value eq  \u0027@{triggerBody()[\u0027text\u0027]}\u0027"
            },
            "authentication": {
              "type": "Raw",
            "value": "@json(decodeBase64(triggerOutputs().headers[\u0027X-MS-APIM-Tokens\u0027]))[\u0027$ConnectionKey\u0027]"
            }
          }
        },
        "List_rows(S165)": {
          "runAfter": {
            "IF_S163_EXISTS": [
              "Succeeded"
            ]
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "ListRecords",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "cp_tickettypesection165s",
            "$filter": "_cp_vehicleticket_value eq  \u0027@{triggerBody()[\u0027text\u0027]}\u0027"
            },
            "authentication": {
              "type": "Raw",
            "value": "@json(decodeBase64(triggerOutputs().headers[\u0027X-MS-APIM-Tokens\u0027]))[\u0027$ConnectionKey\u0027]"
            }
          }
        },
        "List_rows(S59)": {
          "runAfter": {
            "IF_S165_EXISTS": [
              "Succeeded"
            ]
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "ListRecords",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "cp_tickettypesection59s",
            "$filter": "_cp_vehicleticket_value eq  \u0027@{triggerBody()[\u0027text\u0027]}\u0027"
            },
            "authentication": {
              "type": "Raw",
            "value": "@json(decodeBase64(triggerOutputs().headers[\u0027X-MS-APIM-Tokens\u0027]))[\u0027$ConnectionKey\u0027]"
            }
          }
        },
        "Initialize_Photo_1_Object": {
          "runAfter": {
            "Initialize_Photos_Array": [
              "Succeeded"
            ]
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Photo1",
                "type": "object",
                "value": {
                  "$content-type": "image/jpeg",
                  "$content": "iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVQYV2NgYAAAAAMAAWgmWQ0AAAAASUVORK5CYII="
                }
              }
            ]
          }
        },
        "Initialize_Photo_2_Object": {
          "runAfter": {
            "Initialize_Photo_1_Object": [
              "Succeeded"
            ]
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Photo2",
                "type": "object",
                "value": {
                  "$content-type": "image/jpeg",
                  "$content": "iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVQYV2NgYAAAAAMAAWgmWQ0AAAAASUVORK5CYII="
                }
              }
            ]
          }
        },
        "Initialize_Photo_3_Object": {
          "runAfter": {
            "Initialize_Photo_2_Object": [
              "Succeeded"
            ]
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Photo3",
                "type": "object",
                "value": {
                  "$content-type": "image/jpeg",
                  "$content": "iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVQYV2NgYAAAAAMAAWgmWQ0AAAAASUVORK5CYII="
                }
              }
            ]
          }
        },
        "Initialize_Photo_4_Object": {
          "runAfter": {
            "Initialize_Photo_3_Object": [
              "Succeeded"
            ]
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Photo4",
                "type": "object",
                "value": {
                  "$content-type": "image/jpeg",
                  "$content": "iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVQYV2NgYAAAAAMAAWgmWQ0AAAAASUVORK5CYII="
                }
              }
            ]
          }
        },
        "Initialize_Photo_5_Object": {
          "runAfter": {
            "Initialize_Photo_4_Object": [
              "Succeeded"
            ]
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Photo5",
                "type": "object",
                "value": {
                  "$content-type": "image/jpeg",
                  "$content": "iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVQYV2NgYAAAAAMAAWgmWQ0AAAAASUVORK5CYII="
                }
              }
            ]
          }
        },
        "IF_TRAFFIC_OFFENCE_EXISTS": {
          "actions": {
            "Set_variable_TO_Signature_2": {
              "runAfter": {
                
              },
              "type": "SetVariable",
              "inputs": {
                "name": "TO offender Signature",
                "value": {
                  "$content-type": "image/jpeg",
                  "$content": "iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVQYV2NgYAAAAAMAAWgmWQ0AAAAASUVORK5CYII="
                }
              }
            }
          },
          "runAfter": {
            "List_rows(Traffic_Offences)": [
              "Succeeded"
            ]
          },
          "else": {
            "actions": {
              "Get_a_row_by_ID_first_row_of_TO": {
                "runAfter": {
                  
                },
                "type": "OpenApiConnection",
                "inputs": {
                  "host": {
                    "connectionName": "shared_commondataserviceforapps",
                    "operationId": "GetItem",
                    "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                  },
                  "parameters": {
                    "entityName": "cp_tickettypetrafficoffences",
                  "recordId": "@first(body(\u0027List_rows(Traffic_Offences)\u0027)?[\u0027value\u0027])?[\u0027cp_tickettypetrafficoffenceid\u0027]"
                  },
                  "authentication": {
                    "type": "Raw",
                  "value": "@json(decodeBase64(triggerOutputs().headers[\u0027X-MS-APIM-Tokens\u0027]))[\u0027$ConnectionKey\u0027]"
                  }
                }
              },
              "Download_a_file_or_an_image_TO_signature": {
                "runAfter": {
                  "Get_a_row_by_ID_first_row_of_TO": [
                    "Succeeded"
                  ]
                },
                "type": "OpenApiConnection",
                "inputs": {
                  "host": {
                    "connectionName": "shared_commondataserviceforapps",
                    "operationId": "GetEntityFileImageFieldContent",
                    "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                  },
                  "parameters": {
                    "entityName": "cp_tickettypetrafficoffences",
                  "recordId": "@outputs(\u0027Get_a_row_by_ID_first_row_of_TO\u0027)?[\u0027body/cp_tickettypetrafficoffenceid\u0027]",
                    "fileImageFieldName": "cp_offendersignature",
                    "size": "full"
                  },
                  "authentication": {
                    "type": "Raw",
                  "value": "@json(decodeBase64(triggerOutputs().headers[\u0027X-MS-APIM-Tokens\u0027]))[\u0027$ConnectionKey\u0027]"
                  }
                }
              },
              "Compose_TO_Signature": {
                "runAfter": {
                  "Download_a_file_or_an_image_TO_signature": [
                    "Succeeded"
                  ]
                },
                "type": "Compose",
                "inputs": {
                  "$content-type": "image/jpeg",
                "$content": "@{base64(outputs(\u0027Download_a_file_or_an_image_TO_signature\u0027)?[\u0027body\u0027])}"
                }
              },
              "Set_variable_TO_Signature": {
                "runAfter": {
                  "Compose_TO_Signature": [
                    "Succeeded"
                  ]
                },
                "type": "SetVariable",
                "inputs": {
                  "name": "TO offender Signature",
                  "value": "@outputs(\u0027Compose_TO_Signature\u0027)"
                }
              },
              "Check_if_there_are_any_Traffic_Offence_Codes": {
                "actions": {
                  
                },
                "runAfter": {
                  "List_rows_all_traffic_offences": [
                    "Succeeded"
                  ]
                },
                "else": {
                  "actions": {
                    "Apply_to_each_Traffic_Offence_codes_": {
                    "foreach": "@outputs(\u0027List_rows_all_traffic_offences\u0027)?[\u0027body/value\u0027]",
                      "actions": {
                        "List_rows_Offence_Codes": {
                          "runAfter": {
                            
                          },
                          "type": "OpenApiConnection",
                          "inputs": {
                            "host": {
                              "connectionName": "shared_commondataserviceforapps",
                              "operationId": "ListRecords",
                              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                            },
                            "parameters": {
                              "entityName": "cp_offencecodes",
                            "$filter": "cp_offencecodeid eq @{items(\u0027Apply_to_each_Traffic_Offence_codes_\u0027)?[\u0027cp_offencecodeid\u0027]}"
                            },
                            "authentication": {
                              "type": "Raw",
                            "value": "@json(decodeBase64(triggerOutputs().headers[\u0027X-MS-APIM-Tokens\u0027]))[\u0027$ConnectionKey\u0027]"
                            }
                          }
                        },
                        "Apply_to_each_Codes_Found": {
                        "foreach": "@outputs(\u0027List_rows_Offence_Codes\u0027)?[\u0027body/value\u0027]",
                          "actions": {
                            "Get_a_row_by_ID_Offence_Codes": {
                              "runAfter": {
                                
                              },
                              "type": "OpenApiConnection",
                              "inputs": {
                                "host": {
                                  "connectionName": "shared_commondataserviceforapps",
                                  "operationId": "GetItem",
                                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                                },
                                "parameters": {
                                  "entityName": "cp_offencecodes",
                                "recordId": "@items(\u0027Apply_to_each_Codes_Found\u0027)?[\u0027cp_offencecodeid\u0027]",
                                  "$expand": "cp_offencecategoryid($select=cp_name)"
                                },
                                "authentication": {
                                  "type": "Raw",
                                "value": "@json(decodeBase64(triggerOutputs().headers[\u0027X-MS-APIM-Tokens\u0027]))[\u0027$ConnectionKey\u0027]"
                                }
                              }
                            },
                            "Append_to_array_variable_Reapting_table_traffic_Offences_": {
                              "runAfter": {
                                "Get_a_row_by_ID_Offence_Codes": [
                                  "Succeeded"
                                ]
                              },
                              "type": "AppendToArrayVariable",
                              "inputs": {
                                "name": "Repeating table  Traffic Offence Codes",
                                "value": {
                                "TO CATEGORY": "@{outputs(\u0027Get_a_row_by_ID_Offence_Codes\u0027)?[\u0027body/cp_offencecategoryid/cp_name\u0027]}",
                                "TO CODE": "@{outputs(\u0027Get_a_row_by_ID_Offence_Codes\u0027)?[\u0027body/cp_name\u0027]}",
                                "TO DESCRIPTION": "@{outputs(\u0027Get_a_row_by_ID_Offence_Codes\u0027)?[\u0027body/cp_offencedescription\u0027]}"
                                }
                              }
                            }
                          },
                          "runAfter": {
                            "List_rows_Offence_Codes": [
                              "Succeeded"
                            ]
                          },
                          "type": "Foreach"
                        }
                      },
                      "runAfter": {
                        
                      },
                      "type": "Foreach"
                    }
                  }
                },
                "expression": {
                  "equals": [
                  "@empty(outputs(\u0027List_rows_all_traffic_offences\u0027)?[\u0027body/value\u0027])",
                    "@true"
                  ]
                },
                "type": "If"
              },
              "List_rows_all_traffic_offences": {
                "runAfter": {
                  "Set_variable_TO_Signature": [
                    "Succeeded"
                  ]
                },
                "type": "OpenApiConnection",
                "inputs": {
                  "host": {
                    "connectionName": "shared_commondataserviceforapps",
                    "operationId": "ListRecords",
                    "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                  },
                  "parameters": {
                    "entityName": "cp_trafficoffence_cp_offencecodeset",
                  "$filter": "cp_tickettypetrafficoffenceid eq \u0027@{outputs(\u0027Get_a_row_by_ID_first_row_of_TO\u0027)?[\u0027body/cp_tickettypetrafficoffenceid\u0027]}\u0027"
                  },
                  "authentication": {
                    "type": "Raw",
                  "value": "@json(decodeBase64(triggerOutputs().headers[\u0027X-MS-APIM-Tokens\u0027]))[\u0027$ConnectionKey\u0027]"
                  }
                }
              }
            }
          },
          "expression": {
            "equals": [
            "@empty(outputs(\u0027List_rows(Traffic_Offences)\u0027)?[\u0027body/value\u0027])",
              "@true"
            ]
          },
          "type": "If"
        },
        "Initialize_variable_TO_offender_Signature": {
          "runAfter": {
            "If_Vehicle_Details_not_empty": [
              "Succeeded"
            ]
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "TO offender Signature",
                "type": "object",
                "value": {
                  "$content-type": "image/jpeg",
                  "$content": "iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVQYV2NgYAAAAAMAAWgmWQ0AAAAASUVORK5CYII="
                }
              }
            ]
          }
        },
        "Initialize_variable_HORT1_Offender_Signature_": {
          "runAfter": {
            "Initialize_variable_TO_offender_Signature": [
              "Succeeded"
            ]
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "HORT1 Offender SIgnature",
                "type": "object",
                "value": {
                  "$content-type": "image/jpeg",
                  "$content": "iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVQYV2NgYAAAAAMAAWgmWQ0AAAAASUVORK5CYII="
                }
              }
            ]
          }
        },
        "Get_a_row_by_ID_Incident_Details": {
          "runAfter": {
            "Get_Vehicle_Ticket_Record": [
              "Succeeded"
            ]
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "GetItem",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "cp_incidents",
            "recordId": "@outputs(\u0027Get_Vehicle_Ticket_Record\u0027)?[\u0027body/_cp_incident_value\u0027]",
              "$expand": "cp_EnteredBy($select=fullname,cp_badgenumber),cp_IncidentLocation"
            },
            "authentication": {
              "type": "Raw",
            "value": "@json(decodeBase64(triggerOutputs().headers[\u0027X-MS-APIM-Tokens\u0027]))[\u0027$ConnectionKey\u0027]"
            }
          }
        },
        "Initialize_variable_VDRS_offender_Signature": {
          "runAfter": {
            "Initialize_variable_HORT1_Offender_Signature_": [
              "Succeeded"
            ]
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "VDRS offender Signature",
                "type": "object",
                "value": {
                  "$content-type": "image/jpeg",
                  "$content": "iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVQYV2NgYAAAAAMAAWgmWQ0AAAAASUVORK5CYII="
                }
              }
            ]
          }
        },
        "Initialize_variable_S59_Offender_Signature": {
          "runAfter": {
            "Initialize_variable_S165_Offender_Signature": [
              "Succeeded"
            ]
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "S59 Offender Signature",
                "type": "object",
                "value": {
                  "$content-type": "image/jpeg",
                  "$content": "iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVQYV2NgYAAAAAMAAWgmWQ0AAAAASUVORK5CYII="
                }
              }
            ]
          }
        },
        "Initialize_variable_S165_Offender_Signature": {
          "runAfter": {
            "Initialize_variable_VDRS_offender_Signature": [
              "Succeeded"
            ]
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "S165 offender Signature",
                "type": "object",
                "value": {
                  "$content-type": "image/jpeg",
                  "$content": "iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVQYV2NgYAAAAAMAAWgmWQ0AAAAASUVORK5CYII="
                }
              }
            ]
          }
        },
        "Initialize_variable_Evidence_Signature": {
          "runAfter": {
            "Initialize_variable_S59_Offender_Signature": [
              "Succeeded"
            ]
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Evidence Signature",
                "type": "object",
                "value": {
                  "$content-type": "image/jpeg",
                  "$content": "iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVQYV2NgYAAAAAMAAWgmWQ0AAAAASUVORK5CYII="
                }
              }
            ]
          }
        },
        "IF_HORT1_EXISTS_": {
          "actions": {
            "Set_variable_HORT1_Signature_3": {
              "runAfter": {
                
              },
              "type": "SetVariable",
              "inputs": {
                "name": "HORT1 Offender SIgnature",
                "value": {
                  "$content-type": "image/jpeg",
                  "$content": "iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVQYV2NgYAAAAAMAAWgmWQ0AAAAASUVORK5CYII="
                }
              }
            }
          },
          "runAfter": {
            "List_rows_(HORT1)": [
              "Succeeded"
            ]
          },
          "else": {
            "actions": {
              "Get_a_row_by_ID_first_row_of_HORT1": {
                "runAfter": {
                  
                },
                "type": "OpenApiConnection",
                "inputs": {
                  "host": {
                    "connectionName": "shared_commondataserviceforapps",
                    "operationId": "GetItem",
                    "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                  },
                  "parameters": {
                    "entityName": "cp_tickettypehort1s",
                  "recordId": "@first(body(\u0027List_rows_(HORT1)\u0027)?[\u0027value\u0027])?[\u0027cp_tickettypehort1id\u0027]",
                    "$expand": "cp_CheckorRecord($select=cp_name),cp_ProduceatStation($select=cp_name)"
                  },
                  "authentication": {
                    "type": "Raw",
                  "value": "@json(decodeBase64(triggerOutputs().headers[\u0027X-MS-APIM-Tokens\u0027]))[\u0027$ConnectionKey\u0027]"
                  }
                }
              },
              "Download_a_file_or_an_image_HORT1_Signature": {
                "runAfter": {
                  "Get_a_row_by_ID_first_row_of_HORT1": [
                    "Succeeded"
                  ]
                },
                "type": "OpenApiConnection",
                "inputs": {
                  "host": {
                    "connectionName": "shared_commondataserviceforapps",
                    "operationId": "GetEntityFileImageFieldContent",
                    "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                  },
                  "parameters": {
                    "entityName": "cp_tickettypehort1s",
                  "recordId": "@outputs(\u0027Get_a_row_by_ID_first_row_of_HORT1\u0027)?[\u0027body/cp_tickettypehort1id\u0027]",
                    "fileImageFieldName": "cp_offendersignature",
                    "size": "full"
                  },
                  "authentication": {
                    "type": "Raw",
                  "value": "@json(decodeBase64(triggerOutputs().headers[\u0027X-MS-APIM-Tokens\u0027]))[\u0027$ConnectionKey\u0027]"
                  }
                }
              },
              "Compose_HORT1__Signature": {
                "runAfter": {
                  "Download_a_file_or_an_image_HORT1_Signature": [
                    "Succeeded"
                  ]
                },
                "type": "Compose",
                "inputs": {
                  "$content-type": "image/jpeg",
                "$content": "@{base64(outputs(\u0027Download_a_file_or_an_image_HORT1_Signature\u0027)?[\u0027body\u0027])}"
                }
              },
              "Set_variable_HORT1_Signature": {
                "runAfter": {
                  "Compose_HORT1__Signature": [
                    "Succeeded"
                  ]
                },
                "type": "SetVariable",
                "inputs": {
                  "name": "HORT1 Offender SIgnature",
                  "value": "@outputs(\u0027Compose_HORT1__Signature\u0027)"
                }
              },
              "Check_if_HORT1_has_any_documents": {
                "actions": {
                  
                },
                "runAfter": {
                  "List_rows_HORT1_Documents": [
                    "Succeeded"
                  ]
                },
                "else": {
                  "actions": {
                    "Apply_to_each_Vehicle_Document": {
                    "foreach": "@outputs(\u0027List_rows_HORT1_Documents\u0027)?[\u0027body/value\u0027]",
                      "actions": {
                        "List_rows_all_documents_for_HORT1_": {
                          "runAfter": {
                            
                          },
                          "type": "OpenApiConnection",
                          "inputs": {
                            "host": {
                              "connectionName": "shared_commondataserviceforapps",
                              "operationId": "ListRecords",
                              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                            },
                            "parameters": {
                              "entityName": "cp_vehicledocuments",
                            "$filter": "cp_vehicledocumentid eq @{items(\u0027Apply_to_each_Vehicle_Document\u0027)?[\u0027cp_vehicledocumentid\u0027]}"
                            },
                            "authentication": {
                              "type": "Raw",
                            "value": "@json(decodeBase64(triggerOutputs().headers[\u0027X-MS-APIM-Tokens\u0027]))[\u0027$ConnectionKey\u0027]"
                            }
                          }
                        },
                        "Apply_to_each_2": {
                        "foreach": "@outputs(\u0027List_rows_all_documents_for_HORT1_\u0027)?[\u0027body/value\u0027]",
                          "actions": {
                            "Get_a_row_by_ID__HORT1_Documents": {
                              "runAfter": {
                                
                              },
                              "type": "OpenApiConnection",
                              "inputs": {
                                "host": {
                                  "connectionName": "shared_commondataserviceforapps",
                                  "operationId": "GetItem",
                                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                                },
                                "parameters": {
                                  "entityName": "cp_vehicledocuments",
                                "recordId": "@items(\u0027Apply_to_each_2\u0027)?[\u0027cp_vehicledocumentid\u0027]"
                                },
                                "authentication": {
                                  "type": "Raw",
                                "value": "@json(decodeBase64(triggerOutputs().headers[\u0027X-MS-APIM-Tokens\u0027]))[\u0027$ConnectionKey\u0027]"
                                }
                              }
                            },
                            "Append_to_array_variable_Repeating_Table_HORT1_Documents": {
                              "runAfter": {
                                "Get_a_row_by_ID__HORT1_Documents": [
                                  "Succeeded"
                                ]
                              },
                              "type": "AppendToArrayVariable",
                              "inputs": {
                                "name": "Repeating table HORT1 Documents",
                                "value": {
                                "HORT1 Doucments": "@{outputs(\u0027Get_a_row_by_ID__HORT1_Documents\u0027)?[\u0027body/cp_name\u0027]}"
                                }
                              }
                            }
                          },
                          "runAfter": {
                            "List_rows_all_documents_for_HORT1_": [
                              "Succeeded"
                            ]
                          },
                          "type": "Foreach"
                        }
                      },
                      "runAfter": {
                        
                      },
                      "type": "Foreach"
                    }
                  }
                },
                "expression": {
                  "equals": [
                  "@empty(outputs(\u0027List_rows_HORT1_Documents\u0027)?[\u0027body/value\u0027])",
                    "@true"
                  ]
                },
                "type": "If"
              },
              "List_rows_HORT1_Documents": {
                "runAfter": {
                  "Set_variable_HORT1_Signature": [
                    "Succeeded"
                  ]
                },
                "type": "OpenApiConnection",
                "inputs": {
                  "host": {
                    "connectionName": "shared_commondataserviceforapps",
                    "operationId": "ListRecords",
                    "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                  },
                  "parameters": {
                    "entityName": "cp_tickettypehort1_vehicledocumentset",
                  "$filter": "cp_tickettypehort1id eq @{outputs(\u0027Get_a_row_by_ID_first_row_of_HORT1\u0027)?[\u0027body/cp_tickettypehort1id\u0027]}"
                  },
                  "authentication": {
                    "type": "Raw",
                  "value": "@json(decodeBase64(triggerOutputs().headers[\u0027X-MS-APIM-Tokens\u0027]))[\u0027$ConnectionKey\u0027]"
                  }
                }
              }
            }
          },
          "expression": {
            "equals": [
            "@empty(outputs(\u0027List_rows_(HORT1)\u0027)?[\u0027body/value\u0027])",
              "@true"
            ]
          },
          "type": "If"
        },
        "IF_VDRS_EXISTS__": {
          "actions": {
            "Set_variable_VDRS_Signature_2": {
              "runAfter": {
                
              },
              "type": "SetVariable",
              "inputs": {
                "name": "VDRS offender Signature",
                "value": {
                  "$content-type": "image/jpeg",
                  "$content": "iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVQYV2NgYAAAAAMAAWgmWQ0AAAAASUVORK5CYII="
                }
              }
            }
          },
          "runAfter": {
            "List_rows(VDRS)": [
              "Succeeded"
            ]
          },
          "else": {
            "actions": {
              "Get_a_row_by_ID_first_row_of_VDRS": {
                "runAfter": {
                  
                },
                "type": "OpenApiConnection",
                "inputs": {
                  "host": {
                    "connectionName": "shared_commondataserviceforapps",
                    "operationId": "GetItem",
                    "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                  },
                  "parameters": {
                    "entityName": "cp_tickettypevdrses",
                  "recordId": "@first(body(\u0027List_rows(VDRS)\u0027)?[\u0027value\u0027])?[\u0027cp_tickettypevdrsid\u0027]"
                  },
                  "authentication": {
                    "type": "Raw",
                  "value": "@json(decodeBase64(triggerOutputs().headers[\u0027X-MS-APIM-Tokens\u0027]))[\u0027$ConnectionKey\u0027]"
                  }
                }
              },
              "Download_a_file_or_an_image_VDRS_Signature": {
                "runAfter": {
                  "Get_a_row_by_ID_first_row_of_VDRS": [
                    "Succeeded"
                  ]
                },
                "type": "OpenApiConnection",
                "inputs": {
                  "host": {
                    "connectionName": "shared_commondataserviceforapps",
                    "operationId": "GetEntityFileImageFieldContent",
                    "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                  },
                  "parameters": {
                    "entityName": "cp_tickettypevdrses",
                  "recordId": "@outputs(\u0027Get_a_row_by_ID_first_row_of_VDRS\u0027)?[\u0027body/cp_tickettypevdrsid\u0027]",
                    "fileImageFieldName": "cp_offendersignature",
                    "size": "full"
                  },
                  "authentication": {
                    "type": "Raw",
                  "value": "@json(decodeBase64(triggerOutputs().headers[\u0027X-MS-APIM-Tokens\u0027]))[\u0027$ConnectionKey\u0027]"
                  }
                }
              },
              "Compose_VDRS_Signature": {
                "runAfter": {
                  "Download_a_file_or_an_image_VDRS_Signature": [
                    "Succeeded"
                  ]
                },
                "type": "Compose",
                "inputs": {
                  "$content-type": "image/jpeg",
                "$content": "@{base64(outputs(\u0027Download_a_file_or_an_image_VDRS_Signature\u0027)?[\u0027body\u0027])}"
                }
              },
              "Set_variable_VDRS_Signature": {
                "runAfter": {
                  "Compose_VDRS_Signature": [
                    "Succeeded"
                  ]
                },
                "type": "SetVariable",
                "inputs": {
                  "name": "VDRS offender Signature",
                  "value": "@outputs(\u0027Compose_VDRS_Signature\u0027)"
                }
              },
              "Check_if_there_are_any_VDRS_offences_": {
                "actions": {
                  
                },
                "runAfter": {
                  "List_rows_VDRS_Offences": [
                    "Succeeded"
                  ]
                },
                "else": {
                  "actions": {
                    "Apply_to_each_VDRS_Offence_Code": {
                    "foreach": "@outputs(\u0027List_rows_VDRS_Offences\u0027)?[\u0027body/value\u0027]",
                      "actions": {
                        "Get_a_row_by_ID_VDRS_offences": {
                          "runAfter": {
                            
                          },
                          "type": "OpenApiConnection",
                          "inputs": {
                            "host": {
                              "connectionName": "shared_commondataserviceforapps",
                              "operationId": "GetItem",
                              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                            },
                            "parameters": {
                              "entityName": "cp_offencecodes",
                            "recordId": "@items(\u0027Apply_to_each_VDRS_Offence_Code\u0027)?[\u0027cp_offencecodeid\u0027]",
                              "$expand": "cp_offencecategoryid($select=cp_name)"
                            },
                            "authentication": {
                              "type": "Raw",
                            "value": "@json(decodeBase64(triggerOutputs().headers[\u0027X-MS-APIM-Tokens\u0027]))[\u0027$ConnectionKey\u0027]"
                            }
                          }
                        },
                        "Append_to_array_variable_VDRS_Offences_Repeating_Table": {
                          "runAfter": {
                            "Get_a_row_by_ID_VDRS_offences": [
                              "Succeeded"
                            ]
                          },
                          "type": "AppendToArrayVariable",
                          "inputs": {
                            "name": "Repeating table VDRS Offences",
                            "value": {
                            "VDRS Code": "@{outputs(\u0027Get_a_row_by_ID_VDRS_offences\u0027)?[\u0027body/cp_name\u0027]}",
                            "VDRS Category": "@{outputs(\u0027Get_a_row_by_ID_VDRS_offences\u0027)?[\u0027body/cp_offencecategoryid/cp_name\u0027]}",
                            "VDRS Description": "@{outputs(\u0027Get_a_row_by_ID_VDRS_offences\u0027)?[\u0027body/cp_offencedescription\u0027]}"
                            }
                          }
                        }
                      },
                      "runAfter": {
                        
                      },
                      "type": "Foreach"
                    }
                  }
                },
                "expression": {
                  "equals": [
                  "@empty(outputs(\u0027List_rows_VDRS_Offences\u0027)?[\u0027body/value\u0027])",
                    "@true"
                  ]
                },
                "type": "If"
              },
              "List_rows_VDRS_Offences": {
                "runAfter": {
                  "Set_variable_VDRS_Signature": [
                    "Succeeded"
                  ]
                },
                "type": "OpenApiConnection",
                "inputs": {
                  "host": {
                    "connectionName": "shared_commondataserviceforapps",
                    "operationId": "ListRecords",
                    "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                  },
                  "parameters": {
                    "entityName": "cp_vdrs_cp_offencecodeset",
                  "$filter": "cp_tickettypevdrsid eq @{outputs(\u0027Get_a_row_by_ID_first_row_of_VDRS\u0027)?[\u0027body/cp_tickettypevdrsid\u0027]}"
                  },
                  "authentication": {
                    "type": "Raw",
                  "value": "@json(decodeBase64(triggerOutputs().headers[\u0027X-MS-APIM-Tokens\u0027]))[\u0027$ConnectionKey\u0027]"
                  }
                }
              }
            }
          },
          "expression": {
            "equals": [
            "@empty(outputs(\u0027List_rows(VDRS)\u0027)?[\u0027body/value\u0027])",
              "@true"
            ]
          },
          "type": "If"
        },
        "IF_S163_EXISTS": {
          "actions": {
            
          },
          "runAfter": {
            "List_rows(S163)": [
              "Succeeded"
            ]
          },
          "else": {
            "actions": {
              "Get_a_row_by_ID_first_row_of_S163": {
                "runAfter": {
                  
                },
                "type": "OpenApiConnection",
                "inputs": {
                  "host": {
                    "connectionName": "shared_commondataserviceforapps",
                    "operationId": "GetItem",
                    "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                  },
                  "parameters": {
                    "entityName": "cp_tickettypesection163s",
                  "recordId": "@first(body(\u0027List_rows(S163)\u0027)?[\u0027value\u0027])?[\u0027cp_tickettypesection163id\u0027]",
                    "$expand": "cp_outcomeofstopreasonforoutcome($select=cp_name),cp_reasonforusings163power($select=cp_name)"
                  },
                  "authentication": {
                    "type": "Raw",
                  "value": "@json(decodeBase64(triggerOutputs().headers[\u0027X-MS-APIM-Tokens\u0027]))[\u0027$ConnectionKey\u0027]"
                  }
                }
              }
            }
          },
          "expression": {
            "equals": [
            "@empty(outputs(\u0027List_rows(S163)\u0027)?[\u0027body/value\u0027])",
              "@true"
            ]
          },
          "type": "If"
        },
        "IF_S165_EXISTS": {
          "actions": {
            "Set_variable_S165_Signature__2": {
              "runAfter": {
                
              },
              "type": "SetVariable",
              "inputs": {
                "name": "S165 offender Signature",
                "value": {
                  "$content-type": "image/jpeg",
                  "$content": "iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVQYV2NgYAAAAAMAAWgmWQ0AAAAASUVORK5CYII="
                }
              }
            }
          },
          "runAfter": {
            "List_rows(S165)": [
              "Succeeded"
            ]
          },
          "else": {
            "actions": {
              "Get_a_row_by_ID_first_row_of_S165": {
                "runAfter": {
                  
                },
                "type": "OpenApiConnection",
                "inputs": {
                  "host": {
                    "connectionName": "shared_commondataserviceforapps",
                    "operationId": "GetItem",
                    "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                  },
                  "parameters": {
                    "entityName": "cp_tickettypesection165s",
                  "recordId": "@first(body(\u0027List_rows(S165)\u0027)?[\u0027value\u0027])?[\u0027cp_tickettypesection165id\u0027]",
                    "$expand": "cp_Without($select=cp_name),cp_DesignatedStation($select=cp_name),cp_RecoveryGarage"
                  },
                  "authentication": {
                    "type": "Raw",
                  "value": "@json(decodeBase64(triggerOutputs().headers[\u0027X-MS-APIM-Tokens\u0027]))[\u0027$ConnectionKey\u0027]"
                  }
                }
              },
              "Download_a_file_or_an_image_S165_Signature": {
                "runAfter": {
                  "Get_a_row_by_ID_first_row_of_S165": [
                    "Succeeded"
                  ]
                },
                "type": "OpenApiConnection",
                "inputs": {
                  "host": {
                    "connectionName": "shared_commondataserviceforapps",
                    "operationId": "GetEntityFileImageFieldContent",
                    "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                  },
                  "parameters": {
                    "entityName": "cp_tickettypesection165s",
                  "recordId": "@outputs(\u0027Get_a_row_by_ID_first_row_of_S165\u0027)?[\u0027body/cp_tickettypesection165id\u0027]",
                    "fileImageFieldName": "cp_offendersignature",
                    "size": "full"
                  },
                  "authentication": {
                    "type": "Raw",
                  "value": "@json(decodeBase64(triggerOutputs().headers[\u0027X-MS-APIM-Tokens\u0027]))[\u0027$ConnectionKey\u0027]"
                  }
                }
              },
              "Compose_S165_Signature__": {
                "runAfter": {
                  "Download_a_file_or_an_image_S165_Signature": [
                    "Succeeded"
                  ]
                },
                "type": "Compose",
                "inputs": {
                  "$content-type": "image/jpeg",
                "$content": "@{base64(outputs(\u0027Download_a_file_or_an_image_S165_Signature\u0027)?[\u0027body\u0027])}"
                }
              },
              "Set_variable_S165_Signature_": {
                "runAfter": {
                  "Compose_S165_Signature__": [
                    "Succeeded"
                  ]
                },
                "type": "SetVariable",
                "inputs": {
                  "name": "S165 offender Signature",
                  "value": "@outputs(\u0027Compose_S165_Signature__\u0027)"
                }
              }
            }
          },
          "expression": {
            "equals": [
            "@empty(outputs(\u0027List_rows(S165)\u0027)?[\u0027body/value\u0027])",
              "@true"
            ]
          },
          "type": "If"
        },
        "IF_S59_EXISTS_": {
          "actions": {
            "Set_variable_S59_Signature___2": {
              "runAfter": {
                
              },
              "type": "SetVariable",
              "inputs": {
                "name": "S59 Offender Signature",
                "value": {
                  "$content-type": "image/jpeg",
                  "$content": "iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVQYV2NgYAAAAAMAAWgmWQ0AAAAASUVORK5CYII="
                }
              }
            }
          },
          "runAfter": {
            "List_rows(S59)": [
              "Succeeded"
            ]
          },
          "else": {
            "actions": {
              "Get_a_row_by_ID_First_row_of_S59": {
                "runAfter": {
                  
                },
                "type": "OpenApiConnection",
                "inputs": {
                  "host": {
                    "connectionName": "shared_commondataserviceforapps",
                    "operationId": "GetItem",
                    "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                  },
                  "parameters": {
                    "entityName": "cp_tickettypesection59s",
                  "recordId": "@first(body(\u0027List_rows(S59)\u0027)?[\u0027value\u0027])?[\u0027cp_tickettypesection59id\u0027]",
                    "$expand": "cp_Section($select=cp_name),cp_warningorseizure($select=cp_name),cp_You($select=cp_name),cp_drivingtheabovevehiclein($select=cp_name),cp_You3($select=cp_name),cp_drivingmanner($select=cp_name),cp_recoverygarage"
                  },
                  "authentication": {
                    "type": "Raw",
                  "value": "@json(decodeBase64(triggerOutputs().headers[\u0027X-MS-APIM-Tokens\u0027]))[\u0027$ConnectionKey\u0027]"
                  }
                }
              },
              "Download_a_file_or_an_image_S59_Signature": {
                "runAfter": {
                  "Get_a_row_by_ID_First_row_of_S59": [
                    "Succeeded"
                  ]
                },
                "type": "OpenApiConnection",
                "inputs": {
                  "host": {
                    "connectionName": "shared_commondataserviceforapps",
                    "operationId": "GetEntityFileImageFieldContent",
                    "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                  },
                  "parameters": {
                    "entityName": "cp_tickettypesection59s",
                  "recordId": "@outputs(\u0027Get_a_row_by_ID_First_row_of_S59\u0027)?[\u0027body/cp_tickettypesection59id\u0027]",
                    "fileImageFieldName": "cp_offendersignature",
                    "size": "full"
                  },
                  "authentication": {
                    "type": "Raw",
                  "value": "@json(decodeBase64(triggerOutputs().headers[\u0027X-MS-APIM-Tokens\u0027]))[\u0027$ConnectionKey\u0027]"
                  }
                }
              },
              "Compose_S59_Signature__": {
                "runAfter": {
                  "Download_a_file_or_an_image_S59_Signature": [
                    "Succeeded"
                  ]
                },
                "type": "Compose",
                "inputs": {
                  "$content-type": "image/jpeg",
                "$content": "@{base64(outputs(\u0027Download_a_file_or_an_image_S59_Signature\u0027)?[\u0027body\u0027])}"
                }
              },
              "Set_variable_S59_Signature__": {
                "runAfter": {
                  "Compose_S59_Signature__": [
                    "Succeeded"
                  ]
                },
                "type": "SetVariable",
                "inputs": {
                  "name": "S59 Offender Signature",
                  "value": "@outputs(\u0027Compose_S59_Signature__\u0027)"
                }
              }
            }
          },
          "expression": {
            "equals": [
            "@empty(outputs(\u0027List_rows(S59)\u0027)?[\u0027body/value\u0027])",
              "@true"
            ]
          },
          "type": "If"
        },
        "Check_if_evidence_signature_exists_(Officer_Signature)": {
          "actions": {
            "Set_if_evidence_signature_=_yes": {
              "runAfter": {
                
              },
              "type": "SetVariable",
              "inputs": {
                "name": "Evidence Signature",
                "value": {
                  "$content-type": "image/jpeg",
                  "$content": "iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVQYV2NgYAAAAAMAAWgmWQ0AAAAASUVORK5CYII="
                }
              }
            }
          },
          "runAfter": {
            "IF_S59_EXISTS_": [
              "Succeeded"
            ]
          },
          "else": {
            "actions": {
              "Download_Officer_Signature": {
                "runAfter": {
                  
                },
                "type": "OpenApiConnection",
                "inputs": {
                  "host": {
                    "connectionName": "shared_commondataserviceforapps",
                    "operationId": "GetEntityFileImageFieldContent",
                    "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                  },
                  "parameters": {
                    "entityName": "cp_vehicletickets",
                  "recordId": "@outputs(\u0027Get_Vehicle_Ticket_Record\u0027)?[\u0027body/cp_vehicleticketid\u0027]",
                    "fileImageFieldName": "cp_officersignature",
                    "size": "full"
                  },
                  "authentication": {
                    "type": "Raw",
                  "value": "@json(decodeBase64(triggerOutputs().headers[\u0027X-MS-APIM-Tokens\u0027]))[\u0027$ConnectionKey\u0027]"
                  }
                }
              },
              "Compose_Officer_Signature": {
                "runAfter": {
                  "Download_Officer_Signature": [
                    "Succeeded"
                  ]
                },
                "type": "Compose",
                "inputs": {
                  "$content-type": "image/jpeg",
                "$content": "@{base64(outputs(\u0027Download_Officer_Signature\u0027)?[\u0027body\u0027])}"
                }
              },
              "Set_variable": {
                "runAfter": {
                  "Compose_Officer_Signature": [
                    "Succeeded"
                  ]
                },
                "type": "SetVariable",
                "inputs": {
                  "name": "Evidence Signature",
                  "value": "@outputs(\u0027Compose_Officer_Signature\u0027)"
                }
              }
            }
          },
          "expression": {
            "equals": [
            "@empty(outputs(\u0027Get_Vehicle_Ticket_Record\u0027)?[\u0027body/cp_officersignature\u0027])",
              "@true"
            ]
          },
          "type": "If"
        },
        "List_Photos": {
          "runAfter": {
            "Get_a_row_by_ID_Incident_Details": [
              "Succeeded"
            ]
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "ListRecords",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "cp_photos",
            "$filter": "(_cp_vehicleticket_value eq @{triggerBody()[\u0027text\u0027]})"
            },
            "authentication": {
              "type": "Raw",
            "value": "@json(decodeBase64(triggerOutputs().headers[\u0027X-MS-APIM-Tokens\u0027]))[\u0027$ConnectionKey\u0027]"
            }
          }
        },
        "Initialize_Photos_Array": {
          "runAfter": {
            "Check_if_evidence_signature_exists_(Officer_Signature)": [
              "Succeeded"
            ]
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Photos",
                "type": "array",
                "value": "@null"
              }
            ]
          }
        },
        "Initialize_variable_Repeating_table__Traffic_Offence_Codes": {
          "runAfter": {
            "Initialize_variable_Evidence_Signature": [
              "Succeeded"
            ]
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Repeating table  Traffic Offence Codes",
                "type": "array"
              }
            ]
          }
        },
        "List_rows_Vehicle_Details_": {
          "runAfter": {
            "Get_a_row_by_ID_(TPA)": [
              "Succeeded"
            ]
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "ListRecords",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "cp_vehicledetailses",
            "$filter": "cp_vehicledetailsid eq @{outputs(\u0027Get_Vehicle_Ticket_Record\u0027)?[\u0027body/_cp_vehicledetails_value\u0027]}"
            },
            "authentication": {
              "type": "Raw",
            "value": "@json(decodeBase64(triggerOutputs().headers[\u0027X-MS-APIM-Tokens\u0027]))[\u0027$ConnectionKey\u0027]"
            }
          }
        },
        "If_Vehicle_Details_not_empty": {
          "actions": {
            
          },
          "runAfter": {
            "Check_if_there_are_Licence_Categories_for_the_Offender": [
              "Succeeded"
            ]
          },
          "else": {
            "actions": {
              "Get_a_row_by_ID_first_row_of_Vehicle_details": {
                "runAfter": {
                  
                },
                "type": "OpenApiConnection",
                "inputs": {
                  "host": {
                    "connectionName": "shared_commondataserviceforapps",
                    "operationId": "GetItem",
                    "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                  },
                  "parameters": {
                    "entityName": "cp_vehicledetailses",
                  "recordId": "@first(body(\u0027List_rows_Vehicle_Details_\u0027)?[\u0027value\u0027])?[\u0027cp_vehicledetailsid\u0027]",
                    "$expand": "cp_make($select=cp_name),cp_VehicleRoles($select=cp_name),cp_Colour($select=cp_name)"
                  },
                  "authentication": {
                    "type": "Raw",
                  "value": "@json(decodeBase64(triggerOutputs().headers[\u0027X-MS-APIM-Tokens\u0027]))[\u0027$ConnectionKey\u0027]"
                  }
                }
              },
              "Apply_to_each": {
              "foreach": "@outputs(\u0027List_rows_Vehicle_Details_\u0027)?[\u0027body/value\u0027]",
                "actions": {
                  "Get_a_row_by_ID_Vehicle": {
                    "runAfter": {
                      
                    },
                    "type": "OpenApiConnection",
                    "inputs": {
                      "host": {
                        "connectionName": "shared_commondataserviceforapps",
                        "operationId": "GetItem",
                        "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                      },
                      "parameters": {
                        "entityName": "cp_vehicledetailses",
                      "recordId": "@items(\u0027Apply_to_each\u0027)?[\u0027cp_vehicledetailsid\u0027]",
                        "$expand": "cp_make($select=cp_name),cp_VehicleRoles($select=cp_name),cp_Colour($select=cp_name)"
                      },
                      "authentication": {
                        "type": "Raw",
                      "value": "@json(decodeBase64(triggerOutputs().headers[\u0027X-MS-APIM-Tokens\u0027]))[\u0027$ConnectionKey\u0027]"
                      }
                    }
                  }
                },
                "runAfter": {
                  "Get_a_row_by_ID_first_row_of_Vehicle_details": [
                    "Succeeded"
                  ]
                },
                "type": "Foreach"
              }
            }
          },
          "expression": {
            "equals": [
            "@empty(outputs(\u0027List_rows_Vehicle_Details_\u0027)?[\u0027body/value\u0027])",
              "@true"
            ]
          },
          "type": "If"
        },
        "Initialize_GeneratedDocumentId": {
          "runAfter": {
            "If_photos_exists": [
              "Succeeded"
            ]
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "GeneratedDocumentId",
                "type": "string",
              "value": "@{guid()}"
              }
            ]
          }
        },
        "Initialize_variable_Repeating_table_HORT1_Documents": {
          "runAfter": {
            "Initialize_variable_Repeating_table__Traffic_Offence_Codes": [
              "Succeeded"
            ]
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Repeating table HORT1 Documents",
                "type": "array"
              }
            ]
          }
        },
        "Initialize_variable_Repeating_table_VDRS_Offences": {
          "runAfter": {
            "Initialize_variable_Repeating_table_HORT1_Documents": [
              "Succeeded"
            ]
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Repeating table VDRS Offences",
                "type": "array"
              }
            ]
          }
        },
        "Populate_a_Microsoft_Word_template": {
          "runAfter": {
            "Initialize_GeneratedDocumentId": [
              "Succeeded"
            ]
          },
          "metadata": {
            "01DHY4AP4SOJZFVXPZOBHKUOXOQJ2DXEGJ": "/Vehicle PDF.docx",
            "016AAA3S63W2BCQPHKKFDKLYKW7U6JJ7ZP": "/Cumbria/Templates/Vehicle/Vehicle PDF.docx",
            "01DHY4AP23SWJ3434UZFHLFTBMHRRJQ3HI": "/Vehicle PDF.docx",
            "014YZTY72XYLYFFIB7HVDYVFNA7CTBJHS2": "/Templates/Vehicle/Vehicle PDF.docx"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_wordonlinebusiness",
              "operationId": "CreateFileItem",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_wordonlinebusiness"
            },
            "parameters": {
              "source": "sites/tisskilimited.sharepoint.com,5891e259-4b18-4e57-872a-76a7432bb0b6,0e904291-9378-4ff1-b183-6c7236bd194f",
              "drive": "b!WeKRWBhLV06HKnanQyuwtpFCkA54k_FPsYNscja9GU-_YgpLYOi6T49L6ZbolPrM",
              "file": "014YZTY72XYLYFFIB7HVDYVFNA7CTBJHS2",
            "dynamicFileSchema/2640032": "@outputs(\u0027Get_a_row_by_ID_first_row_of_Vehicle_details\u0027)?[\u0027body/cp_name\u0027]",
            "dynamicFileSchema/34317122": "@outputs(\u0027Get_a_row_by_ID_Offender_Details\u0027)?[\u0027body/firstname\u0027]",
            "dynamicFileSchema/38322505": "@outputs(\u0027Get_Vehicle_Ticket_Record\u0027)?[\u0027body/cp_haslplates\u0027]",
            "dynamicFileSchema/79800696": "@outputs(\u0027Get_Vehicle_Ticket_Record\u0027)?[\u0027body/cp_tpa/cp_name\u0027]",
            "dynamicFileSchema/88752176": "@outputs(\u0027Get_a_row_by_ID_Offender_Details\u0027)?[\u0027body/cp_contacttitle/cp_name\u0027]",
            "dynamicFileSchema/107634600": "@outputs(\u0027Get_a_row_by_ID_first_row_of_TO\u0027)?[\u0027body/cp_nipgiven\u0027]",
            "dynamicFileSchema/226265323": "@outputs(\u0027Get_a_row_by_ID_first_row_of_Vehicle_details\u0027)?[\u0027body/cp_model\u0027]",
            "dynamicFileSchema/308599774": "@outputs(\u0027Get_Vehicle_Ticket_Record\u0027)?[\u0027body/cp_speeddetectionmethod/cp_name\u0027]",
            "dynamicFileSchema/324557884": "@outputs(\u0027Get_Vehicle_Ticket_Record\u0027)?[\u0027body/cp_fromreferencepoint\u0027]",
            "dynamicFileSchema/339584266": "@outputs(\u0027Get_a_row_by_ID_First_row_of_S59\u0027)?[\u0027body/cp_recoverygarage/name\u0027]",
            "dynamicFileSchema/340897675": "@outputs(\u0027Get_a_row_by_ID_first_row_of_S165\u0027)?[\u0027body/cp_designatedstation/cp_name\u0027]",
            "dynamicFileSchema/384767520": "@outputs(\u0027Get_a_row_by_ID_(officer_from_user)\u0027)?[\u0027body/firstname\u0027]",
            "dynamicFileSchema/397022665": "@outputs(\u0027Get_Vehicle_Ticket_Record\u0027)?[\u0027body/cp_toreferencepointfc\u0027]",
            "dynamicFileSchema/405112685": "@outputs(\u0027Get_a_row_by_ID_first_row_of_S165\u0027)?[\u0027body/cp_without/cp_name\u0027]",
              "dynamicFileSchema/440579622": "@variables(\u0027Photo1\u0027)",
            "dynamicFileSchema/441033538": "@outputs(\u0027Get_a_row_by_ID_Offender_Details\u0027)?[\u0027body/address1_county\u0027]",
            "dynamicFileSchema/443973797": "@outputs(\u0027Get_a_row_by_ID_First_row_of_S59\u0027)?[\u0027body/cp_recoverygarage/telephone1\u0027]",
            "dynamicFileSchema/487523077": "@outputs(\u0027Get_Vehicle_Ticket_Record\u0027)?[\u0027body/cp_hasinsurance\u0027]",
            "dynamicFileSchema/553130770": "@outputs(\u0027Get_Vehicle_Ticket_Record\u0027)?[\u0027body/cp_hasmot\u0027]",
            "dynamicFileSchema/561678578": "@outputs(\u0027Get_a_row_by_ID_Incident_Details\u0027)?[\u0027body/cp_incidentlocation/cp_city\u0027]",
            "dynamicFileSchema/577017080": "@if(empty(outputs(\u0027Get_a_row_by_ID_Offender_Details\u0027)?[\u0027body/cp_licenceexpiry\u0027]),\u0027\u0027,formatDateTime(convertTimeZone(outputs(\u0027Get_a_row_by_ID_Offender_Details\u0027)?[\u0027body/cp_licenceexpiry\u0027],\u0027UTC\u0027,\u0027GMT Standard Time\u0027),\u0027dd/MM/yyyy\u0027))",
              "dynamicFileSchema/599224471": "@variables(\u0027Photo5\u0027)",
            "dynamicFileSchema/630067367": "@outputs(\u0027Get_a_row_by_ID_Offender_Details\u0027)?[\u0027body/emailaddress1\u0027]",
            "dynamicFileSchema/638695917": "@if(empty(outputs(\u0027Get_a_row_by_ID_first_row_of_Vehicle_details\u0027)?[\u0027body/cp_validto\u0027]),\u0027\u0027,formatDateTime(convertTimeZone(outputs(\u0027Get_a_row_by_ID_first_row_of_Vehicle_details\u0027)?[\u0027body/cp_validto\u0027],\u0027UTC\u0027,\u0027GMT Standard Time\u0027),\u0027dd/MM/yyyy\u0027))",
            "dynamicFileSchema/669455124": "@if(empty(outputs(\u0027Get_a_row_by_ID_Offender_Details\u0027)?[\u0027body/birthdate\u0027]),\u0027\u0027,formatDateTime(convertTimeZone(outputs(\u0027Get_a_row_by_ID_Offender_Details\u0027)?[\u0027body/birthdate\u0027],\u0027UTC\u0027,\u0027GMT Standard Time\u0027),\u0027dd/MM/yyyy\u0027))",
            "dynamicFileSchema/690426207": "@outputs(\u0027Get_a_row_by_ID_first_row_of_HORT1\u0027)?[\u0027body/cp_hort1serialnumber\u0027]",
            "dynamicFileSchema/705063272": "@outputs(\u0027Get_a_row_by_ID_Incident_Details\u0027)?[\u0027body/cp_incidentnumber\u0027]",
            "dynamicFileSchema/716088659": "@outputs(\u0027Get_Vehicle_Ticket_Record\u0027)?[\u0027body/cp_recordingdistance\u0027]",
            "dynamicFileSchema/738680570": "@outputs(\u0027Get_a_row_by_ID_Incident_Details\u0027)?[\u0027body/cp_incidentlocation/cp_name\u0027]",
            "dynamicFileSchema/773680054": "@outputs(\u0027Get_a_row_by_ID_first_row_of_VDRS\u0027)?[\u0027body/cp_details\u0027]",
            "dynamicFileSchema/791172011": "@{outputs(\u0027Get_a_row_by_ID_Incident_Details\u0027)?[\u0027body/cp_incidentlocation/cp_longitude\u0027]},@{outputs(\u0027Get_a_row_by_ID_Incident_Details\u0027)?[\u0027body/cp_incidentlocation/cp_latitude\u0027]}",
            "dynamicFileSchema/811375381": "@outputs(\u0027Get_Vehicle_Ticket_Record\u0027)?[\u0027body/cp_issuedto/cp_name\u0027]",
            "dynamicFileSchema/818852158": "@outputs(\u0027Get_a_row_by_ID_first_row_of_Vehicle_details\u0027)?[\u0027body/cp_insurancenumber\u0027]",
            "dynamicFileSchema/821706687": "@outputs(\u0027Get_Vehicle_Ticket_Record\u0027)?[\u0027body/cp_speedlimit/cp_name\u0027]",
            "dynamicFileSchema/858627309": "@outputs(\u0027Get_a_row_by_ID_first_row_of_Vehicle_details\u0027)?[\u0027body/cp_notes\u0027]",
            "dynamicFileSchema/920918935": "@outputs(\u0027Get_a_row_by_ID_Offender_Details\u0027)?[\u0027body/address1_country\u0027]",
            "dynamicFileSchema/971479330": "@outputs(\u0027Get_a_row_by_ID_first_row_of_S163\u0027)?[\u0027body/cp_reasonforusings163power/cp_name\u0027]",
            "dynamicFileSchema/976886622": "@outputs(\u0027Get_a_row_by_ID_first_row_of_TO\u0027)?[\u0027body/cp_offenderreply\u0027]",
            "dynamicFileSchema/1006644347": "@outputs(\u0027Get_a_row_by_ID_first_row_of_Vehicle_details\u0027)?[\u0027body/cp_vehicleroles/cp_name\u0027]",
            "dynamicFileSchema/1009876662": "@outputs(\u0027Get_a_row_by_ID_First_row_of_S59\u0027)?[\u0027body/cp_recoverygarage/telephone1\u0027]",
            "dynamicFileSchema/1038544562": "@outputs(\u0027Get_a_row_by_ID_First_row_of_S59\u0027)?[\u0027body/cp_you3/cp_name\u0027]",
            "dynamicFileSchema/1063142447": "@if(empty(outputs(\u0027Get_Vehicle_Ticket_Record\u0027)?[\u0027body/cp_firstdevicecheckdateandtime\u0027]),\u0027\u0027,formatDateTime(convertTimeZone(outputs(\u0027Get_Vehicle_Ticket_Record\u0027)?[\u0027body/cp_firstdevicecheckdateandtime\u0027],\u0027UTC\u0027,\u0027GMT Standard Time\u0027),\u0027dd/MM/yyyy HH:mm:ss\u0027))",
            "dynamicFileSchema/1067375735": "@outputs(\u0027Get_a_row_by_ID_Offender_Details\u0027)?[\u0027body/cp_housenumber\u0027]",
              "dynamicFileSchema/1084485485": "@variables(\u0027Photocaption 5\u0027)",
            "dynamicFileSchema/1146948062": "@outputs(\u0027Get_a_row_by_ID_Incident_Details\u0027)?[\u0027body/cp_incidentsuffix\u0027]",
            "dynamicFileSchema/1306666044": "@outputs(\u0027Get_a_row_by_ID_First_row_of_S59\u0027)?[\u0027body/cp_drivingmanner/cp_name\u0027]",
            "dynamicFileSchema/1310527343": "@outputs(\u0027Get_a_row_by_ID_Offender_Details\u0027)?[\u0027body/mobilephone\u0027]",
            "dynamicFileSchema/1338108109": "@outputs(\u0027Get_a_row_by_ID_First_row_of_S59\u0027)?[\u0027body/cp_recoverygarage/name\u0027]",
            "dynamicFileSchema/1341283403": "@outputs(\u0027Get_a_row_by_ID_first_row_of_Vehicle_details\u0027)?[\u0027body/cp_enginenumber\u0027]",
            "dynamicFileSchema/1385673833": "@outputs(\u0027Get_a_row_by_ID_(officer_from_user)\u0027)?[\u0027body/positionid/name\u0027]",
            "dynamicFileSchema/1407111386": "@outputs(\u0027Get_a_row_by_ID_first_row_of_Vehicle_details\u0027)?[\u0027body/cp_motexpiry\u0027]",
            "dynamicFileSchema/1419060367": "@outputs(\u0027Get_a_row_by_ID_Incident_Details\u0027)?[\u0027body/cp_incidentlocation/cp_street\u0027]",
            "dynamicFileSchema/1440957611": "@outputs(\u0027Get_a_row_by_ID_first_row_of_HORT1\u0027)?[\u0027body/cp_checkorrecord/cp_name\u0027]",
              "dynamicFileSchema/1453904869": "@variables(\u0027Photo2\u0027)",
            "dynamicFileSchema/1469014944": "@outputs(\u0027Get_a_row_by_ID_first_row_of_HORT1\u0027)?[\u0027body/cp_otherdocuments\u0027]",
            "dynamicFileSchema/1528983046": "@outputs(\u0027Get_Vehicle_Ticket_Record\u0027)?[\u0027body/cp_vehiclestopped\u0027]",
            "dynamicFileSchema/1538548422": "@outputs(\u0027Get_a_row_by_ID_Offender_Details\u0027)?[\u0027body/cp_selfdefinedethnicity/cp_name\u0027]",
            "dynamicFileSchema/1545486607": "@outputs(\u0027Get_a_row_by_ID_Offender_Details\u0027)?[\u0027body/company\u0027]",
            "dynamicFileSchema/1595590179": "@outputs(\u0027Get_a_row_by_ID_First_row_of_S59\u0027)?[\u0027body/cp_you/cp_name\u0027]",
            "dynamicFileSchema/1601290704": "@outputs(\u0027Get_a_row_by_ID_first_row_of_Vehicle_details\u0027)?[\u0027body/cp_make/cp_name\u0027]",
            "dynamicFileSchema/1610542265": "@outputs(\u0027Get_a_row_by_ID_first_row_of_S165\u0027)?[\u0027body/cp_section165printed\u0027]",
            "dynamicFileSchema/1630364556": "@outputs(\u0027Get_Vehicle_Ticket_Record\u0027)?[\u0027body/cp_isdriversupervised\u0027]",
            "dynamicFileSchema/1647326306": "@outputs(\u0027Get_Vehicle_Ticket_Record\u0027)?[\u0027body/cp_onmotorway\u0027]",
            "dynamicFileSchema/1671908211": "@outputs(\u0027Get_a_row_by_ID_first_row_of_Vehicle_details\u0027)?[\u0027body/cp_chassisnumber\u0027]",
            "dynamicFileSchema/1681159711": "@outputs(\u0027Get_Vehicle_Ticket_Record\u0027)?[\u0027body/cp_recordedspeedmphfc\u0027]",
            "dynamicFileSchema/1695411521": "@outputs(\u0027Get_a_row_by_ID_Offender_Details\u0027)?[\u0027body/cp_gender/cp_name\u0027]",
            "dynamicFileSchema/1709759181": "@outputs(\u0027Get_Vehicle_Ticket_Record\u0027)?[\u0027body/cp_haspassengers\u0027]",
            "dynamicFileSchema/1720397364": "@outputs(\u0027Get_Vehicle_Ticket_Record\u0027)?[\u0027body/cp_isdriverkeeper\u0027]",
            "dynamicFileSchema/1723168854": "@outputs(\u0027Get_a_row_by_ID_First_row_of_S59\u0027)?[\u0027body/cp_warningorseizure/cp_name\u0027]",
            "dynamicFileSchema/1826631395": "@outputs(\u0027Get_Vehicle_Ticket_Record\u0027)?[\u0027body/cp_policevehiclenumber\u0027]",
              "dynamicFileSchema/1841032874": "@variables(\u0027Photo3\u0027)",
              "dynamicFileSchema/1859004327": "@variables(\u0027Repeating table VDRS Offences\u0027)",
            "dynamicFileSchema/1882512055": "@outputs(\u0027Get_Vehicle_Ticket_Record\u0027)?[\u0027body/cp_firstdevicedhecklocation\u0027]",
            "dynamicFileSchema/1883671936": "@if(empty(outputs(\u0027Get_a_row_by_ID_first_row_of_Vehicle_details\u0027)?[\u0027body/cp_validfrom\u0027]),\u0027\u0027,formatDateTime(convertTimeZone(outputs(\u0027Get_a_row_by_ID_first_row_of_Vehicle_details\u0027)?[\u0027body/cp_validfrom\u0027],\u0027UTC\u0027,\u0027GMT Standard Time\u0027),\u0027dd/MM/yyyy\u0027))",
              "dynamicFileSchema/1918354257": "@variables(\u0027PhotoCaption2\u0027)",
            "dynamicFileSchema/1928921795": "@outputs(\u0027Get_a_row_by_ID_Offender_Details\u0027)?[\u0027body/address1_city\u0027]",
            "dynamicFileSchema/2075395584": "@{If(empty(outputs(\u0027List_rows(Traffic_Offences)\u0027)?[\u0027body/value\u0027]),\u0027\u0027,\u0027Traffic Offence\u0027)},@{If(empty(outputs(\u0027List_rows_(HORT1)\u0027)?[\u0027body/value\u0027]),\u0027\u0027,\u0027HORT1\u0027)},@{If(empty(outputs(\u0027List_rows(VDRS)\u0027)?[\u0027body/value\u0027])\r\n,\u0027\u0027,\u0027VDRS\u0027)},@{If(empty(outputs(\u0027List_rows(S163)\u0027)?[\u0027body/value\u0027]),\u0027\u0027,\u0027S163\u0027)},@{If(empty(outputs(\u0027List_rows(S165)\u0027)?[\u0027body/value\u0027]),\u0027\u0027,\u0027S165\u0027)},@{If(empty(outputs(\u0027List_rows(S59)\u0027)?[\u0027body/value\u0027]),\u0027\u0027,\u0027S59\u0027)}",
            "dynamicFileSchema/2080401711": "@outputs(\u0027Get_a_row_by_ID_Offender_Details\u0027)?[\u0027body/cp_foreignlicencenumber\u0027]",
            "dynamicFileSchema/2086793896": "@outputs(\u0027Get_a_row_by_ID_First_row_of_S59\u0027)?[\u0027body/cp_section59printed\u0027]",
            "dynamicFileSchema/2099049052": "@outputs(\u0027Get_a_row_by_ID_Offender_Details\u0027)?[\u0027body/address1_line1\u0027]",
              "dynamicFileSchema/2121107768": "@variables(\u0027Repeating table HORT1 Documents\u0027)",
            "dynamicFileSchema/-1077517368": "@if(empty(outputs(\u0027Get_a_row_by_ID_Incident_Details\u0027)?[\u0027body/cp_incidentdate\u0027]),\u0027\u0027,formatDateTime(convertTimeZone(outputs(\u0027Get_a_row_by_ID_Incident_Details\u0027)?[\u0027body/cp_incidentdate\u0027],\u0027UTC\u0027,\u0027GMT Standard Time\u0027),\u0027dd/MM/yyyy\u0027))",
            "dynamicFileSchema/-1926179932": "@outputs(\u0027Get_a_row_by_ID_(officer_from_user)\u0027)?[\u0027body/lastname\u0027]",
            "dynamicFileSchema/-689829510": "@outputs(\u0027Get_a_row_by_ID_(officer_from_user)\u0027)?[\u0027body/cp_badgenumber\u0027]",
            "dynamicFileSchema/-1224592114": "@outputs(\u0027Get_Vehicle_Ticket_Record\u0027)?[\u0027body/cp_tpa/cp_name\u0027]",
            "dynamicFileSchema/-2093070233": "@if(empty(outputs(\u0027Get_Vehicle_Ticket_Record\u0027)?[\u0027body/cp_offencedatetime\u0027]),\u0027\u0027,formatDateTime(convertTimeZone(outputs(\u0027Get_Vehicle_Ticket_Record\u0027)?[\u0027body/cp_offencedatetime\u0027],\u0027UTC\u0027,\u0027GMT Standard Time\u0027),\u0027dd/MM/yyyy HH:mm:ss\u0027))",
            "dynamicFileSchema/-282274585": "@outputs(\u0027Get_Vehicle_Ticket_Record\u0027)?[\u0027body/cp_reasonforstopping/cp_name\u0027]",
            "dynamicFileSchema/-221217446": "@outputs(\u0027Get_a_row_by_ID_first_row_of_Vehicle_details\u0027)?[\u0027body/cp_colour/cp_name\u0027]",
            "dynamicFileSchema/-1120611449": "@outputs(\u0027Get_a_row_by_ID_first_row_of_Vehicle_details\u0027)?[\u0027body/cp_enginecc\u0027]",
            "dynamicFileSchema/-1498421838": "@outputs(\u0027Get_a_row_by_ID_first_row_of_Vehicle_details\u0027)?[\u0027body/cp_insuredby\u0027]",
            "dynamicFileSchema/-2105177803": "@outputs(\u0027Get_a_row_by_ID_first_row_of_Vehicle_details\u0027)?[\u0027body/cp_restrictedvehicle\u0027]",
            "dynamicFileSchema/-1169550275": "@outputs(\u0027Get_a_row_by_ID_first_row_of_Vehicle_details\u0027)?[\u0027body/cp_manualtransmission\u0027]",
            "dynamicFileSchema/-1291668971": "@if(empty(outputs(\u0027Get_a_row_by_ID_first_row_of_Vehicle_details\u0027)?[\u0027body/cp_dateofregistration\u0027]),\u0027\u0027,formatDateTime(convertTimeZone(outputs(\u0027Get_a_row_by_ID_first_row_of_Vehicle_details\u0027)?[\u0027body/cp_dateofregistration\u0027],\u0027UTC\u0027,\u0027GMT Standard Time\u0027),\u0027dd/MM/yyyy\u0027))",
            "dynamicFileSchema/-1943594606": "@outputs(\u0027Get_a_row_by_ID_first_row_of_Vehicle_details\u0027)?[\u0027body/cp_uptodateexciseduty\u0027]",
            "dynamicFileSchema/-16008513": "@outputs(\u0027Get_a_row_by_ID_Offender_Details\u0027)?[\u0027body/lastname\u0027]",
            "dynamicFileSchema/-901905556": "@outputs(\u0027Get_a_row_by_ID_Offender_Details\u0027)?[\u0027body/cp_additionalname\u0027]",
            "dynamicFileSchema/-532039688": "@outputs(\u0027Get_a_row_by_ID_Offender_Details\u0027)?[\u0027body/cp_housename\u0027]",
            "dynamicFileSchema/-1733608496": "@outputs(\u0027Get_a_row_by_ID_Offender_Details\u0027)?[\u0027body/address1_postalcode\u0027]",
            "dynamicFileSchema/-755815217": "@outputs(\u0027Get_a_row_by_ID_Offender_Details\u0027)?[\u0027body/address1_telephone1\u0027]",
            "dynamicFileSchema/-1447848712": "@outputs(\u0027Get_a_row_by_ID_Offender_Details\u0027)?[\u0027body/cp_officerdefinedethnicity/cp_name\u0027]",
            "dynamicFileSchema/-2066631280": "@outputs(\u0027Get_a_row_by_ID_Offender_Details\u0027)?[\u0027body/cp_otheroccupation\u0027]",
            "dynamicFileSchema/-835147155": "@outputs(\u0027Get_a_row_by_ID_Offender_Details\u0027)?[\u0027body/cp_licencenumber\u0027]",
            "dynamicFileSchema/-1275391458": "@outputs(\u0027Get_a_row_by_ID_Offender_Details\u0027)?[\u0027body/cp_licencetype/cp_name\u0027]",
              "dynamicFileSchema/-2120832023": "@outputs(\u0027Compose_Licence_Categories\u0027)",
            "dynamicFileSchema/-420571311": "@if(empty(outputs(\u0027Get_a_row_by_ID_Offender_Details\u0027)?[\u0027body/cp_licencevalidfrom\u0027]),\u0027\u0027,formatDateTime(convertTimeZone(outputs(\u0027Get_a_row_by_ID_Offender_Details\u0027)?[\u0027body/cp_licencevalidfrom\u0027],\u0027UTC\u0027,\u0027GMT Standard Time\u0027),\u0027dd/MM/yyyy\u0027))",
            "dynamicFileSchema/-1905680357": "@outputs(\u0027Get_a_row_by_ID_Offender_Details\u0027)?[\u0027body/cp_penaltypoints\u0027]",
            "dynamicFileSchema/-89092228": "@outputs(\u0027Get_a_row_by_ID_Offender_Details\u0027)?[\u0027body/cp_foreignlicencecountry/cp_name\u0027]",
              "dynamicFileSchema/-1263984601": "@variables(\u0027Repeating table  Traffic Offence Codes\u0027)",
            "dynamicFileSchema/-75060595": "@outputs(\u0027Get_a_row_by_ID_first_row_of_TO\u0027)?[\u0027body/cp_containsspeedlimit\u0027]",
            "dynamicFileSchema/-1921324395": "@outputs(\u0027Get_a_row_by_ID_first_row_of_TO\u0027)?[\u0027body/cp_nipnotrequired\u0027]",
            "dynamicFileSchema/-1235779190": "@outputs(\u0027Get_a_row_by_ID_first_row_of_TO\u0027)?[\u0027body/cp_trafficserialnumber\u0027]",
            "dynamicFileSchema/-922420138": "@outputs(\u0027Get_a_row_by_ID_first_row_of_TO\u0027)?[\u0027body/cp_trafficoffenceprinted\u0027]",
              "dynamicFileSchema/-625316838": "@variables(\u0027TO offender Signature\u0027)",
            "dynamicFileSchema/-377243245": "@outputs(\u0027Get_a_row_by_ID_first_row_of_HORT1\u0027)?[\u0027body/cp_produceatstation/cp_name\u0027]",
            "dynamicFileSchema/-1123528746": "@outputs(\u0027Get_a_row_by_ID_first_row_of_HORT1\u0027)?[\u0027body/cp_hort1printed\u0027]",
              "dynamicFileSchema/-802145886": "@variables(\u0027HORT1 Offender SIgnature\u0027)",
              "dynamicFileSchema/-248661453": "@variables(\u0027VDRS offender Signature\u0027)",
            "dynamicFileSchema/-1009054717": "@outputs(\u0027Get_a_row_by_ID_first_row_of_VDRS\u0027)?[\u0027body/cp_vdrsserialnumber\u0027]",
            "dynamicFileSchema/-1557622693": "@outputs(\u0027Get_a_row_by_ID_first_row_of_VDRS\u0027)?[\u0027body/cp_vdrsprinted\u0027]",
            "dynamicFileSchema/-848716854": "@outputs(\u0027Get_a_row_by_ID_first_row_of_S165\u0027)?[\u0027body/cp_recoverygarage/name\u0027]",
            "dynamicFileSchema/-226151212": "@outputs(\u0027Get_a_row_by_ID_first_row_of_S165\u0027)?[\u0027body/cp_recoverygarage/name\u0027]",
              "dynamicFileSchema/-124543851": "@variables(\u0027S165 offender Signature\u0027)",
            "dynamicFileSchema/-1451002287": "@outputs(\u0027Get_a_row_by_ID_First_row_of_S59\u0027)?[\u0027body/cp_section/cp_name\u0027]",
            "dynamicFileSchema/-1859034294": "@outputs(\u0027Get_a_row_by_ID_First_row_of_S59\u0027)?[\u0027body/cp_drivingtheabovevehiclein/cp_name\u0027]",
              "dynamicFileSchema/-1173953906": "@variables(\u0027S59 Offender Signature\u0027)",
            "dynamicFileSchema/-1407686341": "@outputs(\u0027Get_a_row_by_ID_first_row_of_S163\u0027)?[\u0027body/cp_outcomeofstopreasonforoutcome/cp_name\u0027]",
            "dynamicFileSchema/-1010600329": "@outputs(\u0027Get_a_row_by_ID_first_row_of_S163\u0027)?[\u0027body/cp_linkreasonforstopoutcome\u0027]",
            "dynamicFileSchema/-1988385750": "@outputs(\u0027Get_a_row_by_ID_first_row_of_S163\u0027)?[\u0027body/cp_description\u0027]",
            "dynamicFileSchema/-512680932": "@outputs(\u0027Get_a_row_by_ID_Evidence_Officer_Details\u0027)?[\u0027body/lastname\u0027]",
            "dynamicFileSchema/-2077118496": "@outputs(\u0027Get_a_row_by_ID_Evidence_Officer_Details\u0027)?[\u0027body/firstname\u0027]",
            "dynamicFileSchema/-2146027739": "@outputs(\u0027Get_a_row_by_ID_Evidence_Officer_Details\u0027)?[\u0027body/cp_badgenumber\u0027]",
            "dynamicFileSchema/-1669318796": "@outputs(\u0027Get_a_row_by_ID_Evidence_Officer_Details\u0027)?[\u0027body/positionid/name\u0027]",
            "dynamicFileSchema/-1245027525": "@outputs(\u0027Get_Vehicle_Ticket_Record\u0027)?[\u0027body/cp_officerstatement\u0027]",
            "dynamicFileSchema/-843858339": "@outputs(\u0027Get_Vehicle_Ticket_Record\u0027)?[\u0027body/cp_informationfrom/cp_name\u0027]",
            "dynamicFileSchema/-1486630637": "@outputs(\u0027Get_Vehicle_Ticket_Record\u0027)?[\u0027body/cp_daylight/cp_name\u0027]",
            "dynamicFileSchema/-1720819760": "@outputs(\u0027Get_Vehicle_Ticket_Record\u0027)?[\u0027body/cp_visibility/cp_name\u0027]",
            "dynamicFileSchema/-457565468": "@outputs(\u0027Get_Vehicle_Ticket_Record\u0027)?[\u0027body/cp_distancefollowed\u0027]",
            "dynamicFileSchema/-263688593": "@outputs(\u0027Get_Vehicle_Ticket_Record\u0027)?[\u0027body/cp_fromreferencepointfc\u0027]",
            "dynamicFileSchema/-1291965012": "@outputs(\u0027Get_Vehicle_Ticket_Record\u0027)?[\u0027body/cp_toreferencepoint\u0027]",
            "dynamicFileSchema/-548614527": "@outputs(\u0027Get_Vehicle_Ticket_Record\u0027)?[\u0027body/cp_recordedspeed\u0027]",
            "dynamicFileSchema/-1064184242": "@outputs(\u0027Get_Vehicle_Ticket_Record\u0027)?[\u0027body/cp_distancebehind\u0027]",
            "dynamicFileSchema/-1845389717": "@if(empty(outputs(\u0027Get_Vehicle_Ticket_Record\u0027)?[\u0027body/cp_speedometercheckdateandtime\u0027]),\u0027\u0027,formatDateTime(convertTimeZone(outputs(\u0027Get_Vehicle_Ticket_Record\u0027)?[\u0027body/cp_speedometercheckdateandtime\u0027],\u0027UTC\u0027,\u0027GMT Standard Time\u0027),\u0027dd/MM/yyyy HH:mm:ss\u0027))",
            "dynamicFileSchema/-180971514": "@outputs(\u0027Get_Vehicle_Ticket_Record\u0027)?[\u0027body/cp_deviceserialnumber\u0027]",
            "dynamicFileSchema/-734242657": "@if(empty(outputs(\u0027Get_Vehicle_Ticket_Record\u0027)?[\u0027body/cp_secdevicecheckdatetime\u0027]),\u0027\u0027,formatDateTime(convertTimeZone(outputs(\u0027Get_Vehicle_Ticket_Record\u0027)?[\u0027body/cp_secdevicecheckdatetime\u0027],\u0027UTC\u0027,\u0027GMT Standard Time\u0027),\u0027dd/MM/yyyy HH:mm:ss\u0027))",
            "dynamicFileSchema/-1589152873": "@outputs(\u0027Get_Vehicle_Ticket_Record\u0027)?[\u0027body/cp_seconddevicechecklocation\u0027]",
              "dynamicFileSchema/-439917600": "@variables(\u0027Evidence Signature\u0027)",
            "dynamicFileSchema/-1886710728": "@outputs(\u0027Get_Vehicle_Ticket_Record\u0027)?[\u0027body/cp_vehicleuse/cp_name\u0027]",
              "dynamicFileSchema/-51547499": "@variables(\u0027PhotoCaption1\u0027)",
              "dynamicFileSchema/-596256335": "@variables(\u0027PhotoCaption3\u0027)",
              "dynamicFileSchema/-1303691362": "@variables(\u0027PhotoCaption4\u0027)",
              "dynamicFileSchema/-2042349949": "@variables(\u0027Photo4\u0027)"
            },
            "authentication": {
              "type": "Raw",
            "value": "@json(decodeBase64(triggerOutputs().headers[\u0027X-MS-APIM-Tokens\u0027]))[\u0027$ConnectionKey\u0027]"
            }
          }
        },
        "Create_file_Report_as_Doc": {
          "runAfter": {
            "Populate_a_Microsoft_Word_template": [
              "Succeeded"
            ]
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_onedriveforbusiness",
              "operationId": "CreateFile",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_onedriveforbusiness"
            },
            "parameters": {
              "folderPath": "/",
            "name": "@{variables(\u0027GeneratedDocumentId\u0027)}.docx",
            "body": "@outputs(\u0027Populate_a_Microsoft_Word_template\u0027)?[\u0027body\u0027]"
            },
            "authentication": {
              "type": "Raw",
            "value": "@json(decodeBase64(triggerOutputs().headers[\u0027X-MS-APIM-Tokens\u0027]))[\u0027$ConnectionKey\u0027]"
            }
          },
          "runtimeConfiguration": {
            "contentTransfer": {
              "transferMode": "Chunked"
            }
          }
        },
        "Convert_file_report_to_PDF": {
          "runAfter": {
            "Create_file_Report_as_Doc": [
              "Succeeded"
            ]
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_onedriveforbusiness",
              "operationId": "ConvertFile",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_onedriveforbusiness"
            },
            "parameters": {
            "id": "@outputs(\u0027Create_file_Report_as_Doc\u0027)?[\u0027body/Id\u0027]",
              "type": "PDF"
            },
            "authentication": {
              "type": "Raw",
            "value": "@json(decodeBase64(triggerOutputs().headers[\u0027X-MS-APIM-Tokens\u0027]))[\u0027$ConnectionKey\u0027]"
            }
          }
        },
        "Create_file_Report_as_PDF": {
          "runAfter": {
            "Convert_file_report_to_PDF": [
              "Succeeded"
            ]
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_onedriveforbusiness",
              "operationId": "CreateFile",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_onedriveforbusiness"
            },
            "parameters": {
              "folderPath": "/",
            "name": "Vehicle Ticket for Incident @{outputs(\u0027Get_a_row_by_ID_Incident_Details\u0027)?[\u0027body/cp_incidentnumber\u0027]}.pdf",
            "body": "@outputs(\u0027Convert_file_report_to_PDF\u0027)?[\u0027body\u0027]"
            },
            "authentication": {
              "type": "Raw",
            "value": "@json(decodeBase64(triggerOutputs().headers[\u0027X-MS-APIM-Tokens\u0027]))[\u0027$ConnectionKey\u0027]"
            }
          },
          "runtimeConfiguration": {
            "contentTransfer": {
              "transferMode": "Chunked"
            }
          }
        },
        "Delete_file": {
          "runAfter": {
            "Create_file_Report_as_PDF": [
              "Succeeded"
            ]
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_onedriveforbusiness",
              "operationId": "DeleteFile",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_onedriveforbusiness"
            },
            "parameters": {
            "id": "@outputs(\u0027Create_file_Report_as_Doc\u0027)?[\u0027body/Id\u0027]"
            },
            "authentication": {
              "type": "Raw",
            "value": "@json(decodeBase64(triggerOutputs().headers[\u0027X-MS-APIM-Tokens\u0027]))[\u0027$ConnectionKey\u0027]"
            }
          }
        },
        "Respond_to_a_PowerApp_or_flow": {
          "runAfter": {
            "Delete_file": [
              "Succeeded"
            ]
          },
          "type": "Response",
          "kind": "PowerApp",
          "inputs": {
            "statusCode": 200,
            "body": {
            "generatedpdf": "@outputs(\u0027Create_file_Report_as_PDF\u0027)?[\u0027body/Id\u0027]"
            },
            "schema": {
              "type": "object",
              "properties": {
                "generatedpdf": {
                  "title": "GeneratedPDF",
                  "x-ms-dynamically-added": true,
                  "type": "string",
                  "format": "byte"
                }
              }
            }
          }
        },
        "Check_if_there_are_Licence_Categories_for_the_Offender": {
          "actions": {
            
          },
          "runAfter": {
            "Initialize_Licence_Categories": [
              "Succeeded"
            ]
          },
          "else": {
            "actions": {
              "Compose_Licence_Categories": {
                "runAfter": {
                  "Apply_to_each_Licence_Category": [
                    "Succeeded"
                  ]
                },
                "type": "Compose",
                "inputs": "@variables(\u0027Licence Categories\u0027)"
              },
              "List_rows_all_licence_categorys_linked_to_offender": {
                "runAfter": {
                  
                },
                "type": "OpenApiConnection",
                "inputs": {
                  "host": {
                    "connectionName": "shared_commondataserviceforapps",
                    "operationId": "ListRecords",
                    "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                  },
                  "parameters": {
                    "entityName": "cp_licencecategory_contactset",
                  "$filter": "contactid eq @{outputs(\u0027Get_a_row_by_ID_Offender_Details\u0027)?[\u0027body/contactid\u0027]}"
                  },
                  "authentication": {
                    "type": "Raw",
                  "value": "@json(decodeBase64(triggerOutputs().headers[\u0027X-MS-APIM-Tokens\u0027]))[\u0027$ConnectionKey\u0027]"
                  }
                }
              },
              "Apply_to_each_Licence_Category": {
              "foreach": "@outputs(\u0027List_rows_all_licence_categorys_linked_to_offender\u0027)?[\u0027body/value\u0027]",
                "actions": {
                  "Get_a_row_by_ID_each_Licence_Category": {
                    "runAfter": {
                      
                    },
                    "type": "OpenApiConnection",
                    "inputs": {
                      "host": {
                        "connectionName": "shared_commondataserviceforapps",
                        "operationId": "GetItem",
                        "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                      },
                      "parameters": {
                        "entityName": "cp_licencecategories",
                      "recordId": "@items(\u0027Apply_to_each_Licence_Category\u0027)?[\u0027cp_licencecategoryid\u0027]"
                      },
                      "authentication": {
                        "type": "Raw",
                      "value": "@json(decodeBase64(triggerOutputs().headers[\u0027X-MS-APIM-Tokens\u0027]))[\u0027$ConnectionKey\u0027]"
                      }
                    }
                  },
                  "Append_to_string_variable_Licence_Categories": {
                    "runAfter": {
                      "Get_a_row_by_ID_each_Licence_Category": [
                        "Succeeded"
                      ]
                    },
                    "type": "AppendToStringVariable",
                    "inputs": {
                      "name": "Licence Categories",
                    "value": "@{outputs(\u0027Get_a_row_by_ID_each_Licence_Category\u0027)?[\u0027body/cp_licencecategoryname\u0027]};"
                    }
                  }
                },
                "runAfter": {
                  "List_rows_all_licence_categorys_linked_to_offender": [
                    "Succeeded"
                  ]
                },
                "type": "Foreach"
              }
            }
          },
          "expression": {
            "equals": [
            "@empty(outputs(\u0027List_rows_Licence_Categories_for_Offender_\u0027)?[\u0027body/value\u0027])",
              "@true"
            ]
          },
          "type": "If"
        },
        "Initialize_Licence_Categories": {
          "runAfter": {
            "List_rows_Vehicle_Details_": [
              "Succeeded"
            ]
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Licence Categories",
                "type": "string"
              }
            ]
          }
        },
        "If_photos_exists": {
          "actions": {
            "Set_variable_10": {
              "runAfter": {
                
              },
              "type": "SetVariable",
              "inputs": {
                "name": "Photo1",
                "value": {
                  "$content-type": "image/jpeg",
                  "$content": "iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVQYV2NgYAAAAAMAAWgmWQ0AAAAASUVORK5CYII="
                }
              }
            },
            "Set_variable_11": {
              "runAfter": {
                "Set_variable_10": [
                  "Succeeded"
                ]
              },
              "type": "SetVariable",
              "inputs": {
                "name": "Photo5",
                "value": {
                  "$content-type": "image/jpeg",
                  "$content": "iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVQYV2NgYAAAAAMAAWgmWQ0AAAAASUVORK5CYII="
                }
              }
            },
            "Set_variable_12": {
              "runAfter": {
                "Set_variable_11": [
                  "Succeeded"
                ]
              },
              "type": "SetVariable",
              "inputs": {
                "name": "Photo4",
                "value": {
                  "$content-type": "image/jpeg",
                  "$content": "iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVQYV2NgYAAAAAMAAWgmWQ0AAAAASUVORK5CYII="
                }
              }
            },
            "Set_variable_13": {
              "runAfter": {
                "Set_variable_12": [
                  "Succeeded"
                ]
              },
              "type": "SetVariable",
              "inputs": {
                "name": "Photo3",
                "value": {
                  "$content-type": "image/jpeg",
                  "$content": "iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVQYV2NgYAAAAAMAAWgmWQ0AAAAASUVORK5CYII="
                }
              }
            },
            "Set_variable_14": {
              "runAfter": {
                "Set_variable_13": [
                  "Succeeded"
                ]
              },
              "type": "SetVariable",
              "inputs": {
                "name": "Photo2",
                "value": {
                  "$content-type": "image/jpeg",
                  "$content": "iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVQYV2NgYAAAAAMAAWgmWQ0AAAAASUVORK5CYII="
                }
              }
            }
          },
          "runAfter": {
            "Initialize_Photo_5_variable": [
              "Succeeded"
            ]
          },
          "else": {
            "actions": {
              "Apply_to_each_Photo": {
              "foreach": "@outputs(\u0027List_Photos\u0027)?[\u0027body/value\u0027]",
                "actions": {
                  "DownloadPhoto": {
                    "runAfter": {
                      
                    },
                    "type": "OpenApiConnection",
                    "inputs": {
                      "host": {
                        "connectionName": "shared_commondataserviceforapps",
                        "operationId": "GetEntityFileImageFieldContent",
                        "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                      },
                      "parameters": {
                        "entityName": "cp_photos",
                      "recordId": "@items(\u0027Apply_to_each_Photo\u0027)?[\u0027cp_photoid\u0027]",
                        "fileImageFieldName": "cp_image",
                        "size": "full"
                      },
                      "authentication": {
                        "type": "Raw",
                      "value": "@json(decodeBase64(triggerOutputs().headers[\u0027X-MS-APIM-Tokens\u0027]))[\u0027$ConnectionKey\u0027]"
                      }
                    }
                  },
                  "Compose_Photo": {
                    "runAfter": {
                      "DownloadPhoto": [
                        "Succeeded"
                      ]
                    },
                    "type": "Compose",
                    "inputs": {
                      "$content-type": "image/jpeg",
                    "$content": "@base64(outputs(\u0027DownloadPhoto\u0027)?[\u0027body\u0027])"
                    }
                  },
                  "Append_to_array_variable": {
                    "runAfter": {
                      "Compose_Photo": [
                        "Succeeded"
                      ]
                    },
                    "type": "AppendToArrayVariable",
                    "inputs": {
                      "name": "Photos",
                      "value": {
                        "Photo": "@outputs(\u0027Compose_Photo\u0027)"
                      }
                    }
                  }
                },
                "runAfter": {
                  
                },
                "type": "Foreach"
              },
              "Condition_Photo_1": {
                "actions": {
                  "Set_variable_2": {
                    "runAfter": {
                      
                    },
                    "type": "SetVariable",
                    "inputs": {
                      "name": "Photo1",
                      "value": {
                        "$content-type": "image/jpeg",
                        "$content": "iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVQYV2NgYAAAAAMAAWgmWQ0AAAAASUVORK5CYII="
                      }
                    }
                  }
                },
                "runAfter": {
                  "Apply_to_each_Photo": [
                    "Succeeded"
                  ]
                },
                "else": {
                  "actions": {
                    "Download_Photo_1": {
                      "runAfter": {
                        
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": {
                          "connectionName": "shared_commondataserviceforapps",
                          "operationId": "GetEntityFileImageFieldContent",
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                        },
                        "parameters": {
                          "entityName": "cp_photos",
                        "recordId": "@body(\u0027List_photos\u0027)?[\u0027value\u0027]?[0]?.cp_photoid",
                          "fileImageFieldName": "cp_image",
                          "size": "full"
                        },
                        "authentication": {
                          "type": "Raw",
                        "value": "@json(decodeBase64(triggerOutputs().headers[\u0027X-MS-APIM-Tokens\u0027]))[\u0027$ConnectionKey\u0027]"
                        }
                      }
                    },
                    "Compose": {
                      "runAfter": {
                        "Condition_to_check_if_photo_1_has_a_caption": [
                          "Succeeded"
                        ]
                      },
                      "type": "Compose",
                      "inputs": {
                        "$content-type": "image/jpeg",
                      "$content": "@{base64(outputs(\u0027Download_Photo_1\u0027)?[\u0027body\u0027])}"
                      }
                    },
                    "Set_variable_3": {
                      "runAfter": {
                        "Compose": [
                          "Succeeded"
                        ]
                      },
                      "type": "SetVariable",
                      "inputs": {
                        "name": "Photo1",
                        "value": "@outputs(\u0027Compose\u0027)"
                      }
                    },
                    "Get_a_row_by_ID_Caption_for_photo_1": {
                      "runAfter": {
                        "Download_Photo_1": [
                          "Succeeded"
                        ]
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": {
                          "connectionName": "shared_commondataserviceforapps",
                          "operationId": "GetItem",
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                        },
                        "parameters": {
                          "entityName": "cp_photos",
                        "recordId": "@body(\u0027List_Photos\u0027)?[\u0027value\u0027]?[0]?.cp_photoid"
                        },
                        "authentication": {
                          "type": "Raw",
                        "value": "@json(decodeBase64(triggerOutputs().headers[\u0027X-MS-APIM-Tokens\u0027]))[\u0027$ConnectionKey\u0027]"
                        }
                      }
                    },
                    "Condition_to_check_if_photo_1_has_a_caption": {
                      "actions": {
                        "Set_variable_15": {
                          "runAfter": {
                            
                          },
                          "type": "SetVariable",
                          "inputs": {
                            "name": "PhotoCaption1",
                            "value": "\u0027Vehicle Ticket Photo 1\u0027"
                          }
                        }
                      },
                      "runAfter": {
                        "Get_a_row_by_ID_Caption_for_photo_1": [
                          "Succeeded"
                        ]
                      },
                      "else": {
                        "actions": {
                          "Set_variable_caption_1": {
                            "runAfter": {
                              
                            },
                            "type": "SetVariable",
                            "inputs": {
                              "name": "PhotoCaption1",
                            "value": "@outputs(\u0027Get_a_row_by_ID_Caption_for_photo_1\u0027)?[\u0027body/cp_phototitle\u0027]"
                            }
                          }
                        }
                      },
                      "expression": {
                        "equals": [
                        "@empty(outputs(\u0027Get_a_row_by_ID_Caption_for_photo_1\u0027)?[\u0027body/cp_phototitle\u0027])",
                          "@true"
                        ]
                      },
                      "type": "If"
                    }
                  }
                },
                "expression": {
                  "equals": [
                  "@empty(body(\u0027List_photos\u0027)?[\u0027value\u0027]?[0]?.cp_imageid)",
                    "@true"
                  ]
                },
                "type": "If"
              },
              "Condition_Photo_2": {
                "actions": {
                  "Set_variable_4": {
                    "runAfter": {
                      
                    },
                    "type": "SetVariable",
                    "inputs": {
                      "name": "Photo2",
                      "value": {
                        "$content-type": "image/jpeg",
                        "$content": "iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVQYV2NgYAAAAAMAAWgmWQ0AAAAASUVORK5CYII="
                      }
                    }
                  }
                },
                "runAfter": {
                  "Condition_Photo_1": [
                    "Succeeded"
                  ]
                },
                "else": {
                  "actions": {
                    "Download_Photo": {
                      "runAfter": {
                        
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": {
                          "connectionName": "shared_commondataserviceforapps",
                          "operationId": "GetEntityFileImageFieldContent",
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                        },
                        "parameters": {
                          "entityName": "cp_photos",
                        "recordId": "@body(\u0027List_photos\u0027)?[\u0027value\u0027]?[1]?.cp_photoid",
                          "fileImageFieldName": "cp_image",
                          "size": "full"
                        },
                        "authentication": {
                          "type": "Raw",
                        "value": "@json(decodeBase64(triggerOutputs().headers[\u0027X-MS-APIM-Tokens\u0027]))[\u0027$ConnectionKey\u0027]"
                        }
                      }
                    },
                    "Compose_2": {
                      "runAfter": {
                        "Condition_to_check_if_photo_2_has_a_caption_": [
                          "Succeeded"
                        ]
                      },
                      "type": "Compose",
                      "inputs": {
                        "$content-type": "image/jpeg",
                      "$content": "@{base64(outputs(\u0027Download_Photo\u0027)?[\u0027body\u0027])}"
                      }
                    },
                    "Set_variable_5": {
                      "runAfter": {
                        "Compose_2": [
                          "Succeeded"
                        ]
                      },
                      "type": "SetVariable",
                      "inputs": {
                        "name": "Photo2",
                        "value": "@outputs(\u0027Compose_2\u0027)"
                      }
                    },
                    "Condition_to_check_if_photo_2_has_a_caption_": {
                      "actions": {
                        "Set_variable_16": {
                          "runAfter": {
                            
                          },
                          "type": "SetVariable",
                          "inputs": {
                            "name": "PhotoCaption2",
                            "value": "\u0027Vehicle Ticket Photo 2\u0027"
                          }
                        }
                      },
                      "runAfter": {
                        "Get_a_row_by_ID_Caption_for_photo_2": [
                          "Succeeded"
                        ]
                      },
                      "else": {
                        "actions": {
                          "Set_variable_caption": {
                            "runAfter": {
                              
                            },
                            "type": "SetVariable",
                            "inputs": {
                              "name": "PhotoCaption2",
                            "value": "@outputs(\u0027Get_a_row_by_ID_Caption_for_photo_2\u0027)?[\u0027body/cp_phototitle\u0027]"
                            }
                          }
                        }
                      },
                      "expression": {
                        "equals": [
                        "@empty(outputs(\u0027Get_a_row_by_ID_Caption_for_photo_2\u0027)?[\u0027body/cp_phototitle\u0027])",
                          "@true"
                        ]
                      },
                      "type": "If"
                    },
                    "Get_a_row_by_ID_Caption_for_photo_2": {
                      "runAfter": {
                        "Download_Photo": [
                          "Succeeded"
                        ]
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": {
                          "connectionName": "shared_commondataserviceforapps",
                          "operationId": "GetItem",
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                        },
                        "parameters": {
                          "entityName": "cp_photos",
                        "recordId": "@body(\u0027List_Photos\u0027)?[\u0027value\u0027]?[1]?.cp_photoid"
                        },
                        "authentication": {
                          "type": "Raw",
                        "value": "@json(decodeBase64(triggerOutputs().headers[\u0027X-MS-APIM-Tokens\u0027]))[\u0027$ConnectionKey\u0027]"
                        }
                      }
                    }
                  }
                },
                "expression": {
                  "equals": [
                  "@empty(body(\u0027List_photos\u0027)?[\u0027value\u0027]?[1]?.cp_imageid)",
                    "@true"
                  ]
                },
                "type": "If"
              },
              "Condition_Photo_3": {
                "actions": {
                  "Set_variable_6": {
                    "runAfter": {
                      
                    },
                    "type": "SetVariable",
                    "inputs": {
                      "name": "Photo3",
                      "value": {
                        "$content-type": "image/jpeg",
                        "$content": "iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVQYV2NgYAAAAAMAAWgmWQ0AAAAASUVORK5CYII="
                      }
                    }
                  }
                },
                "runAfter": {
                  "Condition_Photo_2": [
                    "Succeeded"
                  ]
                },
                "else": {
                  "actions": {
                    "Download_Photo_2": {
                      "runAfter": {
                        
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": {
                          "connectionName": "shared_commondataserviceforapps",
                          "operationId": "GetEntityFileImageFieldContent",
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                        },
                        "parameters": {
                          "entityName": "cp_photos",
                        "recordId": "@body(\u0027List_Photos\u0027)?[\u0027value\u0027]?[2]?.cp_photoid",
                          "fileImageFieldName": "cp_image",
                          "size": "full"
                        },
                        "authentication": {
                          "type": "Raw",
                        "value": "@json(decodeBase64(triggerOutputs().headers[\u0027X-MS-APIM-Tokens\u0027]))[\u0027$ConnectionKey\u0027]"
                        }
                      }
                    },
                    "Compose_3": {
                      "runAfter": {
                        "Set_variable_Caption_3": [
                          "Succeeded"
                        ]
                      },
                      "type": "Compose",
                      "inputs": {
                        "$content-type": "image/jpeg",
                      "$content": "@{base64(outputs(\u0027Download_Photo_2\u0027)?[\u0027body\u0027])}"
                      }
                    },
                    "Set_variable_7": {
                      "runAfter": {
                        "Compose_3": [
                          "Succeeded"
                        ]
                      },
                      "type": "SetVariable",
                      "inputs": {
                        "name": "Photo3",
                        "value": "@outputs(\u0027Compose_3\u0027)"
                      }
                    },
                    "Set_variable_Caption_3": {
                      "runAfter": {
                        "Condition_to_check_if_photo_3_has_a_caption__": [
                          "Succeeded"
                        ]
                      },
                      "type": "SetVariable",
                      "inputs": {
                        "name": "PhotoCaption3",
                      "value": "@{body(\u0027List_Photos\u0027)?[\u0027value\u0027]?[2]?.cp_phototitle}"
                      }
                    },
                    "Get_a_row_by_ID_Caption_for_photo_3": {
                      "runAfter": {
                        "Download_Photo_2": [
                          "Succeeded"
                        ]
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": {
                          "connectionName": "shared_commondataserviceforapps",
                          "operationId": "GetItem",
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                        },
                        "parameters": {
                          "entityName": "cp_photos",
                        "recordId": "@body(\u0027List_Photos\u0027)?[\u0027value\u0027]?[2]?.cp_photoid"
                        },
                        "authentication": {
                          "type": "Raw",
                        "value": "@json(decodeBase64(triggerOutputs().headers[\u0027X-MS-APIM-Tokens\u0027]))[\u0027$ConnectionKey\u0027]"
                        }
                      }
                    },
                    "Condition_to_check_if_photo_3_has_a_caption__": {
                      "actions": {
                        "Set_variable_17": {
                          "runAfter": {
                            
                          },
                          "type": "SetVariable",
                          "inputs": {
                            "name": "PhotoCaption3",
                            "value": "\u0027Vehicle Ticket Photo 3\u0027"
                          }
                        }
                      },
                      "runAfter": {
                        "Get_a_row_by_ID_Caption_for_photo_3": [
                          "Succeeded"
                        ]
                      },
                      "else": {
                        "actions": {
                          "Set_variable_caption_2": {
                            "runAfter": {
                              
                            },
                            "type": "SetVariable",
                            "inputs": {
                              "name": "PhotoCaption3",
                            "value": "@outputs(\u0027Get_a_row_by_ID_Caption_for_photo_3\u0027)?[\u0027body/cp_phototitle\u0027]"
                            }
                          }
                        }
                      },
                      "expression": {
                        "equals": [
                        "@empty(outputs(\u0027Get_a_row_by_ID_Caption_for_photo_3\u0027)?[\u0027body/cp_phototitle\u0027])",
                          "@true"
                        ]
                      },
                      "type": "If"
                    }
                  }
                },
                "expression": {
                  "equals": [
                  "@empty(body(\u0027List_photos\u0027)?[\u0027value\u0027]?[2]?.cp_imageid)",
                    "@true"
                  ]
                },
                "type": "If"
              },
              "Condition_Photo_4": {
                "actions": {
                  "Set_variable_8": {
                    "runAfter": {
                      
                    },
                    "type": "SetVariable",
                    "inputs": {
                      "name": "Photo4",
                      "value": {
                        "$content-type": "image/jpeg",
                        "$content": "iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVQYV2NgYAAAAAMAAWgmWQ0AAAAASUVORK5CYII="
                      }
                    }
                  }
                },
                "runAfter": {
                  "Condition_Photo_3": [
                    "Succeeded"
                  ]
                },
                "else": {
                  "actions": {
                    "Download_Photo_3": {
                      "runAfter": {
                        
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": {
                          "connectionName": "shared_commondataserviceforapps",
                          "operationId": "GetEntityFileImageFieldContent",
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                        },
                        "parameters": {
                          "entityName": "cp_photos",
                        "recordId": "@body(\u0027List_photos\u0027)?[\u0027value\u0027]?[3]?.cp_photoid",
                          "fileImageFieldName": "cp_image",
                          "size": "full"
                        },
                        "authentication": {
                          "type": "Raw",
                        "value": "@json(decodeBase64(triggerOutputs().headers[\u0027X-MS-APIM-Tokens\u0027]))[\u0027$ConnectionKey\u0027]"
                        }
                      }
                    },
                    "Compose_4": {
                      "runAfter": {
                        "Condition_to_check_if_photo_4_has_a_caption_": [
                          "Succeeded"
                        ]
                      },
                      "type": "Compose",
                      "inputs": {
                        "$content-type": "image/jpeg",
                      "$content": "@{base64(outputs(\u0027Download_Photo_3\u0027)?[\u0027body\u0027])}"
                      }
                    },
                    "Set_Photo4": {
                      "runAfter": {
                        "Compose_4": [
                          "Succeeded"
                        ]
                      },
                      "type": "SetVariable",
                      "inputs": {
                        "name": "Photo4",
                        "value": "@outputs(\u0027Compose_4\u0027)"
                      }
                    },
                    "Condition_to_check_if_photo_4_has_a_caption_": {
                      "actions": {
                        "Set_variable_18": {
                          "runAfter": {
                            
                          },
                          "type": "SetVariable",
                          "inputs": {
                            "name": "PhotoCaption4",
                            "value": "\u0027Vehicle Ticket Photo 4\u0027"
                          }
                        }
                      },
                      "runAfter": {
                        "Get_a_row_by_ID_Caption_for_photo_4": [
                          "Succeeded"
                        ]
                      },
                      "else": {
                        "actions": {
                          "Set_variable_caption_6": {
                            "runAfter": {
                              
                            },
                            "type": "SetVariable",
                            "inputs": {
                              "name": "PhotoCaption4",
                            "value": "@outputs(\u0027Get_a_row_by_ID_Caption_for_photo_4\u0027)?[\u0027body/cp_phototitle\u0027]"
                            }
                          }
                        }
                      },
                      "expression": {
                        "equals": [
                        "@empty(outputs(\u0027Get_a_row_by_ID_Caption_for_photo_4\u0027)?[\u0027body/cp_phototitle\u0027])",
                          "@true"
                        ]
                      },
                      "type": "If"
                    },
                    "Get_a_row_by_ID_Caption_for_photo_4": {
                      "runAfter": {
                        "Download_Photo_3": [
                          "Succeeded"
                        ]
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": {
                          "connectionName": "shared_commondataserviceforapps",
                          "operationId": "GetItem",
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                        },
                        "parameters": {
                          "entityName": "cp_photos",
                        "recordId": "@body(\u0027List_Photos\u0027)?[\u0027value\u0027]?[3]?.cp_photoid"
                        },
                        "authentication": {
                          "type": "Raw",
                        "value": "@json(decodeBase64(triggerOutputs().headers[\u0027X-MS-APIM-Tokens\u0027]))[\u0027$ConnectionKey\u0027]"
                        }
                      }
                    }
                  }
                },
                "expression": {
                  "equals": [
                  "@empty(body(\u0027List_photos\u0027)?[\u0027value\u0027]?[3]?.cp_imageid)",
                    "@true"
                  ]
                },
                "type": "If"
              },
              "Condition5_Photo": {
                "actions": {
                  "Set_variable_9": {
                    "runAfter": {
                      
                    },
                    "type": "SetVariable",
                    "inputs": {
                      "name": "Photo5",
                      "value": {
                        "$content-type": "image/jpeg",
                        "$content": "iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVQYV2NgYAAAAAMAAWgmWQ0AAAAASUVORK5CYII="
                      }
                    }
                  }
                },
                "runAfter": {
                  "Condition_Photo_4": [
                    "Succeeded"
                  ]
                },
                "else": {
                  "actions": {
                    "Download_Photo_4": {
                      "runAfter": {
                        
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": {
                          "connectionName": "shared_commondataserviceforapps",
                          "operationId": "GetEntityFileImageFieldContent",
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                        },
                        "parameters": {
                          "entityName": "cp_photos",
                        "recordId": "@body(\u0027List_photos\u0027)?[\u0027value\u0027]?[4]?.cp_photoid",
                          "fileImageFieldName": "cp_image",
                          "size": "full"
                        },
                        "authentication": {
                          "type": "Raw",
                        "value": "@json(decodeBase64(triggerOutputs().headers[\u0027X-MS-APIM-Tokens\u0027]))[\u0027$ConnectionKey\u0027]"
                        }
                      }
                    },
                    "Compose_5": {
                      "runAfter": {
                        "Condition_to_check_if_photo_5_has_a_caption": [
                          "Succeeded"
                        ]
                      },
                      "type": "Compose",
                      "inputs": {
                        "$content-type": "image/jpeg",
                      "$content": "@{base64(outputs(\u0027Download_Photo_4\u0027)?[\u0027body\u0027])}"
                      }
                    },
                    "Set_Photo4_2": {
                      "runAfter": {
                        "Compose_5": [
                          "Succeeded"
                        ]
                      },
                      "type": "SetVariable",
                      "inputs": {
                        "name": "Photo5",
                        "value": "@outputs(\u0027Compose_5\u0027)"
                      }
                    },
                    "Get_a_row_by_ID_Caption_for_photo_5": {
                      "runAfter": {
                        "Download_Photo_4": [
                          "Succeeded"
                        ]
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": {
                          "connectionName": "shared_commondataserviceforapps",
                          "operationId": "GetItem",
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                        },
                        "parameters": {
                          "entityName": "cp_photos",
                        "recordId": "@body(\u0027List_Photos\u0027)?[\u0027value\u0027]?[4]?.cp_photoid"
                        },
                        "authentication": {
                          "type": "Raw",
                        "value": "@json(decodeBase64(triggerOutputs().headers[\u0027X-MS-APIM-Tokens\u0027]))[\u0027$ConnectionKey\u0027]"
                        }
                      }
                    },
                    "Condition_to_check_if_photo_5_has_a_caption": {
                      "actions": {
                        "Set_variable_19": {
                          "runAfter": {
                            
                          },
                          "type": "SetVariable",
                          "inputs": {
                            "name": "Photocaption 5",
                            "value": "\u0027Vehicle Ticket Photo 5\u0027"
                          }
                        }
                      },
                      "runAfter": {
                        "Get_a_row_by_ID_Caption_for_photo_5": [
                          "Succeeded"
                        ]
                      },
                      "else": {
                        "actions": {
                          "Set_variable_caption_4": {
                            "runAfter": {
                              
                            },
                            "type": "SetVariable",
                            "inputs": {
                              "name": "Photocaption 5",
                            "value": "@outputs(\u0027Get_a_row_by_ID_Caption_for_photo_5\u0027)?[\u0027body/cp_phototitle\u0027]"
                            }
                          }
                        }
                      },
                      "expression": {
                        "equals": [
                        "@empty(outputs(\u0027Get_a_row_by_ID_Caption_for_photo_5\u0027)?[\u0027body/cp_phototitle\u0027])",
                          "@true"
                        ]
                      },
                      "type": "If"
                    }
                  }
                },
                "expression": {
                  "equals": [
                  "@empty(body(\u0027List_photos\u0027)?[\u0027value\u0027]?[4]?.cp_imageid)",
                    "@true"
                  ]
                },
                "type": "If"
              }
            }
          },
          "expression": {
            "equals": [
            "@empty(outputs(\u0027List_photos\u0027)?[\u0027body/value\u0027])",
              "@true"
            ]
          },
          "type": "If"
        },
        "Initialize_Photo_1_variable": {
          "runAfter": {
            "Initialize_Photo_5_Object": [
              "Succeeded"
            ]
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "PhotoCaption1",
                "type": "string",
              "value": "@{null}"
              }
            ]
          }
        },
        "Initialize_Photo_2_variable": {
          "runAfter": {
            "Initialize_Photo_1_variable": [
              "Succeeded"
            ]
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "PhotoCaption2",
                "type": "string",
              "value": "@{null}"
              }
            ]
          }
        },
        "Initialize_Photo_3_variable_": {
          "runAfter": {
            "Initialize_Photo_2_variable": [
              "Succeeded"
            ]
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "PhotoCaption3",
                "type": "string",
              "value": "@{null}"
              }
            ]
          }
        },
        "Initialize_Photo_4_variable": {
          "runAfter": {
            "Initialize_Photo_3_variable_": [
              "Succeeded"
            ]
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "PhotoCaption4",
                "type": "string",
              "value": "@{null}"
              }
            ]
          }
        },
        "Initialize_Photo_5_variable": {
          "runAfter": {
            "Initialize_Photo_4_variable": [
              "Succeeded"
            ]
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Photocaption 5",
                "type": "string",
              "value": "@{null}"
              }
            ]
          }
        },
        "IS_there_an_offender": {
          "actions": {
            
          },
          "runAfter": {
            "List_Photos": [
              "Succeeded"
            ]
          },
          "else": {
            "actions": {
              "Get_a_row_by_ID_Offender_Details": {
                "runAfter": {
                  
                },
                "type": "OpenApiConnection",
                "inputs": {
                  "host": {
                    "connectionName": "shared_commondataserviceforapps",
                    "operationId": "GetItem",
                    "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                  },
                  "parameters": {
                    "entityName": "contacts",
                  "recordId": "@outputs(\u0027Get_Vehicle_Ticket_Record\u0027)?[\u0027body/_cp_offender_value\u0027]",
                    "$expand": "cp_Gender($select=cp_name),cp_SelfDefinedEthnicity($select=cp_name),cp_ContactPreferredMethodofContact($select=cp_name),cp_LastOccupation($select=cp_name),cp_OfficerDefinedEthnicity($select=cp_name),cp_foreignlicencecountry($select=cp_name),cp_licencetype($select=cp_name),cp_ContactTitle($select=cp_name)"
                  },
                  "authentication": {
                    "type": "Raw",
                  "value": "@json(decodeBase64(triggerOutputs().headers[\u0027X-MS-APIM-Tokens\u0027]))[\u0027$ConnectionKey\u0027]"
                  }
                }
              },
              "List_rows_Licence_Categories_for_Offender_": {
                "runAfter": {
                  "Get_a_row_by_ID_Offender_Details": [
                    "Succeeded"
                  ]
                },
                "type": "OpenApiConnection",
                "inputs": {
                  "host": {
                    "connectionName": "shared_commondataserviceforapps",
                    "operationId": "ListRecords",
                    "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                  },
                  "parameters": {
                    "entityName": "cp_licencecategories",
                  "$filter": "_ownerid_value eq @{outputs(\u0027Get_a_row_by_ID_Offender_Details\u0027)?[\u0027body/_ownerid_value\u0027]}"
                  },
                  "authentication": {
                    "type": "Raw",
                  "value": "@json(decodeBase64(triggerOutputs().headers[\u0027X-MS-APIM-Tokens\u0027]))[\u0027$ConnectionKey\u0027]"
                  }
                }
              }
            }
          },
          "expression": {
            "equals": [
            "@empty(outputs(\u0027Get_Vehicle_Ticket_Record\u0027)?[\u0027body/_cp_offender_value\u0027])",
              "@true"
            ]
          },
          "type": "If"
        },
        "If_there_is_an_Evidence_officer": {
          "actions": {
            
          },
          "runAfter": {
            "Get_a_row_by_ID_(officer_from_user)": [
              "Succeeded"
            ]
          },
          "else": {
            "actions": {
              "Get_a_row_by_ID_Evidence_Officer_Details": {
                "runAfter": {
                  
                },
                "type": "OpenApiConnection",
                "inputs": {
                  "host": {
                    "connectionName": "shared_commondataserviceforapps",
                    "operationId": "GetItem",
                    "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                  },
                  "parameters": {
                    "entityName": "systemusers",
                  "recordId": "@outputs(\u0027Get_Vehicle_Ticket_Record\u0027)?[\u0027body/_cp_officerid_value\u0027]",
                    "$expand": "positionid($select=name)"
                  },
                  "authentication": {
                    "type": "Raw",
                  "value": "@json(decodeBase64(triggerOutputs().headers[\u0027X-MS-APIM-Tokens\u0027]))[\u0027$ConnectionKey\u0027]"
                  }
                }
              }
            }
          },
          "expression": {
            "equals": [
            "@empty(outputs(\u0027Get_Vehicle_Ticket_Record\u0027)?[\u0027body/_cp_officerid_value\u0027])",
              "@true"
            ]
          },
          "type": "If"
        }
      },
      "outputs": {
        
      }
    }
  },
  "schemaVersion": "1.0.0.0"
}
