Schema/FlowsVehicleCP/unpacked/Workflows/VehicleStagingAreaProcess-2A5CB575-1666-EB11-A812-000D3AB403CD.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "cp_sharedcommondataserviceforapps_4c4b9"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      },
      "shared_commondataserviceforapps_1": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "new_sharedcommondataserviceforapps_3a446"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {
            
          },
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {
            
          },
          "type": "SecureObject"
        }
      },
      "triggers": {
        "When_a_row_is_created,_updated_or_deleted": {
          "metadata": {
            "operationMetadataId": "e26b9986-6828-401e-a3e8-b89e4380d455"
          },
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "SubscribeWebhookTrigger",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "subscriptionRequest/message": 3,
              "subscriptionRequest/entityname": "cp_vehicleticketstg",
              "subscriptionRequest/scope": 4,
              "subscriptionRequest/filteringattributes": "cp_stagingentrystatus",
              "subscriptionRequest/filterexpression": "cp_stagingentrystatus eq 778230001"
            },
            "authentication": "@parameters(\u0027$authentication\u0027)"
          }
        }
      },
      "actions": {
        "Initialize_Contact_Id_variable": {
          "runAfter": {
            
          },
          "metadata": {
            "operationMetadataId": "3d5058c6-7461-4ff9-9ef9-bddb99815b5b"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "ContactId",
                "type": "string",
              "value": "@{null}"
              }
            ]
          }
        },
        "Initialize_Error_Message_variable": {
          "runAfter": {
            "Initialize_Vehicle_Id_variable": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "beb820cf-9e01-470b-9e5a-a904a396f195"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Error Message",
                "type": "string",
              "value": "@{null}"
              }
            ]
          }
        },
        "Run_a_Child_Flow_(Incident_Prerequisites_check)": {
          "runAfter": {
            "Initialize_Error_Message_variable": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "ce87b9aa-b56d-4dbb-9622-677b91a8c565"
          },
          "type": "Workflow",
          "inputs": {
            "host": {
              "workflowReferenceName": "48b03529-1766-eb11-a812-000d3ab40f79"
            },
            "body": {
            "text": "@triggerOutputs()?[\u0027body/cp_vehicleticketstgid\u0027]"
            }
          }
        },
        "Append_Incident_Errors_in_Error_Message_variable": {
          "actions": {
            "Append_to_Error_Message_variable": {
              "runAfter": {
                
              },
              "metadata": {
                "operationMetadataId": "af5307ed-25dc-4bbe-bde4-6c21121f0a20"
              },
              "type": "AppendToStringVariable",
              "inputs": {
                "name": "Error Message",
              "value": "@{body(\u0027Run_a_Child_Flow_(Incident_Prerequisites_check)\u0027)?[\u0027Body\u0027]?[\u0027incidentcheckerrors\u0027]}\n"
              }
            }
          },
          "runAfter": {
            "Run_a_Child_Flow_(Incident_Prerequisites_check)": [
              "Succeeded"
            ]
          },
          "expression": {
            "not": {
              "equals": [
              "@empty(outputs(\u0027Run_a_Child_Flow_(Incident_Prerequisites_check)\u0027)?[\u0027Body\u0027]?[\u0027incidentcheckerrors\u0027])",
                "@true"
              ]
            }
          },
          "metadata": {
            "operationMetadataId": "4d8231d8-2901-4e09-af5e-f2ee5d97fc98"
          },
          "type": "If"
        },
        "Run_a_Child_Flow_(Vehicle_Tickets_Prerequisites_check)": {
          "runAfter": {
            "Append_Incident_Errors_in_Error_Message_variable": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "6065a163-9cf2-4993-9469-d759d1b17f6e"
          },
          "type": "Workflow",
          "inputs": {
            "host": {
              "workflowReferenceName": "c5ee4234-1a66-eb11-a812-000d3ab403cd"
            },
            "body": {
            "text": "@triggerOutputs()?[\u0027body/cp_vehicleticketstgid\u0027]"
            }
          }
        },
        "Append_Vehicle_Ticket_Errors_in_Error_Message_variable": {
          "actions": {
            "Append_to_Error_Message_variable_2": {
              "runAfter": {
                
              },
              "metadata": {
                "operationMetadataId": "8bd94b80-a919-4711-b99d-5df6a5f39908"
              },
              "type": "AppendToStringVariable",
              "inputs": {
                "name": "Error Message",
              "value": "@{outputs(\u0027Run_a_Child_Flow_(Vehicle_Tickets_Prerequisites_check)\u0027)?[\u0027Body\u0027]?[\u0027vehicleticketerrors\u0027]}\n"
              }
            }
          },
          "runAfter": {
            "Run_a_Child_Flow_(Vehicle_Tickets_Prerequisites_check)": [
              "Succeeded"
            ]
          },
          "expression": {
            "not": {
              "equals": [
              "@empty(outputs(\u0027Run_a_Child_Flow_(Vehicle_Tickets_Prerequisites_check)\u0027)?[\u0027Body\u0027]?[\u0027vehicleticketerrors\u0027])",
                "@true"
              ]
            }
          },
          "metadata": {
            "operationMetadataId": "a407cf9c-1a26-4767-a16b-2909ec796d9b"
          },
          "type": "If"
        },
        "If_Errors_found_proceed_accordingly": {
          "actions": {
            "Update_Vehicle_Ticket_STG_record_(Status,Submission_Error)": {
              "runAfter": {
                
              },
              "metadata": {
                "operationMetadataId": "307a1ded-1ab6-4ff8-83b3-465061cb032b"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "UpdateRecord",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "cp_vehicleticketstgs",
                "recordId": "@triggerOutputs()?[\u0027body/cp_vehicleticketstgid\u0027]",
                  "item/cp_stagingentrystatus": 778230002,
                  "item/cp_submissionerror_new": "@variables(\u0027Error Message\u0027)"
                },
                "authentication": "@parameters(\u0027$authentication\u0027)"
              }
            }
          },
          "runAfter": {
            "If_Vehicle_Ticket_Offences_EXIST_2": [
              "Succeeded"
            ]
          },
          "else": {
            "actions": {
              "Try_(Execute_Transactions)": {
                "actions": {
                  "Run_a_Child_Flow_(Create_Incident)": {
                    "runAfter": {
                      
                    },
                    "metadata": {
                      "operationMetadataId": "95df1280-c219-4976-9dd2-0f44a02baf35"
                    },
                    "type": "Workflow",
                    "inputs": {
                      "host": {
                        "workflowReferenceName": "71ab4fd1-7959-eb11-a812-000d3a654f72"
                      },
                      "body": {
                      "text": "@if(empty(triggerOutputs()?[\u0027body/cp_incidentnumber\u0027]), concat(\u0027Vehicle Ticket Without Incident Number submitted on \u0027, formatDateTime(triggerOutputs()?[\u0027body/createdon\u0027], \u0027dd/MM/yyyy h:mm tt\u0027)), triggerOutputs()?[\u0027body/cp_incidentnumber\u0027])",
                        "text_2": "9c960fa9-8855-eb11-a812-000d3a654f72",
                      "text_4": "@triggerOutputs()?[\u0027body/_createdby_value\u0027]",
                      "text_1": "@if(empty(triggerOutputs()?[\u0027body/cp_incidentsuffix\u0027]), \u0027\u0027, triggerOutputs()?[\u0027body/cp_incidentsuffix\u0027])",
                      "text_3": "@if(empty(triggerOutputs()?[\u0027body/cp_additionalofficer\u0027]), \u0027\u0027, triggerOutputs()?[\u0027body/cp_additionalofficer\u0027])",
                      "text_5": "@if(empty(triggerOutputs()?[\u0027body/cp_incidentdate\u0027]), \u0027\u0027, triggerOutputs()?[\u0027body/cp_incidentdate\u0027])",
                      "text_6": "@string(triggerOutputs()?[\u0027body/cp_singleofficer\u0027])",
                      "text_7": "@string(triggerOutputs()?[\u0027body/cp_reportingofficer\u0027])"
                      }
                    }
                  },
                  "Run_a_Child_Flow_(Create_Location)": {
                    "runAfter": {
                      "Run_a_Child_Flow_(Create_Incident)": [
                        "Succeeded"
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "b9402eca-836a-4ba1-b0d8-2784435bef75"
                    },
                    "type": "Workflow",
                    "inputs": {
                      "host": {
                        "workflowReferenceName": "b11a6067-a363-eb11-a812-000d3ab40f79"
                      },
                      "body": {
                      "text": "@if(empty(triggerOutputs()?[\u0027body/cp_locationdescription\u0027]), concat(\u0027Location, Incident \u0027, triggerOutputs()?[\u0027body/cp_incidentnumber\u0027]), triggerOutputs()?[\u0027body/cp_locationdescription\u0027])",
                      "text_1": "@if(empty(triggerOutputs()?[\u0027body/cp_housename\u0027]), \u0027\u0027, triggerOutputs()?[\u0027body/cp_housename\u0027])",
                      "text_2": "@if(empty(triggerOutputs()?[\u0027body/cp_housenumber\u0027]), \u0027\u0027, triggerOutputs()?[\u0027body/cp_housenumber\u0027])",
                      "text_4": "@outputs(\u0027Run_a_Child_Flow_(Create_Incident)\u0027)?[\u0027Body\u0027]?[\u0027incidentid\u0027]",
                        "location": {
                          "address": {
                          "city": "@if(empty(triggerOutputs()?[\u0027body/cp_locationtown\u0027]), \u0027\u0027, triggerOutputs()?[\u0027body/cp_locationtown\u0027])",
                            "countryOrRegion": " ",
                          "street": "@if(empty(triggerOutputs()?[\u0027body/cp_locationstreet\u0027]), \u0027\u0027, triggerOutputs()?[\u0027body/cp_locationstreet\u0027])"
                          }
                        },
                        "text_5": " ",
                      "number": "@if(empty(string(triggerOutputs()?[\u0027body/cp_latitude\u0027])), 0, triggerOutputs()?[\u0027body/cp_latitude\u0027])",
                      "number_1": "@if(empty(string(triggerOutputs()?[\u0027body/cp_longitude\u0027])), 0, triggerOutputs()?[\u0027body/cp_longitude\u0027])",
                        "text_6": " ",
                      "text_7": "@if(empty(triggerOutputs()?[\u0027body/cp_locationdescription\u0027]), \u0027\u0027, triggerOutputs()?[\u0027body/cp_locationdescription\u0027])"
                      }
                    }
                  },
                  "If_Photo_1_Exists": {
                    "actions": {
                      
                    },
                    "runAfter": {
                      "If_issued_to_!=_\"rider_of_bicycle\"": [
                        "Succeeded"
                      ]
                    },
                    "else": {
                      "actions": {
                        "Get_Photo1_image_content_from_Vehicle_Ticket_STG": {
                          "runAfter": {
                            
                          },
                          "metadata": {
                            "operationMetadataId": "ebc93f6a-902a-4652-bd80-1488cdb25c5e"
                          },
                          "type": "OpenApiConnection",
                          "inputs": {
                            "host": {
                              "connectionName": "shared_commondataserviceforapps",
                              "operationId": "GetEntityFileImageFieldContent",
                              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                            },
                            "parameters": {
                              "entityName": "cp_vehicleticketstgs",
                            "recordId": "@triggerOutputs()?[\u0027body/cp_vehicleticketstgid\u0027]",
                              "fileImageFieldName": "cp_photo1",
                              "size": "full"
                            },
                            "authentication": "@parameters(\u0027$authentication\u0027)"
                          }
                        },
                        "Upload_image_content_to_Vehicle_Ticket": {
                          "runAfter": {
                            "Create_new_record_in_Photos_for_Photo_1": [
                              "Succeeded"
                            ]
                          },
                          "metadata": {
                            "operationMetadataId": "1f831dce-b528-4fda-b129-db2c11e77cba"
                          },
                          "type": "OpenApiConnection",
                          "inputs": {
                            "host": {
                              "connectionName": "shared_commondataserviceforapps",
                              "operationId": "UpdateEntityFileImageFieldContent",
                              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                            },
                            "parameters": {
                              "entityName": "cp_photos",
                            "recordId": "@outputs(\u0027Create_new_record_in_Photos_for_Photo_1\u0027)?[\u0027body/cp_photoid\u0027]",
                              "fileImageFieldName": "cp_image",
                            "item": "@outputs(\u0027Get_Photo1_image_content_from_Vehicle_Ticket_STG\u0027)?[\u0027body\u0027]",
                              "x-ms-file-name": "Untitled"
                            },
                            "authentication": "@parameters(\u0027$authentication\u0027)"
                          }
                        },
                        "Create_new_record_in_Photos_for_Photo_1": {
                          "runAfter": {
                            "Get_Photo1_image_content_from_Vehicle_Ticket_STG": [
                              "Succeeded"
                            ]
                          },
                          "metadata": {
                            "operationMetadataId": "43046536-6f62-4efd-b4b0-f5c9dbff9a7d"
                          },
                          "type": "OpenApiConnection",
                          "inputs": {
                            "host": {
                              "connectionName": "shared_commondataserviceforapps_1",
                              "operationId": "CreateRecord",
                              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                            },
                            "parameters": {
                              "entityName": "cp_photos",
                            "item/ownerid@odata.bind": "/systemusers(@{outputs(\u0027Create_a_Vehicle_Ticket_row\u0027)?[\u0027body/_ownerid_value\u0027]})",
                            "item/cp_phototitle": "@triggerOutputs()?[\u0027body/cp_photocaption1\u0027]",
                            "item/cp_vehicleticket@odata.bind": "/cp_vehicletickets(@{outputs(\u0027Create_a_Vehicle_Ticket_row\u0027)?[\u0027body/cp_vehicleticketid\u0027]})"
                            },
                            "authentication": "@parameters(\u0027$authentication\u0027)"
                          }
                        }
                      }
                    },
                    "expression": {
                      "equals": [
                      "@empty(triggerOutputs()?[\u0027body/cp_photo1id\u0027])",
                        "@true"
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "3f9cf55b-c0cc-48f5-b665-2ee4dc479d1e"
                    },
                    "type": "If"
                  },
                  "If_Offender_Signature_Exists": {
                    "actions": {
                      "Offender_Signature_Refused": {
                        "runAfter": {
                          
                        },
                        "metadata": {
                          "operationMetadataId": "ddd72e74-22c8-4bad-927e-00ca2ac5a83e"
                        },
                        "type": "OpenApiConnection",
                        "inputs": {
                          "host": {
                            "connectionName": "shared_commondataserviceforapps_1",
                            "operationId": "UpdateRecord",
                            "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                          },
                          "parameters": {
                            "entityName": "cp_vehicletickets",
                          "recordId": "@outputs(\u0027Create_a_Vehicle_Ticket_row\u0027)?[\u0027body/cp_vehicleticketid\u0027]",
                            "item/cp_offendersignaturerefused": true,
                          "item/cp_vehicledetails@odata.bind": "/cp_vehicledetailses(@{variables(\u0027VehicleId\u0027)})"
                          },
                          "authentication": "@parameters(\u0027$authentication\u0027)"
                        }
                      }
                    },
                    "runAfter": {
                      "If_Photo_5_Exists__": [
                        "Succeeded"
                      ]
                    },
                    "else": {
                      "actions": {
                        "Get_Offender_Signature_image_content_from_Vehicle_Ticket_STG": {
                          "runAfter": {
                            
                          },
                          "metadata": {
                            "operationMetadataId": "a73a8326-ab25-45a4-97ab-d11e4743017d"
                          },
                          "type": "OpenApiConnection",
                          "inputs": {
                            "host": {
                              "connectionName": "shared_commondataserviceforapps",
                              "operationId": "GetEntityFileImageFieldContent",
                              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                            },
                            "parameters": {
                              "entityName": "cp_vehicleticketstgs",
                            "recordId": "@triggerOutputs()?[\u0027body/cp_vehicleticketstgid\u0027]",
                              "fileImageFieldName": "cp_offendersignature",
                              "size": "full"
                            },
                            "authentication": "@parameters(\u0027$authentication\u0027)"
                          }
                        },
                        "Upload_image_content_to_Vehicle_Ticket_2": {
                          "runAfter": {
                            "Get_Offender_Signature_image_content_from_Vehicle_Ticket_STG": [
                              "Succeeded"
                            ]
                          },
                          "metadata": {
                            "operationMetadataId": "cef68619-9c77-45ce-8061-6a6ae3a23473"
                          },
                          "type": "OpenApiConnection",
                          "inputs": {
                            "host": {
                              "connectionName": "shared_commondataserviceforapps",
                              "operationId": "UpdateEntityFileImageFieldContent",
                              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                            },
                            "parameters": {
                              "entityName": "cp_vehicletickets",
                            "recordId": "@outputs(\u0027Create_a_Vehicle_Ticket_row\u0027)?[\u0027body/cp_vehicleticketid\u0027]",
                              "fileImageFieldName": "cp_offendersignature",
                            "item": "@outputs(\u0027Get_Offender_Signature_image_content_from_Vehicle_Ticket_STG\u0027)?[\u0027body\u0027]",
                              "x-ms-file-name": "Untitled"
                            },
                            "authentication": "@parameters(\u0027$authentication\u0027)"
                          }
                        }
                      }
                    },
                    "expression": {
                      "or": [
                        {
                          "equals": [
                          "@empty(triggerOutputs()?[\u0027body/cp_offendersignatureid\u0027])",
                            "@true"
                          ]
                        },
                        {
                          "equals": [
                          "@triggerOutputs()?[\u0027body/cp_offendersignaturerefused\u0027]",
                            "@true"
                          ]
                        }
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "0937ba97-c878-45c3-97fb-6a83974c258c"
                    },
                    "type": "If"
                  },
                  "If_Officer_Signature_Exists": {
                    "actions": {
                      
                    },
                    "runAfter": {
                      "If_Offender_Signature_Exists": [
                        "Succeeded"
                      ]
                    },
                    "else": {
                      "actions": {
                        "Get_Officer_Signature_image_content_from_Vehicle_Ticket_STG": {
                          "runAfter": {
                            
                          },
                          "metadata": {
                            "operationMetadataId": "913b854a-ec25-4c8b-bd8c-d12a63144b57"
                          },
                          "type": "OpenApiConnection",
                          "inputs": {
                            "host": {
                              "connectionName": "shared_commondataserviceforapps",
                              "operationId": "GetEntityFileImageFieldContent",
                              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                            },
                            "parameters": {
                              "entityName": "cp_vehicleticketstgs",
                            "recordId": "@triggerOutputs()?[\u0027body/cp_vehicleticketstgid\u0027]",
                              "fileImageFieldName": "cp_officersignature"
                            },
                            "authentication": "@parameters(\u0027$authentication\u0027)"
                          }
                        },
                        "Upload_image_content_to_Vehicle_Ticket_3": {
                          "runAfter": {
                            "Get_Officer_Signature_image_content_from_Vehicle_Ticket_STG": [
                              "Succeeded"
                            ]
                          },
                          "metadata": {
                            "operationMetadataId": "3bfef101-7554-4555-8101-fd584ca29de5"
                          },
                          "type": "OpenApiConnection",
                          "inputs": {
                            "host": {
                              "connectionName": "shared_commondataserviceforapps",
                              "operationId": "UpdateEntityFileImageFieldContent",
                              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                            },
                            "parameters": {
                              "entityName": "cp_vehicletickets",
                            "recordId": "@outputs(\u0027Create_a_Vehicle_Ticket_row\u0027)?[\u0027body/cp_vehicleticketid\u0027]",
                              "fileImageFieldName": "cp_officersignature",
                            "item": "@outputs(\u0027Get_Officer_Signature_image_content_from_Vehicle_Ticket_STG\u0027)?[\u0027body\u0027]",
                              "x-ms-file-name": "Untitled"
                            },
                            "authentication": "@parameters(\u0027$authentication\u0027)"
                          }
                        }
                      }
                    },
                    "expression": {
                      "equals": [
                      "@empty(triggerOutputs()?[\u0027body/cp_officersignatureid\u0027])",
                        "@true"
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "93897cf4-0f06-4cb0-b8e3-05c6df240a3f"
                    },
                    "type": "If"
                  },
                  "List_Vehicle_Ticket_Offenses_STG": {
                    "runAfter": {
                      "If_Officer_Signature_Exists": [
                        "Succeeded"
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "8884eac5-4dab-4857-ae4d-3f1259491851"
                    },
                    "type": "OpenApiConnection",
                    "inputs": {
                      "host": {
                        "connectionName": "shared_commondataserviceforapps",
                        "operationId": "ListRecords",
                        "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                      },
                      "parameters": {
                        "entityName": "cp_vehicleticketoffencesstgs",
                      "$filter": "(_cp_vehicleticketstgid_value eq @{triggerOutputs()?[\u0027body/cp_vehicleticketstgid\u0027]})"
                      },
                      "authentication": "@parameters(\u0027$authentication\u0027)"
                    }
                  },
                  "If_Vehicle_Ticket_Offences_Exist": {
                    "actions": {
                      
                    },
                    "runAfter": {
                      "List_Vehicle_Ticket_Offenses_STG": [
                        "Succeeded"
                      ]
                    },
                    "else": {
                      "actions": {
                        "Apply_to_each": {
                        "foreach": "@outputs(\u0027List_Vehicle_Ticket_Offenses_STG\u0027)?[\u0027body/value\u0027]",
                          "actions": {
                            "Case_-_Traffic_Offense": {
                              "actions": {
                                "Create_a_new_Traffic_Offence_row": {
                                  "runAfter": {
                                    
                                  },
                                  "metadata": {
                                    "operationMetadataId": "e126c3be-b18c-4c45-80c9-31b942e7dfd3"
                                  },
                                  "type": "OpenApiConnection",
                                  "inputs": {
                                    "host": {
                                      "connectionName": "shared_commondataserviceforapps",
                                      "operationId": "CreateRecord",
                                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                                    },
                                    "parameters": {
                                      "entityName": "cp_tickettypetrafficoffences",
                                    "item/cp_nipgiven": "@items(\u0027Apply_to_each\u0027)?[\u0027cp_nipgiven\u0027]",
                                    "item/cp_offenderreply": "@items(\u0027Apply_to_each\u0027)?[\u0027cp_offenderreply\u0027]",
                                    "item/cp_TicketType@odata.bind": "/cp_tickettypes(@{items(\u0027Apply_to_each\u0027)?[\u0027cp_tickettype\u0027]})",
                                    "item/cp_trafficoffenceid": "Traffic Offence, @{outputs(\u0027Create_a_Vehicle_Ticket_row\u0027)?[\u0027body/cp_name\u0027]}",
                                    "item/cp_VehicleTicket@odata.bind": "/cp_vehicletickets(@{outputs(\u0027Create_a_Vehicle_Ticket_row\u0027)?[\u0027body/cp_vehicleticketid\u0027]})",
                                    "item/cp_containsspeedlimit": "@items(\u0027Apply_to_each\u0027)?[\u0027cp_containsspeedlimit\u0027]",
                                    "item/cp_nipnotrequired": "@items(\u0027Apply_to_each\u0027)?[\u0027cp_nipnotrequired\u0027]",
                                    "item/cp_offendersignaturerefused": "@triggerOutputs()?[\u0027body/cp_offendersignaturerefused\u0027]",
                                    "item/ownerid@odata.bind": "/systemusers(@{triggerOutputs()?[\u0027body/_createdby_value\u0027]})",
                                    "item/cp_trafficoffenceprinted": "@items(\u0027Apply_to_each\u0027)?[\u0027cp_trafficoffenceprinted\u0027]",
                                    "item/cp_trafficserialnumber": "@items(\u0027Apply_to_each\u0027)?[\u0027cp_trafficoffenceserialnumber\u0027]"
                                    },
                                    "authentication": "@parameters(\u0027$authentication\u0027)"
                                  }
                                },
                                "Condition_Offence_Code_ISNULL": {
                                  "actions": {
                                    
                                  },
                                  "runAfter": {
                                    "Create_a_new_Traffic_Offence_row": [
                                      "Succeeded"
                                    ]
                                  },
                                  "else": {
                                    "actions": {
                                      "Split_Offence_Code": {
                                        "runAfter": {
                                          
                                        },
                                        "metadata": {
                                          "operationMetadataId": "ad5a3c31-1e63-4348-98bb-addfecf2cf6a"
                                        },
                                        "type": "Compose",
                                      "inputs": "@split(items(\u0027Apply_to_each\u0027)?[\u0027cp_offencecode\u0027], \u0027,\u0027)"
                                      },
                                      "Apply_to_each_Offence_Code": {
                                        "foreach": "@outputs(\u0027Split_Offence_Code\u0027)",
                                        "actions": {
                                          "Relate_rows_(Add_to_many-many_relationships)": {
                                            "runAfter": {
                                              
                                            },
                                            "metadata": {
                                              "operationMetadataId": "3caefd26-831a-4c22-a7bc-d2c5bc4bb8ce"
                                            },
                                            "type": "OpenApiConnection",
                                            "inputs": {
                                              "host": {
                                                "connectionName": "shared_commondataserviceforapps_1",
                                                "operationId": "AssociateEntities",
                                                "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                                              },
                                              "parameters": {
                                                "entityName": "cp_offencecodes",
                                                "recordId": "@items(\u0027Apply_to_each_Offence_Code\u0027)",
                                                "associationEntityRelationship": "cp_tickettypetrafficoffence_cp_offencecod",
                                              "item/@odata.id": "@outputs(\u0027Create_a_new_Traffic_Offence_row\u0027)?[\u0027body/@odata.id\u0027]"
                                              },
                                              "authentication": "@parameters(\u0027$authentication\u0027)"
                                            }
                                          }
                                        },
                                        "runAfter": {
                                          "Split_Offence_Code": [
                                            "Succeeded"
                                          ]
                                        },
                                        "metadata": {
                                          "operationMetadataId": "eda07faa-ce2d-49c7-b57c-f58e1372ae4f"
                                        },
                                        "type": "Foreach"
                                      }
                                    }
                                  },
                                  "expression": {
                                    "equals": [
                                    "@empty(items(\u0027Apply_to_each\u0027)?[\u0027cp_offencecode\u0027])",
                                      "@true"
                                    ]
                                  },
                                  "metadata": {
                                    "operationMetadataId": "35aa8133-6685-4564-900c-d4a2cf65edd0"
                                  },
                                  "type": "If"
                                },
                                "If_Traffic_Offender_Signature_ISNULL": {
                                  "actions": {
                                    "Download_Traffic_Offence_Signature": {
                                      "runAfter": {
                                        
                                      },
                                      "metadata": {
                                        "operationMetadataId": "8d6ab025-a58c-435b-a0d2-9966f6fbc386"
                                      },
                                      "type": "OpenApiConnection",
                                      "inputs": {
                                        "host": {
                                          "connectionName": "shared_commondataserviceforapps_1",
                                          "operationId": "GetEntityFileImageFieldContent",
                                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                                        },
                                        "parameters": {
                                          "entityName": "cp_vehicleticketoffencesstgs",
                                        "recordId": "@items(\u0027Apply_to_each\u0027)?[\u0027cp_vehicleticketoffencesstgid\u0027]",
                                          "fileImageFieldName": "cp_trafficoffencesignature",
                                          "size": "full"
                                        },
                                        "authentication": "@parameters(\u0027$authentication\u0027)"
                                      }
                                    },
                                    "Upload_Traffic_Offence_Signature": {
                                      "runAfter": {
                                        "Download_Traffic_Offence_Signature": [
                                          "Succeeded"
                                        ]
                                      },
                                      "metadata": {
                                        "operationMetadataId": "994c6940-fa93-4c24-98ed-36992e5299f6"
                                      },
                                      "type": "OpenApiConnection",
                                      "inputs": {
                                        "host": {
                                          "connectionName": "shared_commondataserviceforapps_1",
                                          "operationId": "UpdateEntityFileImageFieldContent",
                                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                                        },
                                        "parameters": {
                                          "entityName": "cp_tickettypetrafficoffences",
                                        "recordId": "@outputs(\u0027Create_a_new_Traffic_Offence_row\u0027)?[\u0027body/cp_tickettypetrafficoffenceid\u0027]",
                                          "fileImageFieldName": "cp_offendersignature",
                                        "item": "@outputs(\u0027Download_Traffic_Offence_Signature\u0027)?[\u0027body\u0027]",
                                          "x-ms-file-name": "Untitled"
                                        },
                                        "authentication": "@parameters(\u0027$authentication\u0027)"
                                      }
                                    }
                                  },
                                  "runAfter": {
                                    "Condition_Offence_Code_ISNULL": [
                                      "Succeeded"
                                    ]
                                  },
                                  "expression": {
                                    "not": {
                                      "equals": [
                                      "@empty(items(\u0027Apply_to_each\u0027)?[\u0027cp_trafficoffencesignatureid\u0027])",
                                        "@true"
                                      ]
                                    }
                                  },
                                  "metadata": {
                                    "operationMetadataId": "c45feb1c-6599-450c-9057-b0c8cb36a9b9"
                                  },
                                  "type": "If"
                                }
                              },
                              "runAfter": {
                                
                              },
                              "expression": {
                                "equals": [
                                "@items(\u0027Apply_to_each\u0027)?[\u0027cp_tickettype\u0027]",
                                  "6245096f-5b39-eb11-bf68-000d3a654276"
                                ]
                              },
                              "metadata": {
                                "operationMetadataId": "4ee5c983-0040-4ec4-8a12-9d98d57c4b2a"
                              },
                              "type": "If"
                            },
                            "Case_-_VDRS": {
                              "actions": {
                                "Create_a_new_VDRS_row": {
                                  "runAfter": {
                                    
                                  },
                                  "metadata": {
                                    "operationMetadataId": "01113802-5e66-45d6-9607-34206a304f12"
                                  },
                                  "type": "OpenApiConnection",
                                  "inputs": {
                                    "host": {
                                      "connectionName": "shared_commondataserviceforapps",
                                      "operationId": "CreateRecord",
                                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                                    },
                                    "parameters": {
                                      "entityName": "cp_tickettypevdrses",
                                    "item/cp_TicketType@odata.bind": "/cp_tickettypes(@{items(\u0027Apply_to_each\u0027)?[\u0027cp_tickettype\u0027]})",
                                    "item/cp_vdrsid": "@items(\u0027Apply_to_each\u0027)?[\u0027cp_vdrsdetails\u0027]",
                                    "item/cp_VehicleTicket@odata.bind": "/cp_vehicletickets(@{outputs(\u0027Create_a_Vehicle_Ticket_row\u0027)?[\u0027body/cp_vehicleticketid\u0027]})",
                                    "item/cp_details": "@items(\u0027Apply_to_each\u0027)?[\u0027cp_vdrsdetails\u0027]",
                                    "item/ownerid@odata.bind": "/systemusers(@{triggerOutputs()?[\u0027body/_createdby_value\u0027]})",
                                    "item/cp_vdrsprinted": "@items(\u0027Apply_to_each\u0027)?[\u0027cp_vdrsprinted\u0027]",
                                    "item/cp_vdrsserialnumber": "@items(\u0027Apply_to_each\u0027)?[\u0027cp_vdrsserialnumber\u0027]"
                                    },
                                    "authentication": "@parameters(\u0027$authentication\u0027)"
                                  }
                                },
                                "Condition_VDRS_Offence_Code_ISNULL": {
                                  "actions": {
                                    
                                  },
                                  "runAfter": {
                                    "Create_a_new_VDRS_row": [
                                      "Succeeded"
                                    ]
                                  },
                                  "else": {
                                    "actions": {
                                      "Split_VDRS_Offence_Code": {
                                        "runAfter": {
                                          
                                        },
                                        "metadata": {
                                          "operationMetadataId": "50eefb16-6e6e-4275-b2ae-6b5ae2134a9b"
                                        },
                                        "type": "Compose",
                                      "inputs": "@split(items(\u0027Apply_to_each\u0027)?[\u0027cp_vdroffencecode\u0027], \u0027,\u0027)"
                                      },
                                      "Apply_to_each_VDRS_Offence_Code": {
                                        "foreach": "@outputs(\u0027Split_VDRS_Offence_Code\u0027)",
                                        "actions": {
                                          "Relate_rows_(Add_to_many-many_relationships)_2": {
                                            "runAfter": {
                                              
                                            },
                                            "metadata": {
                                              "operationMetadataId": "84f590ef-ec2f-416c-8c1c-1d87821b991e"
                                            },
                                            "type": "OpenApiConnection",
                                            "inputs": {
                                              "host": {
                                                "connectionName": "shared_commondataserviceforapps_1",
                                                "operationId": "AssociateEntities",
                                                "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                                              },
                                              "parameters": {
                                                "entityName": "cp_offencecodes",
                                                "recordId": "@items(\u0027Apply_to_each_VDRS_Offence_Code\u0027)",
                                                "associationEntityRelationship": "cp_tickettypevdrs_cp_offencecode_cp_offen",
                                              "item/@odata.id": "@outputs(\u0027Create_a_new_VDRS_row\u0027)?[\u0027body/@odata.id\u0027]"
                                              },
                                              "authentication": "@parameters(\u0027$authentication\u0027)"
                                            }
                                          }
                                        },
                                        "runAfter": {
                                          "Split_VDRS_Offence_Code": [
                                            "Succeeded"
                                          ]
                                        },
                                        "metadata": {
                                          "operationMetadataId": "5c685642-e981-46b6-81fd-7257b913aeb2"
                                        },
                                        "type": "Foreach"
                                      }
                                    }
                                  },
                                  "expression": {
                                    "equals": [
                                    "@empty(items(\u0027Apply_to_each\u0027)?[\u0027cp_vdroffencecode\u0027])",
                                      "@true"
                                    ]
                                  },
                                  "metadata": {
                                    "operationMetadataId": "3ea0ffec-5a87-4fc9-8ed6-21a90a9fcc5b"
                                  },
                                  "type": "If"
                                },
                                "If_VDRS_Offender_Signature_ISNULL": {
                                  "actions": {
                                    "Download_VDRS_Offence_Signature": {
                                      "runAfter": {
                                        
                                      },
                                      "metadata": {
                                        "operationMetadataId": "fb41fc88-68cd-48e4-9d23-a8c7ae1d2a80"
                                      },
                                      "type": "OpenApiConnection",
                                      "inputs": {
                                        "host": {
                                          "connectionName": "shared_commondataserviceforapps_1",
                                          "operationId": "GetEntityFileImageFieldContent",
                                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                                        },
                                        "parameters": {
                                          "entityName": "cp_vehicleticketoffencesstgs",
                                        "recordId": "@items(\u0027Apply_to_each\u0027)?[\u0027cp_vehicleticketoffencesstgid\u0027]",
                                          "fileImageFieldName": "cp_vdrssignature",
                                          "size": "full"
                                        },
                                        "authentication": "@parameters(\u0027$authentication\u0027)"
                                      }
                                    },
                                    "Upload_VDRS_Offence_Signature": {
                                      "runAfter": {
                                        "Download_VDRS_Offence_Signature": [
                                          "Succeeded"
                                        ]
                                      },
                                      "metadata": {
                                        "operationMetadataId": "74072dcc-331d-4345-9ed3-32a33bb9bc12"
                                      },
                                      "type": "OpenApiConnection",
                                      "inputs": {
                                        "host": {
                                          "connectionName": "shared_commondataserviceforapps_1",
                                          "operationId": "UpdateEntityFileImageFieldContent",
                                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                                        },
                                        "parameters": {
                                          "entityName": "cp_tickettypevdrses",
                                        "recordId": "@outputs(\u0027Create_a_new_VDRS_row\u0027)?[\u0027body/cp_tickettypevdrsid\u0027]",
                                          "fileImageFieldName": "cp_offendersignature",
                                        "item": "@outputs(\u0027Download_VDRS_Offence_Signature\u0027)?[\u0027body\u0027]",
                                          "x-ms-file-name": "Untitled"
                                        },
                                        "authentication": "@parameters(\u0027$authentication\u0027)"
                                      }
                                    }
                                  },
                                  "runAfter": {
                                    "Condition_VDRS_Offence_Code_ISNULL": [
                                      "Succeeded"
                                    ]
                                  },
                                  "expression": {
                                    "not": {
                                      "equals": [
                                      "@empty(items(\u0027Apply_to_each\u0027)?[\u0027cp_vdrssignatureid\u0027])",
                                        "@true"
                                      ]
                                    }
                                  },
                                  "metadata": {
                                    "operationMetadataId": "db253a18-5884-413e-8bea-51581ea24549"
                                  },
                                  "type": "If"
                                }
                              },
                              "runAfter": {
                                "Case_-_Traffic_Offense": [
                                  "Succeeded"
                                ]
                              },
                              "expression": {
                                "equals": [
                                "@items(\u0027Apply_to_each\u0027)?[\u0027cp_tickettype\u0027]",
                                  "6445096f-5b39-eb11-bf68-000d3a654276"
                                ]
                              },
                              "metadata": {
                                "operationMetadataId": "b2a1d89b-0744-4516-94b3-9ba5208c85ac"
                              },
                              "type": "If"
                            },
                            "Case_-_HORT1": {
                              "actions": {
                                "Create_a_new_HORT1_row": {
                                  "runAfter": {
                                    
                                  },
                                  "metadata": {
                                    "operationMetadataId": "7b0a8f31-3df7-47b9-9974-b56ec57af05b"
                                  },
                                  "type": "OpenApiConnection",
                                  "inputs": {
                                    "host": {
                                      "connectionName": "shared_commondataserviceforapps",
                                      "operationId": "CreateRecord",
                                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                                    },
                                    "parameters": {
                                      "entityName": "cp_tickettypehort1s",
                                    "item/cp_CheckorRecord@odata.bind": "/cp_lookupvalues(@{items(\u0027Apply_to_each\u0027)?[\u0027cp_checkorrecord\u0027]})",
                                    "item/cp_hort1id": "HORT, @{outputs(\u0027Create_a_Vehicle_Ticket_row\u0027)?[\u0027body/cp_name\u0027]}",
                                    "item/cp_ProduceatStation@odata.bind": "/cp_lookupvalues(@{items(\u0027Apply_to_each\u0027)?[\u0027cp_producestation\u0027]})",
                                    "item/cp_TicketType@odata.bind": "/cp_tickettypes(@{items(\u0027Apply_to_each\u0027)?[\u0027cp_tickettype\u0027]})",
                                    "item/cp_VehicleTicket@odata.bind": "/cp_vehicletickets(@{outputs(\u0027Create_a_Vehicle_Ticket_row\u0027)?[\u0027body/cp_vehicleticketid\u0027]})",
                                    "item/cp_hort1printed": "@items(\u0027Apply_to_each\u0027)?[\u0027cp_hort1printed\u0027]",
                                    "item/cp_hort1serialnumber": "@items(\u0027Apply_to_each\u0027)?[\u0027cp_hort1serialnumber\u0027]",
                                    "item/cp_otherdocuments": "@items(\u0027Apply_to_each\u0027)?[\u0027cp_otherdocuments\u0027]",
                                    "item/ownerid@odata.bind": "/systemusers(@{triggerOutputs()?[\u0027body/_createdby_value\u0027]})"
                                    },
                                    "authentication": "@parameters(\u0027$authentication\u0027)"
                                  }
                                },
                                "Condition_Document_Type_ISNULL": {
                                  "actions": {
                                    
                                  },
                                  "runAfter": {
                                    "Create_a_new_HORT1_row": [
                                      "Succeeded"
                                    ]
                                  },
                                  "else": {
                                    "actions": {
                                      "Split_Document_Types": {
                                        "runAfter": {
                                          
                                        },
                                        "metadata": {
                                          "operationMetadataId": "df5a391b-6d66-49fe-8ca4-e52da3fb503c"
                                        },
                                        "type": "Compose",
                                      "inputs": "@split(items(\u0027Apply_to_each\u0027)?[\u0027cp_documenttype\u0027], \u0027,\u0027)"
                                      },
                                      "Apply_to_each_Document_Type": {
                                        "foreach": "@outputs(\u0027Split_Document_Types\u0027)",
                                        "actions": {
                                          "Relate_rows_(Vehicle_Documents_-_Ticket_Type)": {
                                            "runAfter": {
                                              
                                            },
                                            "metadata": {
                                              "operationMetadataId": "b3b7b347-6d13-440d-8746-e50228fe9aad"
                                            },
                                            "type": "OpenApiConnection",
                                            "inputs": {
                                              "host": {
                                                "connectionName": "shared_commondataserviceforapps_1",
                                                "operationId": "AssociateEntities",
                                                "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                                              },
                                              "parameters": {
                                                "entityName": "cp_vehicledocuments",
                                                "recordId": "@items(\u0027Apply_to_each_Document_Type\u0027)",
                                                "associationEntityRelationship": "cp_tickettypehort1_VehicleDocument",
                                              "item/@odata.id": "@outputs(\u0027Create_a_new_HORT1_row\u0027)?[\u0027body/@odata.id\u0027]"
                                              },
                                              "authentication": "@parameters(\u0027$authentication\u0027)"
                                            }
                                          }
                                        },
                                        "runAfter": {
                                          "Split_Document_Types": [
                                            "Succeeded"
                                          ]
                                        },
                                        "metadata": {
                                          "operationMetadataId": "b4d36f64-c188-444f-a5b5-5268fb184816"
                                        },
                                        "type": "Foreach"
                                      }
                                    }
                                  },
                                  "expression": {
                                    "equals": [
                                    "@empty(items(\u0027Apply_to_each\u0027)?[\u0027cp_documenttype\u0027])",
                                      "@true"
                                    ]
                                  },
                                  "metadata": {
                                    "operationMetadataId": "e1dd76ea-9fc1-441a-8b56-e627fae81038"
                                  },
                                  "type": "If"
                                },
                                "If_HORT1_Offender_Signature_ISNULL": {
                                  "actions": {
                                    "Download_HORT1_Offence_Signature": {
                                      "runAfter": {
                                        
                                      },
                                      "metadata": {
                                        "operationMetadataId": "476b3a68-f079-42af-b0ea-7a2957edf870"
                                      },
                                      "type": "OpenApiConnection",
                                      "inputs": {
                                        "host": {
                                          "connectionName": "shared_commondataserviceforapps_1",
                                          "operationId": "GetEntityFileImageFieldContent",
                                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                                        },
                                        "parameters": {
                                          "entityName": "cp_vehicleticketoffencesstgs",
                                        "recordId": "@items(\u0027Apply_to_each\u0027)?[\u0027cp_vehicleticketoffencesstgid\u0027]",
                                          "fileImageFieldName": "cp_hort1signature",
                                          "size": "full"
                                        },
                                        "authentication": "@parameters(\u0027$authentication\u0027)"
                                      }
                                    },
                                    "Upload_HORT1_Offence_Signature": {
                                      "runAfter": {
                                        "Download_HORT1_Offence_Signature": [
                                          "Succeeded"
                                        ]
                                      },
                                      "metadata": {
                                        "operationMetadataId": "6ef03f68-5925-4b3e-834d-616e9b4af036"
                                      },
                                      "type": "OpenApiConnection",
                                      "inputs": {
                                        "host": {
                                          "connectionName": "shared_commondataserviceforapps_1",
                                          "operationId": "UpdateEntityFileImageFieldContent",
                                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                                        },
                                        "parameters": {
                                          "entityName": "cp_tickettypehort1s",
                                        "recordId": "@outputs(\u0027Create_a_new_HORT1_row\u0027)?[\u0027body/cp_tickettypehort1id\u0027]",
                                          "fileImageFieldName": "cp_offendersignature",
                                        "item": "@outputs(\u0027Download_HORT1_Offence_Signature\u0027)?[\u0027body\u0027]",
                                          "x-ms-file-name": "Untitled"
                                        },
                                        "authentication": "@parameters(\u0027$authentication\u0027)"
                                      }
                                    }
                                  },
                                  "runAfter": {
                                    "Condition_Document_Type_ISNULL": [
                                      "Succeeded"
                                    ]
                                  },
                                  "expression": {
                                    "not": {
                                      "equals": [
                                      "@empty(items(\u0027Apply_to_each\u0027)?[\u0027cp_hort1signatureid\u0027])",
                                        "@true"
                                      ]
                                    }
                                  },
                                  "metadata": {
                                    "operationMetadataId": "89c77434-2405-429e-9276-db91e9e13745"
                                  },
                                  "type": "If"
                                }
                              },
                              "runAfter": {
                                "Case_-_VDRS": [
                                  "Succeeded"
                                ]
                              },
                              "expression": {
                                "equals": [
                                "@items(\u0027Apply_to_each\u0027)?[\u0027cp_tickettype\u0027]",
                                  "5c45096f-5b39-eb11-bf68-000d3a654276"
                                ]
                              },
                              "metadata": {
                                "operationMetadataId": "793bf777-b481-49be-8e8d-d4c61590e36d"
                              },
                              "type": "If"
                            },
                            "Case_-_Section_59": {
                              "actions": {
                                "Create_a_new_Section_59_row": {
                                  "runAfter": {
                                    
                                  },
                                  "metadata": {
                                    "operationMetadataId": "ca5ca623-2bb2-4b33-b3ce-9d6ef19533bb"
                                  },
                                  "type": "OpenApiConnection",
                                  "inputs": {
                                    "host": {
                                      "connectionName": "shared_commondataserviceforapps",
                                      "operationId": "CreateRecord",
                                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                                    },
                                    "parameters": {
                                      "entityName": "cp_tickettypesection59s",
                                    "item/cp_Section@odata.bind": "/cp_lookupvalues(@{items(\u0027Apply_to_each\u0027)?[\u0027cp_section\u0027]})",
                                    "item/cp_section165id": "Section 59, @{outputs(\u0027Create_a_Vehicle_Ticket_row\u0027)?[\u0027body/cp_name\u0027]}",
                                    "item/cp_tickettype@odata.bind": "/cp_tickettypes(@{items(\u0027Apply_to_each\u0027)?[\u0027cp_tickettype\u0027]})",
                                    "item/cp_VehicleTicket@odata.bind": "/cp_vehicletickets(@{outputs(\u0027Create_a_Vehicle_Ticket_row\u0027)?[\u0027body/cp_vehicleticketid\u0027]})",
                                    "item/cp_drivingmanner@odata.bind": "@if(empty(items(\u0027Apply_to_each\u0027)?[\u0027cp_drivingmanner\u0027]), \u0027\u0027, concat(\u0027/cp_lookupvalues(\u0027, items(\u0027Apply_to_each\u0027)?[\u0027cp_drivingmanner\u0027], \u0027)\u0027))",
                                    "item/cp_drivingtheabovevehiclein@odata.bind": "@if(empty(items(\u0027Apply_to_each\u0027)?[\u0027cp_drivingvehiclein\u0027]), \u0027\u0027, concat(\u0027/cp_lookupvalues(\u0027, items(\u0027Apply_to_each\u0027)?[\u0027cp_drivingvehiclein\u0027], \u0027)\u0027))",
                                    "item/ownerid@odata.bind": "/systemusers(@{triggerOutputs()?[\u0027body/_createdby_value\u0027]})",
                                    "item/cp_recoverygarage@odata.bind": "@if(empty(items(\u0027Apply_to_each\u0027)?[\u0027cp_s59recoverygarage\u0027]), \u0027\u0027, concat(\u0027/accounts(\u0027, items(\u0027Apply_to_each\u0027)?[\u0027cp_s59recoverygarage\u0027], \u0027)\u0027))",
                                    "item/cp_section59printed": "@items(\u0027Apply_to_each\u0027)?[\u0027cp_section59printed\u0027]",
                                    "item/cp_warningorseizure@odata.bind": "@if(empty(items(\u0027Apply_to_each\u0027)?[\u0027cp_warningorseizure\u0027]), \u0027\u0027, concat(\u0027/cp_lookupvalues(\u0027, items(\u0027Apply_to_each\u0027)?[\u0027cp_warningorseizure\u0027], \u0027)\u0027))",
                                    "item/cp_You@odata.bind": "@if(empty(items(\u0027Apply_to_each\u0027)?[\u0027cp_youwording1\u0027]), \u0027\u0027, concat(\u0027/cp_lookupvalues(\u0027, items(\u0027Apply_to_each\u0027)?[\u0027cp_youwording1\u0027], \u0027)\u0027))",
                                    "item/cp_You3@odata.bind": "@if(empty(items(\u0027Apply_to_each\u0027)?[\u0027cp_youwording3\u0027]), \u0027\u0027, concat(\u0027/cp_lookupvalues(\u0027, items(\u0027Apply_to_each\u0027)?[\u0027cp_youwording3\u0027], \u0027)\u0027))"
                                    },
                                    "authentication": "@parameters(\u0027$authentication\u0027)"
                                  }
                                },
                                "If_Section59_Offender_Signature_ISNULL": {
                                  "actions": {
                                    "Download_Section59_Offence_Signature": {
                                      "runAfter": {
                                        
                                      },
                                      "metadata": {
                                        "operationMetadataId": "b8ed4e5f-7da4-4366-ad96-fc7a60150706"
                                      },
                                      "type": "OpenApiConnection",
                                      "inputs": {
                                        "host": {
                                          "connectionName": "shared_commondataserviceforapps_1",
                                          "operationId": "GetEntityFileImageFieldContent",
                                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                                        },
                                        "parameters": {
                                          "entityName": "cp_vehicleticketoffencesstgs",
                                        "recordId": "@items(\u0027Apply_to_each\u0027)?[\u0027cp_vehicleticketoffencesstgid\u0027]",
                                          "fileImageFieldName": "cp_section59signature",
                                          "size": "full"
                                        },
                                        "authentication": "@parameters(\u0027$authentication\u0027)"
                                      }
                                    },
                                    "Upload_Section59_Offence_Signature": {
                                      "runAfter": {
                                        "Download_Section59_Offence_Signature": [
                                          "Succeeded"
                                        ]
                                      },
                                      "metadata": {
                                        "operationMetadataId": "dae9fe3a-cf16-4b8f-a6ad-f46fdbc07a45"
                                      },
                                      "type": "OpenApiConnection",
                                      "inputs": {
                                        "host": {
                                          "connectionName": "shared_commondataserviceforapps_1",
                                          "operationId": "UpdateEntityFileImageFieldContent",
                                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                                        },
                                        "parameters": {
                                          "entityName": "cp_tickettypesection59s",
                                        "recordId": "@outputs(\u0027Create_a_new_Section_59_row\u0027)?[\u0027body/cp_tickettypesection59id\u0027]",
                                          "fileImageFieldName": "cp_offendersignature",
                                        "item": "@outputs(\u0027Download_Section59_Offence_Signature\u0027)?[\u0027body\u0027]",
                                          "x-ms-file-name": "Untitled"
                                        },
                                        "authentication": "@parameters(\u0027$authentication\u0027)"
                                      }
                                    }
                                  },
                                  "runAfter": {
                                    "Create_a_new_Section_59_row": [
                                      "Succeeded"
                                    ]
                                  },
                                  "expression": {
                                    "not": {
                                      "equals": [
                                      "@empty(items(\u0027Apply_to_each\u0027)?[\u0027cp_section59signatureid\u0027])",
                                        "@true"
                                      ]
                                    }
                                  },
                                  "metadata": {
                                    "operationMetadataId": "a9032b25-d678-4f6e-b1bb-859569d51123"
                                  },
                                  "type": "If"
                                }
                              },
                              "runAfter": {
                                "Case_-_HORT1": [
                                  "Succeeded"
                                ]
                              },
                              "expression": {
                                "equals": [
                                "@items(\u0027Apply_to_each\u0027)?[\u0027cp_tickettype\u0027]",
                                  "6045096f-5b39-eb11-bf68-000d3a654276"
                                ]
                              },
                              "metadata": {
                                "operationMetadataId": "d4e00452-6bc5-4535-bd8f-6293b45dd31c"
                              },
                              "type": "If"
                            },
                            "Case_-_Section_163": {
                              "actions": {
                                "Create_a_new_Section_163_row": {
                                  "runAfter": {
                                    
                                  },
                                  "metadata": {
                                    "operationMetadataId": "d45d04d7-3137-4663-be46-ddea61ba50ce"
                                  },
                                  "type": "OpenApiConnection",
                                  "inputs": {
                                    "host": {
                                      "connectionName": "shared_commondataserviceforapps",
                                      "operationId": "CreateRecord",
                                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                                    },
                                    "parameters": {
                                      "entityName": "cp_tickettypesection163s",
                                    "item/cp_outcomeofstopreasonforoutcome@odata.bind": "/cp_lookupvalues(@{items(\u0027Apply_to_each\u0027)?[\u0027cp_outcomeofstop\u0027]})",
                                    "item/cp_reasonforusings163power@odata.bind": "/cp_lookupvalues(@{items(\u0027Apply_to_each\u0027)?[\u0027cp_reasonforusings163power\u0027]})",
                                    "item/cp_section163id": "Section 163, @{outputs(\u0027Create_a_Vehicle_Ticket_row\u0027)?[\u0027body/cp_name\u0027]}",
                                    "item/cp_tickettype@odata.bind": "/cp_tickettypes(@{items(\u0027Apply_to_each\u0027)?[\u0027cp_tickettype\u0027]})",
                                    "item/cp_vehicleticket@odata.bind": "/cp_vehicletickets(@{outputs(\u0027Create_a_Vehicle_Ticket_row\u0027)?[\u0027body/cp_vehicleticketid\u0027]})",
                                    "item/cp_description": "@items(\u0027Apply_to_each\u0027)?[\u0027cp_outcomedescription\u0027]",
                                    "item/cp_linkreasonforstopoutcome": "@items(\u0027Apply_to_each\u0027)?[\u0027cp_linkbetweenreasonforstopandoutcome\u0027]",
                                    "item/ownerid@odata.bind": "/systemusers(@{triggerOutputs()?[\u0027body/_createdby_value\u0027]})"
                                    },
                                    "authentication": "@parameters(\u0027$authentication\u0027)"
                                  }
                                }
                              },
                              "runAfter": {
                                "Case_-_Section_59": [
                                  "Succeeded"
                                ]
                              },
                              "expression": {
                                "equals": [
                                "@items(\u0027Apply_to_each\u0027)?[\u0027cp_tickettype\u0027]",
                                  "9bdd1977-de5f-eb11-a812-0022489c79d7"
                                ]
                              },
                              "metadata": {
                                "operationMetadataId": "b67e4abd-a81b-4f7f-987a-7a2e56f416fa"
                              },
                              "type": "If"
                            },
                            "Case_-_Section_165": {
                              "actions": {
                                "Create_a_new_Section_165_row": {
                                  "runAfter": {
                                    
                                  },
                                  "metadata": {
                                    "operationMetadataId": "1ef773da-4df3-4531-b2e3-163609f9f5bd"
                                  },
                                  "type": "OpenApiConnection",
                                  "inputs": {
                                    "host": {
                                      "connectionName": "shared_commondataserviceforapps",
                                      "operationId": "CreateRecord",
                                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                                    },
                                    "parameters": {
                                      "entityName": "cp_tickettypesection165s",
                                    "item/cp_DesignatedStation@odata.bind": "/cp_lookupvalues(@{items(\u0027Apply_to_each\u0027)?[\u0027cp_designatedstation\u0027]})",
                                    "item/cp_RecoveryGarage@odata.bind": "/accounts(@{items(\u0027Apply_to_each\u0027)?[\u0027cp_s165recoverygarage\u0027]})",
                                    "item/cp_section165id": "Section 165, @{outputs(\u0027Create_a_Vehicle_Ticket_row\u0027)?[\u0027body/cp_name\u0027]}",
                                    "item/cp_TicketType@odata.bind": "/cp_tickettypes(@{items(\u0027Apply_to_each\u0027)?[\u0027cp_tickettype\u0027]})",
                                    "item/cp_VehicleTicket@odata.bind": "/cp_vehicletickets(@{outputs(\u0027Create_a_Vehicle_Ticket_row\u0027)?[\u0027body/cp_vehicleticketid\u0027]})",
                                    "item/cp_Without@odata.bind": "/cp_lookupvalues(@{items(\u0027Apply_to_each\u0027)?[\u0027cp_without\u0027]})",
                                    "item/ownerid@odata.bind": "/systemusers(@{triggerOutputs()?[\u0027body/_createdby_value\u0027]})",
                                    "item/cp_section165printed": "@items(\u0027Apply_to_each\u0027)?[\u0027cp_section165printed\u0027]"
                                    },
                                    "authentication": "@parameters(\u0027$authentication\u0027)"
                                  }
                                },
                                "If_Section165_Offender_Signature_ISNULL": {
                                  "actions": {
                                    "Download_Section165_Offence_Signature": {
                                      "runAfter": {
                                        
                                      },
                                      "metadata": {
                                        "operationMetadataId": "ce8e2b89-7d37-4c6a-8cf0-17b209882d69"
                                      },
                                      "type": "OpenApiConnection",
                                      "inputs": {
                                        "host": {
                                          "connectionName": "shared_commondataserviceforapps_1",
                                          "operationId": "GetEntityFileImageFieldContent",
                                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                                        },
                                        "parameters": {
                                          "entityName": "cp_vehicleticketoffencesstgs",
                                        "recordId": "@items(\u0027Apply_to_each\u0027)?[\u0027cp_vehicleticketoffencesstgid\u0027]",
                                          "fileImageFieldName": "cp_section165signature",
                                          "size": "full"
                                        },
                                        "authentication": "@parameters(\u0027$authentication\u0027)"
                                      }
                                    },
                                    "Upload_Section165_Offence_Signature": {
                                      "runAfter": {
                                        "Download_Section165_Offence_Signature": [
                                          "Succeeded"
                                        ]
                                      },
                                      "metadata": {
                                        "operationMetadataId": "7953818e-0b04-45b5-b1a3-cfb8abad39a6"
                                      },
                                      "type": "OpenApiConnection",
                                      "inputs": {
                                        "host": {
                                          "connectionName": "shared_commondataserviceforapps_1",
                                          "operationId": "UpdateEntityFileImageFieldContent",
                                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                                        },
                                        "parameters": {
                                          "entityName": "cp_tickettypesection165s",
                                        "recordId": "@outputs(\u0027Create_a_new_Section_165_row\u0027)?[\u0027body/cp_tickettypesection165id\u0027]",
                                          "fileImageFieldName": "cp_offendersignature",
                                        "item": "@outputs(\u0027Download_Section165_Offence_Signature\u0027)?[\u0027body\u0027]",
                                          "x-ms-file-name": "Untitled"
                                        },
                                        "authentication": "@parameters(\u0027$authentication\u0027)"
                                      }
                                    }
                                  },
                                  "runAfter": {
                                    "Create_a_new_Section_165_row": [
                                      "Succeeded"
                                    ]
                                  },
                                  "expression": {
                                    "not": {
                                      "equals": [
                                      "@empty(items(\u0027Apply_to_each\u0027)?[\u0027cp_section165signatureid\u0027])",
                                        "@true"
                                      ]
                                    }
                                  },
                                  "metadata": {
                                    "operationMetadataId": "44b5a12e-336c-4cb6-99d6-632c2208f020"
                                  },
                                  "type": "If"
                                }
                              },
                              "runAfter": {
                                "Case_-_Section_163": [
                                  "Succeeded"
                                ]
                              },
                              "expression": {
                                "equals": [
                                "@items(\u0027Apply_to_each\u0027)?[\u0027cp_tickettype\u0027]",
                                  "5e45096f-5b39-eb11-bf68-000d3a654276"
                                ]
                              },
                              "metadata": {
                                "operationMetadataId": "e0c81d24-26f4-456b-b23a-ca79ae47780f"
                              },
                              "type": "If"
                            }
                          },
                          "runAfter": {
                            
                          },
                          "metadata": {
                            "operationMetadataId": "06b6aa50-9217-4f93-b24c-8f18ca0653da"
                          },
                          "type": "Foreach"
                        }
                      }
                    },
                    "expression": {
                      "equals": [
                      "@empty(outputs(\u0027List_Vehicle_Ticket_Offenses_STG\u0027)?[\u0027body/value\u0027])",
                        "@true"
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "3b53c59f-6aaa-4634-9429-9c0d19620ccf"
                    },
                    "type": "If"
                  },
                  "If_Photo_2_Exists": {
                    "actions": {
                      
                    },
                    "runAfter": {
                      "If_Photo_1_Exists": [
                        "Succeeded"
                      ]
                    },
                    "else": {
                      "actions": {
                        "Get_Photo2_image_content_from_Vehicle_Ticket_STG_": {
                          "runAfter": {
                            
                          },
                          "metadata": {
                            "operationMetadataId": "574fa441-7a13-4873-95f5-832f068f97b8"
                          },
                          "type": "OpenApiConnection",
                          "inputs": {
                            "host": {
                              "connectionName": "shared_commondataserviceforapps",
                              "operationId": "GetEntityFileImageFieldContent",
                              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                            },
                            "parameters": {
                              "entityName": "cp_vehicleticketstgs",
                            "recordId": "@triggerOutputs()?[\u0027body/cp_vehicleticketstgid\u0027]",
                              "fileImageFieldName": "cp_photo2",
                              "size": "full"
                            },
                            "authentication": "@parameters(\u0027$authentication\u0027)"
                          }
                        },
                        "Upload_image_content_to_Vehicle_Ticket_4": {
                          "runAfter": {
                            "Create_new_record_in_Photos_for_Photo_2": [
                              "Succeeded"
                            ]
                          },
                          "metadata": {
                            "operationMetadataId": "9fa64c2e-f6c9-4b07-8c55-7ff5d321dd8d"
                          },
                          "type": "OpenApiConnection",
                          "inputs": {
                            "host": {
                              "connectionName": "shared_commondataserviceforapps",
                              "operationId": "UpdateEntityFileImageFieldContent",
                              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                            },
                            "parameters": {
                              "entityName": "cp_photos",
                            "recordId": "@outputs(\u0027Create_new_record_in_Photos_for_Photo_2\u0027)?[\u0027body/cp_photoid\u0027]",
                              "fileImageFieldName": "cp_image",
                            "item": "@outputs(\u0027Get_Photo2_image_content_from_Vehicle_Ticket_STG_\u0027)?[\u0027body\u0027]",
                              "x-ms-file-name": "Untitled"
                            },
                            "authentication": "@parameters(\u0027$authentication\u0027)"
                          }
                        },
                        "Create_new_record_in_Photos_for_Photo_2": {
                          "runAfter": {
                            "Get_Photo2_image_content_from_Vehicle_Ticket_STG_": [
                              "Succeeded"
                            ]
                          },
                          "metadata": {
                            "operationMetadataId": "1ca6e0fc-e602-487f-9ff3-d039b7c87599"
                          },
                          "type": "OpenApiConnection",
                          "inputs": {
                            "host": {
                              "connectionName": "shared_commondataserviceforapps_1",
                              "operationId": "CreateRecord",
                              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                            },
                            "parameters": {
                              "entityName": "cp_photos",
                            "item/ownerid@odata.bind": "/systemusers(@{outputs(\u0027Create_a_Vehicle_Ticket_row\u0027)?[\u0027body/_ownerid_value\u0027]})",
                            "item/cp_phototitle": "@triggerOutputs()?[\u0027body/cp_photocaption2\u0027]",
                            "item/cp_vehicleticket@odata.bind": "/cp_vehicletickets(@{outputs(\u0027Create_a_Vehicle_Ticket_row\u0027)?[\u0027body/cp_vehicleticketid\u0027]})"
                            },
                            "authentication": "@parameters(\u0027$authentication\u0027)"
                          }
                        }
                      }
                    },
                    "expression": {
                      "equals": [
                      "@empty(triggerOutputs()?[\u0027body/cp_photo2id\u0027])",
                        "@true"
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "bf70b846-a789-4807-b588-c430fc88b410"
                    },
                    "type": "If"
                  },
                  "If_Photo_3_Exists_": {
                    "actions": {
                      
                    },
                    "runAfter": {
                      "If_Photo_2_Exists": [
                        "Succeeded"
                      ]
                    },
                    "else": {
                      "actions": {
                        "Get_Photo_3_image_content_from_Vehicle_Ticket_STG__": {
                          "runAfter": {
                            
                          },
                          "metadata": {
                            "operationMetadataId": "71b1e579-d354-4916-a7d8-34f9a7224fdc"
                          },
                          "type": "OpenApiConnection",
                          "inputs": {
                            "host": {
                              "connectionName": "shared_commondataserviceforapps",
                              "operationId": "GetEntityFileImageFieldContent",
                              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                            },
                            "parameters": {
                              "entityName": "cp_vehicleticketstgs",
                            "recordId": "@triggerOutputs()?[\u0027body/cp_vehicleticketstgid\u0027]",
                              "fileImageFieldName": "cp_photo3",
                              "size": "full"
                            },
                            "authentication": "@parameters(\u0027$authentication\u0027)"
                          }
                        },
                        "Upload_image_content_to_Vehicle_Ticket_5": {
                          "runAfter": {
                            "Create_new_record_in_Photos_for_Photo_3": [
                              "Succeeded"
                            ]
                          },
                          "metadata": {
                            "operationMetadataId": "ebb99714-20c0-4f57-81b4-d42bfe112480"
                          },
                          "type": "OpenApiConnection",
                          "inputs": {
                            "host": {
                              "connectionName": "shared_commondataserviceforapps",
                              "operationId": "UpdateEntityFileImageFieldContent",
                              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                            },
                            "parameters": {
                              "entityName": "cp_photos",
                            "recordId": "@outputs(\u0027Create_new_record_in_Photos_for_Photo_3\u0027)?[\u0027body/cp_photoid\u0027]",
                              "fileImageFieldName": "cp_image",
                            "item": "@outputs(\u0027Get_Photo_3_image_content_from_Vehicle_Ticket_STG__\u0027)?[\u0027body\u0027]",
                              "x-ms-file-name": "Untitled"
                            },
                            "authentication": "@parameters(\u0027$authentication\u0027)"
                          }
                        },
                        "Create_new_record_in_Photos_for_Photo_3": {
                          "runAfter": {
                            "Get_Photo_3_image_content_from_Vehicle_Ticket_STG__": [
                              "Succeeded"
                            ]
                          },
                          "metadata": {
                            "operationMetadataId": "76813ad5-9dfe-4c14-9b25-8183bf452f60"
                          },
                          "type": "OpenApiConnection",
                          "inputs": {
                            "host": {
                              "connectionName": "shared_commondataserviceforapps_1",
                              "operationId": "CreateRecord",
                              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                            },
                            "parameters": {
                              "entityName": "cp_photos",
                            "item/ownerid@odata.bind": "/systemusers(@{outputs(\u0027Create_a_Vehicle_Ticket_row\u0027)?[\u0027body/_ownerid_value\u0027]})",
                            "item/cp_phototitle": "@outputs(\u0027Update_Staging_Record_Lookup_Fields\u0027)?[\u0027body/cp_photocaption3\u0027]",
                            "item/cp_vehicleticket@odata.bind": "/cp_vehicletickets(@{outputs(\u0027Create_a_Vehicle_Ticket_row\u0027)?[\u0027body/cp_vehicleticketid\u0027]})"
                            },
                            "authentication": "@parameters(\u0027$authentication\u0027)"
                          }
                        }
                      }
                    },
                    "expression": {
                      "equals": [
                      "@empty(triggerOutputs()?[\u0027body/cp_photo3id\u0027])",
                        "@true"
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "b91e69b2-c5d3-4e2a-8e0d-c900e4d90103"
                    },
                    "type": "If"
                  },
                  "If_Photo_4_Exists__": {
                    "actions": {
                      
                    },
                    "runAfter": {
                      "If_Photo_3_Exists_": [
                        "Succeeded"
                      ]
                    },
                    "else": {
                      "actions": {
                        "Get_Photo_4_image_content_from_Vehicle_Ticket_STG___": {
                          "runAfter": {
                            
                          },
                          "metadata": {
                            "operationMetadataId": "dd594227-57d5-4507-bb95-fc01db5089fd"
                          },
                          "type": "OpenApiConnection",
                          "inputs": {
                            "host": {
                              "connectionName": "shared_commondataserviceforapps",
                              "operationId": "GetEntityFileImageFieldContent",
                              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                            },
                            "parameters": {
                              "entityName": "cp_vehicleticketstgs",
                            "recordId": "@triggerOutputs()?[\u0027body/cp_vehicleticketstgid\u0027]",
                              "fileImageFieldName": "cp_photo4",
                              "size": "full"
                            },
                            "authentication": "@parameters(\u0027$authentication\u0027)"
                          }
                        },
                        "Upload_image_content_to_Vehicle_Ticket_6": {
                          "runAfter": {
                            "Create_new_record_in_Photos_for_Photo_4": [
                              "Succeeded"
                            ]
                          },
                          "metadata": {
                            "operationMetadataId": "82c3a444-8d20-4cc2-a6d2-c38d6b3bf34c"
                          },
                          "type": "OpenApiConnection",
                          "inputs": {
                            "host": {
                              "connectionName": "shared_commondataserviceforapps",
                              "operationId": "UpdateEntityFileImageFieldContent",
                              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                            },
                            "parameters": {
                              "entityName": "cp_photos",
                            "recordId": "@outputs(\u0027Create_new_record_in_Photos_for_Photo_4\u0027)?[\u0027body/cp_photoid\u0027]",
                              "fileImageFieldName": "cp_image",
                            "item": "@outputs(\u0027Get_Photo_4_image_content_from_Vehicle_Ticket_STG___\u0027)?[\u0027body\u0027]",
                              "x-ms-file-name": "Untitled"
                            },
                            "authentication": "@parameters(\u0027$authentication\u0027)"
                          }
                        },
                        "Create_new_record_in_Photos_for_Photo_4": {
                          "runAfter": {
                            "Get_Photo_4_image_content_from_Vehicle_Ticket_STG___": [
                              "Succeeded"
                            ]
                          },
                          "metadata": {
                            "operationMetadataId": "989cc3f8-efb7-4ed1-a86e-cea9e5170bed"
                          },
                          "type": "OpenApiConnection",
                          "inputs": {
                            "host": {
                              "connectionName": "shared_commondataserviceforapps_1",
                              "operationId": "CreateRecord",
                              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                            },
                            "parameters": {
                              "entityName": "cp_photos",
                            "item/ownerid@odata.bind": "/systemusers(@{outputs(\u0027Create_a_Vehicle_Ticket_row\u0027)?[\u0027body/_ownerid_value\u0027]})",
                            "item/cp_phototitle": "@outputs(\u0027Update_Staging_Record_Lookup_Fields\u0027)?[\u0027body/cp_photocaption4\u0027]",
                            "item/cp_vehicleticket@odata.bind": "/cp_vehicletickets(@{outputs(\u0027Create_a_Vehicle_Ticket_row\u0027)?[\u0027body/cp_vehicleticketid\u0027]})"
                            },
                            "authentication": "@parameters(\u0027$authentication\u0027)"
                          }
                        }
                      }
                    },
                    "expression": {
                      "equals": [
                      "@empty(triggerOutputs()?[\u0027body/cp_photo4id\u0027])",
                        "@true"
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "8bf31dda-316d-4ca0-923e-913f701c6eec"
                    },
                    "type": "If"
                  },
                  "If_Photo_5_Exists__": {
                    "actions": {
                      
                    },
                    "runAfter": {
                      "If_Photo_4_Exists__": [
                        "Succeeded"
                      ]
                    },
                    "else": {
                      "actions": {
                        "Get_Photo_5_image_content_from_Vehicle_Ticket_STG____": {
                          "runAfter": {
                            
                          },
                          "metadata": {
                            "operationMetadataId": "8b27d1a9-f042-45b8-8173-bedce863d52c"
                          },
                          "type": "OpenApiConnection",
                          "inputs": {
                            "host": {
                              "connectionName": "shared_commondataserviceforapps",
                              "operationId": "GetEntityFileImageFieldContent",
                              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                            },
                            "parameters": {
                              "entityName": "cp_vehicleticketstgs",
                            "recordId": "@triggerOutputs()?[\u0027body/cp_vehicleticketstgid\u0027]",
                              "fileImageFieldName": "cp_photo5",
                              "size": "full"
                            },
                            "authentication": "@parameters(\u0027$authentication\u0027)"
                          }
                        },
                        "Upload_image_content_to_Vehicle_Ticket_7": {
                          "runAfter": {
                            "Create_new_record_in_Photos_for_Photo_5": [
                              "Succeeded"
                            ]
                          },
                          "metadata": {
                            "operationMetadataId": "9581a7d0-ab45-44be-a0c1-6fb405abb476"
                          },
                          "type": "OpenApiConnection",
                          "inputs": {
                            "host": {
                              "connectionName": "shared_commondataserviceforapps",
                              "operationId": "UpdateEntityFileImageFieldContent",
                              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                            },
                            "parameters": {
                              "entityName": "cp_photos",
                            "recordId": "@outputs(\u0027Create_new_record_in_Photos_for_Photo_5\u0027)?[\u0027body/cp_photoid\u0027]",
                              "fileImageFieldName": "cp_image",
                            "item": "@outputs(\u0027Get_Photo_5_image_content_from_Vehicle_Ticket_STG____\u0027)?[\u0027body\u0027]",
                              "x-ms-file-name": "Untitled"
                            },
                            "authentication": "@parameters(\u0027$authentication\u0027)"
                          }
                        },
                        "Create_new_record_in_Photos_for_Photo_5": {
                          "runAfter": {
                            "Get_Photo_5_image_content_from_Vehicle_Ticket_STG____": [
                              "Succeeded"
                            ]
                          },
                          "metadata": {
                            "operationMetadataId": "34e544c7-0d34-4473-a4f8-b3ec1a677ecf"
                          },
                          "type": "OpenApiConnection",
                          "inputs": {
                            "host": {
                              "connectionName": "shared_commondataserviceforapps_1",
                              "operationId": "CreateRecord",
                              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                            },
                            "parameters": {
                              "entityName": "cp_photos",
                            "item/ownerid@odata.bind": "/systemusers(@{outputs(\u0027Create_a_Vehicle_Ticket_row\u0027)?[\u0027body/_ownerid_value\u0027]})",
                            "item/cp_phototitle": "@triggerOutputs()?[\u0027body/cp_photocaption5\u0027]",
                            "item/cp_vehicleticket@odata.bind": "/cp_vehicletickets(@{outputs(\u0027Create_a_Vehicle_Ticket_row\u0027)?[\u0027body/cp_vehicleticketid\u0027]})"
                            },
                            "authentication": "@parameters(\u0027$authentication\u0027)"
                          }
                        }
                      }
                    },
                    "expression": {
                      "equals": [
                      "@empty(triggerOutputs()?[\u0027body/cp_photo5id\u0027])",
                        "@true"
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "195c2860-0d8a-40dd-877f-9a5993eb5d7c"
                    },
                    "type": "If"
                  },
                  "Reload_Staging_Row": {
                    "runAfter": {
                      "Run_a_Child_Flow_(Create_Location)": [
                        "Succeeded"
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "72c76feb-6839-49ef-a3a2-8fee540963aa"
                    },
                    "type": "OpenApiConnection",
                    "inputs": {
                      "host": {
                        "connectionName": "shared_commondataserviceforapps_1",
                        "operationId": "GetItem",
                        "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                      },
                      "parameters": {
                        "entityName": "cp_vehicleticketstgs",
                      "recordId": "@triggerOutputs()?[\u0027body/cp_vehicleticketstgid\u0027]"
                      },
                      "authentication": "@parameters(\u0027$authentication\u0027)"
                    }
                  },
                  "Condition": {
                    "actions": {
                      "Create_Offender_Contact": {
                        "actions": {
                          "Run_a_Child_Flow_(Create_Offender_as_Contact_without_Birthdate)": {
                            "runAfter": {
                              
                            },
                            "metadata": {
                              "operationMetadataId": "4349f3c3-f542-4bb6-b430-94ded34f0f37"
                            },
                            "type": "Workflow",
                            "inputs": {
                              "host": {
                                "workflowReferenceName": "0cd014f7-3e5a-eb11-a812-0022489ba6ad"
                              },
                              "body": {
                              "text": "@triggerOutputs()?[\u0027body/cp_forname\u0027]",
                              "text_1": "@triggerOutputs()?[\u0027body/cp_surname\u0027]",
                              "text_6": "@if(empty(triggerOutputs()?[\u0027body/cp_gender\u0027]), \u0027\u0027, triggerOutputs()?[\u0027body/cp_gender\u0027])",
                              "text_7": "@if(empty(triggerOutputs()?[\u0027body/cp_additionalnametype\u0027]), \u0027\u0027, triggerOutputs()?[\u0027body/cp_additionalnametype\u0027])",
                              "text_8": "@if(empty(triggerOutputs()?[\u0027body/cp_additionalname\u0027]), \u0027\u0027, triggerOutputs()?[\u0027body/cp_additionalname\u0027])",
                              "text_10": "@if(empty(triggerOutputs()?[\u0027body/cp_title\u0027]), \u0027\u0027, triggerOutputs()?[\u0027body/cp_title\u0027])",
                              "text_12": "@if(empty(triggerOutputs()?[\u0027body/cp_housename\u0027]), \u0027\u0027, triggerOutputs()?[\u0027body/cp_housename\u0027])",
                              "text_13": "@if(empty(triggerOutputs()?[\u0027body/cp_housenumber\u0027]), \u0027\u0027, triggerOutputs()?[\u0027body/cp_housenumber\u0027])",
                              "text_14": "@if(empty(triggerOutputs()?[\u0027body/cp_district\u0027]), \u0027\u0027, triggerOutputs()?[\u0027body/cp_district\u0027])",
                                "text_15": "b36aea0b-1e69-eb11-a812-0022489abff7",
                              "text_17": "@if(empty(triggerOutputs()?[\u0027body/cp_county\u0027]), \u0027\u0027, triggerOutputs()?[\u0027body/cp_county\u0027])",
                              "text_18": "@if(empty(triggerOutputs()?[\u0027body/cp_country\u0027]), \u0027\u0027, triggerOutputs()?[\u0027body/cp_country\u0027])",
                              "text_19": "@if(empty(triggerOutputs()?[\u0027body/cp_postcode\u0027]), \u0027\u0027, triggerOutputs()?[\u0027body/cp_postcode\u0027])",
                                "location": {
                                  "address": {
                                  "street": "@if(empty(triggerOutputs()?[\u0027body/cp_street\u0027]), \u0027\u0027, triggerOutputs()?[\u0027body/cp_street\u0027])",
                                  "city": "@if(empty(triggerOutputs()?[\u0027body/cp_town\u0027]), \u0027\u0027, triggerOutputs()?[\u0027body/cp_town\u0027])"
                                  }
                                },
                              "text_16": "@if(empty(triggerOutputs()?[\u0027body/cp_penaltypoints\u0027]), \u0027\u0027, triggerOutputs()?[\u0027body/cp_penaltypoints\u0027])"
                              }
                            }
                          },
                          "Set_Contact_Id_variable": {
                            "runAfter": {
                              "Run_a_Child_Flow_(Create_Offender_as_Contact_without_Birthdate)": [
                                "Succeeded"
                              ]
                            },
                            "metadata": {
                              "operationMetadataId": "aa315cf9-40a4-455c-9412-eb6ab0841ca7"
                            },
                            "type": "SetVariable",
                            "inputs": {
                              "name": "ContactId",
                            "value": "@{outputs(\u0027Run_a_Child_Flow_(Create_Offender_as_Contact_without_Birthdate)\u0027)?[\u0027Body\u0027]?[\u0027contactid\u0027]}"
                            }
                          }
                        },
                        "runAfter": {
                          
                        },
                        "else": {
                          "actions": {
                            "Run_a_Child_Flow_(Create_Offender_as_Contact)": {
                              "runAfter": {
                                
                              },
                              "metadata": {
                                "operationMetadataId": "2d0c70c4-42d6-464d-aaee-1c5a0c55940e"
                              },
                              "type": "Workflow",
                              "inputs": {
                                "host": {
                                  "workflowReferenceName": "0cd014f7-3e5a-eb11-a812-0022489ba6ad"
                                },
                                "body": {
                                "text": "@triggerOutputs()?[\u0027body/cp_forname\u0027]",
                                "text_1": "@triggerOutputs()?[\u0027body/cp_surname\u0027]",
                                "text_6": "@if(empty(triggerOutputs()?[\u0027body/cp_gender\u0027]), \u0027\u0027, triggerOutputs()?[\u0027body/cp_gender\u0027])",
                                "text_7": "@if(empty(triggerOutputs()?[\u0027body/cp_additionalnametype\u0027]), \u0027\u0027, triggerOutputs()?[\u0027body/cp_additionalnametype\u0027])",
                                "text_8": "@if(empty(triggerOutputs()?[\u0027body/cp_additionalname\u0027]), \u0027\u0027, triggerOutputs()?[\u0027body/cp_additionalname\u0027])",
                                "text_9": "@if(empty(triggerOutputs()?[\u0027body/cp_birthdate\u0027]), \u0027\u0027, triggerOutputs()?[\u0027body/cp_birthdate\u0027])",
                                "text_10": "@if(empty(triggerOutputs()?[\u0027body/cp_title\u0027]), \u0027\u0027, triggerOutputs()?[\u0027body/cp_title\u0027])",
                                "text_12": "@if(empty(triggerOutputs()?[\u0027body/cp_housename\u0027]), \u0027\u0027, triggerOutputs()?[\u0027body/cp_housename\u0027])",
                                "text_13": "@if(empty(triggerOutputs()?[\u0027body/cp_housenumber\u0027]), \u0027\u0027, triggerOutputs()?[\u0027body/cp_housenumber\u0027])",
                                "text_14": "@if(empty(triggerOutputs()?[\u0027body/cp_district\u0027]), \u0027\u0027, triggerOutputs()?[\u0027body/cp_district\u0027])",
                                  "text_15": "b36aea0b-1e69-eb11-a812-0022489abff7",
                                "text_17": "@if(empty(triggerOutputs()?[\u0027body/cp_county\u0027]), \u0027\u0027, triggerOutputs()?[\u0027body/cp_county\u0027])",
                                "text_18": "@if(empty(triggerOutputs()?[\u0027body/cp_country\u0027]), \u0027\u0027, triggerOutputs()?[\u0027body/cp_country\u0027])",
                                "text_19": "@if(empty(triggerOutputs()?[\u0027body/cp_postcode\u0027]), \u0027\u0027, triggerOutputs()?[\u0027body/cp_postcode\u0027])",
                                  "location": {
                                    "address": {
                                    "street": "@if(empty(triggerOutputs()?[\u0027body/cp_street\u0027]), \u0027\u0027, triggerOutputs()?[\u0027body/cp_street\u0027])",
                                    "city": "@if(empty(triggerOutputs()?[\u0027body/cp_town\u0027]), \u0027\u0027, triggerOutputs()?[\u0027body/cp_town\u0027])"
                                    }
                                  },
                                "text_16": "@if(empty(triggerOutputs()?[\u0027body/cp_penaltypoints\u0027]), \u0027\u0027, triggerOutputs()?[\u0027body/cp_penaltypoints\u0027])"
                                }
                              }
                            },
                            "Set_Contact_Id_variable_2": {
                              "runAfter": {
                                "Run_a_Child_Flow_(Create_Offender_as_Contact)": [
                                  "Succeeded"
                                ]
                              },
                              "metadata": {
                                "operationMetadataId": "c94623e3-853f-4108-8c10-f8d16c8ed979"
                              },
                              "type": "SetVariable",
                              "inputs": {
                                "name": "ContactId",
                              "value": "@{outputs(\u0027Run_a_Child_Flow_(Create_Offender_as_Contact)\u0027)?[\u0027Body\u0027]?[\u0027contactid\u0027]}"
                              }
                            }
                          }
                        },
                        "expression": {
                          "equals": [
                          "@empty(triggerOutputs()?[\u0027body/cp_birthdate\u0027])",
                            "@true"
                          ]
                        },
                        "metadata": {
                          "operationMetadataId": "7068d9eb-83f5-46eb-ba9f-b579750d3f14"
                        },
                        "type": "If"
                      },
                      "Run_a_Child_Flow_(Update_Contact_Additional_Fields)": {
                        "runAfter": {
                          "Create_Offender_Contact": [
                            "Succeeded"
                          ]
                        },
                        "metadata": {
                          "operationMetadataId": "5c4709ce-865e-4836-b90e-061a2e67bc74"
                        },
                        "type": "Workflow",
                        "inputs": {
                          "host": {
                            "workflowReferenceName": "ac004de4-6061-eb11-a812-0022489c7676"
                          },
                          "body": {
                            "text": "@variables(\u0027ContactId\u0027)",
                          "text_2": "@if(empty(triggerOutputs()?[\u0027body/cp_occupation\u0027]), \u0027\u0027, triggerOutputs()?[\u0027body/cp_occupation\u0027])",
                            "text_3": "@\u0027\u0027",
                          "text_5": "@if(empty(triggerOutputs()?[\u0027body/cp_preferredcontactmethod\u0027]), \u0027\u0027, triggerOutputs()?[\u0027body/cp_preferredcontactmethod\u0027])",
                          "text_6": "@if(empty(triggerOutputs()?[\u0027body/cp_homephone\u0027]), \u0027\u0027, triggerOutputs()?[\u0027body/cp_homephone\u0027])",
                          "text_7": "@if(empty(triggerOutputs()?[\u0027body/cp_email\u0027]), \u0027\u0027, triggerOutputs()?[\u0027body/cp_email\u0027])",
                          "text_8": "@if(empty(triggerOutputs()?[\u0027body/cp_preferredcontacttime\u0027]), \u0027\u0027, triggerOutputs()?[\u0027body/cp_preferredcontacttime\u0027])",
                          "text_9": "@if(empty(triggerOutputs()?[\u0027body/cp_mobilephone\u0027]), \u0027\u0027, triggerOutputs()?[\u0027body/cp_mobilephone\u0027])",
                          "text_10": "@if(empty(triggerOutputs()?[\u0027body/cp_workphone\u0027]), \u0027\u0027, triggerOutputs()?[\u0027body/cp_workphone\u0027])",
                          "text_14": "@if(empty(triggerOutputs()?[\u0027body/cp_newoffenderoccupation\u0027]), \u0027\u0027, triggerOutputs()?[\u0027body/cp_newoffenderoccupation\u0027])",
                          "text_15": "@if(empty(triggerOutputs()?[\u0027body/cp_selfdefinedethnicity\u0027]), \u0027\u0027, triggerOutputs()?[\u0027body/cp_selfdefinedethnicity\u0027])",
                          "text_16": "@if(empty(triggerOutputs()?[\u0027body/cp_officerdefinedethnicity\u0027]), \u0027\u0027, triggerOutputs()?[\u0027body/cp_officerdefinedethnicity\u0027])"
                          }
                        }
                      },
                      "Update_Contact_Driver_Licence_related_fields": {
                        "runAfter": {
                          "Run_a_Child_Flow_(Update_Contact_Additional_Fields)": [
                            "Succeeded"
                          ]
                        },
                        "metadata": {
                          "operationMetadataId": "dec52fab-a809-4584-8ebb-104dbe7c261f"
                        },
                        "type": "OpenApiConnection",
                        "inputs": {
                          "host": {
                            "connectionName": "shared_commondataserviceforapps",
                            "operationId": "UpdateRecord",
                            "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                          },
                          "parameters": {
                            "entityName": "contacts",
                            "recordId": "@variables(\u0027ContactId\u0027)",
                          "item/cp_alternativeid": "@triggerOutputs()?[\u0027body/cp_alternativeid\u0027]",
                          "item/cp_foreignlicencecountry@odata.bind": "@if(empty(triggerOutputs()?[\u0027body/cp_foreignlicencecountry\u0027]), null, concat(\u0027/cp_lookupvalues(\u0027, triggerOutputs()?[\u0027body/cp_foreignlicencecountry\u0027], \u0027)\u0027))",
                          "item/cp_foreignlicencenumber": "@triggerOutputs()?[\u0027body/cp_foreignlicencenumber\u0027]",
                          "item/cp_licenceexpiry": "@triggerOutputs()?[\u0027body/cp_licenceexpiry\u0027]",
                          "item/cp_licencenumber": "@triggerOutputs()?[\u0027body/cp_drivinglicencenumber\u0027]",
                          "item/cp_licencetype@odata.bind": "@if(empty(triggerOutputs()?[\u0027body/cp_licencetype\u0027]), null, concat(\u0027/cp_lookupvalues(\u0027, triggerOutputs()?[\u0027body/cp_licencetype\u0027], \u0027)\u0027))",
                          "item/cp_licencevalidfrom": "@triggerOutputs()?[\u0027body/cp_licencevalidfrom\u0027]"
                          },
                          "authentication": "@parameters(\u0027$authentication\u0027)"
                        }
                      },
                      "Condition_Licence_Category_Provided": {
                        "actions": {
                          
                        },
                        "runAfter": {
                          "Update_Contact_Driver_Licence_related_fields": [
                            "Succeeded"
                          ]
                        },
                        "else": {
                          "actions": {
                            "Split_Licence_Categories": {
                              "runAfter": {
                                
                              },
                              "metadata": {
                                "operationMetadataId": "a33f66f9-8b74-4f20-a293-f97367150a88"
                              },
                              "type": "Compose",
                            "inputs": "@split(triggerOutputs()?[\u0027body/cp_licencecategory\u0027], \u0027,\u0027)"
                            },
                            "Apply_to_each_Licence_Category": {
                              "foreach": "@outputs(\u0027Split_Licence_Categories\u0027)",
                              "actions": {
                                "Relate_rows_(Contact_with_Licence_Categories)": {
                                  "runAfter": {
                                    
                                  },
                                  "metadata": {
                                    "operationMetadataId": "eea818ac-8ccb-43b7-ba98-2f126e000519"
                                  },
                                  "type": "OpenApiConnection",
                                  "inputs": {
                                    "host": {
                                      "connectionName": "shared_commondataserviceforapps_1",
                                      "operationId": "AssociateEntities",
                                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                                    },
                                    "parameters": {
                                      "entityName": "cp_licencecategories",
                                      "recordId": "@items(\u0027Apply_to_each_Licence_Category\u0027)",
                                      "associationEntityRelationship": "cp_LicenceCategory_Contact",
                                    "item/@odata.id": "@outputs(\u0027Update_Contact_Driver_Licence_related_fields\u0027)?[\u0027body/@odata.id\u0027]"
                                    },
                                    "authentication": "@parameters(\u0027$authentication\u0027)"
                                  }
                                }
                              },
                              "runAfter": {
                                "Split_Licence_Categories": [
                                  "Succeeded"
                                ]
                              },
                              "metadata": {
                                "operationMetadataId": "18e75554-47cc-460c-8583-70d996e0309e"
                              },
                              "type": "Foreach"
                            }
                          }
                        },
                        "expression": {
                          "equals": [
                          "@empty(triggerOutputs()?[\u0027body/cp_licencecategory\u0027])",
                            "@true"
                          ]
                        },
                        "metadata": {
                          "operationMetadataId": "c91c2143-b105-4a37-aa6f-a651fd4240a5"
                        },
                        "type": "If"
                      }
                    },
                    "runAfter": {
                      "Reload_Staging_Row": [
                        "Succeeded"
                      ]
                    },
                    "expression": {
                      "not": {
                        "equals": [
                        "@outputs(\u0027Reload_Staging_Row\u0027)?[\u0027body/cp_personnotmandatory\u0027]",
                          true
                        ]
                      }
                    },
                    "metadata": {
                      "operationMetadataId": "75651913-109d-4cca-8c9e-1f88792e0e6d"
                    },
                    "type": "If"
                  },
                  "If_issued_to_!=_\"rider_of_bicycle\"": {
                    "actions": {
                      "Filter_Vehicles_with_VRM_2": {
                        "runAfter": {
                          
                        },
                        "metadata": {
                          "operationMetadataId": "0426183f-8eaa-48af-a291-f9cfd2a5f874"
                        },
                        "type": "OpenApiConnection",
                        "inputs": {
                          "host": {
                            "connectionName": "shared_commondataserviceforapps",
                            "operationId": "ListRecords",
                            "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                          },
                          "parameters": {
                            "entityName": "cp_vehicledetailses",
                          "$filter": "(cp_name eq \u0027@{triggerOutputs()?[\u0027body/cp_vrm\u0027]}\u0027)",
                            "$top": 1
                          },
                          "authentication": "@parameters(\u0027$authentication\u0027)"
                        }
                      },
                      "According_to_Retrieved_results_2": {
                        "actions": {
                          "Create_a_new_Vehicle_Detail_row_2": {
                            "runAfter": {
                              
                            },
                            "metadata": {
                              "operationMetadataId": "52f4c4e2-c102-4f3c-854e-6924713e171e"
                            },
                            "type": "OpenApiConnection",
                            "inputs": {
                              "host": {
                                "connectionName": "shared_commondataserviceforapps",
                                "operationId": "CreateRecord",
                                "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                              },
                              "parameters": {
                                "entityName": "cp_vehicledetailses",
                              "item/cp_Colour@odata.bind": "/cp_lookupvalues(@{triggerOutputs()?[\u0027body/cp_vehiclecolour\u0027]})",
                              "item/cp_make@odata.bind": "/cp_lookupvalues(@{triggerOutputs()?[\u0027body/cp_vehiclemake\u0027]})",
                              "item/cp_model": "@triggerOutputs()?[\u0027body/cp_vehiclemodel\u0027]",
                              "item/cp_name": "@triggerOutputs()?[\u0027body/cp_vrm\u0027]",
                              "item/cp_chassisnumber": "@triggerOutputs()?[\u0027body/cp_chassisnumber\u0027]",
                              "item/cp_dateofregistration": "@triggerOutputs()?[\u0027body/cp_dateofregistation\u0027]",
                              "item/cp_enginecc": "@triggerOutputs()?[\u0027body/cp_enginecc\u0027]",
                              "item/cp_enginenumber": "@triggerOutputs()?[\u0027body/cp_enginenumber\u0027]",
                              "item/cp_insurancenumber": "@triggerOutputs()?[\u0027body/cp_insurancenumber\u0027]",
                              "item/cp_insuredby": "@triggerOutputs()?[\u0027body/cp_insuredby\u0027]",
                              "item/cp_makeother": "@triggerOutputs()?[\u0027body/cp_vehiclemakeother\u0027]",
                              "item/cp_manualtransmission": "@triggerOutputs()?[\u0027body/cp_manualtransmission\u0027]",
                              "item/cp_motexpiry": "@triggerOutputs()?[\u0027body/cp_motexpiry\u0027]",
                              "item/cp_notes": "@triggerOutputs()?[\u0027body/cp_vehiclenotes\u0027]",
                              "item/ownerid@odata.bind": "/systemusers(@{triggerOutputs()?[\u0027body/_createdby_value\u0027]})",
                              "item/cp_restrictedvehicle": "@triggerOutputs()?[\u0027body/cp_restrictedvehicle\u0027]",
                              "item/cp_uptodateexciseduty": "@triggerOutputs()?[\u0027body/cp_excisedutycurrent\u0027]",
                              "item/cp_validfrom": "@triggerOutputs()?[\u0027body/cp_insurancevalidfrom_new\u0027]",
                              "item/cp_validto": "@triggerOutputs()?[\u0027body/cp_insurancevalidto_new\u0027]",
                              "item/cp_VehicleRoles@odata.bind": "@if(empty(triggerOutputs()?[\u0027body/cp_vehiclerole\u0027]), null, concat(\u0027/cp_lookupvalues(\u0027, triggerOutputs()?[\u0027body/cp_vehiclerole\u0027], \u0027)\u0027))"
                              },
                              "authentication": "@parameters(\u0027$authentication\u0027)"
                            }
                          },
                          "Set_variable_Vehicle_Id_2": {
                            "runAfter": {
                              "Create_a_new_Vehicle_Detail_row_2": [
                                "Succeeded"
                              ]
                            },
                            "metadata": {
                              "operationMetadataId": "de42c75f-f5e6-4a78-852f-b75e72c07401"
                            },
                            "type": "SetVariable",
                            "inputs": {
                              "name": "VehicleId",
                            "value": "@outputs(\u0027Create_a_new_Vehicle_Detail_row_2\u0027)?[\u0027body/cp_vehicledetailsid\u0027]"
                            }
                          }
                        },
                        "runAfter": {
                          "Filter_Vehicles_with_VRM_2": [
                            "Succeeded"
                          ]
                        },
                        "else": {
                          "actions": {
                            "Store_Vehicle_Id_2": {
                              "runAfter": {
                                
                              },
                              "metadata": {
                                "operationMetadataId": "f51d1aa8-e8f0-4724-b11a-49c84b71a28e"
                              },
                              "type": "SetVariable",
                              "inputs": {
                                "name": "VehicleId",
                              "value": "@{first(body(\u0027Filter_Vehicles_with_VRM_2\u0027)?[\u0027value\u0027])?[\u0027cp_vehicledetailsid\u0027]}"
                              }
                            },
                            "Update_a_row_3": {
                              "runAfter": {
                                "Store_Vehicle_Id_2": [
                                  "Succeeded"
                                ]
                              },
                              "metadata": {
                                "operationMetadataId": "6cdd3079-d701-44d6-aa8e-96c541f2f23c"
                              },
                              "type": "OpenApiConnection",
                              "inputs": {
                                "host": {
                                  "connectionName": "shared_commondataserviceforapps_1",
                                  "operationId": "UpdateRecord",
                                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                                },
                                "parameters": {
                                  "entityName": "cp_vehicledetailses",
                                  "recordId": "@variables(\u0027VehicleId\u0027)",
                                "item/cp_Colour@odata.bind": "/cp_lookupvalues(@{triggerOutputs()?[\u0027body/cp_vehiclecolour\u0027]})",
                                "item/cp_make@odata.bind": "/cp_lookupvalues(@{triggerOutputs()?[\u0027body/cp_vehiclemake\u0027]})",
                                "item/cp_model": "@triggerOutputs()?[\u0027body/cp_vehiclemodel\u0027]",
                                "item/cp_chassisnumber": "@triggerOutputs()?[\u0027body/cp_chassisnumber\u0027]",
                                "item/cp_dateofregistration": "@triggerOutputs()?[\u0027body/cp_dateofregistation\u0027]",
                                "item/cp_enginecc": "@triggerOutputs()?[\u0027body/cp_enginecc\u0027]",
                                "item/cp_enginenumber": "@triggerOutputs()?[\u0027body/cp_enginenumber\u0027]",
                                "item/cp_insurancenumber": "@triggerOutputs()?[\u0027body/cp_insurancenumber\u0027]",
                                "item/cp_insuredby": "@triggerOutputs()?[\u0027body/cp_insuredby\u0027]",
                                "item/cp_makeother": "@triggerOutputs()?[\u0027body/cp_vehiclemakeother\u0027]",
                                "item/cp_manualtransmission": "@triggerOutputs()?[\u0027body/cp_manualtransmission\u0027]",
                                "item/cp_motexpiry": "@triggerOutputs()?[\u0027body/cp_motexpiry\u0027]",
                                "item/cp_notes": "@triggerOutputs()?[\u0027body/cp_vehiclenotes\u0027]",
                                "item/cp_restrictedvehicle": "@triggerOutputs()?[\u0027body/cp_restrictedvehicle\u0027]",
                                "item/cp_validfrom": "@outputs(\u0027Update_Staging_Record_Lookup_Fields\u0027)?[\u0027body/cp_insurancevalidfrom_new\u0027]",
                                "item/cp_validto": "@outputs(\u0027Update_Staging_Record_Lookup_Fields\u0027)?[\u0027body/cp_insurancevalidto_new\u0027]",
                                "item/cp_VehicleRoles@odata.bind": "@if(empty(triggerOutputs()?[\u0027body/cp_vehiclerole\u0027]), null, concat(\u0027/cp_lookupvalues(\u0027, triggerOutputs()?[\u0027body/cp_vehiclerole\u0027], \u0027)\u0027))"
                                },
                                "authentication": "@parameters(\u0027$authentication\u0027)"
                              }
                            }
                          }
                        },
                        "expression": {
                          "equals": [
                          "@empty(outputs(\u0027Filter_Vehicles_with_VRM_2\u0027)?[\u0027body/value\u0027])",
                            "@true"
                          ]
                        },
                        "metadata": {
                          "operationMetadataId": "098dc36c-f29e-4df5-8541-ba661b5e82e2"
                        },
                        "type": "If"
                      },
                      "Update_a_row_2": {
                        "runAfter": {
                          "According_to_Retrieved_results_2": [
                            "Succeeded"
                          ]
                        },
                        "metadata": {
                          "operationMetadataId": "12ec4ec8-57d5-49f2-a317-ad7fedae8777"
                        },
                        "type": "OpenApiConnection",
                        "inputs": {
                          "host": {
                            "connectionName": "shared_commondataserviceforapps_1",
                            "operationId": "UpdateRecord",
                            "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                          },
                          "parameters": {
                            "entityName": "cp_vehicletickets",
                          "recordId": "@outputs(\u0027Create_a_Vehicle_Ticket_row\u0027)?[\u0027body/cp_vehicleticketid\u0027]",
                          "item/cp_vehicledetails@odata.bind": "/cp_vehicledetailses(@{variables(\u0027VehicleId\u0027)})"
                          },
                          "authentication": "@parameters(\u0027$authentication\u0027)"
                        }
                      }
                    },
                    "runAfter": {
                      "Create_a_Vehicle_Ticket_row": [
                        "Succeeded"
                      ]
                    },
                    "expression": {
                      "not": {
                        "equals": [
                        "@outputs(\u0027Reload_Staging_Row\u0027)?[\u0027body/cp_issuedto\u0027]",
                          "fca53c6e-cf5f-eb11-89f5-000d3a654276"
                        ]
                      }
                    },
                    "metadata": {
                      "operationMetadataId": "715b9c18-2ec5-402a-91cc-aaf01c1b9473"
                    },
                    "type": "If"
                  },
                  "Create_a_Vehicle_Ticket_row": {
                    "runAfter": {
                      "Condition": [
                        "Succeeded"
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "6a891462-a588-426f-918e-5cd63a4a9656"
                    },
                    "type": "OpenApiConnection",
                    "inputs": {
                      "host": {
                        "connectionName": "shared_commondataserviceforapps",
                        "operationId": "CreateRecord",
                        "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                      },
                      "parameters": {
                        "entityName": "cp_vehicletickets",
                      "item/cp_incident@odata.bind": "/cp_incidents(@{outputs(\u0027Run_a_Child_Flow_(Create_Incident)\u0027)?[\u0027Body\u0027]?[\u0027incidentid\u0027]})",
                      "item/cp_issuedto@odata.bind": "/cp_lookupvalues(@{triggerOutputs()?[\u0027body/cp_issuedto\u0027]})",
                      "item/cp_name": "Vehicle Ticket for Incident @{triggerOutputs()?[\u0027body/cp_incidentnumber\u0027]}",
                      "item/cp_offencedatetime": "@triggerOutputs()?[\u0027body/cp_offencedatetime\u0027]",
                      "item/cp_reasonforstopping@odata.bind": "/cp_lookupvalues(@{triggerOutputs()?[\u0027body/cp_reasonforstopping\u0027]})",
                      "item/cp_tpa@odata.bind": "/cp_territorialpolicingareas(@{triggerOutputs()?[\u0027body/cp_tpa\u0027]})",
                      "item/cp_firstdevicecheckdateandtime": "@if(empty(triggerOutputs()?[\u0027body/cp_firstcheck\u0027]), triggerOutputs()?[\u0027body/cp_firstchecklaser\u0027],triggerOutputs()?[\u0027body/cp_firstcheck\u0027])",
                      "item/cp_firstdevicedhecklocation": "@if(empty(triggerOutputs()?[\u0027body/cp_firstchecklocation\u0027]), triggerOutputs()?[\u0027body/cp_firstchecklocationlaser\u0027],triggerOutputs()?[\u0027body/cp_firstchecklocation\u0027])",
                      "item/cp_secdevicecheckdatetime": "@if(empty(triggerOutputs()?[\u0027body/cp_secondcheck\u0027]), triggerOutputs()?[\u0027body/cp_secondchecklaser\u0027],triggerOutputs()?[\u0027body/cp_secondcheck\u0027])\r\n",
                      "item/cp_seconddevicechecklocation": "@if(empty(triggerOutputs()?[\u0027body/cp_secondchecklocation\u0027]), triggerOutputs()?[\u0027body/cp_secondchecklocationlaser\u0027],triggerOutputs()?[\u0027body/cp_secondchecklocation\u0027])",
                      "item/cp_daylight@odata.bind": "@if(empty(triggerOutputs()?[\u0027body/cp_daylight\u0027]), \u0027\u0027, concat(\u0027/cp_lookupvalues(\u0027, triggerOutputs()?[\u0027body/cp_daylight\u0027], \u0027)\u0027))",
                      "item/cp_deviceserialnumber": "@if(empty(triggerOutputs()?[\u0027body/cp_deviceserialnumber\u0027]), triggerOutputs()?[\u0027body/cp_deviceserialnumberradar\u0027],triggerOutputs()?[\u0027body/cp_deviceserialnumber\u0027])",
                      "item/cp_distancebehind": "@triggerOutputs()?[\u0027body/cp_distancebehind\u0027]",
                      "item/cp_distancefollowed": "@triggerOutputs()?[\u0027body/cp_distancefollowed\u0027]",
                      "item/cp_driverobserver@odata.bind": "@if(empty(triggerOutputs()?[\u0027body/cp_driverobserver\u0027]), \u0027\u0027, concat(\u0027/cp_lookupvalues(\u0027, triggerOutputs()?[\u0027body/cp_driverobserver\u0027], \u0027)\u0027))",
                      "item/cp_drivershownreading": "@triggerOutputs()?[\u0027body/cp_drivershownreading\u0027]",
                      "item/ownerid@odata.bind": "/systemusers(@{triggerOutputs()?[\u0027body/_createdby_value\u0027]})",
                      "item/cp_fromreferencepoint": "@triggerOutputs()?[\u0027body/cp_fromreferencepoint\u0027]",
                      "item/cp_fromreferencepointfc": "@triggerOutputs()?[\u0027body/cp_fromreferencepointfc\u0027]",
                      "item/cp_haslplates": "@triggerOutputs()?[\u0027body/cp_haslplates\u0027]",
                      "item/cp_haspassengers": "@triggerOutputs()?[\u0027body/cp_haspassengers\u0027]",
                      "item/cp_hasinsurance": "@triggerOutputs()?[\u0027body/cp_hasvalidinsurance\u0027]",
                      "item/cp_hasmot": "@triggerOutputs()?[\u0027body/cp_hasmot\u0027]",
                      "item/cp_informationfrom@odata.bind": "@if(empty(triggerOutputs()?[\u0027body/cp_informationfrom\u0027]), \u0027\u0027, concat(\u0027/cp_lookupvalues(\u0027, triggerOutputs()?[\u0027body/cp_informationfrom\u0027], \u0027)\u0027))",
                      "item/cp_isdriverkeeper": "@triggerOutputs()?[\u0027body/cp_isdriverkeeper\u0027]",
                      "item/cp_isdriversupervised": "@triggerOutputs()?[\u0027body/cp_isdriversupervised\u0027]",
                      "item/cp_markedunmarked@odata.bind": "@if(empty(triggerOutputs()?[\u0027body/cp_markedunmarkedcar\u0027]), \u0027\u0027, concat(\u0027/cp_lookupvalues(\u0027, triggerOutputs()?[\u0027body/cp_markedunmarkedcar\u0027], \u0027)\u0027))",
                      "item/cp_offender@odata.bind": "@if\r\n    (not\r\n        (equals\r\n            ( outputs(\u0027Reload_Staging_Row\u0027)?[\u0027body/cp_personnotmandatory\u0027],true)),concat(\u0027/contacts(\u0027,variables(\u0027ContactId\u0027),\u0027)\u0027),null)",
                      "item/cp_offendersignaturedateandtime": "@triggerOutputs()?[\u0027body/cp_dateofoffendersignature\u0027]",
                      "item/cp_officerid@odata.bind": "@if(empty(triggerOutputs()?[\u0027body/cp_statementof\u0027]), null, concat(\u0027/systemusers(\u0027, triggerOutputs()?[\u0027body/cp_statementof\u0027], \u0027)\u0027))",
                      "item/cp_officersignaturedateandtime": "@triggerOutputs()?[\u0027body/cp_dateofsignature\u0027]",
                      "item/cp_officerstatement": "@triggerOutputs()?[\u0027body/cp_officerstatement\u0027]",
                      "item/cp_onmotorway": "@triggerOutputs()?[\u0027body/cp_onmotorway\u0027]",
                      "item/cp_policevehiclenumber": "@triggerOutputs()?[\u0027body/cp_policevehiclenumber\u0027]",
                      "item/cp_recordedspeed": "@if(empty(triggerOutputs()?[\u0027body/cp_recordedspeed\u0027]), triggerOutputs()?[\u0027body/cp_recordedspeedlaser\u0027],triggerOutputs()?[\u0027body/cp_recordedspeed\u0027])",
                      "item/cp_recordedspeedmphfc": "@triggerOutputs()?[\u0027body/cp_recordedspeedmphfc\u0027]",
                      "item/cp_recordingdistance": "@triggerOutputs()?[\u0027body/cp_recordingdistance\u0027]",
                      "item/cp_speeddetectionmethod@odata.bind": "@if(empty(triggerOutputs()?[\u0027body/cp_speeddetectionmethod\u0027]), null, concat(\u0027/cp_lookupvalues(\u0027, triggerOutputs()?[\u0027body/cp_speeddetectionmethod\u0027], \u0027)\u0027))",
                      "item/cp_speedlimit@odata.bind": "@if(empty(triggerOutputs()?[\u0027body/cp_speedlimit\u0027]), null, concat(\u0027/cp_lookupvalues(\u0027, triggerOutputs()?[\u0027body/cp_speedlimit\u0027], \u0027)\u0027))",
                      "item/cp_speedlimitsignspresentandclear": "@triggerOutputs()?[\u0027body/cp_speedlimitsignspresentclear\u0027]",
                      "item/cp_speedometercheckdateandtime": "@triggerOutputs()?[\u0027body/cp_speedometercheck\u0027]",
                      "item/cp_streetlighting@odata.bind": "@if(empty(triggerOutputs()?[\u0027body/cp_streetlighting\u0027]), \u0027\u0027, concat(\u0027/cp_lookupvalues(\u0027, triggerOutputs()?[\u0027body/cp_streetlighting\u0027], \u0027)\u0027))",
                      "item/cp_toreferencepoint": "@triggerOutputs()?[\u0027body/cp_toreferencepoint\u0027]",
                      "item/cp_toreferencepointfc": "@triggerOutputs()?[\u0027body/cp_toreferencecheckfc\u0027]",
                      "item/cp_vehiclestopped": "@triggerOutputs()?[\u0027body/cp_vehiclestopped\u0027]",
                      "item/cp_vehicleuse@odata.bind": "@\r\nif(empty(triggerOutputs()?[\u0027body/cp_useofvehicle\u0027]), \u0027\u0027, concat(\u0027/cp_lookupvalues(\u0027, triggerOutputs()?[\u0027body/cp_useofvehicle\u0027], \u0027)\u0027))",
                      "item/cp_vehiclewasseen@odata.bind": "@if(empty(triggerOutputs()?[\u0027body/cp_vehiclewasseen\u0027]), \u0027\u0027, concat(\u0027/cp_lookupvalues(\u0027, triggerOutputs()?[\u0027body/cp_vehiclewasseen\u0027], \u0027)\u0027))",
                      "item/cp_visibility@odata.bind": "@if(empty(triggerOutputs()?[\u0027body/cp_visibility\u0027]), \u0027\u0027, concat(\u0027/cp_lookupvalues(\u0027, triggerOutputs()?[\u0027body/cp_visibility\u0027], \u0027)\u0027))",
                      "item/cp_weather@odata.bind": "@if(empty(triggerOutputs()?[\u0027body/cp_weather\u0027]), \u0027\u0027, concat(\u0027/cp_lookupvalues(\u0027, triggerOutputs()?[\u0027body/cp_weather\u0027], \u0027)\u0027))"
                      },
                      "authentication": "@parameters(\u0027$authentication\u0027)"
                    }
                  }
                },
                "runAfter": {
                  
                },
                "metadata": {
                  "operationMetadataId": "01be8514-03ad-4038-9038-59b6c52cca6a"
                },
                "type": "Scope"
              },
              "Catch_(Clear_Staging_Area)": {
                "actions": {
                  "Update_a_row": {
                    "runAfter": {
                      
                    },
                    "metadata": {
                      "operationMetadataId": "2fef8d15-4874-43a8-8232-2f76222fbe5e"
                    },
                    "type": "OpenApiConnection",
                    "inputs": {
                      "host": {
                        "connectionName": "shared_commondataserviceforapps_1",
                        "operationId": "UpdateRecord",
                        "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                      },
                      "parameters": {
                        "entityName": "cp_vehicleticketstgs",
                      "recordId": "@triggerOutputs()?[\u0027body/cp_vehicleticketstgid\u0027]",
                        "item/cp_stagingentrystatus": 778230004,
                        "item/statecode": 1,
                        "item/statuscode": 2,
                      "item/cp_submissionerror_new": "@string(outputs(\u0027Create_a_Vehicle_Ticket_row\u0027)?[\u0027body/cp_vehicleticketid\u0027])"
                      },
                      "authentication": "@parameters(\u0027$authentication\u0027)"
                    }
                  }
                },
                "runAfter": {
                  "Try_(Execute_Transactions)": [
                    "Succeeded"
                  ]
                },
                "metadata": {
                  "operationMetadataId": "dfee0f91-f838-49ef-b2ab-c98fc7dfba42"
                },
                "type": "Scope"
              }
            }
          },
          "expression": {
            "not": {
              "equals": [
                "@empty(variables(\u0027Error Message\u0027))",
                "@true"
              ]
            }
          },
          "metadata": {
            "operationMetadataId": "1f2f884d-53cb-4921-9bb2-e560a1e4f7ff"
          },
          "type": "If"
        },
        "Initialize_Vehicle_Id_variable": {
          "runAfter": {
            "Initialize_Contact_Id_variable": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "ed3aa3e1-9bc6-4265-82ba-0899765e0e42"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "VehicleId",
                "type": "string",
              "value": "@{null}"
              }
            ]
          }
        },
        "Update_Staging_Record_Lookup_Fields": {
          "runAfter": {
            "Append_Vehicle_Ticket_Errors_in_Error_Message_variable": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "2f2ddeeb-6680-4e84-9646-827c259c470b"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps_1",
              "operationId": "UpdateRecord",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "cp_vehicleticketstgs",
            "recordId": "@triggerOutputs()?[\u0027body/cp_vehicleticketstgid\u0027]",
            "item/cp_AdditionalOfficerValue@odata.bind": "@if(empty(triggerOutputs()?[\u0027body/cp_additionalofficer\u0027]), null, concat(\u0027/systemusers(\u0027, triggerOutputs()?[\u0027body/cp_additionalofficer\u0027], \u0027)\u0027))",
            "item/cp_DaylightValue@odata.bind": "@if(empty(triggerOutputs()?[\u0027body/cp_daylight\u0027]), null, concat(\u0027/cp_lookupvalues(\u0027, triggerOutputs()?[\u0027body/cp_daylight\u0027], \u0027)\u0027))",
            "item/cp_DriverObserverValue@odata.bind": "@if(empty(triggerOutputs()?[\u0027body/cp_driverobserver\u0027]), null, concat(\u0027/cp_lookupvalues(\u0027, triggerOutputs()?[\u0027body/cp_driverobserver\u0027], \u0027)\u0027))",
            "item/cp_EnteredByValue@odata.bind": "@if(empty(triggerOutputs()?[\u0027body/cp_enteredby\u0027]), null, concat(\u0027/systemusers(\u0027,triggerOutputs()?[\u0027body/cp_enteredby\u0027], \u0027)\u0027))",
            "item/cp_InformationFromValue@odata.bind": "@if(empty(triggerOutputs()?[\u0027body/cp_informationfrom\u0027]), null, concat(\u0027/cp_lookupvalues(\u0027, triggerOutputs()?[\u0027body/cp_informationfrom\u0027], \u0027)\u0027))",
            "item/cp_IssuedToValue@odata.bind": "@if(empty(triggerOutputs()?[\u0027body/cp_issuedto\u0027]), null, concat(\u0027/cp_lookupvalues(\u0027, triggerOutputs()?[\u0027body/cp_issuedto\u0027], \u0027)\u0027))",
            "item/cp_MarkedUnmarkedCarValue@odata.bind": "@if(empty(triggerOutputs()?[\u0027body/cp_markedunmarkedcar\u0027]), null, concat(\u0027/cp_lookupvalues(\u0027, triggerOutputs()?[\u0027body/cp_markedunmarkedcar\u0027], \u0027)\u0027))",
            "item/cp_OffenderAdditionalNameTypeValue@odata.bind": "@if(empty(triggerOutputs()?[\u0027body/cp_additionalnametype\u0027]), null, concat(\u0027/cp_lookupvalues(\u0027, triggerOutputs()?[\u0027body/cp_additionalnametype\u0027], \u0027)\u0027))",
            "item/cp_OffenderForeignLicenceCountryValue@odata.bind": "@if(empty(triggerOutputs()?[\u0027body/cp_foreignlicencecountry\u0027]), null, concat(\u0027/cp_lookupvalues(\u0027, triggerOutputs()?[\u0027body/cp_foreignlicencecountry\u0027], \u0027)\u0027))",
            "item/cp_OffenderGenderValue@odata.bind": "@if(empty(triggerOutputs()?[\u0027body/cp_gender\u0027]), null, concat(\u0027/cp_lookupvalues(\u0027, triggerOutputs()?[\u0027body/cp_gender\u0027], \u0027)\u0027))",
            "item/cp_OffenderLicenceTypeValue@odata.bind": "@if(empty(triggerOutputs()?[\u0027body/cp_licencetype\u0027]), null, concat(\u0027/cp_lookupvalues(\u0027, triggerOutputs()?[\u0027body/cp_licencetype\u0027], \u0027)\u0027))",
            "item/cp_OffenderOfficerDefinedEthnicityValue@odata.bind": "@if(empty(triggerOutputs()?[\u0027body/cp_officerdefinedethnicity\u0027]), null, concat(\u0027/cp_lookupvalues(\u0027, triggerOutputs()?[\u0027body/cp_officerdefinedethnicity\u0027], \u0027)\u0027))",
            "item/cp_OffenderPreferredContactMethodValue@odata.bind": "@if(empty(triggerOutputs()?[\u0027body/cp_preferredcontactmethod\u0027]), null, concat(\u0027/cp_lookupvalues(\u0027, triggerOutputs()?[\u0027body/cp_preferredcontactmethod\u0027], \u0027)\u0027))",
            "item/cp_OffenderSelfDefinedEthnicityValue@odata.bind": "@if(empty(triggerOutputs()?[\u0027body/cp_selfdefinedethnicity\u0027]), null, concat(\u0027/cp_lookupvalues(\u0027, triggerOutputs()?[\u0027body/cp_selfdefinedethnicity\u0027], \u0027)\u0027))",
            "item/cp_TitleValue@odata.bind": "@if(empty(triggerOutputs()?[\u0027body/cp_title\u0027]), null, concat(\u0027/cp_lookupvalues(\u0027, triggerOutputs()?[\u0027body/cp_title\u0027], \u0027)\u0027))",
            "item/cp_OfficerTrainingValue@odata.bind": "@if(empty(triggerOutputs()?[\u0027body/cp_officertraining\u0027]), null, concat(\u0027/cp_lookupvalues(\u0027, triggerOutputs()?[\u0027body/cp_officertraining\u0027], \u0027)\u0027))",
            "item/cp_ReasonforStoppingValue@odata.bind": "@if(empty(triggerOutputs()?[\u0027body/cp_reasonforstopping\u0027]), null, concat(\u0027/cp_lookupvalues(\u0027, triggerOutputs()?[\u0027body/cp_reasonforstopping\u0027], \u0027)\u0027))",
            "item/cp_SpeedDetectionMethodValue@odata.bind": "@if(empty(triggerOutputs()?[\u0027body/cp_speeddetectionmethod\u0027]), null, concat(\u0027/cp_lookupvalues(\u0027, triggerOutputs()?[\u0027body/cp_speeddetectionmethod\u0027], \u0027)\u0027))",
            "item/cp_SpeedLimitValue@odata.bind": "@if(empty(triggerOutputs()?[\u0027body/cp_speedlimit\u0027]), null, concat(\u0027/cp_lookupvalues(\u0027, triggerOutputs()?[\u0027body/cp_speedlimit\u0027], \u0027)\u0027))",
            "item/cp_StatementOfValue@odata.bind": "@if(empty(triggerOutputs()?[\u0027body/cp_statementof\u0027]), null, concat(\u0027/systemusers(\u0027, triggerOutputs()?[\u0027body/cp_statementof\u0027], \u0027)\u0027))",
            "item/cp_StreetLightingValue@odata.bind": "@if(empty(triggerOutputs()?[\u0027body/cp_streetlighting\u0027]), null, concat(\u0027/cp_lookupvalues(\u0027, triggerOutputs()?[\u0027body/cp_streetlighting\u0027], \u0027)\u0027))",
            "item/cp_TPAValue@odata.bind": "@if(empty(triggerOutputs()?[\u0027body/cp_tpa\u0027]), null, concat(\u0027/cp_territorialpolicingareas(\u0027, triggerOutputs()?[\u0027body/cp_tpa\u0027], \u0027)\u0027))",
            "item/cp_UseofVehicleValue@odata.bind": "@if(empty(triggerOutputs()?[\u0027body/cp_useofvehicle\u0027]), null, concat(\u0027/cp_lookupvalues(\u0027, triggerOutputs()?[\u0027body/cp_useofvehicle\u0027], \u0027)\u0027))",
            "item/cp_VehicleColourValue@odata.bind": "@if(empty(triggerOutputs()?[\u0027body/cp_vehiclecolour\u0027]), null, concat(\u0027/cp_lookupvalues(\u0027, triggerOutputs()?[\u0027body/cp_vehiclecolour\u0027], \u0027)\u0027))",
            "item/cp_VehicleMakeValue@odata.bind": "@if(empty(triggerOutputs()?[\u0027body/cp_vehiclemake\u0027]), null, concat(\u0027/cp_lookupvalues(\u0027, triggerOutputs()?[\u0027body/cp_vehiclemake\u0027], \u0027)\u0027))",
            "item/cp_VehicleRoleValue@odata.bind": "@if(empty(triggerOutputs()?[\u0027body/cp_vehiclerole\u0027]), null, concat(\u0027/cp_lookupvalues(\u0027, triggerOutputs()?[\u0027body/cp_vehiclerole\u0027], \u0027)\u0027))",
            "item/cp_VehicleWasSeenValue@odata.bind": "@if(empty(triggerOutputs()?[\u0027body/cp_vehiclewasseen\u0027]), null, concat(\u0027/cp_lookupvalues(\u0027, triggerOutputs()?[\u0027body/cp_vehiclewasseen\u0027], \u0027)\u0027))",
            "item/cp_VisibilityValue@odata.bind": "@if(empty(triggerOutputs()?[\u0027body/cp_visibility\u0027]), null, concat(\u0027/cp_lookupvalues(\u0027, triggerOutputs()?[\u0027body/cp_visibility\u0027], \u0027)\u0027))",
            "item/cp_WeatherValue@odata.bind": "@if(empty(triggerOutputs()?[\u0027body/cp_weather\u0027]), null, concat(\u0027/cp_lookupvalues(\u0027, triggerOutputs()?[\u0027body/cp_weather\u0027], \u0027)\u0027))"
            },
            "authentication": "@parameters(\u0027$authentication\u0027)"
          }
        },
        "List_Vehicle_Ticket_Offenses_STG_2": {
          "runAfter": {
            "Update_Staging_Record_Lookup_Fields": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "14bb68ba-a34e-4e2e-bd2c-b34ea87d5f3c"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "ListRecords",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "cp_vehicleticketoffencesstgs",
            "$filter": "(_cp_vehicleticketstgid_value eq @{triggerOutputs()?[\u0027body/cp_vehicleticketstgid\u0027]})"
            },
            "authentication": "@parameters(\u0027$authentication\u0027)"
          }
        },
        "If_Vehicle_Ticket_Offences_EXIST_2": {
          "actions": {
            "Apply_to_each_Offence": {
            "foreach": "@outputs(\u0027List_Vehicle_Ticket_Offenses_STG_2\u0027)?[\u0027body/value\u0027]",
              "actions": {
                "Case_-_Traffic_Offence": {
                  "actions": {
                    "Update_Traffic_Offence_row": {
                      "runAfter": {
                        
                      },
                      "metadata": {
                        "operationMetadataId": "b61a1872-8402-4f55-b597-56a9786cf6ec"
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": {
                          "connectionName": "shared_commondataserviceforapps_1",
                          "operationId": "UpdateRecord",
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                        },
                        "parameters": {
                          "entityName": "cp_vehicleticketoffencesstgs",
                        "recordId": "@items(\u0027Apply_to_each_Offence\u0027)?[\u0027cp_vehicleticketoffencesstgid\u0027]",
                        "item/cp_TicketTypeValue@odata.bind": "@if(empty(items(\u0027Apply_to_each_Offence\u0027)?[\u0027cp_tickettype\u0027]), null, concat(\u0027/cp_tickettypes(\u0027, items(\u0027Apply_to_each_Offence\u0027)?[\u0027cp_tickettype\u0027], \u0027)\u0027))"
                        },
                        "authentication": "@parameters(\u0027$authentication\u0027)"
                      }
                    },
                    "If_Offence_Codes_provided": {
                      "actions": {
                        "Compose_Offence_Codes": {
                          "runAfter": {
                            
                          },
                          "metadata": {
                            "operationMetadataId": "22783115-d3a9-46be-82aa-253c84ba3a6f"
                          },
                          "type": "Compose",
                        "inputs": "@split(items(\u0027Apply_to_each_Offence\u0027)?[\u0027cp_offencecode\u0027], \u0027,\u0027)"
                        },
                        "Apply_to_each_Offence_Codes": {
                          "foreach": "@outputs(\u0027Compose_Offence_Codes\u0027)",
                          "actions": {
                            "Relate_rows_(Traffic_Offence_-_Offence_Codes)": {
                              "runAfter": {
                                
                              },
                              "metadata": {
                                "operationMetadataId": "25e7c1cc-ad51-4220-b16b-2fbcdaead6b9"
                              },
                              "type": "OpenApiConnection",
                              "inputs": {
                                "host": {
                                  "connectionName": "shared_commondataserviceforapps_1",
                                  "operationId": "AssociateEntities",
                                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                                },
                                "parameters": {
                                  "entityName": "cp_offencecodes",
                                  "recordId": "@items(\u0027Apply_to_each_Offence_Codes\u0027)",
                                  "associationEntityRelationship": "cp_VehicleTicketOffencesSTG_Offencecode",
                                "item/@odata.id": "@outputs(\u0027Update_Traffic_Offence_row\u0027)?[\u0027body/@odata.id\u0027]"
                                },
                                "authentication": "@parameters(\u0027$authentication\u0027)"
                              }
                            }
                          },
                          "runAfter": {
                            "Compose_Offence_Codes": [
                              "Succeeded"
                            ]
                          },
                          "metadata": {
                            "operationMetadataId": "49860023-d550-40c3-b698-3db8bc33e6e6"
                          },
                          "type": "Foreach"
                        }
                      },
                      "runAfter": {
                        "Update_Traffic_Offence_row": [
                          "Succeeded"
                        ]
                      },
                      "expression": {
                        "not": {
                          "equals": [
                          "@empty(items(\u0027Apply_to_each_Offence\u0027)?[\u0027cp_offencecode\u0027])",
                            "@true"
                          ]
                        }
                      },
                      "metadata": {
                        "operationMetadataId": "3152cefe-b4f0-47c2-ae83-dd268de7b9d2"
                      },
                      "type": "If"
                    }
                  },
                  "runAfter": {
                    
                  },
                  "expression": {
                    "equals": [
                    "@toLower(items(\u0027Apply_to_each_Offence\u0027)?[\u0027cp_tickettype\u0027])",
                      "6245096f-5b39-eb11-bf68-000d3a654276"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "89b759bf-8617-4b2a-ad8d-15a75c83f97d"
                  },
                  "type": "If"
                },
                "Case_-_HORT": {
                  "actions": {
                    "Update_the_HORT_row": {
                      "runAfter": {
                        
                      },
                      "metadata": {
                        "operationMetadataId": "0ca83db1-9bac-4e0e-b402-f51fb8c108b1"
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": {
                          "connectionName": "shared_commondataserviceforapps_1",
                          "operationId": "UpdateRecord",
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                        },
                        "parameters": {
                          "entityName": "cp_vehicleticketoffencesstgs",
                        "recordId": "@items(\u0027Apply_to_each_Offence\u0027)?[\u0027cp_vehicleticketoffencesstgid\u0027]",
                        "item/cp_CheckOrRecordValue@odata.bind": "@if(empty(items(\u0027Apply_to_each_Offence\u0027)?[\u0027cp_checkorrecord\u0027]), null, concat(\u0027/cp_lookupvalues(\u0027, items(\u0027Apply_to_each_Offence\u0027)?[\u0027cp_checkorrecord\u0027], \u0027)\u0027))",
                        "item/cp_ProduceStationValue@odata.bind": "@if(empty(items(\u0027Apply_to_each_Offence\u0027)?[\u0027cp_producestation\u0027]), null, concat(\u0027/cp_lookupvalues(\u0027, items(\u0027Apply_to_each_Offence\u0027)?[\u0027cp_producestation\u0027], \u0027)\u0027))",
                        "item/cp_TicketTypeValue@odata.bind": "@if(empty(items(\u0027Apply_to_each_Offence\u0027)?[\u0027cp_tickettype\u0027]), null, concat(\u0027/cp_tickettypes(\u0027, items(\u0027Apply_to_each_Offence\u0027)?[\u0027cp_tickettype\u0027], \u0027)\u0027))"
                        },
                        "authentication": "@parameters(\u0027$authentication\u0027)"
                      }
                    },
                    "If_Document_Types_provided": {
                      "actions": {
                        "Compose_Document_Types": {
                          "runAfter": {
                            
                          },
                          "metadata": {
                            "operationMetadataId": "e50f40a6-4ecf-448f-b777-3d281b28850a"
                          },
                          "type": "Compose",
                        "inputs": "@split(items(\u0027Apply_to_each_Offence\u0027)?[\u0027cp_documenttype\u0027], \u0027,\u0027)"
                        },
                        "Apply_to_each_Document_Type_2": {
                          "foreach": "@outputs(\u0027Compose_Document_Types\u0027)",
                          "actions": {
                            "Relate_rows_(Traffic_Offence_-_Document_Type)": {
                              "runAfter": {
                                
                              },
                              "metadata": {
                                "operationMetadataId": "dc2470e0-bc42-43f4-8ea9-95b1370b997a"
                              },
                              "type": "OpenApiConnection",
                              "inputs": {
                                "host": {
                                  "connectionName": "shared_commondataserviceforapps_1",
                                  "operationId": "AssociateEntities",
                                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                                },
                                "parameters": {
                                  "entityName": "cp_vehicledocuments",
                                  "recordId": "@items(\u0027Apply_to_each_Document_Type_2\u0027)",
                                  "associationEntityRelationship": "cp_VehicleTicketOffencesSTG_VehicleDoc",
                                "item/@odata.id": "@outputs(\u0027Update_the_HORT_row\u0027)?[\u0027body/@odata.id\u0027]"
                                },
                                "authentication": "@parameters(\u0027$authentication\u0027)"
                              }
                            }
                          },
                          "runAfter": {
                            "Compose_Document_Types": [
                              "Succeeded"
                            ]
                          },
                          "metadata": {
                            "operationMetadataId": "ca741ec3-9fe9-45b5-975b-d596f89a2bf3"
                          },
                          "type": "Foreach"
                        }
                      },
                      "runAfter": {
                        "Update_the_HORT_row": [
                          "Succeeded"
                        ]
                      },
                      "expression": {
                        "not": {
                          "equals": [
                          "@empty(items(\u0027Apply_to_each_Offence\u0027)?[\u0027cp_documenttype\u0027])",
                            "@true"
                          ]
                        }
                      },
                      "metadata": {
                        "operationMetadataId": "b6399095-32b2-45e4-8729-5b6423d46d74"
                      },
                      "type": "If"
                    }
                  },
                  "runAfter": {
                    "VDRS": [
                      "Succeeded"
                    ]
                  },
                  "expression": {
                    "equals": [
                    "@items(\u0027Apply_to_each_Offence\u0027)?[\u0027cp_tickettype\u0027]",
                      "5c45096f-5b39-eb11-bf68-000d3a654276"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "cd9c3f5a-54e3-41a3-a562-01a37701af6d"
                  },
                  "type": "If"
                },
                "VDRS": {
                  "actions": {
                    "Update_VDRS_row": {
                      "runAfter": {
                        
                      },
                      "metadata": {
                        "operationMetadataId": "d6110c6d-3aa4-4992-9c44-eb0bd9d2754b"
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": {
                          "connectionName": "shared_commondataserviceforapps_1",
                          "operationId": "UpdateRecord",
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                        },
                        "parameters": {
                          "entityName": "cp_vehicleticketoffencesstgs",
                        "recordId": "@items(\u0027Apply_to_each_Offence\u0027)?[\u0027cp_vehicleticketoffencesstgid\u0027]",
                        "item/cp_TicketTypeValue@odata.bind": "@if(empty(items(\u0027Apply_to_each_Offence\u0027)?[\u0027cp_tickettype\u0027]), null, concat(\u0027/cp_tickettypes(\u0027, items(\u0027Apply_to_each_Offence\u0027)?[\u0027cp_tickettype\u0027], \u0027)\u0027))"
                        },
                        "authentication": "@parameters(\u0027$authentication\u0027)"
                      }
                    },
                    "If_VDRS_Offence_Codes_provided": {
                      "actions": {
                        "Compose_VDRS_Offence_Codes": {
                          "runAfter": {
                            
                          },
                          "metadata": {
                            "operationMetadataId": "d63c56c7-5754-400e-afcc-e423a83f37a6"
                          },
                          "type": "Compose",
                        "inputs": "@split(items(\u0027Apply_to_each_Offence\u0027)?[\u0027cp_vdroffencecode\u0027], \u0027,\u0027)"
                        },
                        "Apply_to_each_VDRS_Offence_Codes": {
                          "foreach": "@outputs(\u0027Compose_VDRS_Offence_Codes\u0027)",
                          "actions": {
                            "Relate_rows_(Traffic_Offence_-_VDRS_Offence_Codes)": {
                              "runAfter": {
                                
                              },
                              "metadata": {
                                "operationMetadataId": "50e5a0ee-b726-44f8-a203-160d56ae7974"
                              },
                              "type": "OpenApiConnection",
                              "inputs": {
                                "host": {
                                  "connectionName": "shared_commondataserviceforapps_1",
                                  "operationId": "AssociateEntities",
                                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                                },
                                "parameters": {
                                  "entityName": "cp_offencecodes",
                                  "recordId": "@items(\u0027Apply_to_each_VDRS_Offence_Codes\u0027)",
                                  "associationEntityRelationship": "cp_VehicleTicketOffencesSTG_Offencecode",
                                "item/@odata.id": "@outputs(\u0027Update_VDRS_row\u0027)?[\u0027body/@odata.id\u0027]"
                                },
                                "authentication": "@parameters(\u0027$authentication\u0027)"
                              }
                            }
                          },
                          "runAfter": {
                            "Compose_VDRS_Offence_Codes": [
                              "Succeeded"
                            ]
                          },
                          "metadata": {
                            "operationMetadataId": "b0429e2e-037f-43ae-97fd-800caf2bd71c"
                          },
                          "type": "Foreach"
                        }
                      },
                      "runAfter": {
                        "Update_VDRS_row": [
                          "Succeeded"
                        ]
                      },
                      "expression": {
                        "not": {
                          "equals": [
                          "@empty(items(\u0027Apply_to_each_Offence\u0027)?[\u0027cp_vdroffencecode\u0027])",
                            "@true"
                          ]
                        }
                      },
                      "metadata": {
                        "operationMetadataId": "b5bf2718-ab35-4d4f-a347-a7f2df599b50"
                      },
                      "type": "If"
                    }
                  },
                  "runAfter": {
                    "Case_-_Traffic_Offence": [
                      "Succeeded"
                    ]
                  },
                  "expression": {
                    "equals": [
                      "",
                      "6445096f-5b39-eb11-bf68-000d3a654276"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "37e936b1-12d4-4243-9847-0f6dfe5055c5"
                  },
                  "type": "If"
                },
                "Section_165": {
                  "actions": {
                    "Update_the_Section_165_row_2": {
                      "runAfter": {
                        
                      },
                      "metadata": {
                        "operationMetadataId": "a5e0387a-f736-485c-94c8-5e0c0d9a0a82"
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": {
                          "connectionName": "shared_commondataserviceforapps_1",
                          "operationId": "UpdateRecord",
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                        },
                        "parameters": {
                          "entityName": "cp_vehicleticketoffencesstgs",
                        "recordId": "@items(\u0027Apply_to_each_Offence\u0027)?[\u0027cp_vehicleticketoffencesstgid\u0027]",
                        "item/cp_DesignatedStationValue@odata.bind": "@if(empty(items(\u0027Apply_to_each_Offence\u0027)?[\u0027cp_designatedstation\u0027]), null, concat(\u0027/cp_lookupvalues(\u0027, items(\u0027Apply_to_each_Offence\u0027)?[\u0027cp_designatedstation\u0027], \u0027)\u0027))",
                        "item/cp_S165RecoveryGarageValue@odata.bind": "@if(empty(items(\u0027Apply_to_each_Offence\u0027)?[\u0027cp_s165recoverygarage\u0027]),null,concat(\u0027/accounts(\u0027, items(\u0027Apply_to_each_Offence\u0027)?[\u0027cp_s165recoverygarage\u0027], \u0027)\u0027))",
                        "item/cp_TicketTypeValue@odata.bind": "@if(empty(items(\u0027Apply_to_each_Offence\u0027)?[\u0027cp_tickettype\u0027]), null, concat(\u0027/cp_tickettypes(\u0027, items(\u0027Apply_to_each_Offence\u0027)?[\u0027cp_tickettype\u0027], \u0027)\u0027))",
                        "item/cp_WithoutValue@odata.bind": "@if(empty(items(\u0027Apply_to_each_Offence\u0027)?[\u0027cp_without\u0027]), null, concat(\u0027/cp_lookupvalues(\u0027, items(\u0027Apply_to_each_Offence\u0027)?[\u0027cp_without\u0027], \u0027)\u0027))"
                        },
                        "authentication": "@parameters(\u0027$authentication\u0027)"
                      }
                    }
                  },
                  "runAfter": {
                    "Case_-_HORT": [
                      "Succeeded"
                    ]
                  },
                  "expression": {
                    "equals": [
                    "@items(\u0027Apply_to_each_Offence\u0027)?[\u0027cp_tickettype\u0027]",
                      "5e45096f-5b39-eb11-bf68-000d3a654276"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "29601419-5912-49a6-af5d-c09823ba4d02"
                  },
                  "type": "If"
                },
                "Section_163": {
                  "actions": {
                    "Update_the_Section_163_row": {
                      "runAfter": {
                        
                      },
                      "metadata": {
                        "operationMetadataId": "651ed5d4-fecb-46bb-901d-486c9b6b800a"
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": {
                          "connectionName": "shared_commondataserviceforapps_1",
                          "operationId": "UpdateRecord",
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                        },
                        "parameters": {
                          "entityName": "cp_vehicleticketoffencesstgs",
                        "recordId": "@items(\u0027Apply_to_each_Offence\u0027)?[\u0027cp_vehicleticketoffencesstgid\u0027]",
                        "item/cp_OutcomeofStopValue@odata.bind": "@if(empty(items(\u0027Apply_to_each_Offence\u0027)?[\u0027cp_outcomeofstop\u0027]), null, concat(\u0027/cp_lookupvalues(\u0027, items(\u0027Apply_to_each_Offence\u0027)?[\u0027cp_outcomeofstop\u0027], \u0027)\u0027))",
                        "item/cp_ReasonForUsingS163PowerValue@odata.bind": "@if(empty(items(\u0027Apply_to_each_Offence\u0027)?[\u0027cp_reasonforusings163power\u0027]), null, concat(\u0027/cp_lookupvalues(\u0027, items(\u0027Apply_to_each_Offence\u0027)?[\u0027cp_reasonforusings163power\u0027], \u0027)\u0027))\r\n",
                        "item/cp_TicketTypeValue@odata.bind": "@if(empty(items(\u0027Apply_to_each_Offence\u0027)?[\u0027cp_tickettype\u0027]), null, concat(\u0027/cp_tickettypes(\u0027, items(\u0027Apply_to_each_Offence\u0027)?[\u0027cp_tickettype\u0027], \u0027)\u0027))"
                        },
                        "authentication": "@parameters(\u0027$authentication\u0027)"
                      }
                    }
                  },
                  "runAfter": {
                    "Section_165": [
                      "Succeeded"
                    ]
                  },
                  "expression": {
                    "equals": [
                    "@items(\u0027Apply_to_each_Offence\u0027)?[\u0027cp_tickettype\u0027]",
                      "9bdd1977-de5f-eb11-a812-0022489c79d7"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "a599473a-61be-463a-b878-53486766ce17"
                  },
                  "type": "If"
                },
                "Section_59": {
                  "actions": {
                    "Update_the_Section_59_row_2": {
                      "runAfter": {
                        
                      },
                      "metadata": {
                        "operationMetadataId": "31d244bf-95d4-4fd8-a43f-12c2a4b666d8"
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": {
                          "connectionName": "shared_commondataserviceforapps_1",
                          "operationId": "UpdateRecord",
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                        },
                        "parameters": {
                          "entityName": "cp_vehicleticketoffencesstgs",
                        "recordId": "@items(\u0027Apply_to_each_Offence\u0027)?[\u0027cp_vehicleticketoffencesstgid\u0027]",
                        "item/cp_DrivingMannerValue@odata.bind": "@if(empty(items(\u0027Apply_to_each_Offence\u0027)?[\u0027cp_drivingmanner\u0027]), null, concat(\u0027/cp_lookupvalues(\u0027, items(\u0027Apply_to_each_Offence\u0027)?[\u0027cp_drivingmanner\u0027], \u0027)\u0027))",
                        "item/cp_DrivingVehicleInValue@odata.bind": "@if(empty(items(\u0027Apply_to_each_Offence\u0027)?[\u0027cp_drivingvehiclein\u0027]), null, concat(\u0027/cp_lookupvalues(\u0027, items(\u0027Apply_to_each_Offence\u0027)?[\u0027cp_drivingvehiclein\u0027], \u0027)\u0027))",
                        "item/cp_S59RecoveryGarageValue@odata.bind": "@if(empty(items(\u0027Apply_to_each_Offence\u0027)?[\u0027cp_s59recoverygarage\u0027]),null,concat(\u0027/accounts(\u0027, items(\u0027Apply_to_each_Offence\u0027)?[\u0027cp_s59recoverygarage\u0027], \u0027)\u0027))",
                        "item/cp_SectionValue@odata.bind": "@if(empty(items(\u0027Apply_to_each_Offence\u0027)?[\u0027cp_section\u0027]), null, concat(\u0027/cp_lookupvalues(\u0027, items(\u0027Apply_to_each_Offence\u0027)?[\u0027cp_section\u0027], \u0027)\u0027))",
                        "item/cp_TicketTypeValue@odata.bind": "@if(empty(items(\u0027Apply_to_each_Offence\u0027)?[\u0027cp_tickettype\u0027]), null, concat(\u0027/cp_tickettypes(\u0027, items(\u0027Apply_to_each_Offence\u0027)?[\u0027cp_tickettype\u0027], \u0027)\u0027))",
                        "item/cp_WarningorSeizureValue@odata.bind": "@if(empty(items(\u0027Apply_to_each_Offence\u0027)?[\u0027cp_warningorseizure\u0027]), null, concat(\u0027/cp_lookupvalues(\u0027, items(\u0027Apply_to_each_Offence\u0027)?[\u0027cp_warningorseizure\u0027], \u0027)\u0027))",
                        "item/cp_YouWording1Value@odata.bind": "@if(empty(items(\u0027Apply_to_each_Offence\u0027)?[\u0027cp_youwording1\u0027]), null, concat(\u0027/cp_lookupvalues(\u0027, items(\u0027Apply_to_each_Offence\u0027)?[\u0027cp_youwording1\u0027], \u0027)\u0027))",
                        "item/cp_YouWording3Value@odata.bind": "@if(empty(items(\u0027Apply_to_each_Offence\u0027)?[\u0027cp_youwording3\u0027]), null, concat(\u0027/cp_lookupvalues(\u0027, items(\u0027Apply_to_each_Offence\u0027)?[\u0027cp_youwording3\u0027], \u0027)\u0027))"
                        },
                        "authentication": "@parameters(\u0027$authentication\u0027)"
                      }
                    }
                  },
                  "runAfter": {
                    "Section_163": [
                      "Succeeded"
                    ]
                  },
                  "expression": {
                    "equals": [
                    "@items(\u0027Apply_to_each_Offence\u0027)?[\u0027cp_tickettype\u0027]",
                      "6045096f-5b39-eb11-bf68-000d3a654276"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "70ecbc8b-320e-41d6-8c0a-55aa568817f9"
                  },
                  "type": "If"
                }
              },
              "runAfter": {
                
              },
              "metadata": {
                "operationMetadataId": "fba87517-9d85-4f97-be21-645419f1b9c0"
              },
              "type": "Foreach"
            }
          },
          "runAfter": {
            "List_Vehicle_Ticket_Offenses_STG_2": [
              "Succeeded"
            ]
          },
          "expression": {
            "not": {
              "equals": [
              "@empty(outputs(\u0027List_Vehicle_Ticket_Offenses_STG_2\u0027)?[\u0027body/value\u0027])",
                "@true"
              ]
            }
          },
          "metadata": {
            "operationMetadataId": "bb43b276-f517-4949-a10d-fa7ffad5ba11"
          },
          "type": "If"
        }
      },
      "outputs": {
        
      }
    }
  },
  "schemaVersion": "1.0.0.0"
}
