Schema/FlowsVehicleCP/unpacked/Workflows/VehicleTicketPDFandAttach-6650EDBF-A6C3-EB11-BACC-000D3AB9F7B1.json
{
  "properties": {
    "connectionReferences": {
      "shared_onedriveforbusiness_1": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "cp_sharedonedriveforbusiness_fc4ed"
        },
        "api": {
          "name": "shared_onedriveforbusiness"
        }
      },
      "shared_commondataserviceforapps": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "cp_sharedcommondataserviceforapps_ef737"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {
            
          },
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {
            
          },
          "type": "SecureObject"
        }
      },
      "triggers": {
        "manual": {
          "metadata": {
            "operationMetadataId": "e134643e-65e2-4b0e-9350-89c35883f899"
          },
          "type": "Request",
          "kind": "Http",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {
                "recordId": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "actions": {
        "Run_a_Child_Flow": {
          "runAfter": {
            
          },
          "metadata": {
            "operationMetadataId": "ce673d0a-02e1-4208-9d1e-2b5faaa61a99"
          },
          "type": "Workflow",
          "inputs": {
            "host": {
              "workflowReferenceName": "fe26a830-aec3-eb11-bacc-000d3ab9f7b1"
            },
            "body": {
            "text": "@triggerBody()?[\u0027recordId\u0027]"
            }
          }
        },
        "Get_file_content": {
          "runAfter": {
            "Run_a_Child_Flow": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "5ffdeda0-c08c-4501-a255-29fa927fde13"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_onedriveforbusiness_1",
              "operationId": "GetFileContent",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_onedriveforbusiness"
            },
            "parameters": {
            "id": "@outputs(\u0027Run_a_Child_Flow\u0027)?[\u0027Body\u0027]?[\u0027generatedpdf\u0027]",
              "inferContentType": true
            },
            "authentication": "@parameters(\u0027$authentication\u0027)"
          }
        },
        "Get_a_row_by_ID_SD": {
          "runAfter": {
            "Get_file_content": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "307cd335-3818-4b39-b97d-06176e8fdaa2"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "GetItem",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "cp_vehicletickets",
            "recordId": "@triggerBody()?[\u0027recordId\u0027]"
            },
            "authentication": "@parameters(\u0027$authentication\u0027)"
          }
        },
        "Add_a_new_row": {
          "runAfter": {
            "Get_a_row_by_ID_SD": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "b385ad3c-9e2e-4353-9a22-2d20bc445923"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "CreateRecord",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "annotations",
              "item/subject": "Vehicle Ticket Generated PDF",
              "item/isdocument": true,
            "item/documentbody": "@outputs(\u0027Get_file_content\u0027)?[\u0027body/$content\u0027]",
              "item/filename": "Vehicle Ticket Generated PDF.pdf",
            "item/ownerid@odata.bind": "/systemusers(@{outputs(\u0027Get_a_row_by_ID_SD\u0027)?[\u0027body/_ownerid_value\u0027]})",
            "item/objectid_cp_vehicleticket@odata.bind": "cp_vehicletickets(@{triggerBody()?[\u0027recordId\u0027]})"
            },
            "authentication": "@parameters(\u0027$authentication\u0027)"
          }
        }
      },
      "outputs": {
        
      }
    }
  },
  "schemaVersion": "1.0.0.0"
}
