Schema/FlowsPNCCP/unpacked/Workflows/NDIWrapper-NameAudit-38298DEF-AE8C-EB11-B1AC-000D3ADB469C.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "cp_sharedcommondataserviceforapps_e822c"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {
            
          },
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {
            
          },
          "type": "SecureObject"
        }
      },
      "triggers": {
        "manual": {
          "type": "Request",
          "kind": "PowerApp",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {
                "Initializevariable2_Value": {
                  "type": "string",
                  "description": "Enter initial value",
                  "x-ms-powerflows-param-ispartial": false
                },
                "Initializevariable_Value": {
                  "type": "string",
                  "description": "Enter initial value",
                  "x-ms-powerflows-param-ispartial": false
                },
                "Initializevariable4_Value": {
                  "type": "string",
                  "description": "Enter initial value",
                  "x-ms-powerflows-param-ispartial": false
                }
              },
              "required": [
                "Initializevariable2_Value",
                "Initializevariable_Value",
                "Initializevariable4_Value"
              ]
            }
          }
        }
      },
      "actions": {
        "List_rows": {
          "runAfter": {
            "Initialize_variable_4": [
              "Succeeded"
            ]
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "ListRecords",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "systemusers",
            "$filter": "internalemailaddress eq \u0027@{variables(\u0027UserEmail\u0027)}\u0027",
              "$top": 1
            },
            "authentication": {
              "type": "Raw",
            "value": "@json(decodeBase64(triggerOutputs().headers[\u0027X-MS-APIM-Tokens\u0027]))[\u0027$ConnectionKey\u0027]"
            }
          }
        },
        "Initialize_variable_2": {
          "runAfter": {
            "Initialize_variable": [
              "Succeeded"
            ]
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "UserEmail",
                "type": "string",
              "value": "@{triggerBody()[\u0027Initializevariable2_Value\u0027]}"
              }
            ]
          }
        },
        "Add_a_new_row": {
          "runAfter": {
            "Initialize_variable_3": [
              "Succeeded"
            ]
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "CreateRecord",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "cp_pncsearchs",
              "item/cp_searchtype": 778230000,
            "item/cp_initiatedby@odata.bind": "/systemusers(@{variables(\u0027UserId\u0027)})",
              "item/cp_initiateddatetime": "@utcNow()",
              "item/cp_location": "@variables(\u0027Location\u0027)",
              "item/cp_reason": "@substring(variables(\u0027Name\u0027), sub(length(variables(\u0027Name\u0027)), 2), 2)",
              "item/cp_searchdata": "@variables(\u0027Name\u0027)"
            },
            "authentication": {
              "type": "Raw",
            "value": "@json(decodeBase64(triggerOutputs().headers[\u0027X-MS-APIM-Tokens\u0027]))[\u0027$ConnectionKey\u0027]"
            }
          }
        },
        "Initialize_variable_3": {
          "runAfter": {
            "List_rows": [
              "Succeeded"
            ]
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "UserId",
                "type": "string",
              "value": "@{first(body(\u0027List_rows\u0027)?[\u0027value\u0027])?[\u0027systemuserid\u0027]}"
              }
            ]
          }
        },
        "Initialize_variable": {
          "runAfter": {
            
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Name",
                "type": "string",
              "value": "@{triggerBody()[\u0027Initializevariable_Value\u0027]}"
              }
            ]
          }
        },
        "Initialize_variable_4": {
          "runAfter": {
            "Initialize_variable_2": [
              "Succeeded"
            ]
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Location",
                "type": "string",
              "value": "@{triggerBody()[\u0027Initializevariable4_Value\u0027]}"
              }
            ]
          }
        }
      },
      "outputs": {
        
      }
    }
  },
  "schemaVersion": "1.0.0.0"
}
