Schema/FlowsPNCCP/unpacked/Workflows/OnCreateofPNCSearchRecord-3889AC1B-7877-EB11-A812-000D3ADD6F2F.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "new_sharedcommondataserviceforapps_3a446"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {
            
          },
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {
            
          },
          "type": "SecureObject"
        }
      },
      "triggers": {
        "manual": {
          "type": "Request",
          "kind": "PowerApp",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {
                
              },
              "required": [
                
              ]
            }
          }
        }
      },
      "actions": {
        "Run_a_Child_Flow": {
          "runAfter": {
            "Add_a_new_row_2": [
              "Succeeded"
            ]
          },
          "type": "Workflow",
          "inputs": {
            "host": {
              "workflowReferenceName": "c635c32e-7977-eb11-a812-000d3adc97fc"
            }
          }
        },
        "Apply_to_each": {
        "foreach": "@xpath(xml(outputs(\u0027Run_a_Child_Flow\u0027)?[\u0027Body\u0027]?[\u0027searchresults\u0027]),\u0027/Results/Person\u0027)\r\n",
          "actions": {
            "Add_a_new_row": {
              "runAfter": {
                
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "CreateRecord",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "cp_pncsearchpersons",
                "item/cp_pncsearch@odata.bind": "/cp_pncsearchs(@{outputs(\u0027Add_a_new_row_2\u0027)?[\u0027body/cp_pncsearchid\u0027]})",
                  "item/cp_firstname": "@xpath(item(),\u0027string(Person/FirstName)\u0027)",
                  "item/cp_lastname": "@xpath(item(),\u0027string(Person/LastName)\u0027)",
                  "item/cp_name": "123"
                },
                "authentication": {
                  "type": "Raw",
                "value": "@json(decodeBase64(triggerOutputs().headers[\u0027X-MS-APIM-Tokens\u0027]))[\u0027$ConnectionKey\u0027]"
                }
              }
            }
          },
          "runAfter": {
            "Run_a_Child_Flow": [
              "Succeeded"
            ]
          },
          "type": "Foreach",
          "runtimeConfiguration": {
            "concurrency": {
              "repetitions": 20
            }
          }
        },
        "Update_the_Completed_Date": {
          "runAfter": {
            "Apply_to_each": [
              "Succeeded"
            ]
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "UpdateRecord",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "cp_pncsearchs",
            "recordId": "@outputs(\u0027Add_a_new_row_2\u0027)?[\u0027body/cp_pncsearchid\u0027]",
              "item/cp_completeddatetime": "@utcNow()"
            },
            "authentication": {
              "type": "Raw",
            "value": "@json(decodeBase64(triggerOutputs().headers[\u0027X-MS-APIM-Tokens\u0027]))[\u0027$ConnectionKey\u0027]"
            }
          }
        },
        "Add_a_new_row_2": {
          "runAfter": {
            
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "CreateRecord",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "cp_pncsearchs",
              "item/cp_searchtype": 778230001
            },
            "authentication": {
              "type": "Raw",
            "value": "@json(decodeBase64(triggerOutputs().headers[\u0027X-MS-APIM-Tokens\u0027]))[\u0027$ConnectionKey\u0027]"
            }
          }
        }
      },
      "outputs": {
        
      }
    }
  },
  "schemaVersion": "1.0.0.0"
}
