Schema/FlowsPNCCP/unpacked/Workflows/PersonSearchPNCResults-5E5502E5-1E87-EB11-A812-000D3AB522EE.json
{
  "properties": {
    "connectionReferences": {
      
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$authentication": {
          "defaultValue": {
            
          },
          "type": "SecureObject"
        }
      },
      "triggers": {
        "manual": {
          "type": "Request",
          "kind": "PowerApp",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {
                "SetPersonName_Value": {
                  "type": "string",
                  "description": "Enter initial value",
                  "x-ms-powerflows-param-ispartial": false
                }
              },
              "required": [
                "SetPersonName_Value"
              ]
            }
          }
        }
      },
      "actions": {
        "Set_Person_Name": {
          "runAfter": {
            
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Name",
                "type": "string",
              "value": "@{triggerBody()[\u0027SetPersonName_Value\u0027]}"
              }
            ]
          }
        },
        "Compose": {
          "runAfter": {
            "Initialize_variable_4": [
              "Succeeded"
            ]
          },
          "type": "Compose",
          "inputs": {
            "key": "dYc+mEzFzk6xfSNIXeYmuw==",
            "Name": "@variables(\u0027Name\u0027)"
          }
        },
        "Parse_JSON": {
          "runAfter": {
            "Compose": [
              "Succeeded"
            ]
          },
          "type": "ParseJson",
          "inputs": {
            "content": "@outputs(\u0027Compose\u0027)",
            "schema": {
              "type": "object",
              "properties": {
                "key": {
                  "type": "string"
                },
                "Name": {
                  "type": "string"
                }
              }
            }
          }
        },
        "HTTP": {
          "runAfter": {
            "Parse_JSON": [
              "Succeeded"
            ]
          },
          "type": "Http",
          "inputs": {
            "method": "POST",
            "uri": "https://prod-05.uksouth.logic.azure.com:443/workflows/047b0963ccba4cb492c689da4a1d1472/triggers/manual/paths/invoke?api-version=2016-06-01\u0026sp=%2Ftriggers%2Fmanual%2Frun\u0026sv=1.0\u0026sig=w2GguvLYypJbsnnYTsT1XzCrD7yAzUDHkRquqWl2lV4",
            "headers": {
              "Content-Type": "application/json"
            },
            "body": "@body(\u0027Parse_JSON\u0027)"
          }
        },
        "Initialize_variable": {
          "runAfter": {
            "Initialize_variable_5": [
              "Succeeded"
            ]
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Json string",
                "type": "string",
              "value": "@{body(\u0027HTTP\u0027)}"
              }
            ]
          }
        },
        "Initialize_variable_2": {
          "runAfter": {
            "Initialize_variable": [
              "Succeeded"
            ]
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "DataArray",
                "type": "array",
                "value": "@body(\u0027HTTP\u0027)"
              }
            ]
          }
        },
        "Select": {
          "runAfter": {
            "Initialize_variable_2": [
              "Succeeded"
            ]
          },
          "type": "Select",
          "inputs": {
            "from": "@variables(\u0027DataArray\u0027)",
            "select": {
            "test": "@variables(\u0027DataArray\u0027)?[0]?[\u0027Records\u0027]?[0]"
            }
          }
        },
        "Condition": {
          "actions": {
            "Set_variable": {
              "runAfter": {
                
              },
              "type": "SetVariable",
              "inputs": {
                "name": "Response1",
                "value": 200
              }
            },
            "Response_2": {
              "runAfter": {
                "Append_to_array_variable": [
                  "Succeeded"
                ]
              },
              "type": "Response",
              "kind": "Http",
              "inputs": {
                "statusCode": 200,
                "body": "@variables(\u0027DataArray2\u0027)",
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "Records": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "Record": {
                              "type": "string"
                            },
                            "Name": {
                              "type": "string"
                            },
                            "dob": {
                              "type": "string"
                            },
                            "sex": {
                              "type": "string"
                            },
                            "birthplace": {
                              "type": "string"
                            },
                            "ArrestSummons": {
                              "type": "string"
                            },
                            "WantedMissing": {
                              "type": "string"
                            },
                            "ImpendingProsecutions": {
                              "type": "string"
                            }
                          },
                          "required": [
                            
                          ]
                        }
                      }
                    },
                    "required": [
                      "Records"
                    ]
                  }
                }
              }
            },
            "Append_to_array_variable": {
              "runAfter": {
                "Set_variable": [
                  "Succeeded"
                ]
              },
              "type": "AppendToArrayVariable",
              "inputs": {
                "name": "DataArray2",
                "value": {
                  "Records": "@body(\u0027HTTP\u0027)"
                }
              }
            }
          },
          "runAfter": {
            "Select": [
              "Succeeded"
            ]
          },
          "else": {
            "actions": {
              "Set_variable_2": {
                "runAfter": {
                  
                },
                "type": "SetVariable",
                "inputs": {
                  "name": "Response2",
                  "value": 200
                }
              },
              "Response": {
                "runAfter": {
                  "Set_variable_2": [
                    "Succeeded"
                  ]
                },
                "type": "Response",
                "kind": "Http",
                "inputs": {
                  "statusCode": 200,
                  "body": "@body(\u0027HTTP\u0027)",
                  "schema": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "Records": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "Record": {
                                "type": "string"
                              },
                              "Name": {
                                "type": "string"
                              },
                              "dob": {
                                "type": "string"
                              },
                              "sex": {
                                "type": "string"
                              },
                              "birthplace": {
                                "type": "string"
                              },
                              "ArrestSummons": {
                                "type": "string"
                              },
                              "WantedMissing": {
                                "type": "string"
                              },
                              "ImpendingProsecutions": {
                                "type": "string"
                              }
                            },
                            "required": [
                              
                            ]
                          }
                        }
                      },
                      "required": [
                        "Records"
                      ]
                    }
                  }
                }
              }
            }
          },
          "expression": {
            "equals": [
            "@variables(\u0027DataArray\u0027)?[0]?[\u0027Records\u0027]?[0]",
              "@null"
            ]
          },
          "type": "If"
        },
        "Initialize_variable_3": {
          "runAfter": {
            "Set_Person_Name": [
              "Succeeded"
            ]
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Response1",
                "type": "integer"
              }
            ]
          }
        },
        "Initialize_variable_4": {
          "runAfter": {
            "Initialize_variable_3": [
              "Succeeded"
            ]
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Response2",
                "type": "integer"
              }
            ]
          }
        },
        "Initialize_variable_5": {
          "runAfter": {
            "HTTP": [
              "Succeeded"
            ]
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "DataArray2",
                "type": "array"
              }
            ]
          }
        }
      },
      "outputs": {
        
      }
    }
  },
  "schemaVersion": "1.0.0.0"
}
